<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>DaBha.dv</key>
  <string>D_aB_ha.dv.glif</string>
  <key>JaNa.dv</key>
  <string>J_aN_a.dv.glif</string>
  <key>MaBha.dv</key>
  <string>M_aB_ha.dv.glif</string>
  <key>RephChandrabindu.dv</key>
  <string>R_ephC_handrabindu.dv.glif</string>
  <key>matraIiRephBinduseven.dv</key>
  <string>matraI_iR_ephB_induseven.dv.glif</string>
  <key>matraIiRephChandrabindu.dv</key>
  <string>matraI_iR_ephC_handrabindu.dv.glif</string>
</dict>
</plist>
