<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>A</key>
  <string>A_.glif</string>
  <key>AE</key>
  <string>A_E_.glif</string>
  <key>Aacute</key>
  <string>A_acute.glif</string>
  <key>Acircumflex</key>
  <string>A_circumflex.glif</string>
  <key>Adieresis</key>
  <string>A_dieresis.glif</string>
  <key>Agrave</key>
  <string>A_grave.glif</string>
  <key>Anuswara.mlm</key>
  <string>A_nuswara.mlm.glif</string>
  <key>Aring</key>
  <string>A_ring.glif</string>
  <key>Atilde</key>
  <string>A_tilde.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>Ba.mlm</key>
  <string>B_a.mlm.glif</string>
  <key>BaBa.mlm</key>
  <string>B_aB_a.mlm.glif</string>
  <key>BaDa.mlm</key>
  <string>B_aD_a.mlm.glif</string>
  <key>BaDha.mlm</key>
  <string>B_aD_ha.mlm.glif</string>
  <key>BaLa.mlm</key>
  <string>B_aL_a.mlm.glif</string>
  <key>Bha.mlm</key>
  <string>B_ha.mlm.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>Ca.mlm</key>
  <string>C_a.mlm.glif</string>
  <key>CaCa.mlm</key>
  <string>C_aC_a.mlm.glif</string>
  <key>CaCha.mlm</key>
  <string>C_aC_ha.mlm.glif</string>
  <key>Ccedilla</key>
  <string>C_cedilla.glif</string>
  <key>Cha.mlm</key>
  <string>C_ha.mlm.glif</string>
  <key>Chandrabindu.mlm</key>
  <string>C_handrabindu.mlm.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>Da.mlm</key>
  <string>D_a.mlm.glif</string>
  <key>DaDa.mlm</key>
  <string>D_aD_a.mlm.glif</string>
  <key>DaDha.mlm</key>
  <string>D_aD_ha.mlm.glif</string>
  <key>Dda.mlm</key>
  <string>D_da.mlm.glif</string>
  <key>DdaDda.mlm</key>
  <string>D_daD_da.mlm.glif</string>
  <key>Ddha.mlm</key>
  <string>D_dha.mlm.glif</string>
  <key>Dha.mlm</key>
  <string>D_ha.mlm.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>Eacute</key>
  <string>E_acute.glif</string>
  <key>Ecircumflex</key>
  <string>E_circumflex.glif</string>
  <key>Edieresis</key>
  <string>E_dieresis.glif</string>
  <key>Egrave</key>
  <string>E_grave.glif</string>
  <key>Ek</key>
  <string>E_k.glif</string>
  <key>Eth</key>
  <string>E_th.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>Ga.mlm</key>
  <string>G_a.mlm.glif</string>
  <key>GaDa.mlm</key>
  <string>G_aD_a.mlm.glif</string>
  <key>GaDaDha.mlm</key>
  <string>G_aD_aD_ha.mlm.glif</string>
  <key>GaGa.mlm</key>
  <string>G_aG_a.mlm.glif</string>
  <key>GaLa.mlm</key>
  <string>G_aL_a.mlm.glif</string>
  <key>GaMa.mlm</key>
  <string>G_aM_a.mlm.glif</string>
  <key>GaNa.mlm</key>
  <string>G_aN_a.mlm.glif</string>
  <key>Germandbls</key>
  <string>G_ermandbls.glif</string>
  <key>Gha.mlm</key>
  <string>G_ha.mlm.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>Ha.mlm</key>
  <string>H_a.mlm.glif</string>
  <key>HaMa.mlm</key>
  <string>H_aM_a.mlm.glif</string>
  <key>HaNa.mlm</key>
  <string>H_aN_a.mlm.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>Iacute</key>
  <string>I_acute.glif</string>
  <key>Icircumflex</key>
  <string>I_circumflex.glif</string>
  <key>Idieresis</key>
  <string>I_dieresis.glif</string>
  <key>Igrave</key>
  <string>I_grave.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>Ja.mlm</key>
  <string>J_a.mlm.glif</string>
  <key>JaJa.mlm</key>
  <string>J_aJ_a.mlm.glif</string>
  <key>JaJa_Alt.mlm</key>
  <string>J_aJ_a_A_lt.mlm.glif</string>
  <key>JaNya.mlm</key>
  <string>J_aN_ya.mlm.glif</string>
  <key>JaNya_Alt.mlm</key>
  <string>J_aN_ya_A_lt.mlm.glif</string>
  <key>Ja_Alt.mlm</key>
  <string>J_a_A_lt.mlm.glif</string>
  <key>Jha.mlm</key>
  <string>J_ha.mlm.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>Ka.mlm</key>
  <string>K_a.mlm.glif</string>
  <key>KaKa.mlm</key>
  <string>K_aK_a.mlm.glif</string>
  <key>KaLa.mlm</key>
  <string>K_aL_a.mlm.glif</string>
  <key>KaSsa.mlm</key>
  <string>K_aS_sa.mlm.glif</string>
  <key>KaTa.mlm</key>
  <string>K_aT_a.mlm.glif</string>
  <key>KaTta.mlm</key>
  <string>K_aT_ta.mlm.glif</string>
  <key>KaTta_Alt.mlm</key>
  <string>K_aT_ta_A_lt.mlm.glif</string>
  <key>Kha.mlm</key>
  <string>K_ha.mlm.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>La.mlm</key>
  <string>L_a.mlm.glif</string>
  <key>LaLa.mlm</key>
  <string>L_aL_a.mlm.glif</string>
  <key>Lla.mlm</key>
  <string>L_la.mlm.glif</string>
  <key>LlaLla.mlm</key>
  <string>L_laL_la.mlm.glif</string>
  <key>LlaLla_Alt.mlm</key>
  <string>L_laL_la_A_lt.mlm.glif</string>
  <key>Lla_Alt.mlm</key>
  <string>L_la_A_lt.mlm.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>Ma.mlm</key>
  <string>M_a.mlm.glif</string>
  <key>MaLa.mlm</key>
  <string>M_aL_a.mlm.glif</string>
  <key>MaMa.mlm</key>
  <string>M_aM_a.mlm.glif</string>
  <key>MaPa.mlm</key>
  <string>M_aP_a.mlm.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>NULL</key>
  <string>N_U_L_L_.glif</string>
  <key>Na.mlm</key>
  <string>N_a.mlm.glif</string>
  <key>NaDa.mlm</key>
  <string>N_aD_a.mlm.glif</string>
  <key>NaDha.mlm</key>
  <string>N_aD_ha.mlm.glif</string>
  <key>NaMa.mlm</key>
  <string>N_aM_a.mlm.glif</string>
  <key>NaNa.mlm</key>
  <string>N_aN_a.mlm.glif</string>
  <key>NaRra.mlm</key>
  <string>N_aR_ra.mlm.glif</string>
  <key>NaRraVirama.mlm</key>
  <string>N_aR_raV_irama.mlm.glif</string>
  <key>NaTa.mlm</key>
  <string>N_aT_a.mlm.glif</string>
  <key>NaTha.mlm</key>
  <string>N_aT_ha.mlm.glif</string>
  <key>Nga.mlm</key>
  <string>N_ga.mlm.glif</string>
  <key>NgaKa.mlm</key>
  <string>N_gaK_a.mlm.glif</string>
  <key>NgaNga.mlm</key>
  <string>N_gaN_ga.mlm.glif</string>
  <key>Nna.mlm</key>
  <string>N_na.mlm.glif</string>
  <key>NnaDda.mlm</key>
  <string>N_naD_da.mlm.glif</string>
  <key>NnaDdha.mlm</key>
  <string>N_naD_dha.mlm.glif</string>
  <key>NnaMa.mlm</key>
  <string>N_naM_a.mlm.glif</string>
  <key>NnaNna.mlm</key>
  <string>N_naN_na.mlm.glif</string>
  <key>NnaTta.mlm</key>
  <string>N_naT_ta.mlm.glif</string>
  <key>Nnna.mlm</key>
  <string>N_nna.mlm.glif</string>
  <key>Ntilde</key>
  <string>N_tilde.glif</string>
  <key>Nya.mlm</key>
  <string>N_ya.mlm.glif</string>
  <key>NyaCa.mlm</key>
  <string>N_yaC_a.mlm.glif</string>
  <key>NyaCha.mlm</key>
  <string>N_yaC_ha.mlm.glif</string>
  <key>NyaJa.mlm</key>
  <string>N_yaJ_a.mlm.glif</string>
  <key>NyaJa_Alt.mlm</key>
  <string>N_yaJ_a_A_lt.mlm.glif</string>
  <key>NyaNya.mlm</key>
  <string>N_yaN_ya.mlm.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>OE</key>
  <string>O_E_.glif</string>
  <key>Oacute</key>
  <string>O_acute.glif</string>
  <key>Ocircumflex</key>
  <string>O_circumflex.glif</string>
  <key>Odieresis</key>
  <string>O_dieresis.glif</string>
  <key>Ograve</key>
  <string>O_grave.glif</string>
  <key>Oslash</key>
  <string>O_slash.glif</string>
  <key>Otilde</key>
  <string>O_tilde.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>Pa.mlm</key>
  <string>P_a.mlm.glif</string>
  <key>PaLa.mlm</key>
  <string>P_aL_a.mlm.glif</string>
  <key>PaPa.mlm</key>
  <string>P_aP_a.mlm.glif</string>
  <key>PaPa_Alt.mlm</key>
  <string>P_aP_a_A_lt.mlm.glif</string>
  <key>Pa_Alt.mlm</key>
  <string>P_a_A_lt.mlm.glif</string>
  <key>Pha.mlm</key>
  <string>P_ha.mlm.glif</string>
  <key>PhaLa.mlm</key>
  <string>P_haL_a.mlm.glif</string>
  <key>Praslesham.mlm</key>
  <string>P_raslesham.mlm.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>Ra.mlm</key>
  <string>R_a.mlm.glif</string>
  <key>Rra.mlm</key>
  <string>R_ra.mlm.glif</string>
  <key>RraRra.mlm</key>
  <string>R_raR_ra.mlm.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>Sa.mlm</key>
  <string>S_a.mlm.glif</string>
  <key>SaLa.mlm</key>
  <string>S_aL_a.mlm.glif</string>
  <key>SaRraRra.mlm</key>
  <string>S_aR_raR_ra.mlm.glif</string>
  <key>SaSa.mlm</key>
  <string>S_aS_a.mlm.glif</string>
  <key>SaTha.mlm</key>
  <string>S_aT_ha.mlm.glif</string>
  <key>Sha.mlm</key>
  <string>S_ha.mlm.glif</string>
  <key>ShaCa.mlm</key>
  <string>S_haC_a.mlm.glif</string>
  <key>ShaCha.mlm</key>
  <string>S_haC_ha.mlm.glif</string>
  <key>ShaLa.mlm</key>
  <string>S_haL_a.mlm.glif</string>
  <key>ShaSha.mlm</key>
  <string>S_haS_ha.mlm.glif</string>
  <key>Ssa.mlm</key>
  <string>S_sa.mlm.glif</string>
  <key>SsaTta.mlm</key>
  <string>S_saT_ta.mlm.glif</string>
  <key>SsaTta_Alt.mlm</key>
  <string>S_saT_ta_A_lt.mlm.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>Ta.mlm</key>
  <string>T_a.mlm.glif</string>
  <key>TaBha.mlm</key>
  <string>T_aB_ha.mlm.glif</string>
  <key>TaMa.mlm</key>
  <string>T_aM_a.mlm.glif</string>
  <key>TaNa.mlm</key>
  <string>T_aN_a.mlm.glif</string>
  <key>TaSa.mlm</key>
  <string>T_aS_a.mlm.glif</string>
  <key>TaTa.mlm</key>
  <string>T_aT_a.mlm.glif</string>
  <key>TaTha.mlm</key>
  <string>T_aT_ha.mlm.glif</string>
  <key>Tha.mlm</key>
  <string>T_ha.mlm.glif</string>
  <key>Thorn</key>
  <string>T_horn.glif</string>
  <key>Tta.mlm</key>
  <string>T_ta.mlm.glif</string>
  <key>TtaTta.mlm</key>
  <string>T_taT_ta.mlm.glif</string>
  <key>TtaTta_Alt.mlm</key>
  <string>T_taT_ta_A_lt.mlm.glif</string>
  <key>Tta_Alt.mlm</key>
  <string>T_ta_A_lt.mlm.glif</string>
  <key>Ttha.mlm</key>
  <string>T_tha.mlm.glif</string>
  <key>Ttta.mlm</key>
  <string>T_tta.mlm.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>Uacute</key>
  <string>U_acute.glif</string>
  <key>Ucircumflex</key>
  <string>U_circumflex.glif</string>
  <key>Udieresis</key>
  <string>U_dieresis.glif</string>
  <key>Ugrave</key>
  <string>U_grave.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>Va.mlm</key>
  <string>V_a.mlm.glif</string>
  <key>VaVa.mlm</key>
  <string>V_aV_a.mlm.glif</string>
  <key>Virama.mlm</key>
  <string>V_irama.mlm.glif</string>
  <key>ViramaRa.mlm</key>
  <string>V_iramaR_a.mlm.glif</string>
  <key>ViramaRa1.mlm</key>
  <string>V_iramaR_a1.mlm.glif</string>
  <key>ViramaVa.mlm</key>
  <string>V_iramaV_a.mlm.glif</string>
  <key>ViramaVa1.mlm</key>
  <string>V_iramaV_a1.mlm.glif</string>
  <key>ViramaVa2.mlm</key>
  <string>V_iramaV_a2.mlm.glif</string>
  <key>ViramaYa.mlm</key>
  <string>V_iramaY_a.mlm.glif</string>
  <key>ViramaYa1.mlm</key>
  <string>V_iramaY_a1.mlm.glif</string>
  <key>ViramaYa2.mlm</key>
  <string>V_iramaY_a2.mlm.glif</string>
  <key>Visarga.mlm</key>
  <string>V_isarga.mlm.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Ya.mlm</key>
  <string>Y_a.mlm.glif</string>
  <key>YaYa.mlm</key>
  <string>Y_aY_a.mlm.glif</string>
  <key>Yacute</key>
  <string>Y_acute.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>ZWJ</key>
  <string>Z_W_J_.glif</string>
  <key>ZWNJ</key>
  <string>Z_W_N_J_.glif</string>
  <key>Zha.mlm</key>
  <string>Z_ha.mlm.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>aacute</key>
  <string>aacute.glif</string>
  <key>acircumflex</key>
  <string>acircumflex.glif</string>
  <key>acute</key>
  <string>acute.glif</string>
  <key>acutecomb</key>
  <string>acutecomb.glif</string>
  <key>acutecomb.case</key>
  <string>acutecomb.case.glif</string>
  <key>acutecomb.narrow</key>
  <string>acutecomb.narrow.glif</string>
  <key>adieresis</key>
  <string>adieresis.glif</string>
  <key>ae</key>
  <string>ae.glif</string>
  <key>agrave</key>
  <string>agrave.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>archaicIi.mlm</key>
  <string>archaicI_i.mlm.glif</string>
  <key>aring</key>
  <string>aring.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>asciitilde</key>
  <string>asciitilde.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>atilde</key>
  <string>atilde.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>braceright</key>
  <string>braceright.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>brokenbar</key>
  <string>brokenbar.glif</string>
  <key>bullet</key>
  <string>bullet.glif</string>
  <key>bulletoperator</key>
  <string>bulletoperator.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>ccedilla</key>
  <string>ccedilla.glif</string>
  <key>cedilla</key>
  <string>cedilla.glif</string>
  <key>cedillacomb</key>
  <string>cedillacomb.glif</string>
  <key>cedillacomb.case</key>
  <string>cedillacomb.case.glif</string>
  <key>cent</key>
  <string>cent.glif</string>
  <key>chilluK.mlm</key>
  <string>chilluK_.mlm.glif</string>
  <key>chilluL.mlm</key>
  <string>chilluL_.mlm.glif</string>
  <key>chilluLl.mlm</key>
  <string>chilluL_l.mlm.glif</string>
  <key>chilluM.mlm</key>
  <string>chilluM_.mlm.glif</string>
  <key>chilluN.mlm</key>
  <string>chilluN_.mlm.glif</string>
  <key>chilluNn.mlm</key>
  <string>chilluN_n.mlm.glif</string>
  <key>chilluRr.mlm</key>
  <string>chilluR_r.mlm.glif</string>
  <key>chilluY.mlm</key>
  <string>chilluY_.mlm.glif</string>
  <key>chilluZh.mlm</key>
  <string>chilluZ_h.mlm.glif</string>
  <key>circularviramasign.mlm</key>
  <string>circularviramasign.mlm.glif</string>
  <key>circumflex</key>
  <string>circumflex.glif</string>
  <key>circumflexcomb</key>
  <string>circumflexcomb.glif</string>
  <key>circumflexcomb.case</key>
  <string>circumflexcomb.case.glif</string>
  <key>circumflexcomb.narrow</key>
  <string>circumflexcomb.narrow.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>combininganusvaraabovesign.mlm</key>
  <string>combininganusvaraabovesign.mlm.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>copyright</key>
  <string>copyright.glif</string>
  <key>currency</key>
  <string>currency.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>date.mlm</key>
  <string>date.mlm.glif</string>
  <key>degree</key>
  <string>degree.glif</string>
  <key>dieresis</key>
  <string>dieresis.glif</string>
  <key>dieresiscomb</key>
  <string>dieresiscomb.glif</string>
  <key>dieresiscomb.case</key>
  <string>dieresiscomb.case.glif</string>
  <key>dieresiscomb.narrow</key>
  <string>dieresiscomb.narrow.glif</string>
  <key>divide</key>
  <string>divide.glif</string>
  <key>divisionslash</key>
  <string>divisionslash.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>dotaccentcomb</key>
  <string>dotaccentcomb.glif</string>
  <key>dotreph.mlm</key>
  <string>dotreph.mlm.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>eacute</key>
  <string>eacute.glif</string>
  <key>ecircumflex</key>
  <string>ecircumflex.glif</string>
  <key>edieresis</key>
  <string>edieresis.glif</string>
  <key>egrave</key>
  <string>egrave.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>eight.dnom</key>
  <string>eight.dnom.glif</string>
  <key>eight.mlm</key>
  <string>eight.mlm.glif</string>
  <key>eight.numr</key>
  <string>eight.numr.glif</string>
  <key>eight.subs</key>
  <string>eight.subs.glif</string>
  <key>eight.tf</key>
  <string>eight.tf.glif</string>
  <key>eightinferior</key>
  <string>eightinferior.glif</string>
  <key>eightsuperior</key>
  <string>eightsuperior.glif</string>
  <key>ellipsis</key>
  <string>ellipsis.glif</string>
  <key>emdash</key>
  <string>emdash.glif</string>
  <key>endash</key>
  <string>endash.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>eth</key>
  <string>eth.glif</string>
  <key>euro</key>
  <string>euro.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>exclamdown</key>
  <string>exclamdown.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>f_f</key>
  <string>f_f.glif</string>
  <key>f_f_i</key>
  <string>f_f_i.glif</string>
  <key>f_f_l</key>
  <string>f_f_l.glif</string>
  <key>fi</key>
  <string>fi.glif</string>
  <key>figurespace</key>
  <string>figurespace.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>five.dnom</key>
  <string>five.dnom.glif</string>
  <key>five.mlm</key>
  <string>five.mlm.glif</string>
  <key>five.numr</key>
  <string>five.numr.glif</string>
  <key>five.subs</key>
  <string>five.subs.glif</string>
  <key>five.tf</key>
  <string>five.tf.glif</string>
  <key>fiveinferior</key>
  <string>fiveinferior.glif</string>
  <key>fivesuperior</key>
  <string>fivesuperior.glif</string>
  <key>fl</key>
  <string>fl.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>four.dnom</key>
  <string>four.dnom.glif</string>
  <key>four.mlm</key>
  <string>four.mlm.glif</string>
  <key>four.numr</key>
  <string>four.numr.glif</string>
  <key>four.subs</key>
  <string>four.subs.glif</string>
  <key>four.tf</key>
  <string>four.tf.glif</string>
  <key>fourinferior</key>
  <string>fourinferior.glif</string>
  <key>foursuperior</key>
  <string>foursuperior.glif</string>
  <key>fraction</key>
  <string>fraction.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>germandbls</key>
  <string>germandbls.glif</string>
  <key>grave</key>
  <string>grave.glif</string>
  <key>gravecomb</key>
  <string>gravecomb.glif</string>
  <key>gravecomb.case</key>
  <string>gravecomb.case.glif</string>
  <key>gravecomb.narrow</key>
  <string>gravecomb.narrow.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>guillemetleft</key>
  <string>guillemetleft.glif</string>
  <key>guillemetright</key>
  <string>guillemetright.glif</string>
  <key>guilsinglleft</key>
  <string>guilsinglleft.glif</string>
  <key>guilsinglright</key>
  <string>guilsinglright.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>hairspace</key>
  <string>hairspace.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>iacute</key>
  <string>iacute.glif</string>
  <key>icircumflex</key>
  <string>icircumflex.glif</string>
  <key>idieresis</key>
  <string>idieresis.glif</string>
  <key>idotless</key>
  <string>idotless.glif</string>
  <key>igrave</key>
  <string>igrave.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>jbottom</key>
  <string>jbottom.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>lengthAu.mlm</key>
  <string>lengthA_u.mlm.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>logicalnot</key>
  <string>logicalnot.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>macron</key>
  <string>macron.glif</string>
  <key>macroncomb</key>
  <string>macroncomb.glif</string>
  <key>macroncomb.case</key>
  <string>macroncomb.case.glif</string>
  <key>macroncomb.narrow</key>
  <string>macroncomb.narrow.glif</string>
  <key>matraA.mlm</key>
  <string>matraA_.mlm.glif</string>
  <key>matraA_Alt.mlm</key>
  <string>matraA__A_lt.mlm.glif</string>
  <key>matraAi.mlm</key>
  <string>matraA_i.mlm.glif</string>
  <key>matraAu.mlm</key>
  <string>matraA_u.mlm.glif</string>
  <key>matraE.mlm</key>
  <string>matraE_.mlm.glif</string>
  <key>matraE1_Alt.mlm</key>
  <string>matraE_1_A_lt.mlm.glif</string>
  <key>matraE2_Alt.mlm</key>
  <string>matraE_2_A_lt.mlm.glif</string>
  <key>matraI.mlm</key>
  <string>matraI_.mlm.glif</string>
  <key>matraI.mlm.2</key>
  <string>matraI_.mlm.2.glif</string>
  <key>matraI1.mlm</key>
  <string>matraI_1.mlm.glif</string>
  <key>matraI_Alt.mlm</key>
  <string>matraI__A_lt.mlm.glif</string>
  <key>matraIi.mlm</key>
  <string>matraI_i.mlm.glif</string>
  <key>matraIi.mlm.1</key>
  <string>matraI_i.mlm.1.glif</string>
  <key>matraO.mlm</key>
  <string>matraO_.mlm.glif</string>
  <key>matraRru.mlm</key>
  <string>matraR_ru.mlm.glif</string>
  <key>matraRu.mlm</key>
  <string>matraR_u.mlm.glif</string>
  <key>matraRu1.mlm</key>
  <string>matraR_u1.mlm.glif</string>
  <key>matraRu2.mlm</key>
  <string>matraR_u2.mlm.glif</string>
  <key>matraU.mlm</key>
  <string>matraU_.mlm.glif</string>
  <key>matraU1.mlm</key>
  <string>matraU_1.mlm.glif</string>
  <key>matraU2.mlm</key>
  <string>matraU_2.mlm.glif</string>
  <key>matraUu.mlm</key>
  <string>matraU_u.mlm.glif</string>
  <key>matraUu1.mlm</key>
  <string>matraU_u1.mlm.glif</string>
  <key>matraUu1_Alt.mlm</key>
  <string>matraU_u1_A_lt.mlm.glif</string>
  <key>matraUu2.mlm</key>
  <string>matraU_u2.mlm.glif</string>
  <key>matraUu2_Alt.mlm</key>
  <string>matraU_u2_A_lt.mlm.glif</string>
  <key>matraUu_Alt.mlm</key>
  <string>matraU_u_A_lt.mlm.glif</string>
  <key>matrashortE.mlm</key>
  <string>matrashortE_.mlm.glif</string>
  <key>matrashortO.mlm</key>
  <string>matrashortO_.mlm.glif</string>
  <key>micro</key>
  <string>micro.glif</string>
  <key>minus</key>
  <string>minus.glif</string>
  <key>multiply</key>
  <string>multiply.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>nbspace</key>
  <string>nbspace.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>nine.dnom</key>
  <string>nine.dnom.glif</string>
  <key>nine.mlm</key>
  <string>nine.mlm.glif</string>
  <key>nine.numr</key>
  <string>nine.numr.glif</string>
  <key>nine.subs</key>
  <string>nine.subs.glif</string>
  <key>nine.tf</key>
  <string>nine.tf.glif</string>
  <key>nineinferior</key>
  <string>nineinferior.glif</string>
  <key>ninesuperior</key>
  <string>ninesuperior.glif</string>
  <key>ntilde</key>
  <string>ntilde.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>oacute</key>
  <string>oacute.glif</string>
  <key>ocircumflex</key>
  <string>ocircumflex.glif</string>
  <key>odieresis</key>
  <string>odieresis.glif</string>
  <key>oe</key>
  <string>oe.glif</string>
  <key>ograve</key>
  <string>ograve.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>one.dnom</key>
  <string>one.dnom.glif</string>
  <key>one.mlm</key>
  <string>one.mlm.glif</string>
  <key>one.numr</key>
  <string>one.numr.glif</string>
  <key>one.subs</key>
  <string>one.subs.glif</string>
  <key>one.tf</key>
  <string>one.tf.glif</string>
  <key>oneeighth.mlm</key>
  <string>oneeighth.mlm.glif</string>
  <key>onefifth.mlm</key>
  <string>onefifth.mlm.glif</string>
  <key>onefortieth.mlm</key>
  <string>onefortieth.mlm.glif</string>
  <key>onehalf</key>
  <string>onehalf.glif</string>
  <key>onehalf.mlm</key>
  <string>onehalf.mlm.glif</string>
  <key>onehundred.mlm</key>
  <string>onehundred.mlm.glif</string>
  <key>oneinferior</key>
  <string>oneinferior.glif</string>
  <key>oneonehundredandsixtieth.mlm</key>
  <string>oneonehundredandsixtieth.mlm.glif</string>
  <key>onequarter</key>
  <string>onequarter.glif</string>
  <key>onequarter.mlm</key>
  <string>onequarter.mlm.glif</string>
  <key>onesixteenth.mlm</key>
  <string>onesixteenth.mlm.glif</string>
  <key>onesuperior</key>
  <string>onesuperior.glif</string>
  <key>onetenth.mlm</key>
  <string>onetenth.mlm.glif</string>
  <key>onethousand.mlm</key>
  <string>onethousand.mlm.glif</string>
  <key>onetwentieth.mlm</key>
  <string>onetwentieth.mlm.glif</string>
  <key>ordfeminine</key>
  <string>ordfeminine.glif</string>
  <key>ordmasculine</key>
  <string>ordmasculine.glif</string>
  <key>oslash</key>
  <string>oslash.glif</string>
  <key>otilde</key>
  <string>otilde.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>paragraph</key>
  <string>paragraph.glif</string>
  <key>parasign.mlm</key>
  <string>parasign.mlm.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>periodcentered</key>
  <string>periodcentered.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>plusminus</key>
  <string>plusminus.glif</string>
  <key>punctuationspace</key>
  <string>punctuationspace.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>question_alt</key>
  <string>question_alt.glif</string>
  <key>questiondown</key>
  <string>questiondown.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>quotedblbase</key>
  <string>quotedblbase.glif</string>
  <key>quotedblleft</key>
  <string>quotedblleft.glif</string>
  <key>quotedblright</key>
  <string>quotedblright.glif</string>
  <key>quoteleft</key>
  <string>quoteleft.glif</string>
  <key>quoteright</key>
  <string>quoteright.glif</string>
  <key>quotesinglbase</key>
  <string>quotesinglbase.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>r_t</key>
  <string>r_t.glif</string>
  <key>registered</key>
  <string>registered.glif</string>
  <key>ring</key>
  <string>ring.glif</string>
  <key>ringcomb</key>
  <string>ringcomb.glif</string>
  <key>ringcomb.case</key>
  <string>ringcomb.case.glif</string>
  <key>rupeeIndian</key>
  <string>rupeeI_ndian.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>section</key>
  <string>section.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>seven.dnom</key>
  <string>seven.dnom.glif</string>
  <key>seven.mlm</key>
  <string>seven.mlm.glif</string>
  <key>seven.numr</key>
  <string>seven.numr.glif</string>
  <key>seven.subs</key>
  <string>seven.subs.glif</string>
  <key>seven.tf</key>
  <string>seven.tf.glif</string>
  <key>seveninferior</key>
  <string>seveninferior.glif</string>
  <key>sevensuperior</key>
  <string>sevensuperior.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>six.dnom</key>
  <string>six.dnom.glif</string>
  <key>six.mlm</key>
  <string>six.mlm.glif</string>
  <key>six.numr</key>
  <string>six.numr.glif</string>
  <key>six.subs</key>
  <string>six.subs.glif</string>
  <key>six.tf</key>
  <string>six.tf.glif</string>
  <key>sixinferior</key>
  <string>sixinferior.glif</string>
  <key>sixsuperior</key>
  <string>sixsuperior.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>softhyphen</key>
  <string>softhyphen.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>sterling</key>
  <string>sterling.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>ten.mlm</key>
  <string>ten.mlm.glif</string>
  <key>thinspace</key>
  <string>thinspace.glif</string>
  <key>thorn</key>
  <string>thorn.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>three.dnom</key>
  <string>three.dnom.glif</string>
  <key>three.mlm</key>
  <string>three.mlm.glif</string>
  <key>three.numr</key>
  <string>three.numr.glif</string>
  <key>three.subs</key>
  <string>three.subs.glif</string>
  <key>three.tf</key>
  <string>three.tf.glif</string>
  <key>threeeightieths.mlm</key>
  <string>threeeightieths.mlm.glif</string>
  <key>threeinferior</key>
  <string>threeinferior.glif</string>
  <key>threequarters</key>
  <string>threequarters.glif</string>
  <key>threequarters.mlm</key>
  <string>threequarters.mlm.glif</string>
  <key>threesixteenths.mlm</key>
  <string>threesixteenths.mlm.glif</string>
  <key>threesuperior</key>
  <string>threesuperior.glif</string>
  <key>threetwentieths.mlm</key>
  <string>threetwentieths.mlm.glif</string>
  <key>tilde</key>
  <string>tilde.glif</string>
  <key>tildecomb</key>
  <string>tildecomb.glif</string>
  <key>tildecomb.case</key>
  <string>tildecomb.case.glif</string>
  <key>tildecomb.narrow</key>
  <string>tildecomb.narrow.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>two.dnom</key>
  <string>two.dnom.glif</string>
  <key>two.mlm</key>
  <string>two.mlm.glif</string>
  <key>two.numr</key>
  <string>two.numr.glif</string>
  <key>two.subs</key>
  <string>two.subs.glif</string>
  <key>two.tf</key>
  <string>two.tf.glif</string>
  <key>twoinferior</key>
  <string>twoinferior.glif</string>
  <key>twosuperior</key>
  <string>twosuperior.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>uacute</key>
  <string>uacute.glif</string>
  <key>ucircumflex</key>
  <string>ucircumflex.glif</string>
  <key>udieresis</key>
  <string>udieresis.glif</string>
  <key>ugrave</key>
  <string>ugrave.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>uni000D</key>
  <string>uni000D_.glif</string>
  <key>uni0D04</key>
  <string>uni0D_04.glif</string>
  <key>uni0D62</key>
  <string>uni0D_62.glif</string>
  <key>uni0D63</key>
  <string>uni0D_63.glif</string>
  <key>uni25CC</key>
  <string>uni25C_C_.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>verticalbarviramasign.mlm</key>
  <string>verticalbarviramasign.mlm.glif</string>
  <key>vowelA.mlm</key>
  <string>vowelA_.mlm.glif</string>
  <key>vowelAa.mlm</key>
  <string>vowelA_a.mlm.glif</string>
  <key>vowelAi.mlm</key>
  <string>vowelA_i.mlm.glif</string>
  <key>vowelAu.mlm</key>
  <string>vowelA_u.mlm.glif</string>
  <key>vowelE.mlm</key>
  <string>vowelE_.mlm.glif</string>
  <key>vowelI.mlm</key>
  <string>vowelI_.mlm.glif</string>
  <key>vowelI_Alt.mlm</key>
  <string>vowelI__A_lt.mlm.glif</string>
  <key>vowelIi.mlm</key>
  <string>vowelI_i.mlm.glif</string>
  <key>vowelIi_Alt.mlm</key>
  <string>vowelI_i_A_lt.mlm.glif</string>
  <key>vowelLru.mlm</key>
  <string>vowelL_ru.mlm.glif</string>
  <key>vowelLruu.mlm</key>
  <string>vowelL_ruu.mlm.glif</string>
  <key>vowelO.mlm</key>
  <string>vowelO_.mlm.glif</string>
  <key>vowelO_Alt.mlm</key>
  <string>vowelO__A_lt.mlm.glif</string>
  <key>vowelRu.mlm</key>
  <string>vowelR_u.mlm.glif</string>
  <key>vowelRuu.mlm</key>
  <string>vowelR_uu.mlm.glif</string>
  <key>vowelU.mlm</key>
  <string>vowelU_.mlm.glif</string>
  <key>vowelU_Alt.mlm</key>
  <string>vowelU__A_lt.mlm.glif</string>
  <key>vowelUu.mlm</key>
  <string>vowelU_u.mlm.glif</string>
  <key>vowelUu_Alt.mlm</key>
  <string>vowelU_u_A_lt.mlm.glif</string>
  <key>vowelshortE.mlm</key>
  <string>vowelshortE_.mlm.glif</string>
  <key>vowelshortO.mlm</key>
  <string>vowelshortO_.mlm.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>yacute</key>
  <string>yacute.glif</string>
  <key>ydieresis</key>
  <string>ydieresis.glif</string>
  <key>yen</key>
  <string>yen.glif</string>
  <key>z</key>
  <string>z.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
  <key>zero.dnom</key>
  <string>zero.dnom.glif</string>
  <key>zero.mlm</key>
  <string>zero.mlm.glif</string>
  <key>zero.numr</key>
  <string>zero.numr.glif</string>
  <key>zero.subs</key>
  <string>zero.subs.glif</string>
  <key>zero.tf</key>
  <string>zero.tf.glif</string>
  <key>zero.tf.zero</key>
  <string>zero.tf.zero.glif</string>
  <key>zero.zero</key>
  <string>zero.zero.glif</string>
  <key>zeroinferior</key>
  <string>zeroinferior.glif</string>
  <key>zerosuperior</key>
  <string>zerosuperior.glif</string>
  <key>zerowidthspace</key>
  <string>zerowidthspace.glif</string>
</dict>
</plist>
