<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
      <string>Agrave</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Atilde</string>
      <string>Aring</string>
      <string>Adieresis</string>
    </array>
    <key>public.kern1.B</key>
    <array>
      <string>B</string>
    </array>
    <key>public.kern1.C</key>
    <array>
      <string>C</string>
      <string>Ccedilla</string>
    </array>
    <key>public.kern1.Cha.gj</key>
    <array>
      <string>Cha.gj</string>
      <string>KaCha.gj</string>
      <string>CaCha.gj</string>
      <string>ChaVa.gj</string>
      <string>NyaCha.gj</string>
      <string>NaCha.gj</string>
      <string>PaCha.gj</string>
      <string>ShaCha.gj</string>
      <string>CaChaVa.gj</string>
      <string>_ChaComponent.gj</string>
    </array>
    <key>public.kern1.D</key>
    <array>
      <string>D</string>
      <string>Eth</string>
    </array>
    <key>public.kern1.Da.gj</key>
    <array>
      <string>Da.gj</string>
      <string>KaDa.gj</string>
      <string>GaDa.gj</string>
      <string>NaDa.gj</string>
      <string>BaDa.gj</string>
      <string>MaDa.gj</string>
      <string>LaDa.gj</string>
      <string>SaDa.gj</string>
      <string>LaVaDa.gj</string>
      <string>_DaComponent.gj</string>
    </array>
    <key>public.kern1.DaGa.gj</key>
    <array>
      <string>DaRa.gj</string>
      <string>DaGa.gj</string>
      <string>DaGha.gj</string>
      <string>DaDha.gj</string>
      <string>DaNa.gj</string>
      <string>DaBa.gj</string>
      <string>DaBha.gj</string>
      <string>DaVa.gj</string>
      <string>NaDaRa.gj</string>
      <string>NaDaVa.gj</string>
      <string>LaDaRa.gj</string>
      <string>DaMatraRu.gj</string>
    </array>
    <key>public.kern1.Dda.gj</key>
    <array>
      <string>Dda.gj</string>
      <string>KaDda.gj</string>
      <string>GaDda.gj</string>
      <string>JaDda.gj</string>
      <string>NnaDda.gj</string>
      <string>NaDda.gj</string>
      <string>PaDda.gj</string>
      <string>BaDda.gj</string>
      <string>LaDda.gj</string>
      <string>VaDda.gj</string>
      <string>ShaDda.gj</string>
      <string>SaDda.gj</string>
      <string>KaSaDda.gj</string>
      <string>_DdaComponent.gj</string>
    </array>
    <key>public.kern1.DdaGa.gj</key>
    <array>
      <string>DdaGa.gj</string>
      <string>DdaDdha.gj</string>
      <string>DdaNa.gj</string>
      <string>DdaVa.gj</string>
    </array>
    <key>public.kern1.Ddha.gj</key>
    <array>
      <string>Ddha.gj</string>
      <string>NnaDdha.gj</string>
    </array>
    <key>public.kern1.E</key>
    <array>
      <string>E</string>
      <string>OE</string>
      <string>AE</string>
      <string>Egrave</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
    </array>
    <key>public.kern1.F</key>
    <array>
      <string>F</string>
    </array>
    <key>public.kern1.G</key>
    <array>
      <string>G</string>
    </array>
    <key>public.kern1.H</key>
    <array>
      <string>H</string>
      <string>N</string>
      <string>paragraph</string>
      <string>Ntilde</string>
    </array>
    <key>public.kern1.Ha.gj</key>
    <array>
      <string>Ha.gj</string>
      <string>NaHa.gj</string>
      <string>BaHa.gj</string>
      <string>MaHa.gj</string>
      <string>LaHa.gj</string>
      <string>VaHa.gj</string>
      <string>ShaHa.gj</string>
      <string>HaNna.gj</string>
      <string>HaNa.gj</string>
      <string>HaLa.gj</string>
      <string>HaVa.gj</string>
      <string>HaRu.gj</string>
      <string>_HaComponent.gj</string>
    </array>
    <key>public.kern1.I</key>
    <array>
      <string>I</string>
      <string>Igrave</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
    </array>
    <key>public.kern1.J</key>
    <array>
      <string>J</string>
    </array>
    <key>public.kern1.Ja.gj</key>
    <array>
      <string>Zha.gj</string>
    </array>
    <key>public.kern1.Jha.gj</key>
    <array>
      <string>Jha.gj</string>
      <string>JhaRa.gj</string>
      <string>KaJha.gj</string>
      <string>KhaJha.gj</string>
      <string>GaJha.gj</string>
      <string>JaJha.gj</string>
      <string>NyaJha.gj</string>
      <string>NaJha.gj</string>
      <string>BaJha.gj</string>
      <string>YaJha.gj</string>
      <string>VaJha.gj</string>
      <string>_JhaComponent.gj</string>
    </array>
    <key>public.kern1.K</key>
    <array>
      <string>K</string>
    </array>
    <key>public.kern1.Ka.gj</key>
    <array>
      <string>Ka.gj</string>
      <string>Pha.gj</string>
      <string>KaRa.gj</string>
      <string>PhaRa.gj</string>
      <string>KaKa.gj</string>
      <string>KaPha.gj</string>
      <string>TaKa.gj</string>
      <string>TaPha.gj</string>
      <string>NaKa.gj</string>
      <string>NaPha.gj</string>
      <string>PaKa.gj</string>
      <string>PaPha.gj</string>
      <string>PhaPha.gj</string>
      <string>MaKa.gj</string>
      <string>MaPha.gj</string>
      <string>LaKa.gj</string>
      <string>LaPha.gj</string>
      <string>ShaKa.gj</string>
      <string>ShaPha.gj</string>
      <string>SsaKa.gj</string>
      <string>SsaPha.gj</string>
      <string>SaKa.gj</string>
      <string>SaPha.gj</string>
      <string>KaKaRa.gj</string>
      <string>TaKaRa.gj</string>
      <string>NaKaRa.gj</string>
      <string>NaPhaRa.gj</string>
      <string>NaSaKa.gj</string>
      <string>BaSaKa.gj</string>
      <string>LaPhaRa.gj</string>
      <string>SsaKaRa.gj</string>
      <string>SaKaRa.gj</string>
      <string>NaSaKaRa.gj</string>
      <string>_PhaComponent.gj</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>L</string>
    </array>
    <key>public.kern1.M</key>
    <array>
      <string>M</string>
    </array>
    <key>public.kern1.NgaMa.gj</key>
    <array>
      <string>NgaKa.gj</string>
      <string>NgaGa.gj</string>
      <string>NgaMa.gj</string>
      <string>NgaYa.gj</string>
    </array>
    <key>public.kern1.O</key>
    <array>
      <string>O</string>
      <string>Ograve</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Otilde</string>
      <string>Odieresis</string>
      <string>Oslash</string>
    </array>
    <key>public.kern1.P</key>
    <array>
      <string>P</string>
    </array>
    <key>public.kern1.Q</key>
    <array>
      <string>Q</string>
    </array>
    <key>public.kern1.R</key>
    <array>
      <string>R</string>
    </array>
    <key>public.kern1.S</key>
    <array>
      <string>dollar</string>
      <string>S</string>
    </array>
    <key>public.kern1.T</key>
    <array>
      <string>T</string>
    </array>
    <key>public.kern1.Tta.gj</key>
    <array>
      <string>Tta.gj</string>
      <string>KaTta.gj</string>
      <string>JaTta.gj</string>
      <string>NnaTta.gj</string>
      <string>NaTta.gj</string>
      <string>PaTta.gj</string>
      <string>PhaTta.gj</string>
      <string>LaTta.gj</string>
      <string>ShaTta.gj</string>
      <string>SsaTta.gj</string>
      <string>SaTta.gj</string>
      <string>KaSsaTta.gj</string>
      <string>KaSaTta.gj</string>
      <string>NaSaTta.gj</string>
      <string>BaSaTta.gj</string>
      <string>_TtaComponent.gj</string>
    </array>
    <key>public.kern1.TtaTta.gj</key>
    <array>
      <string>TtaTta.gj</string>
      <string>TtaTtha.gj</string>
      <string>TtaVa.gj</string>
      <string>TthaTtha.gj</string>
      <string>DdhaDdha.gj</string>
    </array>
    <key>public.kern1.Ttha.gj</key>
    <array>
      <string>Ttha.gj</string>
      <string>KaTtha.gj</string>
      <string>NnaTtha.gj</string>
      <string>LaTtha.gj</string>
      <string>SsaTtha.gj</string>
    </array>
    <key>public.kern1.U</key>
    <array>
      <string>U</string>
      <string>Ugrave</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
    </array>
    <key>public.kern1.V</key>
    <array>
      <string>V</string>
    </array>
    <key>public.kern1.VowelA.gj</key>
    <array>
      <string>VowelA.gj</string>
      <string>VowelAa.gj</string>
      <string>VowelUu.gj</string>
      <string>VowelE.gj</string>
      <string>VowelAi.gj</string>
      <string>VowelO.gj</string>
      <string>VowelAu.gj</string>
      <string>Kha.gj</string>
      <string>Ga.gj</string>
      <string>Gha.gj</string>
      <string>Ca.gj</string>
      <string>Nya.gj</string>
      <string>Nna.gj</string>
      <string>Ta.gj</string>
      <string>Tha.gj</string>
      <string>Dha.gj</string>
      <string>Na.gj</string>
      <string>Pa.gj</string>
      <string>Ba.gj</string>
      <string>Bha.gj</string>
      <string>Ma.gj</string>
      <string>Ya.gj</string>
      <string>La.gj</string>
      <string>Lla.gj</string>
      <string>Va.gj</string>
      <string>Sha.gj</string>
      <string>Ssa.gj</string>
      <string>Sa.gj</string>
      <string>MatraA.gj</string>
      <string>MatraIi.gj</string>
      <string>MatraChandraO.gj</string>
      <string>MatraO.gj</string>
      <string>MatraAu.gj</string>
      <string>KhaRa.gj</string>
      <string>GaRa.gj</string>
      <string>GhaRa.gj</string>
      <string>CaRa.gj</string>
      <string>NyaRa.gj</string>
      <string>NnaRa.gj</string>
      <string>TaRa.gj</string>
      <string>ThaRa.gj</string>
      <string>DhaRa.gj</string>
      <string>NaRa.gj</string>
      <string>PaRa.gj</string>
      <string>BaRa.gj</string>
      <string>BhaRa.gj</string>
      <string>MaRa.gj</string>
      <string>YaRa.gj</string>
      <string>LaRa.gj</string>
      <string>LlaRa.gj</string>
      <string>VaRa.gj</string>
      <string>ShaRa.gj</string>
      <string>SsaRa.gj</string>
      <string>SaRa.gj</string>
      <string>KaTha.gj</string>
      <string>KaMa.gj</string>
      <string>KaYa.gj</string>
      <string>KaSha.gj</string>
      <string>KaSsa.gj</string>
      <string>KaSa.gj</string>
      <string>KhaSha.gj</string>
      <string>CaCa.gj</string>
      <string>ChaYa.gj</string>
      <string>JaNya.gj</string>
      <string>JaTa.gj</string>
      <string>JhaYa.gj</string>
      <string>NyaSha.gj</string>
      <string>TtaYa.gj</string>
      <string>TthaYa.gj</string>
      <string>DdaYa.gj</string>
      <string>DdhaYa.gj</string>
      <string>TaTa.gj</string>
      <string>DaMa.gj</string>
      <string>DaYa.gj</string>
      <string>NaGa.gj</string>
      <string>NaTa.gj</string>
      <string>NaTha.gj</string>
      <string>NaNa.gj</string>
      <string>NaMa.gj</string>
      <string>PaCa.gj</string>
      <string>PaMa.gj</string>
      <string>PaSha.gj</string>
      <string>PaSa.gj</string>
      <string>PhaTha.gj</string>
      <string>PhaYa.gj</string>
      <string>PhaSha.gj</string>
      <string>PhaSa.gj</string>
      <string>BaDha.gj</string>
      <string>BaSha.gj</string>
      <string>MaSha.gj</string>
      <string>LaGa.gj</string>
      <string>LaCa.gj</string>
      <string>ShaCa.gj</string>
      <string>ShaVa.gj</string>
      <string>SaTha.gj</string>
      <string>HaMa.gj</string>
      <string>HaYa.gj</string>
      <string>KaTaRa.gj</string>
      <string>TtaTtaYa.gj</string>
      <string>TthaTthaYa.gj</string>
      <string>DdaDdaYa.gj</string>
      <string>TaKaYa.gj</string>
      <string>TaKaSsa.gj</string>
      <string>TaNaYa.gj</string>
      <string>DaDaYa.gj</string>
      <string>DaBhaYa.gj</string>
      <string>DaRaYa.gj</string>
      <string>DaVaYa.gj</string>
      <string>NaKaSa.gj</string>
      <string>NaTaRa.gj</string>
      <string>SaTaRa.gj</string>
      <string>SaThaYa.gj</string>
      <string>NaTaRaYa.gj</string>
      <string>MatraABindu.gj</string>
      <string>MatraAChandrabindu.gj</string>
      <string>MatraAReph.gj</string>
      <string>MatraARephBindu.gj</string>
      <string>MatraARephChandrabindu.gj</string>
      <string>MatraIi1.gj</string>
      <string>MatraIi2.gj</string>
      <string>MatraIi3.gj</string>
      <string>MatraIiBindu.gj</string>
      <string>MatraIiBindu1.gj</string>
      <string>MatraIiBindu2.gj</string>
      <string>MatraIiBindu3.gj</string>
      <string>MatraIiChandrabindu.gj</string>
      <string>MatraIiChandrabindu1.gj</string>
      <string>MatraIiChandrabindu2.gj</string>
      <string>MatraIiChandrabindu3.gj</string>
      <string>MatraIiReph.gj</string>
      <string>MatraIiReph1.gj</string>
      <string>MatraIiReph2.gj</string>
      <string>MatraIiReph3.gj</string>
      <string>MatraIiRephBindu.gj</string>
      <string>MatraIiRephBindu1.gj</string>
      <string>MatraIiRephBindu2.gj</string>
      <string>MatraIiRephBindu3.gj</string>
      <string>MatraIiRephChandrabindu.gj</string>
      <string>MatraIiRephChandrabindu1.gj</string>
      <string>MatraIiRephChandrabindu2.gj</string>
      <string>MatraIiRephChandrabindu3.gj</string>
      <string>MatraOBindu.gj</string>
      <string>MatraAuBindu.gj</string>
      <string>MatraOChandrabindu.gj</string>
      <string>MatraAuChandrabindu.gj</string>
      <string>MatraOReph.gj</string>
      <string>MatraAuReph.gj</string>
      <string>MatraORephBindu.gj</string>
      <string>MatraAuRephBindu.gj</string>
      <string>MatraORephChandrabindu.gj</string>
      <string>MatraAuRephChandrabindu.gj</string>
      <string>_KaSsaComponant</string>
      <string>_BaComponent.gj</string>
      <string>_BhaComponent.gj</string>
      <string>_CaComponent.gj</string>
      <string>_DhaComponent.gj</string>
      <string>_GaComponent.gj</string>
      <string>_GhaComponent.gj</string>
      <string>_KhaComponent.gj</string>
      <string>_LaComponent.gj</string>
      <string>_MaComponent.gj</string>
      <string>_NaComponent.gj</string>
      <string>_NnaComponent.gj</string>
      <string>_PaComponent.gj</string>
      <string>_SaComponent.gj</string>
      <string>_ShaComponent.gj</string>
      <string>_SsaComponent.gj</string>
      <string>_TaComponent.gj</string>
      <string>_ThaComponent.gj</string>
      <string>_VaComponent.gj</string>
      <string>_YaComponent.gj</string>
    </array>
    <key>public.kern1.VowelI.gj</key>
    <array>
      <string>VowelI.gj</string>
    </array>
    <key>public.kern1.VowelIi.gj</key>
    <array>
      <string>VowelIi.gj</string>
    </array>
    <key>public.kern1.VowelLru.gj</key>
    <array>
      <string>VowelLru.gj</string>
      <string>VowelLruu.gj</string>
    </array>
    <key>public.kern1.W</key>
    <array>
      <string>W</string>
    </array>
    <key>public.kern1.X</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern1.Y</key>
    <array>
      <string>Y</string>
      <string>yen</string>
      <string>Yacute</string>
    </array>
    <key>public.kern1.Z</key>
    <array>
      <string>Z</string>
    </array>
    <key>public.kern1.a</key>
    <array>
      <string>a</string>
      <string>agrave</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>atilde</string>
      <string>adieresis</string>
      <string>aring</string>
    </array>
    <key>public.kern1.b</key>
    <array>
      <string>b</string>
      <string>p</string>
      <string>thorn</string>
    </array>
    <key>public.kern1.bar</key>
    <array>
      <string>bar</string>
      <string>brokenbar</string>
    </array>
    <key>public.kern1.c</key>
    <array>
      <string>c</string>
      <string>cent</string>
      <string>ccedilla</string>
    </array>
    <key>public.kern1.d</key>
    <array>
      <string>d</string>
    </array>
    <key>public.kern1.e</key>
    <array>
      <string>e</string>
      <string>oe</string>
      <string>ae</string>
      <string>egrave</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
    </array>
    <key>public.kern1.eightsuperior</key>
    <array>
      <string>eight.subs</string>
      <string>eight.dnom</string>
      <string>eightinferior</string>
      <string>eight.numr</string>
      <string>eightsuperior</string>
    </array>
    <key>public.kern1.f</key>
    <array>
      <string>f</string>
      <string>f_f</string>
    </array>
    <key>public.kern1.fivesuperior</key>
    <array>
      <string>five.subs</string>
      <string>five.dnom</string>
      <string>fiveinferior</string>
      <string>five.numr</string>
      <string>fivesuperior</string>
    </array>
    <key>public.kern1.foursuperior</key>
    <array>
      <string>four.subs</string>
      <string>four.dnom</string>
      <string>fourinferior</string>
      <string>four.numr</string>
      <string>foursuperior</string>
    </array>
    <key>public.kern1.g</key>
    <array>
      <string>g</string>
    </array>
    <key>public.kern1.guilsinglleft</key>
    <array>
      <string>guilsinglleft</string>
      <string>guillemetleft</string>
    </array>
    <key>public.kern1.guilsinglright</key>
    <array>
      <string>guilsinglright</string>
      <string>guillemetright</string>
    </array>
    <key>public.kern1.hyphen</key>
    <array>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>minus</string>
      <string>softhyphen</string>
    </array>
    <key>public.kern1.i</key>
    <array>
      <string>i</string>
      <string>igrave</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>fi</string>
      <string>f_f_i</string>
    </array>
    <key>public.kern1.j</key>
    <array>
      <string>j</string>
    </array>
    <key>public.kern1.k</key>
    <array>
      <string>k</string>
    </array>
    <key>public.kern1.l</key>
    <array>
      <string>l</string>
      <string>fl</string>
      <string>f_f_l</string>
    </array>
    <key>public.kern1.n</key>
    <array>
      <string>h</string>
      <string>m</string>
      <string>n</string>
      <string>ntilde</string>
    </array>
    <key>public.kern1.ninesuperior</key>
    <array>
      <string>nine.subs</string>
      <string>nine.dnom</string>
      <string>nineinferior</string>
      <string>nine.numr</string>
      <string>ninesuperior</string>
    </array>
    <key>public.kern1.o</key>
    <array>
      <string>o</string>
      <string>eth</string>
      <string>ograve</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>otilde</string>
      <string>odieresis</string>
      <string>oslash</string>
    </array>
    <key>public.kern1.onesuperior</key>
    <array>
      <string>onesuperior</string>
      <string>one.subs</string>
      <string>one.dnom</string>
      <string>oneinferior</string>
      <string>one.numr</string>
    </array>
    <key>public.kern1.parenleft</key>
    <array>
      <string>parenleft</string>
      <string>bracketleft</string>
      <string>braceleft</string>
    </array>
    <key>public.kern1.parenright</key>
    <array>
      <string>parenright</string>
      <string>bracketright</string>
      <string>braceright</string>
    </array>
    <key>public.kern1.period</key>
    <array>
      <string>period</string>
      <string>ellipsis</string>
    </array>
    <key>public.kern1.plus</key>
    <array>
      <string>plus</string>
      <string>divide</string>
    </array>
    <key>public.kern1.q</key>
    <array>
      <string>q</string>
    </array>
    <key>public.kern1.question</key>
    <array>
      <string>question</string>
      <string>question_alt</string>
    </array>
    <key>public.kern1.quoteleft</key>
    <array>
      <string>quoteleft</string>
      <string>quotedblleft</string>
    </array>
    <key>public.kern1.quoteright</key>
    <array>
      <string>quoteright</string>
      <string>quotedblright</string>
    </array>
    <key>public.kern1.quotesingle</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern1.r</key>
    <array>
      <string>r</string>
    </array>
    <key>public.kern1.s</key>
    <array>
      <string>s</string>
    </array>
    <key>public.kern1.sevensuperior</key>
    <array>
      <string>seven.subs</string>
      <string>seven.dnom</string>
      <string>seveninferior</string>
      <string>seven.numr</string>
      <string>sevensuperior</string>
    </array>
    <key>public.kern1.sixsuperior</key>
    <array>
      <string>six.subs</string>
      <string>six.dnom</string>
      <string>sixinferior</string>
      <string>six.numr</string>
      <string>sixsuperior</string>
    </array>
    <key>public.kern1.t</key>
    <array>
      <string>t</string>
      <string>r_t</string>
    </array>
    <key>public.kern1.threesuperior</key>
    <array>
      <string>threesuperior</string>
      <string>three.subs</string>
      <string>three.dnom</string>
      <string>threeinferior</string>
      <string>three.numr</string>
    </array>
    <key>public.kern1.twosuperior</key>
    <array>
      <string>twosuperior</string>
      <string>two.subs</string>
      <string>two.dnom</string>
      <string>twoinferior</string>
      <string>two.numr</string>
    </array>
    <key>public.kern1.u</key>
    <array>
      <string>u</string>
      <string>ugrave</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>idotless</string>
      <string>micro</string>
    </array>
    <key>public.kern1.v</key>
    <array>
      <string>v</string>
      <string>y</string>
      <string>yacute</string>
      <string>ydieresis</string>
    </array>
    <key>public.kern1.w</key>
    <array>
      <string>w</string>
    </array>
    <key>public.kern1.x</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern1.z</key>
    <array>
      <string>z</string>
    </array>
    <key>public.kern1.zero</key>
    <array>
      <string>zero</string>
      <string>zero.zero</string>
      <string>zero.tf.zero</string>
    </array>
    <key>public.kern1.zerosuperior</key>
    <array>
      <string>zero.subs</string>
      <string>zero.dnom</string>
      <string>zeroinferior</string>
      <string>zero.numr</string>
      <string>zerosuperior</string>
    </array>
  </dict>
</plist>
