<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
      <string>Agrave</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Atilde</string>
      <string>Aring</string>
      <string>Adieresis</string>
    </array>
    <key>public.kern1.B</key>
    <array>
      <string>B</string>
    </array>
    <key>public.kern1.C</key>
    <array>
      <string>C</string>
      <string>Ccedilla</string>
    </array>
    <key>public.kern1.Cha.gj</key>
    <array>
      <string>Cha.gj</string>
      <string>KaCha.gj</string>
      <string>CaCha.gj</string>
      <string>ChaVa.gj</string>
      <string>NyaCha.gj</string>
      <string>NaCha.gj</string>
      <string>PaCha.gj</string>
      <string>ShaCha.gj</string>
      <string>CaChaVa.gj</string>
      <string>_ChaComponent.gj</string>
    </array>
    <key>public.kern1.D</key>
    <array>
      <string>D</string>
      <string>Eth</string>
    </array>
    <key>public.kern1.Da.gj</key>
    <array>
      <string>Da.gj</string>
      <string>KaDa.gj</string>
      <string>GaDa.gj</string>
      <string>NaDa.gj</string>
      <string>BaDa.gj</string>
      <string>MaDa.gj</string>
      <string>LaDa.gj</string>
      <string>SaDa.gj</string>
      <string>LaVaDa.gj</string>
      <string>_DaComponent.gj</string>
    </array>
    <key>public.kern1.DaGa.gj</key>
    <array>
      <string>DaRa.gj</string>
      <string>DaGa.gj</string>
      <string>DaGha.gj</string>
      <string>DaDha.gj</string>
      <string>DaNa.gj</string>
      <string>DaBa.gj</string>
      <string>DaBha.gj</string>
      <string>DaVa.gj</string>
      <string>NaDaRa.gj</string>
      <string>NaDaVa.gj</string>
      <string>LaDaRa.gj</string>
      <string>DaMatraRu.gj</string>
    </array>
    <key>public.kern1.Dda.gj</key>
    <array>
      <string>Dda.gj</string>
      <string>KaDda.gj</string>
      <string>GaDda.gj</string>
      <string>JaDda.gj</string>
      <string>NnaDda.gj</string>
      <string>NaDda.gj</string>
      <string>PaDda.gj</string>
      <string>BaDda.gj</string>
      <string>LaDda.gj</string>
      <string>VaDda.gj</string>
      <string>ShaDda.gj</string>
      <string>SaDda.gj</string>
      <string>KaSaDda.gj</string>
      <string>_DdaComponent.gj</string>
    </array>
    <key>public.kern1.DdaGa.gj</key>
    <array>
      <string>DdaGa.gj</string>
      <string>DdaDdha.gj</string>
      <string>DdaNa.gj</string>
      <string>DdaVa.gj</string>
    </array>
    <key>public.kern1.Ddha.gj</key>
    <array>
      <string>Ddha.gj</string>
      <string>NnaDdha.gj</string>
    </array>
    <key>public.kern1.E</key>
    <array>
      <string>E</string>
      <string>OE</string>
      <string>AE</string>
      <string>Egrave</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
    </array>
    <key>public.kern1.F</key>
    <array>
      <string>F</string>
    </array>
    <key>public.kern1.G</key>
    <array>
      <string>G</string>
    </array>
    <key>public.kern1.H</key>
    <array>
      <string>H</string>
      <string>N</string>
      <string>paragraph</string>
      <string>Ntilde</string>
    </array>
    <key>public.kern1.Ha.gj</key>
    <array>
      <string>Ha.gj</string>
      <string>NaHa.gj</string>
      <string>BaHa.gj</string>
      <string>MaHa.gj</string>
      <string>LaHa.gj</string>
      <string>VaHa.gj</string>
      <string>ShaHa.gj</string>
      <string>HaNna.gj</string>
      <string>HaNa.gj</string>
      <string>HaLa.gj</string>
      <string>HaVa.gj</string>
      <string>HaRu.gj</string>
      <string>_HaComponent.gj</string>
    </array>
    <key>public.kern1.I</key>
    <array>
      <string>I</string>
      <string>Igrave</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
    </array>
    <key>public.kern1.J</key>
    <array>
      <string>J</string>
    </array>
    <key>public.kern1.Ja.gj</key>
    <array>
      <string>Zha.gj</string>
    </array>
    <key>public.kern1.Jha.gj</key>
    <array>
      <string>Jha.gj</string>
      <string>JhaRa.gj</string>
      <string>KaJha.gj</string>
      <string>KhaJha.gj</string>
      <string>GaJha.gj</string>
      <string>JaJha.gj</string>
      <string>NyaJha.gj</string>
      <string>NaJha.gj</string>
      <string>BaJha.gj</string>
      <string>YaJha.gj</string>
      <string>VaJha.gj</string>
      <string>_JhaComponent.gj</string>
    </array>
    <key>public.kern1.K</key>
    <array>
      <string>K</string>
    </array>
    <key>public.kern1.Ka.gj</key>
    <array>
      <string>Ka.gj</string>
      <string>Pha.gj</string>
      <string>KaRa.gj</string>
      <string>PhaRa.gj</string>
      <string>KaKa.gj</string>
      <string>KaPha.gj</string>
      <string>TaKa.gj</string>
      <string>TaPha.gj</string>
      <string>NaKa.gj</string>
      <string>NaPha.gj</string>
      <string>PaKa.gj</string>
      <string>PaPha.gj</string>
      <string>PhaPha.gj</string>
      <string>MaKa.gj</string>
      <string>MaPha.gj</string>
      <string>LaKa.gj</string>
      <string>LaPha.gj</string>
      <string>ShaKa.gj</string>
      <string>ShaPha.gj</string>
      <string>SsaKa.gj</string>
      <string>SsaPha.gj</string>
      <string>SaKa.gj</string>
      <string>SaPha.gj</string>
      <string>KaKaRa.gj</string>
      <string>TaKaRa.gj</string>
      <string>NaKaRa.gj</string>
      <string>NaPhaRa.gj</string>
      <string>NaSaKa.gj</string>
      <string>BaSaKa.gj</string>
      <string>LaPhaRa.gj</string>
      <string>SsaKaRa.gj</string>
      <string>SaKaRa.gj</string>
      <string>NaSaKaRa.gj</string>
      <string>_PhaComponent.gj</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>L</string>
    </array>
    <key>public.kern1.M</key>
    <array>
      <string>M</string>
    </array>
    <key>public.kern1.NgaMa.gj</key>
    <array>
      <string>NgaKa.gj</string>
      <string>NgaGa.gj</string>
      <string>NgaMa.gj</string>
      <string>NgaYa.gj</string>
    </array>
    <key>public.kern1.O</key>
    <array>
      <string>O</string>
      <string>Ograve</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Otilde</string>
      <string>Odieresis</string>
      <string>Oslash</string>
    </array>
    <key>public.kern1.P</key>
    <array>
      <string>P</string>
    </array>
    <key>public.kern1.Q</key>
    <array>
      <string>Q</string>
    </array>
    <key>public.kern1.R</key>
    <array>
      <string>R</string>
    </array>
    <key>public.kern1.S</key>
    <array>
      <string>dollar</string>
      <string>S</string>
    </array>
    <key>public.kern1.T</key>
    <array>
      <string>T</string>
    </array>
    <key>public.kern1.Tta.gj</key>
    <array>
      <string>Tta.gj</string>
      <string>KaTta.gj</string>
      <string>JaTta.gj</string>
      <string>NnaTta.gj</string>
      <string>NaTta.gj</string>
      <string>PaTta.gj</string>
      <string>PhaTta.gj</string>
      <string>LaTta.gj</string>
      <string>ShaTta.gj</string>
      <string>SsaTta.gj</string>
      <string>SaTta.gj</string>
      <string>KaSsaTta.gj</string>
      <string>KaSaTta.gj</string>
      <string>NaSaTta.gj</string>
      <string>BaSaTta.gj</string>
      <string>_TtaComponent.gj</string>
    </array>
    <key>public.kern1.TtaTta.gj</key>
    <array>
      <string>TtaTta.gj</string>
      <string>TtaTtha.gj</string>
      <string>TtaVa.gj</string>
      <string>TthaTtha.gj</string>
      <string>DdhaDdha.gj</string>
    </array>
    <key>public.kern1.Ttha.gj</key>
    <array>
      <string>Ttha.gj</string>
      <string>KaTtha.gj</string>
      <string>NnaTtha.gj</string>
      <string>LaTtha.gj</string>
      <string>SsaTtha.gj</string>
    </array>
    <key>public.kern1.U</key>
    <array>
      <string>U</string>
      <string>Ugrave</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
    </array>
    <key>public.kern1.V</key>
    <array>
      <string>V</string>
    </array>
    <key>public.kern1.VowelA.gj</key>
    <array>
      <string>VowelA.gj</string>
      <string>VowelAa.gj</string>
      <string>VowelUu.gj</string>
      <string>VowelE.gj</string>
      <string>VowelAi.gj</string>
      <string>VowelO.gj</string>
      <string>VowelAu.gj</string>
      <string>Kha.gj</string>
      <string>Ga.gj</string>
      <string>Gha.gj</string>
      <string>Ca.gj</string>
      <string>Nya.gj</string>
      <string>Nna.gj</string>
      <string>Ta.gj</string>
      <string>Tha.gj</string>
      <string>Dha.gj</string>
      <string>Na.gj</string>
      <string>Pa.gj</string>
      <string>Ba.gj</string>
      <string>Bha.gj</string>
      <string>Ma.gj</string>
      <string>Ya.gj</string>
      <string>La.gj</string>
      <string>Lla.gj</string>
      <string>Va.gj</string>
      <string>Sha.gj</string>
      <string>Ssa.gj</string>
      <string>Sa.gj</string>
      <string>MatraA.gj</string>
      <string>MatraIi.gj</string>
      <string>MatraChandraO.gj</string>
      <string>MatraO.gj</string>
      <string>MatraAu.gj</string>
      <string>KhaRa.gj</string>
      <string>GaRa.gj</string>
      <string>GhaRa.gj</string>
      <string>CaRa.gj</string>
      <string>NyaRa.gj</string>
      <string>NnaRa.gj</string>
      <string>TaRa.gj</string>
      <string>ThaRa.gj</string>
      <string>DhaRa.gj</string>
      <string>NaRa.gj</string>
      <string>PaRa.gj</string>
      <string>BaRa.gj</string>
      <string>BhaRa.gj</string>
      <string>MaRa.gj</string>
      <string>YaRa.gj</string>
      <string>LaRa.gj</string>
      <string>LlaRa.gj</string>
      <string>VaRa.gj</string>
      <string>ShaRa.gj</string>
      <string>SsaRa.gj</string>
      <string>SaRa.gj</string>
      <string>KaTha.gj</string>
      <string>KaMa.gj</string>
      <string>KaYa.gj</string>
      <string>KaSha.gj</string>
      <string>KaSsa.gj</string>
      <string>KaSa.gj</string>
      <string>KhaSha.gj</string>
      <string>CaCa.gj</string>
      <string>ChaYa.gj</string>
      <string>JaNya.gj</string>
      <string>JaTa.gj</string>
      <string>JhaYa.gj</string>
      <string>NyaSha.gj</string>
      <string>TtaYa.gj</string>
      <string>TthaYa.gj</string>
      <string>DdaYa.gj</string>
      <string>DdhaYa.gj</string>
      <string>TaTa.gj</string>
      <string>DaMa.gj</string>
      <string>DaYa.gj</string>
      <string>NaGa.gj</string>
      <string>NaTa.gj</string>
      <string>NaTha.gj</string>
      <string>NaNa.gj</string>
      <string>NaMa.gj</string>
      <string>PaCa.gj</string>
      <string>PaMa.gj</string>
      <string>PaSha.gj</string>
      <string>PaSa.gj</string>
      <string>PhaTha.gj</string>
      <string>PhaYa.gj</string>
      <string>PhaSha.gj</string>
      <string>PhaSa.gj</string>
      <string>BaDha.gj</string>
      <string>BaSha.gj</string>
      <string>MaSha.gj</string>
      <string>LaGa.gj</string>
      <string>LaCa.gj</string>
      <string>ShaCa.gj</string>
      <string>ShaVa.gj</string>
      <string>SaTha.gj</string>
      <string>HaMa.gj</string>
      <string>HaYa.gj</string>
      <string>KaTaRa.gj</string>
      <string>TtaTtaYa.gj</string>
      <string>TthaTthaYa.gj</string>
      <string>DdaDdaYa.gj</string>
      <string>TaKaYa.gj</string>
      <string>TaKaSsa.gj</string>
      <string>TaNaYa.gj</string>
      <string>DaDaYa.gj</string>
      <string>DaBhaYa.gj</string>
      <string>DaRaYa.gj</string>
      <string>DaVaYa.gj</string>
      <string>NaKaSa.gj</string>
      <string>NaTaRa.gj</string>
      <string>SaTaRa.gj</string>
      <string>SaThaYa.gj</string>
      <string>NaTaRaYa.gj</string>
      <string>MatraABindu.gj</string>
      <string>MatraAChandrabindu.gj</string>
      <string>MatraAReph.gj</string>
      <string>MatraARephBindu.gj</string>
      <string>MatraARephChandrabindu.gj</string>
      <string>MatraIi1.gj</string>
      <string>MatraIi2.gj</string>
      <string>MatraIi3.gj</string>
      <string>MatraIiBindu.gj</string>
      <string>MatraIiBindu1.gj</string>
      <string>MatraIiBindu2.gj</string>
      <string>MatraIiBindu3.gj</string>
      <string>MatraIiChandrabindu.gj</string>
      <string>MatraIiChandrabindu1.gj</string>
      <string>MatraIiChandrabindu2.gj</string>
      <string>MatraIiChandrabindu3.gj</string>
      <string>MatraIiReph.gj</string>
      <string>MatraIiReph1.gj</string>
      <string>MatraIiReph2.gj</string>
      <string>MatraIiReph3.gj</string>
      <string>MatraIiRephBindu.gj</string>
      <string>MatraIiRephBindu1.gj</string>
      <string>MatraIiRephBindu2.gj</string>
      <string>MatraIiRephBindu3.gj</string>
      <string>MatraIiRephChandrabindu.gj</string>
      <string>MatraIiRephChandrabindu1.gj</string>
      <string>MatraIiRephChandrabindu2.gj</string>
      <string>MatraIiRephChandrabindu3.gj</string>
      <string>MatraOBindu.gj</string>
      <string>MatraAuBindu.gj</string>
      <string>MatraOChandrabindu.gj</string>
      <string>MatraAuChandrabindu.gj</string>
      <string>MatraOReph.gj</string>
      <string>MatraAuReph.gj</string>
      <string>MatraORephBindu.gj</string>
      <string>MatraAuRephBindu.gj</string>
      <string>MatraORephChandrabindu.gj</string>
      <string>MatraAuRephChandrabindu.gj</string>
      <string>_KaSsaComponant</string>
      <string>_BaComponent.gj</string>
      <string>_BhaComponent.gj</string>
      <string>_CaComponent.gj</string>
      <string>_DhaComponent.gj</string>
      <string>_GaComponent.gj</string>
      <string>_GhaComponent.gj</string>
      <string>_KhaComponent.gj</string>
      <string>_LaComponent.gj</string>
      <string>_MaComponent.gj</string>
      <string>_NaComponent.gj</string>
      <string>_NnaComponent.gj</string>
      <string>_PaComponent.gj</string>
      <string>_SaComponent.gj</string>
      <string>_ShaComponent.gj</string>
      <string>_SsaComponent.gj</string>
      <string>_TaComponent.gj</string>
      <string>_ThaComponent.gj</string>
      <string>_VaComponent.gj</string>
      <string>_YaComponent.gj</string>
    </array>
    <key>public.kern1.VowelI.gj</key>
    <array>
      <string>VowelI.gj</string>
    </array>
    <key>public.kern1.VowelIi.gj</key>
    <array>
      <string>VowelIi.gj</string>
    </array>
    <key>public.kern1.VowelLru.gj</key>
    <array>
      <string>VowelLru.gj</string>
      <string>VowelLruu.gj</string>
    </array>
    <key>public.kern1.W</key>
    <array>
      <string>W</string>
    </array>
    <key>public.kern1.X</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern1.Y</key>
    <array>
      <string>Y</string>
      <string>yen</string>
      <string>Yacute</string>
    </array>
    <key>public.kern1.Z</key>
    <array>
      <string>Z</string>
    </array>
    <key>public.kern1.a</key>
    <array>
      <string>a</string>
      <string>agrave</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>atilde</string>
      <string>adieresis</string>
      <string>aring</string>
    </array>
    <key>public.kern1.b</key>
    <array>
      <string>b</string>
      <string>p</string>
      <string>thorn</string>
    </array>
    <key>public.kern1.bar</key>
    <array>
      <string>bar</string>
      <string>brokenbar</string>
    </array>
    <key>public.kern1.c</key>
    <array>
      <string>c</string>
      <string>cent</string>
      <string>ccedilla</string>
    </array>
    <key>public.kern1.d</key>
    <array>
      <string>d</string>
    </array>
    <key>public.kern1.e</key>
    <array>
      <string>e</string>
      <string>oe</string>
      <string>ae</string>
      <string>egrave</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
    </array>
    <key>public.kern1.eightsuperior</key>
    <array>
      <string>eight.subs</string>
      <string>eight.dnom</string>
      <string>eightinferior</string>
      <string>eight.numr</string>
      <string>eightsuperior</string>
    </array>
    <key>public.kern1.f</key>
    <array>
      <string>f</string>
      <string>f_f</string>
    </array>
    <key>public.kern1.fivesuperior</key>
    <array>
      <string>five.subs</string>
      <string>five.dnom</string>
      <string>fiveinferior</string>
      <string>five.numr</string>
      <string>fivesuperior</string>
    </array>
    <key>public.kern1.foursuperior</key>
    <array>
      <string>four.subs</string>
      <string>four.dnom</string>
      <string>fourinferior</string>
      <string>four.numr</string>
      <string>foursuperior</string>
    </array>
    <key>public.kern1.g</key>
    <array>
      <string>g</string>
    </array>
    <key>public.kern1.guilsinglleft</key>
    <array>
      <string>guilsinglleft</string>
      <string>guillemetleft</string>
    </array>
    <key>public.kern1.guilsinglright</key>
    <array>
      <string>guilsinglright</string>
      <string>guillemetright</string>
    </array>
    <key>public.kern1.hyphen</key>
    <array>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>minus</string>
      <string>softhyphen</string>
    </array>
    <key>public.kern1.i</key>
    <array>
      <string>i</string>
      <string>igrave</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>fi</string>
      <string>f_f_i</string>
    </array>
    <key>public.kern1.j</key>
    <array>
      <string>j</string>
    </array>
    <key>public.kern1.k</key>
    <array>
      <string>k</string>
    </array>
    <key>public.kern1.l</key>
    <array>
      <string>l</string>
      <string>fl</string>
      <string>f_f_l</string>
    </array>
    <key>public.kern1.n</key>
    <array>
      <string>h</string>
      <string>m</string>
      <string>n</string>
      <string>ntilde</string>
    </array>
    <key>public.kern1.ninesuperior</key>
    <array>
      <string>nine.subs</string>
      <string>nine.dnom</string>
      <string>nineinferior</string>
      <string>nine.numr</string>
      <string>ninesuperior</string>
    </array>
    <key>public.kern1.o</key>
    <array>
      <string>o</string>
      <string>eth</string>
      <string>ograve</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>otilde</string>
      <string>odieresis</string>
      <string>oslash</string>
    </array>
    <key>public.kern1.onesuperior</key>
    <array>
      <string>onesuperior</string>
      <string>one.subs</string>
      <string>one.dnom</string>
      <string>oneinferior</string>
      <string>one.numr</string>
    </array>
    <key>public.kern1.parenleft</key>
    <array>
      <string>parenleft</string>
      <string>bracketleft</string>
      <string>braceleft</string>
    </array>
    <key>public.kern1.parenright</key>
    <array>
      <string>parenright</string>
      <string>bracketright</string>
      <string>braceright</string>
    </array>
    <key>public.kern1.period</key>
    <array>
      <string>period</string>
      <string>ellipsis</string>
    </array>
    <key>public.kern1.plus</key>
    <array>
      <string>plus</string>
      <string>divide</string>
    </array>
    <key>public.kern1.q</key>
    <array>
      <string>q</string>
    </array>
    <key>public.kern1.question</key>
    <array>
      <string>question</string>
      <string>question_alt</string>
    </array>
    <key>public.kern1.quoteleft</key>
    <array>
      <string>quoteleft</string>
      <string>quotedblleft</string>
    </array>
    <key>public.kern1.quoteright</key>
    <array>
      <string>quoteright</string>
      <string>quotedblright</string>
    </array>
    <key>public.kern1.quotesingle</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern1.r</key>
    <array>
      <string>r</string>
    </array>
    <key>public.kern1.s</key>
    <array>
      <string>s</string>
    </array>
    <key>public.kern1.sevensuperior</key>
    <array>
      <string>seven.subs</string>
      <string>seven.dnom</string>
      <string>seveninferior</string>
      <string>seven.numr</string>
      <string>sevensuperior</string>
    </array>
    <key>public.kern1.sixsuperior</key>
    <array>
      <string>six.subs</string>
      <string>six.dnom</string>
      <string>sixinferior</string>
      <string>six.numr</string>
      <string>sixsuperior</string>
    </array>
    <key>public.kern1.t</key>
    <array>
      <string>t</string>
      <string>r_t</string>
    </array>
    <key>public.kern1.threesuperior</key>
    <array>
      <string>threesuperior</string>
      <string>three.subs</string>
      <string>three.dnom</string>
      <string>threeinferior</string>
      <string>three.numr</string>
    </array>
    <key>public.kern1.twosuperior</key>
    <array>
      <string>twosuperior</string>
      <string>two.subs</string>
      <string>two.dnom</string>
      <string>twoinferior</string>
      <string>two.numr</string>
    </array>
    <key>public.kern1.u</key>
    <array>
      <string>u</string>
      <string>ugrave</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>idotless</string>
      <string>micro</string>
    </array>
    <key>public.kern1.v</key>
    <array>
      <string>v</string>
      <string>y</string>
      <string>yacute</string>
      <string>ydieresis</string>
    </array>
    <key>public.kern1.w</key>
    <array>
      <string>w</string>
    </array>
    <key>public.kern1.x</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern1.z</key>
    <array>
      <string>z</string>
    </array>
    <key>public.kern1.zero</key>
    <array>
      <string>zero</string>
      <string>zero.zero</string>
      <string>zero.tf.zero</string>
    </array>
    <key>public.kern1.zerosuperior</key>
    <array>
      <string>zero.subs</string>
      <string>zero.dnom</string>
      <string>zeroinferior</string>
      <string>zero.numr</string>
      <string>zerosuperior</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
    </array>
    <key>public.kern2.Ba.gj</key>
    <array>
      <string>Ba.gj</string>
      <string>Lla.gj</string>
      <string>BaHalf.gj</string>
      <string>LlaHalf.gj</string>
      <string>BaRa.gj</string>
      <string>LlaRa.gj</string>
      <string>BaJha.gj</string>
      <string>BaDda.gj</string>
      <string>BaTa.gj</string>
      <string>BaDa.gj</string>
      <string>BaDha.gj</string>
      <string>BaNa.gj</string>
      <string>BaBa.gj</string>
      <string>BaBha.gj</string>
      <string>BaYa.gj</string>
      <string>BaLa.gj</string>
      <string>BaVa.gj</string>
      <string>BaSha.gj</string>
      <string>BaSa.gj</string>
      <string>BaHa.gj</string>
      <string>LlaYa.gj</string>
      <string>BaJaYa.gj</string>
      <string>BaDhaVa.gj</string>
      <string>BaLaYa.gj</string>
      <string>BaSaKa.gj</string>
      <string>BaSaTta.gj</string>
      <string>_BaComponent.gj</string>
    </array>
    <key>public.kern2.Bha.gj</key>
    <array>
      <string>Bha.gj</string>
      <string>BhaHalf.gj</string>
      <string>BhaRa.gj</string>
      <string>BhaNa.gj</string>
      <string>BhaBha.gj</string>
      <string>BhaYa.gj</string>
      <string>BhaLa.gj</string>
      <string>BhaVa.gj</string>
      <string>BhaRaYa.gj</string>
      <string>BhaRaHalf.gj</string>
      <string>_BhaComponent.gj</string>
    </array>
    <key>public.kern2.Ca.gj</key>
    <array>
      <string>Ca.gj</string>
      <string>CaCa.gj</string>
      <string>CaCha.gj</string>
      <string>CaNa.gj</string>
      <string>CaMa.gj</string>
      <string>CaYa.gj</string>
      <string>CaVa.gj</string>
      <string>CaChaVa.gj</string>
    </array>
    <key>public.kern2.Cha.gj</key>
    <array>
      <string>ChaRaYa.gj</string>
    </array>
    <key>public.kern2.DaBha.gj</key>
    <array>
      <string>DaBha.gj</string>
      <string>DaBhaYa.gj</string>
    </array>
    <key>public.kern2.DaGa.gj</key>
    <array>
      <string>DaRa.gj</string>
      <string>DaGa.gj</string>
      <string>DaNa.gj</string>
      <string>DaBa.gj</string>
      <string>DaVa.gj</string>
      <string>DaRaYa.gj</string>
      <string>DaVaYa.gj</string>
      <string>DaMatraRu.gj</string>
    </array>
    <key>public.kern2.Dda.gj</key>
    <array>
      <string>Nga.gj</string>
      <string>Dda.gj</string>
      <string>DdaYa.gj</string>
      <string>_DdaComponent.gj</string>
    </array>
    <key>public.kern2.DdaDda.gj</key>
    <array>
      <string>DdaDdaYa.gj</string>
    </array>
    <key>public.kern2.DdaGa.gj</key>
    <array>
      <string>DdaGa.gj</string>
      <string>DdaDdha.gj</string>
      <string>DdaNa.gj</string>
      <string>DdaVa.gj</string>
    </array>
    <key>public.kern2.Ddha.gj</key>
    <array>
      <string>Ddha.gj</string>
      <string>DdhaYa.gj</string>
    </array>
    <key>public.kern2.Ga.gj</key>
    <array>
      <string>Ga.gj</string>
      <string>GaHalf.gj</string>
      <string>GaRa.gj</string>
      <string>GaGa.gj</string>
      <string>GaGha.gj</string>
      <string>GaJha.gj</string>
      <string>GaDda.gj</string>
      <string>GaNna.gj</string>
      <string>GaDa.gj</string>
      <string>GaDha.gj</string>
      <string>GaNa.gj</string>
      <string>GaBa.gj</string>
      <string>GaBha.gj</string>
      <string>GaMa.gj</string>
      <string>GaYa.gj</string>
      <string>GaLa.gj</string>
      <string>GaVa.gj</string>
      <string>GaSa.gj</string>
      <string>GaDhaYa.gj</string>
      <string>GaDhaVa.gj</string>
      <string>GaRaYa.gj</string>
      <string>GaRaHalf.gj</string>
      <string>_GaComponent.gj</string>
    </array>
    <key>public.kern2.Gha.gj</key>
    <array>
      <string>Gha.gj</string>
      <string>Dha.gj</string>
      <string>GhaHalf.gj</string>
      <string>DhaHalf.gj</string>
      <string>GhaRa.gj</string>
      <string>DhaRa.gj</string>
      <string>GhaGha.gj</string>
      <string>GhaNa.gj</string>
      <string>GhaMa.gj</string>
      <string>GhaYa.gj</string>
      <string>GhaVa.gj</string>
      <string>DaYa.gj</string>
      <string>DhaDha.gj</string>
      <string>DhaNa.gj</string>
      <string>DhaMa.gj</string>
      <string>DhaYa.gj</string>
      <string>DhaVa.gj</string>
      <string>DhaNaYa.gj</string>
      <string>_DhaComponent.gj</string>
      <string>_GhaComponent.gj</string>
    </array>
    <key>public.kern2.H</key>
    <array>
      <string>B</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>H</string>
      <string>K</string>
      <string>L</string>
      <string>N</string>
      <string>P</string>
      <string>R</string>
    </array>
    <key>public.kern2.Ha.gj</key>
    <array>
      <string>Ha.gj</string>
      <string>HaRa.gj</string>
      <string>HaNna.gj</string>
      <string>HaNa.gj</string>
      <string>HaMa.gj</string>
      <string>HaYa.gj</string>
      <string>HaLa.gj</string>
      <string>HaVa.gj</string>
      <string>HaMaYa.gj</string>
      <string>HaMaHalf.gj</string>
      <string>HaRu.gj</string>
      <string>_HaComponent.gj</string>
    </array>
    <key>public.kern2.I</key>
    <array>
      <string>I</string>
    </array>
    <key>public.kern2.J</key>
    <array>
      <string>J</string>
    </array>
    <key>public.kern2.Ja.gj</key>
    <array>
      <string>Ja.gj</string>
      <string>JaHalf.gj</string>
      <string>JaJha.gj</string>
      <string>JaTta.gj</string>
      <string>JaDda.gj</string>
      <string>JaTa.gj</string>
      <string>JaNa.gj</string>
      <string>JaBa.gj</string>
      <string>JaMa.gj</string>
      <string>JaYa.gj</string>
      <string>JaVa.gj</string>
      <string>JaJaYa.gj</string>
      <string>JaJaVa.gj</string>
      <string>JaMatraAa.gj</string>
      <string>JaMatraIi.gj</string>
      <string>JaMatraChandraO.gj</string>
      <string>JaMatraO.gj</string>
      <string>JaMatraAu.gj</string>
      <string>JaMatraOBindu.gj</string>
      <string>JaMatraAuBindu.gj</string>
      <string>JaMatraOReph.gj</string>
      <string>JaMatraAuReph.gj</string>
      <string>JaMatraORephBindu.gj</string>
      <string>JaMatraAuRephBindu.gj</string>
      <string>JaMatraORephChandrabindu.gj</string>
      <string>JaMatraAuRephChandrabindu.gj</string>
      <string>_JaComponent.gj</string>
    </array>
    <key>public.kern2.JaNya.gj</key>
    <array>
      <string>JaNyaHalf.gj</string>
      <string>JaNya.gj</string>
      <string>JaNyaMatraU.gj</string>
    </array>
    <key>public.kern2.Jha.gj</key>
    <array>
      <string>Jha.gj</string>
      <string>JhaRa.gj</string>
      <string>JhaYa.gj</string>
      <string>_JhaComponent.gj</string>
    </array>
    <key>public.kern2.Ka.gj</key>
    <array>
      <string>Ka.gj</string>
      <string>Pha.gj</string>
      <string>KaHalf.gj</string>
      <string>PhaHalf.gj</string>
      <string>KaRa.gj</string>
      <string>PhaRa.gj</string>
      <string>KaKa.gj</string>
      <string>KaKha.gj</string>
      <string>KaCa.gj</string>
      <string>KaCha.gj</string>
      <string>KaJha.gj</string>
      <string>KaTta.gj</string>
      <string>KaTtha.gj</string>
      <string>KaDda.gj</string>
      <string>KaNna.gj</string>
      <string>KaTa.gj</string>
      <string>KaTha.gj</string>
      <string>KaDa.gj</string>
      <string>KaNa.gj</string>
      <string>KaPa.gj</string>
      <string>KaPha.gj</string>
      <string>KaMa.gj</string>
      <string>KaYa.gj</string>
      <string>KaLa.gj</string>
      <string>KaVa.gj</string>
      <string>KaSha.gj</string>
      <string>KaSa.gj</string>
      <string>PhaTta.gj</string>
      <string>PhaTa.gj</string>
      <string>PhaTha.gj</string>
      <string>PhaPha.gj</string>
      <string>PhaYa.gj</string>
      <string>PhaLa.gj</string>
      <string>PhaSha.gj</string>
      <string>PhaSa.gj</string>
      <string>KaKaRa.gj</string>
      <string>KaTaYa.gj</string>
      <string>KaTaRa.gj</string>
      <string>KaTaVa.gj</string>
      <string>KaPaRa.gj</string>
      <string>KaLaYa.gj</string>
      <string>KaVaYa.gj</string>
      <string>KaSaTta.gj</string>
      <string>KaSaDda.gj</string>
      <string>KaSaTa.gj</string>
      <string>KaSaPaLa.gj</string>
      <string>KaSaPaRa.gj</string>
      <string>_PhaComponent.gj</string>
    </array>
    <key>public.kern2.KaSsa.gj</key>
    <array>
      <string>KaSsaHalf.gj</string>
      <string>KaSsa.gj</string>
      <string>KaSsaTta.gj</string>
      <string>KaSsaNna.gj</string>
      <string>KaSsaMa.gj</string>
      <string>KaSsaYa.gj</string>
      <string>KaSsaVa.gj</string>
      <string>KaSsaMatraU.gj</string>
      <string>_KaSsaComponant</string>
    </array>
    <key>public.kern2.Kha.gj</key>
    <array>
      <string>Kha.gj</string>
      <string>KhaRa.gj</string>
      <string>KhaKha.gj</string>
      <string>KhaJha.gj</string>
      <string>KhaTa.gj</string>
      <string>KhaNa.gj</string>
      <string>KhaMa.gj</string>
      <string>KhaYa.gj</string>
      <string>KhaVa.gj</string>
      <string>KhaSha.gj</string>
      <string>KhaSa.gj</string>
      <string>_KhaComponent.gj</string>
    </array>
    <key>public.kern2.La.gj</key>
    <array>
      <string>La.gj</string>
      <string>LaHalf.gj</string>
      <string>LaHalf_alt2.gj</string>
      <string>LaRa.gj</string>
      <string>LaKa.gj</string>
      <string>LaKha.gj</string>
      <string>LaGa.gj</string>
      <string>LaCa.gj</string>
      <string>LaTta.gj</string>
      <string>LaTtha.gj</string>
      <string>LaDda.gj</string>
      <string>LaTa.gj</string>
      <string>LaTha.gj</string>
      <string>LaDa.gj</string>
      <string>LaPa.gj</string>
      <string>LaPha.gj</string>
      <string>LaBa.gj</string>
      <string>LaBha.gj</string>
      <string>LaMa.gj</string>
      <string>LaYa.gj</string>
      <string>LaLa.gj</string>
      <string>LaVa.gj</string>
      <string>LaSha.gj</string>
      <string>LaSa.gj</string>
      <string>LaHa.gj</string>
      <string>LaKaYa.gj</string>
      <string>LaDaRa.gj</string>
      <string>LaPaYa.gj</string>
      <string>LaPhaRa.gj</string>
      <string>LaLaYa.gj</string>
      <string>LaVaDa.gj</string>
      <string>_LaComponent.gj</string>
    </array>
    <key>public.kern2.M</key>
    <array>
      <string>M</string>
    </array>
    <key>public.kern2.Ma.gj</key>
    <array>
      <string>Ma.gj</string>
      <string>MaHalf.gj</string>
      <string>MaRa.gj</string>
      <string>MaKa.gj</string>
      <string>MaNna.gj</string>
      <string>MaTa.gj</string>
      <string>MaDa.gj</string>
      <string>MaNa.gj</string>
      <string>MaPa.gj</string>
      <string>MaPha.gj</string>
      <string>MaBa.gj</string>
      <string>MaBha.gj</string>
      <string>MaMa.gj</string>
      <string>MaYa.gj</string>
      <string>MaLa.gj</string>
      <string>MaVa.gj</string>
      <string>MaSha.gj</string>
      <string>MaSa.gj</string>
      <string>MaHa.gj</string>
      <string>MaPaYa.gj</string>
      <string>MaPaRa.gj</string>
      <string>MaBaYa.gj</string>
      <string>MaBaRa.gj</string>
      <string>_MaComponent.gj</string>
    </array>
    <key>public.kern2.Na.gj</key>
    <array>
      <string>Na.gj</string>
      <string>NaHalf.gj</string>
      <string>NaRa.gj</string>
      <string>NaKa.gj</string>
      <string>NaGa.gj</string>
      <string>NaCa.gj</string>
      <string>NaCha.gj</string>
      <string>NaJha.gj</string>
      <string>NaTta.gj</string>
      <string>NaDda.gj</string>
      <string>NaTa.gj</string>
      <string>NaTha.gj</string>
      <string>NaDa.gj</string>
      <string>NaDha.gj</string>
      <string>NaPa.gj</string>
      <string>NaPha.gj</string>
      <string>NaBha.gj</string>
      <string>NaMa.gj</string>
      <string>NaYa.gj</string>
      <string>NaVa.gj</string>
      <string>NaSha.gj</string>
      <string>NaSa.gj</string>
      <string>NaHa.gj</string>
      <string>NaKaRa.gj</string>
      <string>NaKaSa.gj</string>
      <string>NaTaYa.gj</string>
      <string>NaTaRa.gj</string>
      <string>NaTaSa.gj</string>
      <string>NaThaYa.gj</string>
      <string>NaThaVa.gj</string>
      <string>NaDaRa.gj</string>
      <string>NaDaVa.gj</string>
      <string>NaDhaYa.gj</string>
      <string>NaDhaRa.gj</string>
      <string>NaDhaVa.gj</string>
      <string>NaNaYa.gj</string>
      <string>NaPaRa.gj</string>
      <string>NaPhaRa.gj</string>
      <string>NaBhaYa.gj</string>
      <string>NaBhaVa.gj</string>
      <string>NaMaYa.gj</string>
      <string>NaSaKa.gj</string>
      <string>NaSaTta.gj</string>
      <string>NaSaTa.gj</string>
      <string>NaSaYa.gj</string>
      <string>NaTaRaYa.gj</string>
      <string>NaPhaLaYa.gj</string>
      <string>NaSaKaRa.gj</string>
      <string>NaSaMaYa.gj</string>
      <string>_NaComponent.gj</string>
    </array>
    <key>public.kern2.NaNa.gj</key>
    <array>
      <string>NaNa.gj</string>
    </array>
    <key>public.kern2.NgaMa.gj</key>
    <array>
      <string>NgaKa.gj</string>
      <string>NgaGa.gj</string>
      <string>NgaMa.gj</string>
      <string>NgaYa.gj</string>
    </array>
    <key>public.kern2.Nna.gj</key>
    <array>
      <string>Nna.gj</string>
      <string>NnaHalf.gj</string>
      <string>NnaRa.gj</string>
      <string>NnaTta.gj</string>
      <string>NnaTtha.gj</string>
      <string>NnaDda.gj</string>
      <string>NnaDdha.gj</string>
      <string>NnaNna.gj</string>
      <string>NnaNa.gj</string>
      <string>NnaMa.gj</string>
      <string>NnaYa.gj</string>
      <string>NnaVa.gj</string>
      <string>NnaHa.gj</string>
      <string>_NnaComponent.gj</string>
    </array>
    <key>public.kern2.Nya.gj</key>
    <array>
      <string>Nya.gj</string>
      <string>NyaHalf.gj</string>
      <string>NyaRa.gj</string>
      <string>NyaCa.gj</string>
      <string>NyaCha.gj</string>
      <string>NyaJha.gj</string>
      <string>NyaYa.gj</string>
      <string>NyaSha.gj</string>
    </array>
    <key>public.kern2.O</key>
    <array>
      <string>C</string>
      <string>G</string>
      <string>O</string>
      <string>Q</string>
    </array>
    <key>public.kern2.Pa.gj</key>
    <array>
      <string>Pa.gj</string>
      <string>Ssa.gj</string>
      <string>PaHalf.gj</string>
      <string>SsaHalf.gj</string>
      <string>PaRa.gj</string>
      <string>SsaRa.gj</string>
      <string>PaKa.gj</string>
      <string>PaKha.gj</string>
      <string>PaCa.gj</string>
      <string>PaCha.gj</string>
      <string>PaTta.gj</string>
      <string>PaDda.gj</string>
      <string>PaTa.gj</string>
      <string>PaTha.gj</string>
      <string>PaNa.gj</string>
      <string>PaPa.gj</string>
      <string>PaPha.gj</string>
      <string>PaMa.gj</string>
      <string>PaYa.gj</string>
      <string>PaLa.gj</string>
      <string>PaVa.gj</string>
      <string>PaSha.gj</string>
      <string>PaSa.gj</string>
      <string>SsaKa.gj</string>
      <string>SsaKha.gj</string>
      <string>SsaTta.gj</string>
      <string>SsaTtha.gj</string>
      <string>SsaNna.gj</string>
      <string>SsaPa.gj</string>
      <string>SsaPha.gj</string>
      <string>SsaMa.gj</string>
      <string>SsaYa.gj</string>
      <string>SsaVa.gj</string>
      <string>SsaSsa.gj</string>
      <string>PaTaYa.gj</string>
      <string>SsaKaRa.gj</string>
      <string>SsaTtaYa.gj</string>
      <string>SsaTthaYa.gj</string>
      <string>SsaNnaYa.gj</string>
      <string>SsaPaRa.gj</string>
      <string>SsaMaYa.gj</string>
      <string>_PaComponent.gj</string>
      <string>_SsaComponent.gj</string>
    </array>
    <key>public.kern2.Ra.gj</key>
    <array>
      <string>Ra.gj</string>
      <string>RaMatraU.gj</string>
    </array>
    <key>public.kern2.S</key>
    <array>
      <string>dollar</string>
      <string>S</string>
    </array>
    <key>public.kern2.Sa.gj</key>
    <array>
      <string>Sa.gj</string>
      <string>SaHalf.gj</string>
      <string>SaRa.gj</string>
      <string>SaKa.gj</string>
      <string>SaKha.gj</string>
      <string>SaCa.gj</string>
      <string>SaTta.gj</string>
      <string>SaDda.gj</string>
      <string>SaTa.gj</string>
      <string>SaTha.gj</string>
      <string>SaDa.gj</string>
      <string>SaNa.gj</string>
      <string>SaPa.gj</string>
      <string>SaPha.gj</string>
      <string>SaBa.gj</string>
      <string>SaMa.gj</string>
      <string>SaYa.gj</string>
      <string>SaLa.gj</string>
      <string>SaVa.gj</string>
      <string>SaSa.gj</string>
      <string>SaKaRa.gj</string>
      <string>SaKaVa.gj</string>
      <string>SaTaYa.gj</string>
      <string>SaTaRa.gj</string>
      <string>SaThaYa.gj</string>
      <string>SaPaRa.gj</string>
      <string>_SaComponent.gj</string>
    </array>
    <key>public.kern2.Sha.gj</key>
    <array>
      <string>Sha.gj</string>
      <string>ShaHalf.gj</string>
      <string>ShaKa.gj</string>
      <string>ShaKha.gj</string>
      <string>ShaCa.gj</string>
      <string>ShaCha.gj</string>
      <string>ShaTta.gj</string>
      <string>ShaDda.gj</string>
      <string>ShaTa.gj</string>
      <string>ShaPa.gj</string>
      <string>ShaPha.gj</string>
      <string>ShaBha.gj</string>
      <string>ShaMa.gj</string>
      <string>ShaYa.gj</string>
      <string>ShaLa.gj</string>
      <string>ShaSha.gj</string>
      <string>ShaHa.gj</string>
      <string>_ShaComponent.gj</string>
    </array>
    <key>public.kern2.ShaRa.gj</key>
    <array>
      <string>ShaRa.gj</string>
      <string>ShaNa.gj</string>
      <string>ShaVa.gj</string>
      <string>ShaRaYa.gj</string>
      <string>ShaRaHalf.gj</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>T</string>
    </array>
    <key>public.kern2.Ta.gj</key>
    <array>
      <string>Ta.gj</string>
      <string>TaHalf.gj</string>
      <string>TaKa.gj</string>
      <string>TaKha.gj</string>
      <string>TaTha.gj</string>
      <string>TaNa.gj</string>
      <string>TaPa.gj</string>
      <string>TaPha.gj</string>
      <string>TaMa.gj</string>
      <string>TaYa.gj</string>
      <string>TaLa.gj</string>
      <string>TaVa.gj</string>
      <string>TaSa.gj</string>
      <string>TaKaYa.gj</string>
      <string>TaKaRa.gj</string>
      <string>TaKaLa.gj</string>
      <string>TaKaVa.gj</string>
      <string>TaKaSsa.gj</string>
      <string>TaKhaNa.gj</string>
      <string>TaKhaRa.gj</string>
      <string>TaNaYa.gj</string>
      <string>TaPaRa.gj</string>
      <string>TaMaYa.gj</string>
      <string>TaPaLa.gj</string>
      <string>TaSaNa.gj</string>
      <string>TaSaMa.gj</string>
      <string>TaSaYa.gj</string>
      <string>TaSaVa.gj</string>
      <string>_TaComponent.gj</string>
    </array>
    <key>public.kern2.TaRa.gj</key>
    <array>
      <string>VowelRu.gj</string>
      <string>VowelRuu.gj</string>
      <string>TaRa.gj</string>
      <string>TaRaYa.gj</string>
      <string>TaRaHalf.gj</string>
      <string>_TaRaHalf.gj</string>
    </array>
    <key>public.kern2.TaTa.gj</key>
    <array>
      <string>TaTa.gj</string>
      <string>TaTaYa.gj</string>
      <string>TaTaVa.gj</string>
    </array>
    <key>public.kern2.Tha.gj</key>
    <array>
      <string>Tha.gj</string>
      <string>ThaHalf.gj</string>
      <string>ThaRa.gj</string>
      <string>ThaTha.gj</string>
      <string>ThaNa.gj</string>
      <string>ThaYa.gj</string>
      <string>ThaVa.gj</string>
      <string>_ThaComponent.gj</string>
    </array>
    <key>public.kern2.Three.gj</key>
    <array>
      <string>Om.gj</string>
    </array>
    <key>public.kern2.Tta.gj</key>
    <array>
      <string>Tta.gj</string>
      <string>TtaYa.gj</string>
      <string>TtaRaYa.gj</string>
      <string>_DdhaComponent.gj</string>
      <string>_TtaComponent.gj</string>
    </array>
    <key>public.kern2.TtaTta.gj</key>
    <array>
      <string>TtaTta.gj</string>
      <string>TtaTtha.gj</string>
      <string>TtaVa.gj</string>
      <string>TthaTtha.gj</string>
      <string>DdhaDdha.gj</string>
      <string>TtaTtaYa.gj</string>
    </array>
    <key>public.kern2.Ttha.gj</key>
    <array>
      <string>Ttha.gj</string>
      <string>TthaYa.gj</string>
      <string>_TthaComponent.gj</string>
    </array>
    <key>public.kern2.TthaTtha.gj</key>
    <array>
      <string>TthaTthaYa.gj</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>U</string>
    </array>
    <key>public.kern2.V</key>
    <array>
      <string>V</string>
    </array>
    <key>public.kern2.Va.gj</key>
    <array>
      <string>Va.gj</string>
      <string>VaHalf.gj</string>
      <string>VaRa.gj</string>
      <string>VaJha.gj</string>
      <string>VaDda.gj</string>
      <string>VaBha.gj</string>
      <string>VaYa.gj</string>
      <string>VaLa.gj</string>
      <string>VaVa.gj</string>
      <string>VaHa.gj</string>
      <string>_VaComponent.gj</string>
    </array>
    <key>public.kern2.VowelA.gj</key>
    <array>
      <string>VowelA.gj</string>
      <string>VowelAa.gj</string>
      <string>VowelChadraE.gj</string>
      <string>VowelE.gj</string>
      <string>VowelAi.gj</string>
      <string>VowelChandraO.gj</string>
      <string>VowelO.gj</string>
      <string>VowelAu.gj</string>
      <string>CaHalf.gj</string>
      <string>CaRa.gj</string>
      <string>_CaComponent.gj</string>
    </array>
    <key>public.kern2.VowelI.gj</key>
    <array>
      <string>VowelI.gj</string>
      <string>VowelIi.gj</string>
      <string>Cha.gj</string>
      <string>Da.gj</string>
      <string>ChaYa.gj</string>
      <string>ChaVa.gj</string>
      <string>DaDa.gj</string>
      <string>DaDaYa.gj</string>
      <string>_ChaComponent.gj</string>
      <string>_DaComponent.gj</string>
    </array>
    <key>public.kern2.VowelLru.gj</key>
    <array>
      <string>VowelLru.gj</string>
      <string>VowelLruu.gj</string>
    </array>
    <key>public.kern2.VowelU.gj</key>
    <array>
      <string>VowelU.gj</string>
      <string>VowelUu.gj</string>
    </array>
    <key>public.kern2.W</key>
    <array>
      <string>W</string>
    </array>
    <key>public.kern2.X</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern2.Y</key>
    <array>
      <string>Y</string>
    </array>
    <key>public.kern2.Ya.gj</key>
    <array>
      <string>Ya.gj</string>
      <string>YaHalf.gj</string>
      <string>YaRa.gj</string>
      <string>YaJha.gj</string>
      <string>YaYa.gj</string>
      <string>YaVa.gj</string>
      <string>_YaComponent.gj</string>
    </array>
    <key>public.kern2.Z</key>
    <array>
      <string>Z</string>
    </array>
    <key>public.kern2.a</key>
    <array>
      <string>a</string>
    </array>
    <key>public.kern2.d</key>
    <array>
      <string>d</string>
      <string>q</string>
    </array>
    <key>public.kern2.f</key>
    <array>
      <string>f</string>
    </array>
    <key>public.kern2.g</key>
    <array>
      <string>g</string>
    </array>
    <key>public.kern2.h</key>
    <array>
      <string>b</string>
      <string>h</string>
      <string>k</string>
    </array>
    <key>public.kern2.hyphen</key>
    <array>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>minus</string>
    </array>
    <key>public.kern2.i</key>
    <array>
      <string>i</string>
    </array>
    <key>public.kern2.j</key>
    <array>
      <string>j</string>
    </array>
    <key>public.kern2.l</key>
    <array>
      <string>l</string>
    </array>
    <key>public.kern2.m</key>
    <array>
      <string>m</string>
      <string>n</string>
      <string>p</string>
      <string>r</string>
    </array>
    <key>public.kern2.o</key>
    <array>
      <string>c</string>
      <string>e</string>
      <string>o</string>
    </array>
    <key>public.kern2.parenleft</key>
    <array>
      <string>parenleft</string>
      <string>bracketleft</string>
      <string>braceleft</string>
    </array>
    <key>public.kern2.parenright</key>
    <array>
      <string>parenright</string>
      <string>bracketright</string>
      <string>braceright</string>
    </array>
    <key>public.kern2.period</key>
    <array>
      <string>period</string>
      <string>ellipsis</string>
    </array>
    <key>public.kern2.plus</key>
    <array>
      <string>plus</string>
      <string>divide</string>
    </array>
    <key>public.kern2.question</key>
    <array>
      <string>question</string>
    </array>
    <key>public.kern2.quoteleft</key>
    <array>
      <string>quoteleft</string>
      <string>quotedblleft</string>
    </array>
    <key>public.kern2.quoteright</key>
    <array>
      <string>quoteright</string>
      <string>quotedblright</string>
    </array>
    <key>public.kern2.quotesingle</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern2.s</key>
    <array>
      <string>s</string>
    </array>
    <key>public.kern2.t</key>
    <array>
      <string>t</string>
    </array>
    <key>public.kern2.u</key>
    <array>
      <string>u</string>
    </array>
    <key>public.kern2.v</key>
    <array>
      <string>v</string>
      <string>y</string>
    </array>
    <key>public.kern2.w</key>
    <array>
      <string>w</string>
    </array>
    <key>public.kern2.x</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern2.z</key>
    <array>
      <string>z</string>
    </array>
    <key>public.kern2.zero</key>
    <array>
      <string>zero</string>
    </array>
  </dict>
</plist>
