<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.github.googlei18n.ufo2ft.filters</key>
    <array>
      <dict>
        <key>name</key>
        <string>eraseOpenCorners</string>
        <key>namespace</key>
        <string>glyphsLib.filters</string>
        <key>pre</key>
        <true/>
      </dict>
    </array>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1352</string>
    <key>com.schriftgestaltung.customName</key>
    <string>Medium</string>
    <key>com.schriftgestaltung.customParameter.GSFont.Enforce Compatibility Check</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFont.Use Extension Kerning</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.Use Line Breaks</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFont.Variable Font Origin</key>
    <string>7E92471E-3F84-4EF8-AFD3-C63C83A35682</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>500</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>4</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>500</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>NULL</string>
      <string>CR</string>
      <string>space</string>
      <string>exclam</string>
      <string>quotedbl</string>
      <string>numbersign</string>
      <string>percent</string>
      <string>ampersand</string>
      <string>quotesingle</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>asterisk</string>
      <string>plus</string>
      <string>comma</string>
      <string>hyphen</string>
      <string>period</string>
      <string>slash</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>less</string>
      <string>equal</string>
      <string>greater</string>
      <string>question</string>
      <string>at</string>
      <string>bracketleft</string>
      <string>backslash</string>
      <string>bracketright</string>
      <string>asciicircum</string>
      <string>underscore</string>
      <string>braceleft</string>
      <string>bar</string>
      <string>braceright</string>
      <string>asciitilde</string>
      <string>ellipsis</string>
      <string>endash</string>
      <string>emdash</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>divide</string>
      <string>minus</string>
      <string>multiply</string>
      <string>dollar</string>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>grave</string>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
      <string>circumflex</string>
      <string>guilsinglleft</string>
      <string>OE</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>bullet</string>
      <string>tilde</string>
      <string>guilsinglright</string>
      <string>oe</string>
      <string>exclamdown</string>
      <string>cent</string>
      <string>sterling</string>
      <string>currency</string>
      <string>yen</string>
      <string>brokenbar</string>
      <string>section</string>
      <string>dieresis</string>
      <string>copyright</string>
      <string>ordfeminine</string>
      <string>registered</string>
      <string>degree</string>
      <string>plusminus</string>
      <string>acute</string>
      <string>paragraph</string>
      <string>cedilla</string>
      <string>ordmasculine</string>
      <string>questiondown</string>
      <string>Agrave</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Atilde</string>
      <string>Aring</string>
      <string>Adieresis</string>
      <string>AE</string>
      <string>Ccedilla</string>
      <string>Egrave</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Igrave</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Eth</string>
      <string>Ntilde</string>
      <string>Ograve</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Otilde</string>
      <string>Odieresis</string>
      <string>Oslash</string>
      <string>Ugrave</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Yacute</string>
      <string>Thorn</string>
      <string>germandbls</string>
      <string>agrave</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>atilde</string>
      <string>adieresis</string>
      <string>aring</string>
      <string>ae</string>
      <string>ccedilla</string>
      <string>egrave</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>igrave</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>eth</string>
      <string>ntilde</string>
      <string>ograve</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>otilde</string>
      <string>odieresis</string>
      <string>oslash</string>
      <string>ugrave</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>yacute</string>
      <string>thorn</string>
      <string>ydieresis</string>
      <string>logicalnot</string>
      <string>macron</string>
      <string>ring</string>
      <string>periodcentered</string>
      <string>fi</string>
      <string>fl</string>
      <string>fraction</string>
      <string>onesuperior</string>
      <string>twosuperior</string>
      <string>threesuperior</string>
      <string>onequarter</string>
      <string>onehalf</string>
      <string>threequarters</string>
      <string>r_t</string>
      <string>Germandbls</string>
      <string>idotless</string>
      <string>f_f</string>
      <string>f_f_i</string>
      <string>f_f_l</string>
      <string>zero.zero</string>
      <string>zero.tf</string>
      <string>one.tf</string>
      <string>two.tf</string>
      <string>three.tf</string>
      <string>four.tf</string>
      <string>five.tf</string>
      <string>six.tf</string>
      <string>seven.tf</string>
      <string>eight.tf</string>
      <string>nine.tf</string>
      <string>zero.tf.zero</string>
      <string>zero.subs</string>
      <string>one.subs</string>
      <string>two.subs</string>
      <string>three.subs</string>
      <string>four.subs</string>
      <string>five.subs</string>
      <string>six.subs</string>
      <string>seven.subs</string>
      <string>eight.subs</string>
      <string>nine.subs</string>
      <string>zero.dnom</string>
      <string>one.dnom</string>
      <string>two.dnom</string>
      <string>three.dnom</string>
      <string>four.dnom</string>
      <string>five.dnom</string>
      <string>six.dnom</string>
      <string>seven.dnom</string>
      <string>eight.dnom</string>
      <string>nine.dnom</string>
      <string>zeroinferior</string>
      <string>oneinferior</string>
      <string>twoinferior</string>
      <string>threeinferior</string>
      <string>fourinferior</string>
      <string>fiveinferior</string>
      <string>sixinferior</string>
      <string>seveninferior</string>
      <string>eightinferior</string>
      <string>nineinferior</string>
      <string>zero.numr</string>
      <string>one.numr</string>
      <string>two.numr</string>
      <string>three.numr</string>
      <string>four.numr</string>
      <string>five.numr</string>
      <string>six.numr</string>
      <string>seven.numr</string>
      <string>eight.numr</string>
      <string>nine.numr</string>
      <string>zerosuperior</string>
      <string>foursuperior</string>
      <string>fivesuperior</string>
      <string>sixsuperior</string>
      <string>sevensuperior</string>
      <string>eightsuperior</string>
      <string>ninesuperior</string>
      <string>figurespace</string>
      <string>hairspace</string>
      <string>punctuationspace</string>
      <string>nbspace</string>
      <string>thinspace</string>
      <string>zerowidthspace</string>
      <string>question_alt</string>
      <string>softhyphen</string>
      <string>guillemetleft</string>
      <string>guillemetright</string>
      <string>euro</string>
      <string>rupeeIndian</string>
      <string>bulletoperator</string>
      <string>divisionslash</string>
      <string>micro</string>
      <string>dieresiscomb</string>
      <string>dotaccentcomb</string>
      <string>gravecomb</string>
      <string>acutecomb</string>
      <string>circumflexcomb</string>
      <string>ringcomb</string>
      <string>tildecomb</string>
      <string>macroncomb</string>
      <string>cedillacomb</string>
      <string>dieresiscomb.case</string>
      <string>gravecomb.case</string>
      <string>acutecomb.case</string>
      <string>circumflexcomb.case</string>
      <string>ringcomb.case</string>
      <string>tildecomb.case</string>
      <string>macroncomb.case</string>
      <string>cedillacomb.case</string>
      <string>dieresiscomb.narrow</string>
      <string>gravecomb.narrow</string>
      <string>acutecomb.narrow</string>
      <string>circumflexcomb.narrow</string>
      <string>tildecomb.narrow</string>
      <string>macroncomb.narrow</string>
      <string>Candrabindu_above.te</string>
      <string>Candrabindu.te</string>
      <string>Anuswara.te</string>
      <string>Visarga.te</string>
      <string>vowelA.te</string>
      <string>vowelAa.te</string>
      <string>vowelI.te</string>
      <string>vowelIi.te</string>
      <string>vowelU.te</string>
      <string>vowelUu.te</string>
      <string>vowelVocalicR.te</string>
      <string>vowelVocalicL.te</string>
      <string>vowelE.te</string>
      <string>vowelEe.te</string>
      <string>vowelAi.te</string>
      <string>vowelO.te</string>
      <string>vowelOo.te</string>
      <string>vowelAu.te</string>
      <string>Ka.te</string>
      <string>Kha.te</string>
      <string>Ga.te</string>
      <string>Gha.te</string>
      <string>Nga.te</string>
      <string>Ca.te</string>
      <string>Cha.te</string>
      <string>Ja.te</string>
      <string>Jha.te</string>
      <string>Nya.te</string>
      <string>Tta.te</string>
      <string>Ttha.te</string>
      <string>Dda.te</string>
      <string>Ddha.te</string>
      <string>Nna.te</string>
      <string>Ta.te</string>
      <string>Tha.te</string>
      <string>Da.te</string>
      <string>Dha.te</string>
      <string>Na.te</string>
      <string>Pa.te</string>
      <string>Pha.te</string>
      <string>Ba.te</string>
      <string>Bha.te</string>
      <string>Ma.te</string>
      <string>Ya.te</string>
      <string>Ra.te</string>
      <string>Rra.te</string>
      <string>La.te</string>
      <string>Lla.te</string>
      <string>Llla.te</string>
      <string>Va.te</string>
      <string>Sha.te</string>
      <string>Ssa.te</string>
      <string>Sa.te</string>
      <string>Ha.te</string>
      <string>matraAa.te</string>
      <string>matraI.te</string>
      <string>matraIi.te</string>
      <string>matraU.te</string>
      <string>matraUu.te</string>
      <string>matraVocalicR.te</string>
      <string>matraVocalicRr.te</string>
      <string>matraE.te</string>
      <string>matraEe.te</string>
      <string>matraAi.te</string>
      <string>matraO.te</string>
      <string>matraOo.te</string>
      <string>matraAu.te</string>
      <string>Halant.te</string>
      <string>Avagraha.te</string>
      <string>zero.te</string>
      <string>one.te</string>
      <string>two.te</string>
      <string>three.te</string>
      <string>four.te</string>
      <string>five.te</string>
      <string>six.te</string>
      <string>seven.te</string>
      <string>eight.te</string>
      <string>nine.te</string>
      <string>vowelVocalicRr.te</string>
      <string>vowelVocalicLl.te</string>
      <string>VocalicLsmall1.te</string>
      <string>VocalicLlsmall1.te</string>
      <string>Lengthmark.te</string>
      <string>matraAiLengthmark.te</string>
      <string>Tsa.te</string>
      <string>Dza.te</string>
      <string>Rrr.te</string>
      <string>Kasmall1.te</string>
      <string>Khasmall1.te</string>
      <string>Gasmall1.te</string>
      <string>Ghasmall1.te</string>
      <string>Ngasmall1.te</string>
      <string>Casmall1.te</string>
      <string>Chasmall1.te</string>
      <string>Jasmall1.te</string>
      <string>Jhasmall1.te</string>
      <string>Jhasmall3.te</string>
      <string>Nyasmall1.te</string>
      <string>Ttasmall1.te</string>
      <string>Tthasmall1.te</string>
      <string>Ddasmall1.te</string>
      <string>Ddhasmall1.te</string>
      <string>Nnasmall1.te</string>
      <string>Tasmall1.te</string>
      <string>Thasmall1.te</string>
      <string>Dasmall1.te</string>
      <string>Dhasmall1.te</string>
      <string>Nasmall1.te</string>
      <string>Pasmall1.te</string>
      <string>Phasmall1.te</string>
      <string>Basmall1.te</string>
      <string>Bhasmall1.te</string>
      <string>Masmall1.te</string>
      <string>Yasmall1.te</string>
      <string>Rasmall1.te</string>
      <string>Rrasmall1.te</string>
      <string>Lasmall1.te</string>
      <string>Llasmall1.te</string>
      <string>Vasmall1.te</string>
      <string>Shasmall1.te</string>
      <string>Ssasmall1.te</string>
      <string>Sasmall1.te</string>
      <string>Hasmall1.te</string>
      <string>VocalicLsmall2.te</string>
      <string>VocalicLlsmall2.te</string>
      <string>TtRasmall1.te</string>
      <string>TRasmall1.te</string>
      <string>GRasmall1.te</string>
      <string>KaSsasmall1.te</string>
      <string>KamatraAa.te</string>
      <string>KhamatraAa.te</string>
      <string>GamatraAa.te</string>
      <string>GhamatraAa.te</string>
      <string>NgamatraAa.te</string>
      <string>CamatraAa.te</string>
      <string>ChamatraAa.te</string>
      <string>JamatraAa.te</string>
      <string>JhamatraAa.te</string>
      <string>NyamatraAa.te</string>
      <string>TtamatraAa.te</string>
      <string>TthamatraAa.te</string>
      <string>DdamatraAa.te</string>
      <string>DdhamatraAa.te</string>
      <string>NnamatraAa.te</string>
      <string>TamatraAa.te</string>
      <string>ThamatraAa.te</string>
      <string>DamatraAa.te</string>
      <string>DhamatraAa.te</string>
      <string>NamatraAa.te</string>
      <string>PamatraAa.te</string>
      <string>PhamatraAa.te</string>
      <string>BamatraAa.te</string>
      <string>BhamatraAa.te</string>
      <string>MamatraAa.te</string>
      <string>YamatraAa.te</string>
      <string>RamatraAa.te</string>
      <string>RramatraAa.te</string>
      <string>LamatraAa.te</string>
      <string>LlamatraAa.te</string>
      <string>LllamatraAa.te</string>
      <string>VamatraAa.te</string>
      <string>ShamatraAa.te</string>
      <string>SsamatraAa.te</string>
      <string>SamatraAa.te</string>
      <string>HamatraAa.te</string>
      <string>KamatraI.te</string>
      <string>KhamatraI.te</string>
      <string>GamatraI.te</string>
      <string>GhamatraI.te</string>
      <string>NgamatraI.te</string>
      <string>CamatraI.te</string>
      <string>ChamatraI.te</string>
      <string>JamatraI.te</string>
      <string>JhamatraI.te</string>
      <string>NyamatraI.te</string>
      <string>TtamatraI.te</string>
      <string>TthamatraI.te</string>
      <string>DdamatraI.te</string>
      <string>DdhamatraI.te</string>
      <string>NnamatraI.te</string>
      <string>TamatraI.te</string>
      <string>ThamatraI.te</string>
      <string>DamatraI.te</string>
      <string>DhamatraI.te</string>
      <string>NamatraI.te</string>
      <string>PamatraI.te</string>
      <string>PhamatraI.te</string>
      <string>BamatraI.te</string>
      <string>BhamatraI.te</string>
      <string>MamatraI.te</string>
      <string>YamatraI.te</string>
      <string>RamatraI.te</string>
      <string>RramatraI.te</string>
      <string>LamatraI.te</string>
      <string>LlamatraI.te</string>
      <string>LllamatraI.te</string>
      <string>VamatraI.te</string>
      <string>ShamatraI.te</string>
      <string>SsamatraI.te</string>
      <string>SamatraI.te</string>
      <string>HamatraI.te</string>
      <string>KamatraIi.te</string>
      <string>KhamatraIi.te</string>
      <string>GamatraIi.te</string>
      <string>GhamatraIi.te</string>
      <string>NgamatraIi.te</string>
      <string>CamatraIi.te</string>
      <string>ChamatraIi.te</string>
      <string>JamatraIi.te</string>
      <string>JhamatraIi.te</string>
      <string>NyamatraIi.te</string>
      <string>TtamatraIi.te</string>
      <string>TthamatraIi.te</string>
      <string>DdamatraIi.te</string>
      <string>DdhamatraIi.te</string>
      <string>NnamatraIi.te</string>
      <string>TamatraIi.te</string>
      <string>ThamatraIi.te</string>
      <string>DamatraIi.te</string>
      <string>DhamatraIi.te</string>
      <string>NamatraIi.te</string>
      <string>PamatraIi.te</string>
      <string>PhamatraIi.te</string>
      <string>BamatraIi.te</string>
      <string>BhamatraIi.te</string>
      <string>MamatraIi.te</string>
      <string>YamatraIi.te</string>
      <string>RamatraIi.te</string>
      <string>RramatraIi.te</string>
      <string>LamatraIi.te</string>
      <string>LlamatraIi.te</string>
      <string>LllamatraIi.te</string>
      <string>VamatraIi.te</string>
      <string>ShamatraIi.te</string>
      <string>SsamatraIi.te</string>
      <string>SamatraIi.te</string>
      <string>HamatraIi.te</string>
      <string>KamatraU.te</string>
      <string>KhamatraU.te</string>
      <string>GamatraU.te</string>
      <string>GhamatraU.te</string>
      <string>NgamatraU.te</string>
      <string>CamatraU.te</string>
      <string>ChamatraU.te</string>
      <string>JamatraU.te</string>
      <string>JhamatraU.te</string>
      <string>NyamatraU.te</string>
      <string>TtamatraU.te</string>
      <string>TthamatraU.te</string>
      <string>DdamatraU.te</string>
      <string>DdhamatraU.te</string>
      <string>NnamatraU.te</string>
      <string>TamatraU.te</string>
      <string>ThamatraU.te</string>
      <string>DamatraU.te</string>
      <string>DhamatraU.te</string>
      <string>NamatraU.te</string>
      <string>PamatraU.te</string>
      <string>PhamatraU.te</string>
      <string>BamatraU.te</string>
      <string>BhamatraU.te</string>
      <string>MamatraU.te</string>
      <string>YamatraU.te</string>
      <string>RamatraU.te</string>
      <string>RramatraU.te</string>
      <string>LamatraU.te</string>
      <string>LlamatraU.te</string>
      <string>LllamatraU.te</string>
      <string>VamatraU.te</string>
      <string>ShamatraU.te</string>
      <string>SsamatraU.te</string>
      <string>SamatraU.te</string>
      <string>HamatraU.te</string>
      <string>KamatraUu.te</string>
      <string>KhamatraUu.te</string>
      <string>GamatraUu.te</string>
      <string>GhamatraUu.te</string>
      <string>NgamatraUu.te</string>
      <string>CamatraUu.te</string>
      <string>ChamatraUu.te</string>
      <string>JamatraUu.te</string>
      <string>JhamatraUu.te</string>
      <string>NyamatraUu.te</string>
      <string>TtamatraUu.te</string>
      <string>TthamatraUu.te</string>
      <string>DdamatraUu.te</string>
      <string>DdhamatraUu.te</string>
      <string>NnamatraUu.te</string>
      <string>TamatraUu.te</string>
      <string>ThamatraUu.te</string>
      <string>DamatraUu.te</string>
      <string>DhamatraUu.te</string>
      <string>NamatraUu.te</string>
      <string>PamatraUu.te</string>
      <string>PhamatraUu.te</string>
      <string>BamatraUu.te</string>
      <string>BhamatraUu.te</string>
      <string>MamatraUu.te</string>
      <string>YamatraUu.te</string>
      <string>RamatraUu.te</string>
      <string>RramatraUu.te</string>
      <string>LamatraUu.te</string>
      <string>LlamatraUu.te</string>
      <string>LllamatraUu.te</string>
      <string>VamatraUu.te</string>
      <string>ShamatraUu.te</string>
      <string>SsamatraUu.te</string>
      <string>SamatraUu.te</string>
      <string>HamatraUu.te</string>
      <string>KamatraE.te</string>
      <string>KhamatraE.te</string>
      <string>GamatraE.te</string>
      <string>GhamatraE.te</string>
      <string>NgamatraE.te</string>
      <string>CamatraE.te</string>
      <string>ChamatraE.te</string>
      <string>JamatraE.te</string>
      <string>JhamatraE.te</string>
      <string>NyamatraE.te</string>
      <string>TtamatraE.te</string>
      <string>TthamatraE.te</string>
      <string>DdamatraE.te</string>
      <string>DdhamatraE.te</string>
      <string>NnamatraE.te</string>
      <string>TamatraE.te</string>
      <string>ThamatraE.te</string>
      <string>DamatraE.te</string>
      <string>DhamatraE.te</string>
      <string>NamatraE.te</string>
      <string>PamatraE.te</string>
      <string>PhamatraE.te</string>
      <string>BamatraE.te</string>
      <string>BhamatraE.te</string>
      <string>MamatraE.te</string>
      <string>YamatraE.te</string>
      <string>RamatraE.te</string>
      <string>RramatraE.te</string>
      <string>LamatraE.te</string>
      <string>LlamatraE.te</string>
      <string>LllamatraE.te</string>
      <string>VamatraE.te</string>
      <string>ShamatraE.te</string>
      <string>SsamatraE.te</string>
      <string>SamatraE.te</string>
      <string>HamatraE.te</string>
      <string>KamatraEe.te</string>
      <string>KhamatraEe.te</string>
      <string>GamatraEe.te</string>
      <string>GhamatraEe.te</string>
      <string>NgamatraEe.te</string>
      <string>CamatraEe.te</string>
      <string>ChamatraEe.te</string>
      <string>JamatraEe.te</string>
      <string>JhamatraEe.te</string>
      <string>NyamatraEe.te</string>
      <string>TtamatraEe.te</string>
      <string>TthamatraEe.te</string>
      <string>DdamatraEe.te</string>
      <string>DdhamatraEe.te</string>
      <string>NnamatraEe.te</string>
      <string>TamatraEe.te</string>
      <string>ThamatraEe.te</string>
      <string>DamatraEe.te</string>
      <string>DhamatraEe.te</string>
      <string>NamatraEe.te</string>
      <string>PamatraEe.te</string>
      <string>PhamatraEe.te</string>
      <string>BamatraEe.te</string>
      <string>BhamatraEe.te</string>
      <string>MamatraEe.te</string>
      <string>YamatraEe.te</string>
      <string>RamatraEe.te</string>
      <string>RramatraEe.te</string>
      <string>LamatraEe.te</string>
      <string>LlamatraEe.te</string>
      <string>LllamatraEe.te</string>
      <string>VamatraEe.te</string>
      <string>ShamatraEe.te</string>
      <string>SsamatraEe.te</string>
      <string>SamatraEe.te</string>
      <string>HamatraEe.te</string>
      <string>KamatraO.te</string>
      <string>KhamatraO.te</string>
      <string>GamatraO.te</string>
      <string>GhamatraO.te</string>
      <string>NgamatraO.te</string>
      <string>CamatraO.te</string>
      <string>ChamatraO.te</string>
      <string>JamatraO.te</string>
      <string>JhamatraO.te</string>
      <string>NyamatraO.te</string>
      <string>TtamatraO.te</string>
      <string>TthamatraO.te</string>
      <string>DdamatraO.te</string>
      <string>DdhamatraO.te</string>
      <string>NnamatraO.te</string>
      <string>TamatraO.te</string>
      <string>ThamatraO.te</string>
      <string>DamatraO.te</string>
      <string>DhamatraO.te</string>
      <string>NamatraO.te</string>
      <string>PamatraO.te</string>
      <string>PhamatraO.te</string>
      <string>BamatraO.te</string>
      <string>BhamatraO.te</string>
      <string>MamatraO.te</string>
      <string>YamatraO.te</string>
      <string>RamatraO.te</string>
      <string>RramatraO.te</string>
      <string>LamatraO.te</string>
      <string>LlamatraO.te</string>
      <string>LllamatraO.te</string>
      <string>VamatraO.te</string>
      <string>ShamatraO.te</string>
      <string>SsamatraO.te</string>
      <string>SamatraO.te</string>
      <string>HamatraO.te</string>
      <string>KamatraOo.te</string>
      <string>KhamatraOo.te</string>
      <string>GamatraOo.te</string>
      <string>GhamatraOo.te</string>
      <string>NgamatraOo.te</string>
      <string>CamatraOo.te</string>
      <string>ChamatraOo.te</string>
      <string>JamatraOo.te</string>
      <string>JhamatraOo.te</string>
      <string>NyamatraOo.te</string>
      <string>TtamatraOo.te</string>
      <string>TthamatraOo.te</string>
      <string>DdamatraOo.te</string>
      <string>DdhamatraOo.te</string>
      <string>NnamatraOo.te</string>
      <string>TamatraOo.te</string>
      <string>ThamatraOo.te</string>
      <string>DamatraOo.te</string>
      <string>DhamatraOo.te</string>
      <string>NamatraOo.te</string>
      <string>PamatraOo.te</string>
      <string>PhamatraOo.te</string>
      <string>BamatraOo.te</string>
      <string>BhamatraOo.te</string>
      <string>MamatraOo.te</string>
      <string>YamatraOo.te</string>
      <string>RamatraOo.te</string>
      <string>RramatraOo.te</string>
      <string>LamatraOo.te</string>
      <string>LlamatraOo.te</string>
      <string>LllamatraOo.te</string>
      <string>VamatraOo.te</string>
      <string>ShamatraOo.te</string>
      <string>SsamatraOo.te</string>
      <string>SamatraOo.te</string>
      <string>HamatraOo.te</string>
      <string>KamatraAu.te</string>
      <string>KhamatraAu.te</string>
      <string>GamatraAu.te</string>
      <string>GhamatraAu.te</string>
      <string>NgamatraAu.te</string>
      <string>CamatraAu.te</string>
      <string>ChamatraAu.te</string>
      <string>JamatraAu.te</string>
      <string>JhamatraAu.te</string>
      <string>NyamatraAu.te</string>
      <string>TtamatraAu.te</string>
      <string>TthamatraAu.te</string>
      <string>DdamatraAu.te</string>
      <string>DdhamatraAu.te</string>
      <string>NnamatraAu.te</string>
      <string>TamatraAu.te</string>
      <string>ThamatraAu.te</string>
      <string>DamatraAu.te</string>
      <string>DhamatraAu.te</string>
      <string>NamatraAu.te</string>
      <string>PamatraAu.te</string>
      <string>PhamatraAu.te</string>
      <string>BamatraAu.te</string>
      <string>BhamatraAu.te</string>
      <string>MamatraAu.te</string>
      <string>YamatraAu.te</string>
      <string>RamatraAu.te</string>
      <string>RramatraAu.te</string>
      <string>LamatraAu.te</string>
      <string>LlamatraAu.te</string>
      <string>LllamatraAu.te</string>
      <string>VamatraAu.te</string>
      <string>ShamatraAu.te</string>
      <string>SsamatraAu.te</string>
      <string>SamatraAu.te</string>
      <string>HamatraAu.te</string>
      <string>KaHalant.te</string>
      <string>KhaHalant.te</string>
      <string>GaHalant.te</string>
      <string>GhaHalant.te</string>
      <string>NgaHalant.te</string>
      <string>CaHalant.te</string>
      <string>ChaHalant.te</string>
      <string>JaHalant.te</string>
      <string>JhaHalant.te</string>
      <string>NyaHalant.te</string>
      <string>TtaHalant.te</string>
      <string>TthaHalant.te</string>
      <string>DdaHalant.te</string>
      <string>DdhaHalant.te</string>
      <string>NnaHalant.te</string>
      <string>TaHalant.te</string>
      <string>ThaHalant.te</string>
      <string>DaHalant.te</string>
      <string>DhaHalant.te</string>
      <string>NaHalant.te</string>
      <string>PaHalant.te</string>
      <string>PhaHalant.te</string>
      <string>BaHalant.te</string>
      <string>BhaHalant.te</string>
      <string>MaHalant.te</string>
      <string>YaHalant.te</string>
      <string>RaHalant.te</string>
      <string>RraHalant.te</string>
      <string>LaHalant.te</string>
      <string>LlaHalant.te</string>
      <string>LllaHalant.te</string>
      <string>VaHalant.te</string>
      <string>ShaHalant.te</string>
      <string>SsaHalant.te</string>
      <string>SaHalant.te</string>
      <string>HaHalant.te</string>
      <string>RasmallAlt1.te</string>
      <string>RasmallAlt2.te</string>
      <string>RasmallAlt3.te</string>
      <string>RasmallAlt4.te</string>
      <string>RasmallAlt5.te</string>
      <string>RasmallAlt6.te</string>
      <string>RasmallAlt7.te</string>
      <string>SsasmallAlt1.te</string>
      <string>Kasmall2.te</string>
      <string>Khasmall2.te</string>
      <string>Gasmall2.te</string>
      <string>Ghasmall2.te</string>
      <string>Ngasmall2.te</string>
      <string>Casmall2.te</string>
      <string>Chasmall2.te</string>
      <string>Jasmall2.te</string>
      <string>Jhasmall2.te</string>
      <string>Nyasmall2.te</string>
      <string>Ttasmall2.te</string>
      <string>Tthasmall2.te</string>
      <string>Ddasmall2.te</string>
      <string>Ddhasmall2.te</string>
      <string>Nnasmall2.te</string>
      <string>Tasmall2.te</string>
      <string>Thasmall2.te</string>
      <string>Dasmall2.te</string>
      <string>Dhasmall2.te</string>
      <string>Nasmall2.te</string>
      <string>Pasmall2.te</string>
      <string>Phasmall2.te</string>
      <string>Basmall2.te</string>
      <string>Bhasmall2.te</string>
      <string>Masmall2.te</string>
      <string>Yasmall2.te</string>
      <string>Rasmall2.te</string>
      <string>Rrasmall2.te</string>
      <string>Lasmall2.te</string>
      <string>Llasmall2.te</string>
      <string>Vasmall2.te</string>
      <string>Shasmall2.te</string>
      <string>Ssasmall2.te</string>
      <string>Sasmall2.te</string>
      <string>Hasmall2.te</string>
      <string>VocalicLsmall3.te</string>
      <string>VocalicLlsmall3.te</string>
      <string>matraAiLengthmarkKa.te</string>
      <string>matraAiLengthmarkKha.te</string>
      <string>matraAiLengthmarkGha.te</string>
      <string>matraAiLengthmarkDa.te</string>
      <string>matraAiLengthmarkKa1.te</string>
      <string>matraAiLengthmarkKha1.te</string>
      <string>matraAiLengthmarkGha1.te</string>
      <string>matraAiLengthmarkDa1.te</string>
      <string>matraAiLengthmarkKa2.te</string>
      <string>matraAiLengthmarkKha2.te</string>
      <string>matraAiLengthmarkGha2.te</string>
      <string>matraAiLengthmarkDa2.te</string>
      <string>TtRasmall2.te</string>
      <string>TRasmall2.te</string>
      <string>GRasmall2.te</string>
      <string>KaSsasmall2.te</string>
      <string>matraVocalicR1.te</string>
      <string>matraVocalicRr1.te</string>
      <string>Kha2.te</string>
      <string>Gha2.te</string>
      <string>Cha2.te</string>
      <string>Jha2.te</string>
      <string>Ddha2.te</string>
      <string>Tha2.te</string>
      <string>Dha2.te</string>
      <string>Pha2.te</string>
      <string>Bha2.te</string>
      <string>KhamatraAa2.te</string>
      <string>ChamatraAa2.te</string>
      <string>JhamatraAa2.te</string>
      <string>GhamatraAa2.te</string>
      <string>DdhamatraAa2.te</string>
      <string>ThamatraAa2.te</string>
      <string>DhamatraAa2.te</string>
      <string>PhamatraAa2.te</string>
      <string>BhamatraAa2.te</string>
      <string>KhamatraI2.te</string>
      <string>GhamatraI2.te</string>
      <string>ChamatraI2.te</string>
      <string>JhamatraI2.te</string>
      <string>DdhamatraI2.te</string>
      <string>ThamatraI2.te</string>
      <string>DhamatraI2.te</string>
      <string>PhamatraI2.te</string>
      <string>BhamatraI2.te</string>
      <string>KhamatraIi2.te</string>
      <string>GhamatraIi2.te</string>
      <string>ChamatraIi2.te</string>
      <string>JhamatraIi2.te</string>
      <string>DdhamatraIi2.te</string>
      <string>ThamatraIi2.te</string>
      <string>DhamatraIi2.te</string>
      <string>PhamatraIi2.te</string>
      <string>BhamatraIi2.te</string>
      <string>KhamatraE2.te</string>
      <string>GhamatraE2.te</string>
      <string>ChamatraE2.te</string>
      <string>JhamatraE2.te</string>
      <string>DdhamatraE2.te</string>
      <string>ThamatraE2.te</string>
      <string>DhamatraE2.te</string>
      <string>PhamatraE2.te</string>
      <string>BhamatraE2.te</string>
      <string>KhamatraEe2.te</string>
      <string>GhamatraEe2.te</string>
      <string>ChamatraEe2.te</string>
      <string>JhamatraEe2.te</string>
      <string>DdhamatraEe2.te</string>
      <string>ThamatraEe2.te</string>
      <string>DhamatraEe2.te</string>
      <string>PhamatraEe2.te</string>
      <string>BhamatraEe2.te</string>
      <string>KhamatraO2.te</string>
      <string>GhamatraO2.te</string>
      <string>ChamatraO2.te</string>
      <string>JhamatraO2.te</string>
      <string>DdhamatraO2.te</string>
      <string>ThamatraO2.te</string>
      <string>DhamatraO2.te</string>
      <string>PhamatraO2.te</string>
      <string>BhamatraO2.te</string>
      <string>KhamatraOo2.te</string>
      <string>GhamatraOo2.te</string>
      <string>ChamatraOo2.te</string>
      <string>JhamatraOo2.te</string>
      <string>DdhamatraOo2.te</string>
      <string>ThamatraOo2.te</string>
      <string>DhamatraOo2.te</string>
      <string>PhamatraOo2.te</string>
      <string>BhamatraOo2.te</string>
      <string>KhamatraAu2.te</string>
      <string>GhamatraAu2.te</string>
      <string>ChamatraAu2.te</string>
      <string>JhamatraAu2.te</string>
      <string>DdhamatraAu2.te</string>
      <string>ThamatraAu2.te</string>
      <string>DhamatraAu2.te</string>
      <string>PhamatraAu2.te</string>
      <string>BhamatraAu2.te</string>
      <string>KhamatraU2.te</string>
      <string>GhamatraU2.te</string>
      <string>ChamatraU2.te</string>
      <string>JhamatraU2.te</string>
      <string>DdhamatraU2.te</string>
      <string>ThamatraU2.te</string>
      <string>DhamatraU2.te</string>
      <string>PhamatraU2.te</string>
      <string>BhamatraU2.te</string>
      <string>KhamatraUu2.te</string>
      <string>GhamatraUu2.te</string>
      <string>ChamatraUu2.te</string>
      <string>JhamatraUu2.te</string>
      <string>DdhamatraUu2.te</string>
      <string>ThamatraUu2.te</string>
      <string>DhamatraUu2.te</string>
      <string>PhamatraUu2.te</string>
      <string>BhamatraUu2.te</string>
      <string>KhaHalant2.te</string>
      <string>GhaHalant2.te</string>
      <string>ChaHalant2.te</string>
      <string>JhaHalant2.te</string>
      <string>DdhaHalant2.te</string>
      <string>ThaHalant2.te</string>
      <string>DhaHalant2.te</string>
      <string>PhaHalant2.te</string>
      <string>BhaHalant2.te</string>
      <string>KaSsamatraAi.te</string>
      <string>dummy</string>
      <string>ZWNJ</string>
      <string>ZWJ</string>
      <string>Ek</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>Germandbls</key>
      <string>uni1E9E</string>
      <key>bulletoperator</key>
      <string>uni2219</string>
      <key>cedillacomb</key>
      <string>uni0327</string>
      <key>cedillacomb.case</key>
      <string>uni0327.case</string>
      <key>circumflexcomb</key>
      <string>uni0302</string>
      <key>circumflexcomb.case</key>
      <string>uni0302.case</string>
      <key>circumflexcomb.narrow</key>
      <string>uni0302.narrow</string>
      <key>dieresiscomb</key>
      <string>uni0308</string>
      <key>dieresiscomb.case</key>
      <string>uni0308.case</string>
      <key>dieresiscomb.narrow</key>
      <string>uni0308.narrow</string>
      <key>divisionslash</key>
      <string>uni2215</string>
      <key>dotaccentcomb</key>
      <string>uni0307</string>
      <key>eightinferior</key>
      <string>uni2088</string>
      <key>eightsuperior</key>
      <string>uni2078</string>
      <key>euro</key>
      <string>Euro</string>
      <key>figurespace</key>
      <string>uni2007</string>
      <key>fiveinferior</key>
      <string>uni2085</string>
      <key>fivesuperior</key>
      <string>uni2075</string>
      <key>fourinferior</key>
      <string>uni2084</string>
      <key>foursuperior</key>
      <string>uni2074</string>
      <key>guillemetleft</key>
      <string>guillemotleft</string>
      <key>guillemetright</key>
      <string>guillemotright</string>
      <key>hairspace</key>
      <string>uni200A</string>
      <key>idotless</key>
      <string>dotlessi</string>
      <key>macroncomb</key>
      <string>uni0304</string>
      <key>macroncomb.case</key>
      <string>uni0304.case</string>
      <key>macroncomb.narrow</key>
      <string>uni0304.narrow</string>
      <key>micro</key>
      <string>uni00B5</string>
      <key>nbspace</key>
      <string>uni00A0</string>
      <key>nineinferior</key>
      <string>uni2089</string>
      <key>ninesuperior</key>
      <string>uni2079</string>
      <key>oneinferior</key>
      <string>uni2081</string>
      <key>onesuperior</key>
      <string>uni00B9</string>
      <key>punctuationspace</key>
      <string>uni2008</string>
      <key>ringcomb</key>
      <string>uni030A</string>
      <key>ringcomb.case</key>
      <string>uni030A.case</string>
      <key>rupeeIndian</key>
      <string>uni20B9</string>
      <key>seveninferior</key>
      <string>uni2087</string>
      <key>sevensuperior</key>
      <string>uni2077</string>
      <key>sixinferior</key>
      <string>uni2086</string>
      <key>sixsuperior</key>
      <string>uni2076</string>
      <key>softhyphen</key>
      <string>uni00AD</string>
      <key>thinspace</key>
      <string>uni2009</string>
      <key>threeinferior</key>
      <string>uni2083</string>
      <key>threesuperior</key>
      <string>uni00B3</string>
      <key>twoinferior</key>
      <string>uni2082</string>
      <key>twosuperior</key>
      <string>uni00B2</string>
      <key>zeroinferior</key>
      <string>uni2080</string>
      <key>zerosuperior</key>
      <string>uni2070</string>
      <key>zerowidthspace</key>
      <string>uni200B</string>
    </dict>
    <key>public.skipExportGlyphs</key>
    <array>
      <string>Terminals.te</string>
      <string>chukka</string>
      <string>jbottom</string>
      <string>kombu_1</string>
      <string>kombu_2</string>
      <string>matraUVar1.te</string>
      <string>smallform_kombu</string>
      <string>trademark</string>
    </array>
  </dict>
</plist>
