<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>RephChandrabindu.dv</key>
  <string>R_ephC_handrabindu.dv.glif</string>
  <key>matraAiChandrabinduone.dv</key>
  <string>matraA_iC_handrabinduone.dv.glif</string>
  <key>matraAione.dv</key>
  <string>matraA_ione.dv.glif</string>
  <key>matraEChandrabinduone.dv</key>
  <string>matraE_C_handrabinduone.dv.glif</string>
  <key>matraERephBinduone.dv</key>
  <string>matraE_R_ephB_induone.dv.glif</string>
  <key>matraERephChandrabinduone.dv</key>
  <string>matraE_R_ephC_handrabinduone.dv.glif</string>
  <key>matraERephone.dv</key>
  <string>matraE_R_ephone.dv.glif</string>
  <key>matraIiRephBindu.dv</key>
  <string>matraI_iR_ephB_indu.dv.glif</string>
  <key>matraIiRephBindusix.dv</key>
  <string>matraI_iR_ephB_indusix.dv.glif</string>
</dict>
</plist>
