<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.github.googlei18n.ufo2ft.filters</key>
    <array>
      <dict>
        <key>name</key>
        <string>eraseOpenCorners</string>
        <key>namespace</key>
        <string>glyphsLib.filters</string>
        <key>pre</key>
        <true/>
      </dict>
    </array>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1352</string>
    <key>com.schriftgestaltung.customName</key>
    <string>Thin</string>
    <key>com.schriftgestaltung.customParameter.GSFont.Enforce Compatibility Check</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFont.Use Extension Kerning</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.Use Line Breaks</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFont.Variable Font Origin</key>
    <string>AFC68E2E-92AC-4ABE-85EF-B91D76D907AF</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string>Light_Condensed</string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>75</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Condensed</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>75</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>NULL</string>
      <string>CR</string>
      <string>space</string>
      <string>exclam</string>
      <string>quotedbl</string>
      <string>numbersign</string>
      <string>percent</string>
      <string>ampersand</string>
      <string>quotesingle</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>asterisk</string>
      <string>plus</string>
      <string>comma</string>
      <string>hyphen</string>
      <string>period</string>
      <string>slash</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>less</string>
      <string>equal</string>
      <string>greater</string>
      <string>question</string>
      <string>at</string>
      <string>bracketleft</string>
      <string>backslash</string>
      <string>bracketright</string>
      <string>asciicircum</string>
      <string>underscore</string>
      <string>braceleft</string>
      <string>bar</string>
      <string>braceright</string>
      <string>asciitilde</string>
      <string>ellipsis</string>
      <string>endash</string>
      <string>emdash</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>divide</string>
      <string>minus</string>
      <string>multiply</string>
      <string>dollar</string>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>grave</string>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
      <string>circumflex</string>
      <string>guilsinglleft</string>
      <string>OE</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>bullet</string>
      <string>tilde</string>
      <string>guilsinglright</string>
      <string>oe</string>
      <string>exclamdown</string>
      <string>cent</string>
      <string>sterling</string>
      <string>currency</string>
      <string>yen</string>
      <string>brokenbar</string>
      <string>section</string>
      <string>dieresis</string>
      <string>copyright</string>
      <string>ordfeminine</string>
      <string>registered</string>
      <string>degree</string>
      <string>plusminus</string>
      <string>acute</string>
      <string>paragraph</string>
      <string>cedilla</string>
      <string>ordmasculine</string>
      <string>questiondown</string>
      <string>Agrave</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Atilde</string>
      <string>Aring</string>
      <string>Adieresis</string>
      <string>AE</string>
      <string>Ccedilla</string>
      <string>Egrave</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Igrave</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Eth</string>
      <string>Ntilde</string>
      <string>Ograve</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Otilde</string>
      <string>Odieresis</string>
      <string>Oslash</string>
      <string>Ugrave</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Yacute</string>
      <string>Thorn</string>
      <string>germandbls</string>
      <string>agrave</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>atilde</string>
      <string>adieresis</string>
      <string>aring</string>
      <string>ae</string>
      <string>ccedilla</string>
      <string>egrave</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>igrave</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>eth</string>
      <string>ntilde</string>
      <string>ograve</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>otilde</string>
      <string>odieresis</string>
      <string>oslash</string>
      <string>ugrave</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>yacute</string>
      <string>thorn</string>
      <string>ydieresis</string>
      <string>logicalnot</string>
      <string>macron</string>
      <string>ring</string>
      <string>periodcentered</string>
      <string>fi</string>
      <string>fl</string>
      <string>fraction</string>
      <string>onesuperior</string>
      <string>twosuperior</string>
      <string>threesuperior</string>
      <string>onequarter</string>
      <string>onehalf</string>
      <string>threequarters</string>
      <string>r_t</string>
      <string>Germandbls</string>
      <string>idotless</string>
      <string>f_f</string>
      <string>f_f_i</string>
      <string>f_f_l</string>
      <string>zero.zero</string>
      <string>zero.tf</string>
      <string>one.tf</string>
      <string>two.tf</string>
      <string>three.tf</string>
      <string>four.tf</string>
      <string>five.tf</string>
      <string>six.tf</string>
      <string>seven.tf</string>
      <string>eight.tf</string>
      <string>nine.tf</string>
      <string>zero.tf.zero</string>
      <string>zero.subs</string>
      <string>one.subs</string>
      <string>two.subs</string>
      <string>three.subs</string>
      <string>four.subs</string>
      <string>five.subs</string>
      <string>six.subs</string>
      <string>seven.subs</string>
      <string>eight.subs</string>
      <string>nine.subs</string>
      <string>zero.dnom</string>
      <string>one.dnom</string>
      <string>two.dnom</string>
      <string>three.dnom</string>
      <string>four.dnom</string>
      <string>five.dnom</string>
      <string>six.dnom</string>
      <string>seven.dnom</string>
      <string>eight.dnom</string>
      <string>nine.dnom</string>
      <string>zeroinferior</string>
      <string>oneinferior</string>
      <string>twoinferior</string>
      <string>threeinferior</string>
      <string>fourinferior</string>
      <string>fiveinferior</string>
      <string>sixinferior</string>
      <string>seveninferior</string>
      <string>eightinferior</string>
      <string>nineinferior</string>
      <string>zero.numr</string>
      <string>one.numr</string>
      <string>two.numr</string>
      <string>three.numr</string>
      <string>four.numr</string>
      <string>five.numr</string>
      <string>six.numr</string>
      <string>seven.numr</string>
      <string>eight.numr</string>
      <string>nine.numr</string>
      <string>zerosuperior</string>
      <string>foursuperior</string>
      <string>fivesuperior</string>
      <string>sixsuperior</string>
      <string>sevensuperior</string>
      <string>eightsuperior</string>
      <string>ninesuperior</string>
      <string>figurespace</string>
      <string>hairspace</string>
      <string>punctuationspace</string>
      <string>nbspace</string>
      <string>thinspace</string>
      <string>zerowidthspace</string>
      <string>question_alt</string>
      <string>softhyphen</string>
      <string>guillemetleft</string>
      <string>guillemetright</string>
      <string>euro</string>
      <string>rupeeIndian</string>
      <string>bulletoperator</string>
      <string>divisionslash</string>
      <string>micro</string>
      <string>dieresiscomb</string>
      <string>dotaccentcomb</string>
      <string>gravecomb</string>
      <string>acutecomb</string>
      <string>circumflexcomb</string>
      <string>ringcomb</string>
      <string>tildecomb</string>
      <string>macroncomb</string>
      <string>cedillacomb</string>
      <string>dieresiscomb.case</string>
      <string>gravecomb.case</string>
      <string>acutecomb.case</string>
      <string>circumflexcomb.case</string>
      <string>ringcomb.case</string>
      <string>tildecomb.case</string>
      <string>macroncomb.case</string>
      <string>cedillacomb.case</string>
      <string>dieresiscomb.narrow</string>
      <string>gravecomb.narrow</string>
      <string>acutecomb.narrow</string>
      <string>circumflexcomb.narrow</string>
      <string>tildecomb.narrow</string>
      <string>macroncomb.narrow</string>
      <string>Danda.or</string>
      <string>DoubleDanda.or</string>
      <string>Candrabindu.or</string>
      <string>Anusvara.or</string>
      <string>Visarga.or</string>
      <string>VowelA.or</string>
      <string>VowelAa.or</string>
      <string>VowelI.or</string>
      <string>VowelIi.or</string>
      <string>VowelU.or</string>
      <string>VowelUu.or</string>
      <string>VowelVocalicR.or</string>
      <string>VowelVocalicL.or</string>
      <string>VowelE.or</string>
      <string>VowelAi.or</string>
      <string>VowelO.or</string>
      <string>VowelAu.or</string>
      <string>Ka.or</string>
      <string>Kha.or</string>
      <string>Ga.or</string>
      <string>Gha.or</string>
      <string>Nga.or</string>
      <string>Ca.or</string>
      <string>Cha.or</string>
      <string>Ja.or</string>
      <string>Jha.or</string>
      <string>Nya.or</string>
      <string>Tta.or</string>
      <string>Ttha.or</string>
      <string>Dda.or</string>
      <string>Ddha.or</string>
      <string>Nna.or</string>
      <string>Ta.or</string>
      <string>Tha.or</string>
      <string>Da.or</string>
      <string>Dha.or</string>
      <string>Na.or</string>
      <string>Pa.or</string>
      <string>Pha.or</string>
      <string>Ba.or</string>
      <string>Bha.or</string>
      <string>Ma.or</string>
      <string>Ya.or</string>
      <string>Ra.or</string>
      <string>La.or</string>
      <string>Lla.or</string>
      <string>Va.or</string>
      <string>Sha.or</string>
      <string>Ssa.or</string>
      <string>Sa.or</string>
      <string>Ha.or</string>
      <string>Wa.or</string>
      <string>Rra.or</string>
      <string>Rha.or</string>
      <string>Yya.or</string>
      <string>VocalicRr.or</string>
      <string>VocalicLl.or</string>
      <string>Nukta.or</string>
      <string>Avagraha.or</string>
      <string>MatraAa.or</string>
      <string>MatraI.or</string>
      <string>MatraIi.or</string>
      <string>MatraU.or</string>
      <string>MatraUu.or</string>
      <string>MatraVocalicR.or</string>
      <string>MatraVocalicRr.or</string>
      <string>MatraVocalicL.or</string>
      <string>MatraVocalicLl.or</string>
      <string>MatraE.or</string>
      <string>MatraAi.or</string>
      <string>MatraO.or</string>
      <string>MatraAu.or</string>
      <string>Virama.or</string>
      <string>LengthmarkAi.or</string>
      <string>LengthmarkAu.or</string>
      <string>zero.or</string>
      <string>one.or</string>
      <string>two.or</string>
      <string>three.or</string>
      <string>four.or</string>
      <string>five.or</string>
      <string>six.or</string>
      <string>seven.or</string>
      <string>eight.or</string>
      <string>nine.or</string>
      <string>Isshar.or</string>
      <string>onequarter.or</string>
      <string>onehalf.or</string>
      <string>threequarter.or</string>
      <string>onesixteenth.or</string>
      <string>oneeigth.or</string>
      <string>threesixteenth.or</string>
      <string>KaKa.or</string>
      <string>KaCa.or</string>
      <string>KaTta.or</string>
      <string>KaTtaRa.or</string>
      <string>KaTa.or</string>
      <string>KaTaRa.or</string>
      <string>KaMa.or</string>
      <string>KaBa.or</string>
      <string>KaSa.or</string>
      <string>KaLa.or</string>
      <string>KaLla.or</string>
      <string>KaSsa.or</string>
      <string>KaSsaNna.or</string>
      <string>KaSsaMa.or</string>
      <string>KaSsaRa.or</string>
      <string>KhaLla.or</string>
      <string>GaDa.or</string>
      <string>GaDha.or</string>
      <string>GaNa.or</string>
      <string>GaLa.or</string>
      <string>GaLla.or</string>
      <string>GhaNa.or</string>
      <string>NgaKa.or</string>
      <string>NgaKaTa.or</string>
      <string>NgaKaSsa.or</string>
      <string>NgaKha.or</string>
      <string>NgaGa.or</string>
      <string>NgaGha.or</string>
      <string>CaCa.or</string>
      <string>CaCha.or</string>
      <string>JaJa.or</string>
      <string>JaJaBa.or</string>
      <string>JaJha.or</string>
      <string>JaNya.or</string>
      <string>JaBa.or</string>
      <string>NyaCa.or</string>
      <string>NyaCha.or</string>
      <string>NyaJa.or</string>
      <string>NyaJha.or</string>
      <string>TtaTta.or</string>
      <string>DaYa.or</string>
      <string>DdaGa.or</string>
      <string>DdaDda.or</string>
      <string>NnaTta.or</string>
      <string>NnaTtha.or</string>
      <string>NnaDda.or</string>
      <string>NnaDdaRa.or</string>
      <string>NnaDdha.or</string>
      <string>NnaNna.or</string>
      <string>TaKa.or</string>
      <string>TaTa.or</string>
      <string>TaTaRa.or</string>
      <string>TaTaBa.or</string>
      <string>TaKaSsa.or</string>
      <string>TaTha.or</string>
      <string>TaNa.or</string>
      <string>TaPa.or</string>
      <string>TaBa.or</string>
      <string>TaMa.or</string>
      <string>TaSa.or</string>
      <string>TaSaNa.or</string>
      <string>ThaBa.or</string>
      <string>DaGa.or</string>
      <string>DaGha.or</string>
      <string>DaDa.or</string>
      <string>DaDha.or</string>
      <string>DaDhaBa.or</string>
      <string>DaBa.or</string>
      <string>DaBha.or</string>
      <string>DaMa.or</string>
      <string>DhaBa.or</string>
      <string>DhaYya.or</string>
      <string>NaTa.or</string>
      <string>NaTaRa.or</string>
      <string>NaTaBa.or</string>
      <string>NaTha.or</string>
      <string>NaSa.or</string>
      <string>NaDa.or</string>
      <string>NaDaRa.or</string>
      <string>NaDaBa.or</string>
      <string>NaDha.or</string>
      <string>NaDhaBa.or</string>
      <string>NaDhaRa.or</string>
      <string>NaNa.or</string>
      <string>NaBa.or</string>
      <string>NaMa.or</string>
      <string>PaTta.or</string>
      <string>PaTa.or</string>
      <string>PaNa.or</string>
      <string>PaPa.or</string>
      <string>PaLa.or</string>
      <string>PaLla.or</string>
      <string>PaSa.or</string>
      <string>PhaTta.or</string>
      <string>PhaLa.or</string>
      <string>BaJa.or</string>
      <string>BaDa.or</string>
      <string>BaDha.or</string>
      <string>BaBa.or</string>
      <string>BaLla.or</string>
      <string>BaLa.or</string>
      <string>MaPa.or</string>
      <string>MaPaRa.or</string>
      <string>MaPha.or</string>
      <string>MaNa.or</string>
      <string>MaBa.or</string>
      <string>MaBha.or</string>
      <string>MaBhaRa.or</string>
      <string>MaMa.or</string>
      <string>MaLla.or</string>
      <string>LlaKa.or</string>
      <string>LlaLla.or</string>
      <string>LlaBha.or</string>
      <string>LlaPa.or</string>
      <string>LlaPha.or</string>
      <string>LaKa.or</string>
      <string>LaLa.or</string>
      <string>LaGa.or</string>
      <string>LaDda.or</string>
      <string>LaMa.or</string>
      <string>ShaCa.or</string>
      <string>ShaCha.or</string>
      <string>ShaBa.or</string>
      <string>ShaMa.or</string>
      <string>ShaLla.or</string>
      <string>ShaLa.or</string>
      <string>ShaNa.or</string>
      <string>ShaTta.or</string>
      <string>ShaTtaRa.or</string>
      <string>SsaKa.or</string>
      <string>SsaKaRa.or</string>
      <string>SsaTta.or</string>
      <string>SsaTtaRa.or</string>
      <string>SsaNna.or</string>
      <string>SsaPa.or</string>
      <string>SsaPaRa.or</string>
      <string>SsaPha.or</string>
      <string>SsaTtha.or</string>
      <string>SaKa.or</string>
      <string>SaKaRa.or</string>
      <string>SaKha.or</string>
      <string>SaTa.or</string>
      <string>SaTaRa.or</string>
      <string>SaTha.or</string>
      <string>SaNa.or</string>
      <string>SaPa.or</string>
      <string>SaPha.or</string>
      <string>SaBa.or</string>
      <string>SaMa.or</string>
      <string>SaTta.or</string>
      <string>SaTtaRa.or</string>
      <string>SaLla.or</string>
      <string>SaLa.or</string>
      <string>HaNa.or</string>
      <string>HaMa.or</string>
      <string>HaBa.or</string>
      <string>HaLa.or</string>
      <string>KaRa.or</string>
      <string>KhaRa.or</string>
      <string>GaRa.or</string>
      <string>GhaRa.or</string>
      <string>NgaRa.or</string>
      <string>CaRa.or</string>
      <string>ChaRa.or</string>
      <string>JaRa.or</string>
      <string>JhaRa.or</string>
      <string>NyaRa.or</string>
      <string>TtaRa.or</string>
      <string>TthaRa.or</string>
      <string>DdaRa.or</string>
      <string>DdhaRa.or</string>
      <string>NnaRa.or</string>
      <string>TaRa.or</string>
      <string>ThaRa.or</string>
      <string>DaRa.or</string>
      <string>DhaRa.or</string>
      <string>NaRa.or</string>
      <string>PaRa.or</string>
      <string>PhaRa.or</string>
      <string>BaRa.or</string>
      <string>BhaRa.or</string>
      <string>MaRa.or</string>
      <string>YaRa.or</string>
      <string>LaRa.or</string>
      <string>LlaRa.or</string>
      <string>VaRa.or</string>
      <string>ShaRa.or</string>
      <string>SsaRa.or</string>
      <string>SaRa.or</string>
      <string>HaRa.or</string>
      <string>RraRa.or</string>
      <string>RhaRa.or</string>
      <string>YyaRa.or</string>
      <string>KaSmall.or</string>
      <string>KhaSmall.or</string>
      <string>GaSmall.or</string>
      <string>GhaSmall.or</string>
      <string>NgaSmall.or</string>
      <string>CaSmall.or</string>
      <string>ChaSmall.or</string>
      <string>JaSmall.or</string>
      <string>JhaSmall.or</string>
      <string>TtaSmall.or</string>
      <string>TthaSmall.or</string>
      <string>DdaSmall.or</string>
      <string>DdhaSmall.or</string>
      <string>NnaSmall.or</string>
      <string>TaSmall.or</string>
      <string>ThaSmall.or</string>
      <string>DaSmall.or</string>
      <string>DhaSmall.or</string>
      <string>NaSmall.or</string>
      <string>PaSmall.or</string>
      <string>PhaSmall.or</string>
      <string>BaSmall.or</string>
      <string>BhaSmall.or</string>
      <string>MaSmall.or</string>
      <string>YaSmall.or</string>
      <string>RaSmall.or</string>
      <string>LaSmall.or</string>
      <string>LlaSmall.or</string>
      <string>ShaSmall.or</string>
      <string>SsaSmall.or</string>
      <string>SaSmall.or</string>
      <string>HaSmall.or</string>
      <string>VaSmall.or</string>
      <string>KaSsaSmall.or</string>
      <string>YyaSmall.or</string>
      <string>KaSmall2.or</string>
      <string>KhaSmall2.or</string>
      <string>GaSmall2.or</string>
      <string>GhaSmall2.or</string>
      <string>NgaSmall2.or</string>
      <string>CaSmall2.or</string>
      <string>ChaSmall2.or</string>
      <string>JaSmall2.or</string>
      <string>JhaSmall2.or</string>
      <string>TtaSmall2.or</string>
      <string>TthaSmall2.or</string>
      <string>DdaSmall2.or</string>
      <string>DdhaSmall2.or</string>
      <string>NnaSmall2.or</string>
      <string>TaSmall2.or</string>
      <string>ThaSmall2.or</string>
      <string>DaSmall2.or</string>
      <string>DhaSmall2.or</string>
      <string>NaSmall2.or</string>
      <string>PaSmall2.or</string>
      <string>PhaSmall2.or</string>
      <string>BaSmall2.or</string>
      <string>BhaSmall2.or</string>
      <string>MaSmall2.or</string>
      <string>YaSmall2.or</string>
      <string>RaSmall2.or</string>
      <string>LaSmall2.or</string>
      <string>LlaSmall2.or</string>
      <string>ShaSmall2.or</string>
      <string>SsaSmall2.or</string>
      <string>SaSmall2.or</string>
      <string>HaSmall2.or</string>
      <string>VaSmall2.or</string>
      <string>Reph.or</string>
      <string>KhaI.or</string>
      <string>ThaI.or</string>
      <string>DhaI.or</string>
      <string>MatraICandrabindu.or</string>
      <string>MatraIReph.or</string>
      <string>MatraIRephCandrabindu.or</string>
      <string>LengthmarkAiReph.or</string>
      <string>LengthmarkAiCandrabindu.or</string>
      <string>LengthmarkAiRephCandrabindu.or</string>
      <string>LengthmarkAuReph.or</string>
      <string>LengthmarkAuCandrabindu.or</string>
      <string>LengthmarkAuRephCandrabindu.or</string>
      <string>RephCandrabindu.or</string>
      <string>LengthmarkAi_Pha.or</string>
      <string>LengthmarkAiReph_Pha.or</string>
      <string>LengthmarkAiCandrabindu_Pha.or</string>
      <string>LengthmarkAiRephCandrabindu_Pha.or</string>
      <string>MatraU_alt.or</string>
      <string>MatraUu_alt.or</string>
      <string>MatraVocalicR_alt.or</string>
      <string>Virama_alt.or</string>
      <string>MatraU_alt1.or</string>
      <string>MatraUu_alt1.or</string>
      <string>MatraVocalicR_alt1.or</string>
      <string>MatraU_alt2.or</string>
      <string>MatraUu_alt2.or</string>
      <string>MatraVocalicR_alt2.or</string>
      <string>MatraU_alt3.or</string>
      <string>MatraUu_alt3.or</string>
      <string>MatraVocalicR_alt3.or</string>
      <string>MatraU_alt4.or</string>
      <string>MatraUu_alt4.or</string>
      <string>MatraVocalicR_alt4.or</string>
      <string>MatraU_alt5.or</string>
      <string>MatraUu_alt5.or</string>
      <string>MatraVocalicR_alt5.or</string>
      <string>MatraU_alt6.or</string>
      <string>MatraUu_alt6.or</string>
      <string>MatraVocalicR_alt6.or</string>
      <string>RaSmall_U.or</string>
      <string>RaSmall_Uu.or</string>
      <string>RaSmall2_U.or</string>
      <string>RaSmall2_Uu.or</string>
      <string>ZWJ</string>
      <string>ZWNJ</string>
      <string>uni25CC</string>
      <string>Ek</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>Germandbls</key>
      <string>uni1E9E</string>
      <key>bulletoperator</key>
      <string>uni2219</string>
      <key>cedillacomb</key>
      <string>uni0327</string>
      <key>cedillacomb.case</key>
      <string>uni0327.case</string>
      <key>circumflexcomb</key>
      <string>uni0302</string>
      <key>circumflexcomb.case</key>
      <string>uni0302.case</string>
      <key>circumflexcomb.narrow</key>
      <string>uni0302.narrow</string>
      <key>dieresiscomb</key>
      <string>uni0308</string>
      <key>dieresiscomb.case</key>
      <string>uni0308.case</string>
      <key>dieresiscomb.narrow</key>
      <string>uni0308.narrow</string>
      <key>divisionslash</key>
      <string>uni2215</string>
      <key>dotaccentcomb</key>
      <string>uni0307</string>
      <key>eightinferior</key>
      <string>uni2088</string>
      <key>eightsuperior</key>
      <string>uni2078</string>
      <key>euro</key>
      <string>Euro</string>
      <key>figurespace</key>
      <string>uni2007</string>
      <key>fiveinferior</key>
      <string>uni2085</string>
      <key>fivesuperior</key>
      <string>uni2075</string>
      <key>fourinferior</key>
      <string>uni2084</string>
      <key>foursuperior</key>
      <string>uni2074</string>
      <key>guillemetleft</key>
      <string>guillemotleft</string>
      <key>guillemetright</key>
      <string>guillemotright</string>
      <key>hairspace</key>
      <string>uni200A</string>
      <key>idotless</key>
      <string>dotlessi</string>
      <key>macroncomb</key>
      <string>uni0304</string>
      <key>macroncomb.case</key>
      <string>uni0304.case</string>
      <key>macroncomb.narrow</key>
      <string>uni0304.narrow</string>
      <key>micro</key>
      <string>uni00B5</string>
      <key>nbspace</key>
      <string>uni00A0</string>
      <key>nineinferior</key>
      <string>uni2089</string>
      <key>ninesuperior</key>
      <string>uni2079</string>
      <key>oneinferior</key>
      <string>uni2081</string>
      <key>onesuperior</key>
      <string>uni00B9</string>
      <key>punctuationspace</key>
      <string>uni2008</string>
      <key>ringcomb</key>
      <string>uni030A</string>
      <key>ringcomb.case</key>
      <string>uni030A.case</string>
      <key>rupeeIndian</key>
      <string>uni20B9</string>
      <key>seveninferior</key>
      <string>uni2087</string>
      <key>sevensuperior</key>
      <string>uni2077</string>
      <key>sixinferior</key>
      <string>uni2086</string>
      <key>sixsuperior</key>
      <string>uni2076</string>
      <key>softhyphen</key>
      <string>uni00AD</string>
      <key>thinspace</key>
      <string>uni2009</string>
      <key>threeinferior</key>
      <string>uni2083</string>
      <key>threesuperior</key>
      <string>uni00B3</string>
      <key>twoinferior</key>
      <string>uni2082</string>
      <key>twosuperior</key>
      <string>uni00B2</string>
      <key>zeroinferior</key>
      <string>uni2080</string>
      <key>zerosuperior</key>
      <string>uni2070</string>
      <key>zerowidthspace</key>
      <string>uni200B</string>
    </dict>
    <key>public.skipExportGlyphs</key>
    <array>
      <string>Ra_Ba.or</string>
      <string>Ra_Ca.or</string>
      <string>Ra_Ga.or</string>
      <string>Ra_Ka.or</string>
      <string>Ra_KaTa.or</string>
      <string>Ra_Pa.or</string>
      <string>Ra_ShaTta.or</string>
      <string>Ra_SsaKa.or</string>
      <string>Ra_SsaPa.or</string>
      <string>jbottom</string>
    </array>
  </dict>
</plist>
