<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>NULL</string>
    <string>uni000D</string>
    <string>space</string>
    <string>uni0900</string>
    <string>Chandrabindu.dv</string>
    <string>Bindu.dv</string>
    <string>Visarga.dv</string>
    <string>vowelShortA.dv</string>
    <string>vowelA.dv</string>
    <string>vowelAa.dv</string>
    <string>vowelI.dv</string>
    <string>vowelIi.dv</string>
    <string>vowelU.dv</string>
    <string>vowelUu.dv</string>
    <string>vowelRu.dv</string>
    <string>vowelLru.dv</string>
    <string>vowelChandraE.dv</string>
    <string>vowelShortE.dv</string>
    <string>vowelE.dv</string>
    <string>vowelAi.dv</string>
    <string>vowelChandraO.dv</string>
    <string>vowelShortO.dv</string>
    <string>vowelO.dv</string>
    <string>vowelAu.dv</string>
    <string>Ka.dv</string>
    <string>Kha.dv</string>
    <string>Ga.dv</string>
    <string>Gha.dv</string>
    <string>Nga.dv</string>
    <string>Ca.dv</string>
    <string>Cha.dv</string>
    <string>Ja.dv</string>
    <string>Jha.dv</string>
    <string>Nya.dv</string>
    <string>Tta.dv</string>
    <string>Ttha.dv</string>
    <string>Dda.dv</string>
    <string>Ddha.dv</string>
    <string>Nna.dv</string>
    <string>Ta.dv</string>
    <string>Tha.dv</string>
    <string>Da.dv</string>
    <string>Dha.dv</string>
    <string>Na.dv</string>
    <string>NaNukta.dv</string>
    <string>Pa.dv</string>
    <string>Pha.dv</string>
    <string>Ba.dv</string>
    <string>Bha.dv</string>
    <string>Ma.dv</string>
    <string>Ya.dv</string>
    <string>Ra.dv</string>
    <string>RaNukta.dv</string>
    <string>La.dv</string>
    <string>Lla.dv</string>
    <string>LlaNukta.dv</string>
    <string>Va.dv</string>
    <string>Sha.dv</string>
    <string>Ssa.dv</string>
    <string>Sa.dv</string>
    <string>Ha.dv</string>
    <string>uni093A</string>
    <string>uni093B</string>
    <string>Nukta.dv</string>
    <string>Avagraha.dv</string>
    <string>matraA.dv</string>
    <string>matraI.dv</string>
    <string>matraIi.dv</string>
    <string>matraU.dv</string>
    <string>matraUu.dv</string>
    <string>matraRu.dv</string>
    <string>matraRuu.dv</string>
    <string>Chandra.dv</string>
    <string>matraShortE.dv</string>
    <string>matraE.dv</string>
    <string>matraAi.dv</string>
    <string>matraAChandra.dv</string>
    <string>matraShortO.dv</string>
    <string>matraO.dv</string>
    <string>matraAu.dv</string>
    <string>Halant.dv</string>
    <string>uni094E</string>
    <string>uni094F</string>
    <string>Om.dv</string>
    <string>Udatta.dv</string>
    <string>Anudatta.dv</string>
    <string>uni0953</string>
    <string>uni0954</string>
    <string>uni0955</string>
    <string>uni0956</string>
    <string>uni0957</string>
    <string>KaNukta.dv</string>
    <string>KhaNukta.dv</string>
    <string>GaNukta.dv</string>
    <string>JaNukta.dv</string>
    <string>DdaNukta.dv</string>
    <string>DdhaNukta.dv</string>
    <string>PhaNukta.dv</string>
    <string>YaNukta.dv</string>
    <string>vowelRuu.dv</string>
    <string>vowelLruu.dv</string>
    <string>matraLru.dv</string>
    <string>matraLruu.dv</string>
    <string>Danda.dv</string>
    <string>Doubledanda.dv</string>
    <string>Shunya.dv</string>
    <string>Ek.dv</string>
    <string>Don.dv</string>
    <string>Teen.dv</string>
    <string>Chaar.dv</string>
    <string>Paach.dv</string>
    <string>Saha.dv</string>
    <string>Saat.dv</string>
    <string>Aath.dv</string>
    <string>Nau.dv</string>
    <string>uni0970</string>
    <string>uni0971</string>
    <string>vowelChandraA.dv</string>
    <string>uni0973</string>
    <string>uni0974</string>
    <string>uni0975</string>
    <string>uni0976</string>
    <string>uni0977</string>
    <string>uni0978</string>
    <string>uni0979</string>
    <string>uni097A</string>
    <string>uni097B</string>
    <string>uni097C</string>
    <string>uni097D</string>
    <string>uni097E</string>
    <string>uni097F</string>
    <string>KaSsa.dv</string>
    <string>JaNya.dv</string>
    <string>Sha.MAR.dv</string>
    <string>La.MAR.dv</string>
    <string>Paanch.dv</string>
    <string>Aanth.dv</string>
    <string>vowelIiBindu.dv</string>
    <string>KamatraLru.dv</string>
    <string>KamatraLruu.dv</string>
    <string>PamatraLru.dv</string>
    <string>PamatraLruu.dv</string>
    <string>DamatraRu.dv</string>
    <string>RamatraU.dv</string>
    <string>RamatraUu.dv</string>
    <string>ShamatraRu.dv</string>
    <string>HamatraRu.dv</string>
    <string>KaSsamatraU.dv</string>
    <string>JaNyamatraU.dv</string>
    <string>JhamatraU.dv</string>
    <string>KaNuktamatraU.dv</string>
    <string>JaNuktamatraU.dv</string>
    <string>PhaNuktamatraU.dv</string>
    <string>YaNuktamatraU.dv</string>
    <string>KaRa.dv</string>
    <string>KhaRa.dv</string>
    <string>GaRa.dv</string>
    <string>GhaRa.dv</string>
    <string>CaRa.dv</string>
    <string>JaRa.dv</string>
    <string>JhaRa.dv</string>
    <string>NyaRa.dv</string>
    <string>NnaRa.dv</string>
    <string>TaRa.dv</string>
    <string>ThaRa.dv</string>
    <string>DaRa.dv</string>
    <string>DhaRa.dv</string>
    <string>NaRa.dv</string>
    <string>PaRa.dv</string>
    <string>PhaRa.dv</string>
    <string>BaRa.dv</string>
    <string>BhaRa.dv</string>
    <string>MaRa.dv</string>
    <string>YaRa.dv</string>
    <string>LaRa.dv</string>
    <string>VaRa.dv</string>
    <string>ShaRa.dv</string>
    <string>SsaRa.dv</string>
    <string>SaRa.dv</string>
    <string>HaRa.dv</string>
    <string>KaNuktaRa.dv</string>
    <string>KhaNuktaRa.dv</string>
    <string>GaNuktaRa.dv</string>
    <string>JaNuktaRa.dv</string>
    <string>PhaNuktaRa.dv</string>
    <string>YaNuktaRa.dv</string>
    <string>NgaKa.dv</string>
    <string>NgaGa.dv</string>
    <string>NgaMa.dv</string>
    <string>ChaVa.dv</string>
    <string>TtaTta.dv</string>
    <string>TtaTtha.dv</string>
    <string>TtaVa.dv</string>
    <string>TthaTtha.dv</string>
    <string>DdaDda.dv</string>
    <string>DdaDdha.dv</string>
    <string>DdhaDdha.dv</string>
    <string>DaGa.dv</string>
    <string>DaDa.dv</string>
    <string>DaDha.dv</string>
    <string>DaNa.dv</string>
    <string>DaBa.dv</string>
    <string>DaBha.dv</string>
    <string>DaMa.dv</string>
    <string>DaYa.dv</string>
    <string>DaVa.dv</string>
    <string>KhaNa.dv</string>
    <string>GaNa.dv</string>
    <string>GhaNa.dv</string>
    <string>CaNa.dv</string>
    <string>JaNa.dv</string>
    <string>DhaNa.dv</string>
    <string>NaNa.dv</string>
    <string>PaNa.dv</string>
    <string>BaNa.dv</string>
    <string>MaNa.dv</string>
    <string>ShaNa.dv</string>
    <string>ChaRaYa.dv</string>
    <string>TtaTtaYa.dv</string>
    <string>TthaTthaYa.dv</string>
    <string>DdaDdaYa.dv</string>
    <string>DdhaRaYa.dv</string>
    <string>DaDaYa.dv</string>
    <string>DaDhaYa.dv</string>
    <string>DaBhaYa.dv</string>
    <string>DaRaYa.dv</string>
    <string>DaVaYa.dv</string>
    <string>DhaNaYa.dv</string>
    <string>NaNaYa.dv</string>
    <string>BhaRaYa.dv</string>
    <string>ShaRaYa.dv</string>
    <string>ChaYa.dv</string>
    <string>NgaYa.dv</string>
    <string>TtaYa.dv</string>
    <string>TthaYa.dv</string>
    <string>DdaYa.dv</string>
    <string>DdhaYa.dv</string>
    <string>KaSsaMaYa.dv</string>
    <string>KaSaPaRa.dv</string>
    <string>KaSaPaLa.dv</string>
    <string>NaSaKaRa.dv</string>
    <string>TaSaNaYa.dv</string>
    <string>NaPhaLaYa.dv</string>
    <string>NaTaRaYa.dv</string>
    <string>NaSaMaYa.dv</string>
    <string>BaSaTta.dv</string>
    <string>KaTaYa.dv</string>
    <string>KaTaRa.dv</string>
    <string>KaTaVa.dv</string>
    <string>KaPaRa.dv</string>
    <string>KaVaYa.dv</string>
    <string>KaSsaMa.dv</string>
    <string>KaSsaYa.dv</string>
    <string>KaSsaVa.dv</string>
    <string>KaSaTta.dv</string>
    <string>KaSaDda.dv</string>
    <string>KaSaTa.dv</string>
    <string>KaSaPa.dv</string>
    <string>GaDhaVa.dv</string>
    <string>GaDhaYa.dv</string>
    <string>GaNaYa.dv</string>
    <string>GaBhaYa.dv</string>
    <string>GaRaYa.dv</string>
    <string>CaChaVa.dv</string>
    <string>JaJaNya.dv</string>
    <string>JaJaYa.dv</string>
    <string>JaJaVa.dv</string>
    <string>JaNyaYa.dv</string>
    <string>TaKaYa.dv</string>
    <string>TaKaRa.dv</string>
    <string>TaKaVa.dv</string>
    <string>TaKaSsa.dv</string>
    <string>TaKhaNa.dv</string>
    <string>TaKhaRa.dv</string>
    <string>TaTaYa.dv</string>
    <string>TaTaVa.dv</string>
    <string>TaNaYa.dv</string>
    <string>TaPaRa.dv</string>
    <string>TaPaLa.dv</string>
    <string>TaMaYa.dv</string>
    <string>TaRaYa.dv</string>
    <string>TaSaPha.dv</string>
    <string>TaSaNa.dv</string>
    <string>TaSaYa.dv</string>
    <string>TaSaVa.dv</string>
    <string>NaKaSa.dv</string>
    <string>NaTaYa.dv</string>
    <string>NaTaRa.dv</string>
    <string>NaTaSa.dv</string>
    <string>NaThaYa.dv</string>
    <string>NaThaVa.dv</string>
    <string>NaDaRa.dv</string>
    <string>NaDaVa.dv</string>
    <string>NaDhaYa.dv</string>
    <string>NaDhaRa.dv</string>
    <string>NaDhaVa.dv</string>
    <string>NaPaRa.dv</string>
    <string>NaBhaYa.dv</string>
    <string>NaBhaVa.dv</string>
    <string>NaMaYa.dv</string>
    <string>NaVaHa.dv</string>
    <string>NaSaTta.dv</string>
    <string>NaSaYa.dv</string>
    <string>NaHaYa.dv</string>
    <string>PaTaYa.dv</string>
    <string>BaJaYa.dv</string>
    <string>BaDhaVa.dv</string>
    <string>BaBhaRa.dv</string>
    <string>BaLaYa.dv</string>
    <string>MaPaRa.dv</string>
    <string>MaBaYa.dv</string>
    <string>MaBaRa.dv</string>
    <string>MaBhaYa.dv</string>
    <string>MaBhaRa.dv</string>
    <string>MaBhaVa.dv</string>
    <string>LaKaYa.dv</string>
    <string>LaThaYa.dv</string>
    <string>LaDaRa.dv</string>
    <string>LaLaYa.dv</string>
    <string>LaVaDda.dv</string>
    <string>LaHaYa.dv</string>
    <string>SsaKaRa.dv</string>
    <string>SsaNnaYa.dv</string>
    <string>SsaPaRa.dv</string>
    <string>SsaMaYa.dv</string>
    <string>SsaTtaYa.dv</string>
    <string>SsaTthaYa.dv</string>
    <string>SaKaRa.dv</string>
    <string>SaKaVa.dv</string>
    <string>SaTaYa.dv</string>
    <string>SaTaRa.dv</string>
    <string>SaTaVa.dv</string>
    <string>SaThaYa.dv</string>
    <string>SaPaRa.dv</string>
    <string>SaMaYa.dv</string>
    <string>HaMaYa.dv</string>
    <string>KaKa.dv</string>
    <string>KaKha.dv</string>
    <string>KaCa.dv</string>
    <string>KaJa.dv</string>
    <string>KaJha.dv</string>
    <string>KaTta.dv</string>
    <string>KaNna.dv</string>
    <string>KaTa.dv</string>
    <string>KaTha.dv</string>
    <string>KaDa.dv</string>
    <string>KaNa.dv</string>
    <string>KaPa.dv</string>
    <string>KaPha.dv</string>
    <string>KaMa.dv</string>
    <string>KaYa.dv</string>
    <string>KaLa.dv</string>
    <string>KaVa.dv</string>
    <string>KaSha.dv</string>
    <string>KaSa.dv</string>
    <string>KhaKha.dv</string>
    <string>KhaTa.dv</string>
    <string>KhaMa.dv</string>
    <string>KhaYa.dv</string>
    <string>KhaVa.dv</string>
    <string>KhaSha.dv</string>
    <string>GaGa.dv</string>
    <string>GaGha.dv</string>
    <string>GaJa.dv</string>
    <string>GaNna.dv</string>
    <string>GaDa.dv</string>
    <string>GaDha.dv</string>
    <string>GaBa.dv</string>
    <string>GaBha.dv</string>
    <string>GaMa.dv</string>
    <string>GaYa.dv</string>
    <string>GaLa.dv</string>
    <string>GaVa.dv</string>
    <string>GaSa.dv</string>
    <string>GhaMa.dv</string>
    <string>GhaYa.dv</string>
    <string>CaCa.dv</string>
    <string>CaCha.dv</string>
    <string>CaMa.dv</string>
    <string>CaYa.dv</string>
    <string>JaKa.dv</string>
    <string>JaJa.dv</string>
    <string>JaJha.dv</string>
    <string>JaTta.dv</string>
    <string>JaDda.dv</string>
    <string>JaTa.dv</string>
    <string>JaDa.dv</string>
    <string>JaBa.dv</string>
    <string>JaMa.dv</string>
    <string>JaYa.dv</string>
    <string>JaVa.dv</string>
    <string>JhaNa.dv</string>
    <string>JhaMa.dv</string>
    <string>JhaYa.dv</string>
    <string>NnaTta.dv</string>
    <string>NnaTtha.dv</string>
    <string>NnaDda.dv</string>
    <string>NnaDdha.dv</string>
    <string>NnaNna.dv</string>
    <string>NnaMa.dv</string>
    <string>NnaYa.dv</string>
    <string>NnaVa.dv</string>
    <string>TaKa.dv</string>
    <string>TaKha.dv</string>
    <string>TaTa.dv</string>
    <string>TaTha.dv</string>
    <string>TaNa.dv</string>
    <string>TaPa.dv</string>
    <string>TaPha.dv</string>
    <string>TaMa.dv</string>
    <string>TaYa.dv</string>
    <string>TaLa.dv</string>
    <string>TaVa.dv</string>
    <string>TaSa.dv</string>
    <string>ThaYa.dv</string>
    <string>ThaVa.dv</string>
    <string>DhaMa.dv</string>
    <string>DhaYa.dv</string>
    <string>DhaVa.dv</string>
    <string>NaKa.dv</string>
    <string>NaGa.dv</string>
    <string>NaCa.dv</string>
    <string>NaCha.dv</string>
    <string>NaJa.dv</string>
    <string>NaTta.dv</string>
    <string>NaDda.dv</string>
    <string>NaTa.dv</string>
    <string>NaTha.dv</string>
    <string>NaDa.dv</string>
    <string>NaDha.dv</string>
    <string>NaPa.dv</string>
    <string>NaPha.dv</string>
    <string>NaBha.dv</string>
    <string>NaMa.dv</string>
    <string>NaYa.dv</string>
    <string>NaVa.dv</string>
    <string>NaSha.dv</string>
    <string>NaSa.dv</string>
    <string>NaHa.dv</string>
    <string>PaCha.dv</string>
    <string>PaTta.dv</string>
    <string>PaTa.dv</string>
    <string>PaPa.dv</string>
    <string>PaPha.dv</string>
    <string>PaMa.dv</string>
    <string>PaYa.dv</string>
    <string>PaLa.dv</string>
    <string>PaVa.dv</string>
    <string>PaSha.dv</string>
    <string>PaSa.dv</string>
    <string>PhaJa.dv</string>
    <string>PhaTta.dv</string>
    <string>PhaTa.dv</string>
    <string>PhaTha.dv</string>
    <string>PhaPa.dv</string>
    <string>PhaPha.dv</string>
    <string>PhaYa.dv</string>
    <string>PhaLa.dv</string>
    <string>PhaSha.dv</string>
    <string>BaJa.dv</string>
    <string>BaJha.dv</string>
    <string>BaDda.dv</string>
    <string>BaTa.dv</string>
    <string>BaDa.dv</string>
    <string>BaDha.dv</string>
    <string>BaBa.dv</string>
    <string>BaBha.dv</string>
    <string>BaYa.dv</string>
    <string>BaLa.dv</string>
    <string>BaVa.dv</string>
    <string>BaSha.dv</string>
    <string>BaSa.dv</string>
    <string>BaJaNukta.dv</string>
    <string>BhaYa.dv</string>
    <string>BhaLa.dv</string>
    <string>BhaVa.dv</string>
    <string>MaTa.dv</string>
    <string>MaDa.dv</string>
    <string>MaPa.dv</string>
    <string>MaPha.dv</string>
    <string>MaBa.dv</string>
    <string>MaBha.dv</string>
    <string>MaMa.dv</string>
    <string>MaYa.dv</string>
    <string>MaLa.dv</string>
    <string>MaVa.dv</string>
    <string>MaSha.dv</string>
    <string>MaSa.dv</string>
    <string>MaHa.dv</string>
    <string>YaYa.dv</string>
    <string>LaKa.dv</string>
    <string>LaKha.dv</string>
    <string>LaGa.dv</string>
    <string>LaCa.dv</string>
    <string>LaJa.dv</string>
    <string>LaTta.dv</string>
    <string>LaTtha.dv</string>
    <string>LaDda.dv</string>
    <string>LaDdha.dv</string>
    <string>LaTa.dv</string>
    <string>LaTha.dv</string>
    <string>LaDa.dv</string>
    <string>LaPa.dv</string>
    <string>LaPha.dv</string>
    <string>LaBa.dv</string>
    <string>LaBha.dv</string>
    <string>LaMa.dv</string>
    <string>LaYa.dv</string>
    <string>LaLa.dv</string>
    <string>LaVa.dv</string>
    <string>LaSha.dv</string>
    <string>LaSa.dv</string>
    <string>LaHa.dv</string>
    <string>LaJaNukta.dv</string>
    <string>LlaYa.dv</string>
    <string>LlaLla.dv</string>
    <string>VaDda.dv</string>
    <string>VaYa.dv</string>
    <string>VaLa.dv</string>
    <string>VaVa.dv</string>
    <string>VaHa.dv</string>
    <string>ShaKa.dv</string>
    <string>ShaCa.dv</string>
    <string>ShaCha.dv</string>
    <string>ShaTta.dv</string>
    <string>ShaTa.dv</string>
    <string>ShaMa.dv</string>
    <string>ShaYa.dv</string>
    <string>ShaLa.dv</string>
    <string>ShaVa.dv</string>
    <string>ShaSha.dv</string>
    <string>ShaKaNukta.dv</string>
    <string>SsaKa.dv</string>
    <string>SsaTta.dv</string>
    <string>SsaTtha.dv</string>
    <string>SsaNna.dv</string>
    <string>SsaPa.dv</string>
    <string>SsaPha.dv</string>
    <string>SsaMa.dv</string>
    <string>SsaYa.dv</string>
    <string>SsaVa.dv</string>
    <string>SsaSsa.dv</string>
    <string>SaKa.dv</string>
    <string>SaKha.dv</string>
    <string>SaJa.dv</string>
    <string>SaTta.dv</string>
    <string>SaTa.dv</string>
    <string>SaTha.dv</string>
    <string>SaDa.dv</string>
    <string>SaNa.dv</string>
    <string>SaPa.dv</string>
    <string>SaPha.dv</string>
    <string>SaBa.dv</string>
    <string>SaMa.dv</string>
    <string>SaYa.dv</string>
    <string>SaLa.dv</string>
    <string>SaVa.dv</string>
    <string>SaSa.dv</string>
    <string>HaNna.dv</string>
    <string>HaNa.dv</string>
    <string>HaMa.dv</string>
    <string>HaYa.dv</string>
    <string>HaLa.dv</string>
    <string>HaVa.dv</string>
    <string>KaNuktaTa.dv</string>
    <string>KaNuktaPha.dv</string>
    <string>KaNuktaBa.dv</string>
    <string>KaNuktaMa.dv</string>
    <string>KaNuktaKaNukta.dv</string>
    <string>KaNuktaPhaNukta.dv</string>
    <string>KhaNuktaTa.dv</string>
    <string>KhaNuktaMa.dv</string>
    <string>KhaNuktaYa.dv</string>
    <string>KhaNuktaVa.dv</string>
    <string>KhaNuktaSha.dv</string>
    <string>KhaNuktaSa.dv</string>
    <string>JaNuktaYa.dv</string>
    <string>JaNuktaJaNukta.dv</string>
    <string>PhaNuktaTa.dv</string>
    <string>PhaNuktaSa.dv</string>
    <string>PhaNuktaJaNukta.dv</string>
    <string>PhaNuktaPhaNukta.dv</string>
    <string>LaRa.MAR.dv</string>
    <string>KaSaPaLa.MAR.dv</string>
    <string>TaPaLa.MAR.dv</string>
    <string>KaLa.MAR.dv</string>
    <string>KaSha.MAR.dv</string>
    <string>KhaSha.MAR.dv</string>
    <string>GaLa.MAR.dv</string>
    <string>TaLa.MAR.dv</string>
    <string>NaSha.MAR.dv</string>
    <string>PaLa.MAR.dv</string>
    <string>PaSha.MAR.dv</string>
    <string>PhaLa.MAR.dv</string>
    <string>PhaSha.MAR.dv</string>
    <string>BaLa.MAR.dv</string>
    <string>BaSha.MAR.dv</string>
    <string>BhaLa.MAR.dv</string>
    <string>MaLa.MAR.dv</string>
    <string>MaSha.MAR.dv</string>
    <string>LaLa.MAR.dv</string>
    <string>NaPhaLaYa.MAR.dv</string>
    <string>BaLaYa.MAR.dv</string>
    <string>LaKaYa.MAR.dv</string>
    <string>LaThaYa.MAR.dv</string>
    <string>LaDaRa.MAR.dv</string>
    <string>LaLaYa.MAR.dv</string>
    <string>LaVaDda.MAR.dv</string>
    <string>LaHaYa.MAR.dv</string>
    <string>LaKa.MAR.dv</string>
    <string>LaKha.MAR.dv</string>
    <string>LaGa.MAR.dv</string>
    <string>LaCa.MAR.dv</string>
    <string>LaJa.MAR.dv</string>
    <string>LaTta.MAR.dv</string>
    <string>LaTtha.MAR.dv</string>
    <string>LaDda.MAR.dv</string>
    <string>LaDdha.MAR.dv</string>
    <string>LaTa.MAR.dv</string>
    <string>LaTha.MAR.dv</string>
    <string>LaDa.MAR.dv</string>
    <string>LaPa.MAR.dv</string>
    <string>LaPha.MAR.dv</string>
    <string>LaBa.MAR.dv</string>
    <string>LaBha.MAR.dv</string>
    <string>LaMa.MAR.dv</string>
    <string>LaYa.MAR.dv</string>
    <string>LaVa.MAR.dv</string>
    <string>LaSa.MAR.dv</string>
    <string>LaHa.MAR.dv</string>
    <string>LaSha.MAR.dv</string>
    <string>VaLa.MAR.dv</string>
    <string>ShaKa.MAR.dv</string>
    <string>ShaCa.MAR.dv</string>
    <string>ShaCha.MAR.dv</string>
    <string>ShaTta.MAR.dv</string>
    <string>ShaTa.MAR.dv</string>
    <string>ShaMa.MAR.dv</string>
    <string>ShaYa.MAR.dv</string>
    <string>ShaLa.MAR.dv</string>
    <string>ShaVa.MAR.dv</string>
    <string>ShaSha.MAR.dv</string>
    <string>SaLa.MAR.dv</string>
    <string>HaLa.MAR.dv</string>
    <string>KaHalant.dv</string>
    <string>KhaHalant.dv</string>
    <string>GaHalant.dv</string>
    <string>GhaHalant.dv</string>
    <string>CaHalant.dv</string>
    <string>JaHalant.dv</string>
    <string>JhaHalant.dv</string>
    <string>NyaHalant.dv</string>
    <string>NnaHalant.dv</string>
    <string>TaHalant.dv</string>
    <string>ThaHalant.dv</string>
    <string>DhaHalant.dv</string>
    <string>NaHalant.dv</string>
    <string>NaNuktaHalant.dv</string>
    <string>PaHalant.dv</string>
    <string>PhaHalant.dv</string>
    <string>BaHalant.dv</string>
    <string>BhaHalant.dv</string>
    <string>MaHalant.dv</string>
    <string>YaHalant.dv</string>
    <string>RaNuktaHalant.dv</string>
    <string>LaHalant.dv</string>
    <string>LaHalant.MAR.dv</string>
    <string>LlaHalant.dv</string>
    <string>LlaNuktaHalant.dv</string>
    <string>VaHalant.dv</string>
    <string>ShaHalant.dv</string>
    <string>SsaHalant.dv</string>
    <string>SaHalant.dv</string>
    <string>HaHalant.dv</string>
    <string>ShaHalant.MAR.dv</string>
    <string>KaNuktaHalant.dv</string>
    <string>KhaNuktaHalant.dv</string>
    <string>GaNuktaHalant.dv</string>
    <string>JaNuktaHalant.dv</string>
    <string>PhaNuktaHalant.dv</string>
    <string>YaNuktaHalant.dv</string>
    <string>KaSsaHalant.dv</string>
    <string>JaNyaHalant.dv</string>
    <string>KaRaHalant.dv</string>
    <string>GhaRaHalant.dv</string>
    <string>TaRaHalant.dv</string>
    <string>DhaRaHalant.dv</string>
    <string>PaRaHalant.dv</string>
    <string>VaRaHalant.dv</string>
    <string>ShaRaHalant.dv</string>
    <string>SsaRaHalant.dv</string>
    <string>SaRaHalant.dv</string>
    <string>GaRaHalant.dv</string>
    <string>DaRaHalant.dv</string>
    <string>BhaRaHalant.dv</string>
    <string>KaSaHalant.dv</string>
    <string>KaSsaMaHalant.dv</string>
    <string>TaTaHalant.dv</string>
    <string>NaBhaHalant.dv</string>
    <string>TaSaHalant.dv</string>
    <string>NaSaHalant.dv</string>
    <string>MaBhaHalant.dv</string>
    <string>LaBhaHalant.dv</string>
    <string>matraUsmall.dv</string>
    <string>matraUusmall.dv</string>
    <string>matraRusmall.dv</string>
    <string>Vattu.dv</string>
    <string>VattumatraU.dv</string>
    <string>VattumatraUu.dv</string>
    <string>VattuHalant.dv</string>
    <string>Binduone.dv</string>
    <string>Chandrabinduone.dv</string>
    <string>Reph.dv</string>
    <string>RephBindu.dv</string>
    <string>RephChandrabindu.dv</string>
    <string>matraEBindu.dv</string>
    <string>matraEChandrabindu.dv</string>
    <string>matraEReph.dv</string>
    <string>matraERephBindu.dv</string>
    <string>matraERephChandrabindu.dv</string>
    <string>matraAiBindu.dv</string>
    <string>matraAiChandrabindu.dv</string>
    <string>matraAiReph.dv</string>
    <string>matraAiRephBindu.dv</string>
    <string>matraAiRephChandrabindu.dv</string>
    <string>matraABindu.dv</string>
    <string>matraAChandrabindu.dv</string>
    <string>matraAReph.dv</string>
    <string>matraARephBindu.dv</string>
    <string>matraARephChandrabindu.dv</string>
    <string>matraOBindu.dv</string>
    <string>matraOChandrabindu.dv</string>
    <string>matraOReph.dv</string>
    <string>matraORephBindu.dv</string>
    <string>matraORephChandrabindu.dv</string>
    <string>matraAuBindu.dv</string>
    <string>matraAuChandrabindu.dv</string>
    <string>matraAuReph.dv</string>
    <string>matraAuRephBindu.dv</string>
    <string>matraAuRephChandrabindu.dv</string>
    <string>matraShortEBindu.dv</string>
    <string>matraShortEChandrabindu.dv</string>
    <string>matraShortEReph.dv</string>
    <string>matraShortERephBindu.dv</string>
    <string>matraShortERephChandrabindu.dv</string>
    <string>matraShortOBindu.dv</string>
    <string>matraShortOChandrabindu.dv</string>
    <string>matraShortOReph.dv</string>
    <string>matraShortORephChandrabindu.dv</string>
    <string>matraShortORephBindu.dv</string>
    <string>matraEone.dv</string>
    <string>matraEBinduone.dv</string>
    <string>matraEChandrabinduone.dv</string>
    <string>matraERephone.dv</string>
    <string>matraERephBinduone.dv</string>
    <string>matraERephChandrabinduone.dv</string>
    <string>matraAione.dv</string>
    <string>matraAiBinduone.dv</string>
    <string>matraAiChandrabinduone.dv</string>
    <string>matraAiRephone.dv</string>
    <string>matraAiRephBinduone.dv</string>
    <string>matraAiRephChandrabinduone.dv</string>
    <string>matraIiBindu.dv</string>
    <string>matraIiChandrabindu.dv</string>
    <string>matraIiReph.dv</string>
    <string>matraIiRephBindu.dv</string>
    <string>matraIiRephChandrabindu.dv</string>
    <string>matraIione.dv</string>
    <string>matraIiBinduone.dv</string>
    <string>matraIiChandrabinduone.dv</string>
    <string>matraIiRephone.dv</string>
    <string>matraIiRephBinduone.dv</string>
    <string>matraIiRephChandrabinduone.dv</string>
    <string>matraIitwo.dv</string>
    <string>matraIiBindutwo.dv</string>
    <string>matraIiChandrabindutwo.dv</string>
    <string>matraIiRephtwo.dv</string>
    <string>matraIiRephBindutwo.dv</string>
    <string>matraIiRephChandrabindutwo.dv</string>
    <string>matraIithree.dv</string>
    <string>matraIiBinduthree.dv</string>
    <string>matraIiChandrabinduthree.dv</string>
    <string>matraIiRephthree.dv</string>
    <string>matraIiRephBinduthree.dv</string>
    <string>matraIiRephChandrabinduthree.dv</string>
    <string>matraIifour.dv</string>
    <string>matraIiBindufour.dv</string>
    <string>matraIiChandrabindufour.dv</string>
    <string>matraIiRephfour.dv</string>
    <string>matraIiRephBindufour.dv</string>
    <string>matraIiRephChandrabindufour.dv</string>
    <string>matraIifive.dv</string>
    <string>matraIiBindufive.dv</string>
    <string>matraIiChandrabindufive.dv</string>
    <string>matraIiRephfive.dv</string>
    <string>matraIiRephBindufive.dv</string>
    <string>matraIiRephChandrabindufive.dv</string>
    <string>matraIisix.dv</string>
    <string>matraIiBindusix.dv</string>
    <string>matraIiChandrabindusix.dv</string>
    <string>matraIiRephsix.dv</string>
    <string>matraIiRephBindusix.dv</string>
    <string>matraIiRephChandrabindusix.dv</string>
    <string>matraIiseven.dv</string>
    <string>matraIiBinduseven.dv</string>
    <string>matraIiChandrabinduseven.dv</string>
    <string>matraIiRephseven.dv</string>
    <string>matraIiRephBinduseven.dv</string>
    <string>matraIiRephChandrabinduseven.dv</string>
    <string>matraIieight.dv</string>
    <string>matraIiBindueight.dv</string>
    <string>matraIiChandrabindueight.dv</string>
    <string>matraIiRepheight.dv</string>
    <string>matraIiRephBindueight.dv</string>
    <string>matraIiRephChandrabindueight.dv</string>
    <string>matraIinine.dv</string>
    <string>matraIiBindunine.dv</string>
    <string>matraIiChandrabindunine.dv</string>
    <string>matraIiRephnine.dv</string>
    <string>matraIiRephBindunine.dv</string>
    <string>matraIiRephChandrabindunine.dv</string>
    <string>matraIReph.dv</string>
    <string>matraIRephBindu.dv</string>
    <string>matraIone.dv</string>
    <string>matraIRephone.dv</string>
    <string>matraIRephBinduone.dv</string>
    <string>matraItwo.dv</string>
    <string>matraIRephtwo.dv</string>
    <string>matraIRephBindutwo.dv</string>
    <string>matraIthree.dv</string>
    <string>matraIRephthree.dv</string>
    <string>matraIRephBinduthree.dv</string>
    <string>matraIfour.dv</string>
    <string>matraIRephfour.dv</string>
    <string>matraIRephBindufour.dv</string>
    <string>matraIfive.dv</string>
    <string>matraIRephfive.dv</string>
    <string>matraIRephBindufive.dv</string>
    <string>matraIsix.dv</string>
    <string>matraIRephsix.dv</string>
    <string>matraIRephBindusix.dv</string>
    <string>matraIseven.dv</string>
    <string>matraIRephseven.dv</string>
    <string>matraIRephBinduseven.dv</string>
    <string>matraIeight.dv</string>
    <string>matraIRepheight.dv</string>
    <string>matraIRephBindueight.dv</string>
    <string>matraInine.dv</string>
    <string>matraIRephnine.dv</string>
    <string>matraIRephBindunine.dv</string>
    <string>matraIten.dv</string>
    <string>matraIRephten.dv</string>
    <string>matraIRephBinduten.dv</string>
    <string>matraIeleven.dv</string>
    <string>matraIRepheleven.dv</string>
    <string>matraIRephBindueleven.dv</string>
    <string>matraItwelve.dv</string>
    <string>matraIRephtwelve.dv</string>
    <string>matraIRephBindutwelve.dv</string>
    <string>matraIthirteen.dv</string>
    <string>matraIRephthirteen.dv</string>
    <string>matraIRephBinduthirteen.dv</string>
    <string>matraIfourteen.dv</string>
    <string>matraIRephfourteen.dv</string>
    <string>matraIRephBindufourteen.dv</string>
    <string>matraIfifteen.dv</string>
    <string>matraIRephfifteen.dv</string>
    <string>matraIRephBindufifteen.dv</string>
    <string>matraIsixteen.dv</string>
    <string>matraIRephsixteen.dv</string>
    <string>matraIRephBindusixteen.dv</string>
    <string>matraIseventeen.dv</string>
    <string>matraIRephseventeen.dv</string>
    <string>matraIRephBinduseventeen.dv</string>
    <string>matraIeighteen.dv</string>
    <string>matraIRepheighteen.dv</string>
    <string>matraIRephBindueighteen.dv</string>
    <string>matraInineteen.dv</string>
    <string>matraIRephnineteen.dv</string>
    <string>matraIRephBindunineteen.dv</string>
    <string>matraItwenty.dv</string>
    <string>matraIRephtwenty.dv</string>
    <string>matraIRephBindutwenty.dv</string>
    <string>matraItwentyone.dv</string>
    <string>matraIRephtwentyone.dv</string>
    <string>matraIRephBindutwentyone.dv</string>
    <string>matraItwentytwo.dv</string>
    <string>matraIRephtwentytwo.dv</string>
    <string>matraIRephBindutwentytwo.dv</string>
    <string>matraItwentythree.dv</string>
    <string>matraIRephtwentythree.dv</string>
    <string>matraIRephBindutwentythree.dv</string>
    <string>matraItwentyfour.dv</string>
    <string>matraIRephtwentyfour.dv</string>
    <string>matraIRephBindutwentyfour.dv</string>
    <string>matraItwentyfive.dv</string>
    <string>matraIRephtwentyfive.dv</string>
    <string>matraIRephBindutwentyfive.dv</string>
    <string>matraItwentysix.dv</string>
    <string>matraIRephtwentysix.dv</string>
    <string>matraIRephBindutwentysix.dv</string>
    <string>matraItwentyseven.dv</string>
    <string>matraIRephtwentyseven.dv</string>
    <string>matraIRephBindutwentyseven.dv</string>
    <string>matraItwentyeight.dv</string>
    <string>matraIRephtwentyeight.dv</string>
    <string>matraIRephBindutwentyeight.dv</string>
    <string>matraItwentynine.dv</string>
    <string>matraIRephtwentynine.dv</string>
    <string>matraIRephBindutwentynine.dv</string>
    <string>matraIthirty.dv</string>
    <string>matraIRephthirty.dv</string>
    <string>matraIRephBinduthirty.dv</string>
    <string>matraIthirtyone.dv</string>
    <string>matraIRephthirtyone.dv</string>
    <string>matraIRephBinduthirtyone.dv</string>
    <string>matraIthirtytwo.dv</string>
    <string>matraIRephthirtytwo.dv</string>
    <string>matraIRephBinduthirtytwo.dv</string>
    <string>matraIthirtythree.dv</string>
    <string>matraIRephthirtythree.dv</string>
    <string>matraIRephBinduthirtythree.dv</string>
    <string>matraIthirtyfour.dv</string>
    <string>matraIRephthirtyfour.dv</string>
    <string>matraIRephBinduthirtyfour.dv</string>
    <string>matraIBindu.dv</string>
    <string>matraIBinduone.dv</string>
    <string>matraIBindutwo.dv</string>
    <string>matraIBinduthree.dv</string>
    <string>matraIBindufour.dv</string>
    <string>matraIBindufive.dv</string>
    <string>matraIBindusix.dv</string>
    <string>matraIBinduseven.dv</string>
    <string>matraIBindueight.dv</string>
    <string>matraIBindunine.dv</string>
    <string>matraIBinduten.dv</string>
    <string>matraIBindueleven.dv</string>
    <string>matraIBindutwelve.dv</string>
    <string>matraIBinduthirteen.dv</string>
    <string>matraIBindufourteen.dv</string>
    <string>matraIBindufifteen.dv</string>
    <string>matraIBindusixteen.dv</string>
    <string>matraIBinduseventeen.dv</string>
    <string>matraIBindueighteen.dv</string>
    <string>matraIBindunineteen.dv</string>
    <string>matraIBindutwenty.dv</string>
    <string>matraIBindutwentyone.dv</string>
    <string>matraIBindutwentytwo.dv</string>
    <string>matraIBindutwentythree.dv</string>
    <string>matraIBindutwentyfour.dv</string>
    <string>matraIBindutwentyfive.dv</string>
    <string>matraIBindutwentysix.dv</string>
    <string>matraIBindutwentyseven.dv</string>
    <string>matraIBindutwentyeight.dv</string>
    <string>matraIBindutwentynine.dv</string>
    <string>matraIBinduthirty.dv</string>
    <string>matraIBinduthirtyone.dv</string>
    <string>matraIBinduthirtytwo.dv</string>
    <string>matraIBinduthirtythree.dv</string>
    <string>matraIBinduthirtyfour.dv</string>
    <string>uniA8FB</string>
    <string>Swastik</string>
    <string>dummy1</string>
    <string>Component_matraA.dv</string>
    <string>Component_matraA_Up.dv</string>
    <string>Component_matraA_Down.dv</string>
    <string>Component_Bindu_I_kar.dv</string>
    <string>exclam</string>
    <string>quotedbl</string>
    <string>numbersign</string>
    <string>percent</string>
    <string>ampersand</string>
    <string>quotesingle</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>asterisk</string>
    <string>plus</string>
    <string>comma</string>
    <string>hyphen</string>
    <string>period</string>
    <string>slash</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>less</string>
    <string>equal</string>
    <string>greater</string>
    <string>question</string>
    <string>at</string>
    <string>bracketleft</string>
    <string>backslash</string>
    <string>bracketright</string>
    <string>asciicircum</string>
    <string>underscore</string>
    <string>braceleft</string>
    <string>bar</string>
    <string>braceright</string>
    <string>asciitilde</string>
    <string>ellipsis</string>
    <string>endash</string>
    <string>emdash</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>divide</string>
    <string>minus</string>
    <string>multiply</string>
    <string>dollar</string>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>grave</string>
    <string>a</string>
    <string>b</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>u</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>quotesinglbase</string>
    <string>quotedblbase</string>
    <string>circumflex</string>
    <string>guilsinglleft</string>
    <string>OE</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>bullet</string>
    <string>tilde</string>
    <string>guilsinglright</string>
    <string>oe</string>
    <string>exclamdown</string>
    <string>cent</string>
    <string>sterling</string>
    <string>currency</string>
    <string>yen</string>
    <string>brokenbar</string>
    <string>section</string>
    <string>dieresis</string>
    <string>copyright</string>
    <string>ordfeminine</string>
    <string>registered</string>
    <string>degree</string>
    <string>plusminus</string>
    <string>acute</string>
    <string>paragraph</string>
    <string>cedilla</string>
    <string>ordmasculine</string>
    <string>questiondown</string>
    <string>Agrave</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Atilde</string>
    <string>Aring</string>
    <string>Adieresis</string>
    <string>AE</string>
    <string>Ccedilla</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Igrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Eth</string>
    <string>Ntilde</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Otilde</string>
    <string>Odieresis</string>
    <string>Oslash</string>
    <string>Ugrave</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Yacute</string>
    <string>Thorn</string>
    <string>germandbls</string>
    <string>agrave</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>atilde</string>
    <string>adieresis</string>
    <string>aring</string>
    <string>ae</string>
    <string>ccedilla</string>
    <string>egrave</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>igrave</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>eth</string>
    <string>ntilde</string>
    <string>ograve</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>otilde</string>
    <string>odieresis</string>
    <string>oslash</string>
    <string>ugrave</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>yacute</string>
    <string>thorn</string>
    <string>ydieresis</string>
    <string>logicalnot</string>
    <string>macron</string>
    <string>ring</string>
    <string>periodcentered</string>
    <string>fi</string>
    <string>fl</string>
    <string>fraction</string>
    <string>onesuperior</string>
    <string>twosuperior</string>
    <string>threesuperior</string>
    <string>onequarter</string>
    <string>onehalf</string>
    <string>threequarters</string>
    <string>r_t</string>
    <string>Germandbls</string>
    <string>idotless</string>
    <string>f_f</string>
    <string>f_f_i</string>
    <string>f_f_l</string>
    <string>zero.zero</string>
    <string>zero.tf</string>
    <string>one.tf</string>
    <string>two.tf</string>
    <string>three.tf</string>
    <string>four.tf</string>
    <string>five.tf</string>
    <string>six.tf</string>
    <string>seven.tf</string>
    <string>eight.tf</string>
    <string>nine.tf</string>
    <string>zero.tf.zero</string>
    <string>zero.subs</string>
    <string>one.subs</string>
    <string>two.subs</string>
    <string>three.subs</string>
    <string>four.subs</string>
    <string>five.subs</string>
    <string>six.subs</string>
    <string>seven.subs</string>
    <string>eight.subs</string>
    <string>nine.subs</string>
    <string>zero.dnom</string>
    <string>one.dnom</string>
    <string>two.dnom</string>
    <string>three.dnom</string>
    <string>four.dnom</string>
    <string>five.dnom</string>
    <string>six.dnom</string>
    <string>seven.dnom</string>
    <string>eight.dnom</string>
    <string>nine.dnom</string>
    <string>zeroinferior</string>
    <string>oneinferior</string>
    <string>twoinferior</string>
    <string>threeinferior</string>
    <string>fourinferior</string>
    <string>fiveinferior</string>
    <string>sixinferior</string>
    <string>seveninferior</string>
    <string>eightinferior</string>
    <string>nineinferior</string>
    <string>zero.numr</string>
    <string>one.numr</string>
    <string>two.numr</string>
    <string>three.numr</string>
    <string>four.numr</string>
    <string>five.numr</string>
    <string>six.numr</string>
    <string>seven.numr</string>
    <string>eight.numr</string>
    <string>nine.numr</string>
    <string>zerosuperior</string>
    <string>foursuperior</string>
    <string>fivesuperior</string>
    <string>sixsuperior</string>
    <string>sevensuperior</string>
    <string>eightsuperior</string>
    <string>ninesuperior</string>
    <string>figurespace</string>
    <string>hairspace</string>
    <string>punctuationspace</string>
    <string>nbspace</string>
    <string>thinspace</string>
    <string>zerowidthspace</string>
    <string>question_alt</string>
    <string>softhyphen</string>
    <string>guillemetleft</string>
    <string>guillemetright</string>
    <string>euro</string>
    <string>rupeeIndian</string>
    <string>bulletoperator</string>
    <string>divisionslash</string>
    <string>micro</string>
    <string>dieresiscomb</string>
    <string>dotaccentcomb</string>
    <string>gravecomb</string>
    <string>acutecomb</string>
    <string>circumflexcomb</string>
    <string>ringcomb</string>
    <string>tildecomb</string>
    <string>macroncomb</string>
    <string>cedillacomb</string>
    <string>dieresiscomb.case</string>
    <string>gravecomb.case</string>
    <string>acutecomb.case</string>
    <string>circumflexcomb.case</string>
    <string>ringcomb.case</string>
    <string>tildecomb.case</string>
    <string>macroncomb.case</string>
    <string>cedillacomb.case</string>
    <string>dieresiscomb.narrow</string>
    <string>gravecomb.narrow</string>
    <string>acutecomb.narrow</string>
    <string>circumflexcomb.narrow</string>
    <string>tildecomb.narrow</string>
    <string>macroncomb.narrow</string>
    <string>jbottom</string>
    <string>uni25CC</string>
    <string>ZWNJ</string>
    <string>ZWJ</string>
    <string>Ek</string>
  </array>
</dict>
</plist>
