<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>matraIRephBindu.dv</key>
  <string>matraI_R_ephB_indu.dv.glif</string>
  <key>matraIRephBindunineteen.dv</key>
  <string>matraI_R_ephB_indunineteen.dv.glif</string>
  <key>matraIRephBindutwelve.dv</key>
  <string>matraI_R_ephB_indutwelve.dv.glif</string>
  <key>matraIRephBindutwentyfive.dv</key>
  <string>matraI_R_ephB_indutwentyfive.dv.glif</string>
  <key>matraIiRephBindu.dv</key>
  <string>matraI_iR_ephB_indu.dv.glif</string>
  <key>matraIiRephBindusix.dv</key>
  <string>matraI_iR_ephB_indusix.dv.glif</string>
</dict>
</plist>
