<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1500</integer>
    <key>capHeight</key>
    <integer>703</integer>
    <key>copyright</key>
    <string>Copyright 2021 The Anek Project Authors (https://github.com/EkType/Anek)</string>
    <key>descender</key>
    <integer>-900</integer>
    <key>familyName</key>
    <string>Anek Gurmukhi</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string> [locked]</string>
        <key>x</key>
        <integer>-24</integer>
        <key>y</key>
        <integer>659</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string> [locked]</string>
        <key>x</key>
        <integer>-24</integer>
        <key>y</key>
        <integer>641</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string> [locked]</string>
        <key>x</key>
        <integer>47</integer>
        <key>y</key>
        <integer>387</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string> [locked]</string>
        <key>x</key>
        <integer>57</integer>
        <key>y</key>
        <integer>289</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string> [locked]</string>
        <key>x</key>
        <integer>34</integer>
        <key>y</key>
        <integer>127</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string> [locked]</string>
        <key>x</key>
        <integer>45</integer>
        <key>y</key>
        <integer>356</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>149</integer>
        <key>y</key>
        <integer>1213</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>208</integer>
        <key>y</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string> [locked]</string>
        <key>x</key>
        <integer>641</integer>
        <key>y</key>
        <integer>100</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2021/12/24 10:08:31</string>
    <key>openTypeHheaAscender</key>
    <integer>1500</integer>
    <key>openTypeHheaDescender</key>
    <integer>-900</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Sarang Kulkarni (Gurmukhi), Yesha Goshar (Latin)</string>
    <key>openTypeNameDesignerURL</key>
    <string>www.ektype.in</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>https://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Ek Type</string>
    <key>openTypeNameManufacturerURL</key>
    <string>www.ektype.in</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1500</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-900</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>2</integer>
      <integer>3</integer>
      <integer>17</integer>
      <integer>29</integer>
    </array>
    <key>openTypeOS2VendorID</key>
    <string>EKTF</string>
    <key>openTypeOS2WinAscent</key>
    <integer>2120</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>1376</integer>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>21</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleMapFamilyName</key>
    <string>Anek Gurmukhi Thin</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Thin</string>
    <key>unitsPerEm</key>
    <integer>2000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>2</integer>
    <key>xHeight</key>
    <integer>503</integer>
  </dict>
</plist>
