<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
      <string>Agrave</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Atilde</string>
      <string>Aring</string>
      <string>Adieresis</string>
    </array>
    <key>public.kern1.B</key>
    <array>
      <string>B</string>
    </array>
    <key>public.kern1.C</key>
    <array>
      <string>C</string>
      <string>Ccedilla</string>
    </array>
    <key>public.kern1.D</key>
    <array>
      <string>D</string>
      <string>Eth</string>
    </array>
    <key>public.kern1.E</key>
    <array>
      <string>E</string>
      <string>OE</string>
      <string>AE</string>
      <string>Egrave</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
    </array>
    <key>public.kern1.F</key>
    <array>
      <string>F</string>
    </array>
    <key>public.kern1.G</key>
    <array>
      <string>G</string>
    </array>
    <key>public.kern1.H</key>
    <array>
      <string>H</string>
      <string>N</string>
      <string>paragraph</string>
      <string>Ntilde</string>
    </array>
    <key>public.kern1.I</key>
    <array>
      <string>I</string>
      <string>Igrave</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
    </array>
    <key>public.kern1.Iri.gm</key>
    <array>
      <string>VowelI.gm</string>
      <string>VowelEe.gm</string>
      <string>Tta.gm</string>
      <string>Iri.gm</string>
    </array>
    <key>public.kern1.J</key>
    <array>
      <string>J</string>
    </array>
    <key>public.kern1.K</key>
    <array>
      <string>K</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>L</string>
    </array>
    <key>public.kern1.La.gm</key>
    <array>
      <string>La.gm</string>
      <string>Lla.gm</string>
      <string>LaHa.gm</string>
    </array>
    <key>public.kern1.M</key>
    <array>
      <string>M</string>
    </array>
    <key>public.kern1.MatraAa.gm</key>
    <array>
      <string>MatraAa.gm</string>
      <string>VowelAa.gm</string>
      <string>MatraU.gm.alt</string>
      <string>MatraUu.gm.alt</string>
    </array>
    <key>public.kern1.O</key>
    <array>
      <string>O</string>
      <string>Ograve</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Otilde</string>
      <string>Odieresis</string>
      <string>Oslash</string>
    </array>
    <key>public.kern1.P</key>
    <array>
      <string>P</string>
    </array>
    <key>public.kern1.Pha.gm</key>
    <array>
      <string>Pha.gm</string>
      <string>Fa.gm</string>
    </array>
    <key>public.kern1.Q</key>
    <array>
      <string>Q</string>
    </array>
    <key>public.kern1.R</key>
    <array>
      <string>R</string>
    </array>
    <key>public.kern1.Ra.gm</key>
    <array>
      <string>Ra.gm</string>
      <string>Ha.gm</string>
    </array>
    <key>public.kern1.S</key>
    <array>
      <string>dollar</string>
      <string>S</string>
    </array>
    <key>public.kern1.T</key>
    <array>
      <string>T</string>
    </array>
    <key>public.kern1.Ta.gm</key>
    <array>
      <string>DdaVirama.gm</string>
      <string>TaVirama.gm</string>
      <string>BhaVirama.gm</string>
    </array>
    <key>public.kern1.Ttha.gm</key>
    <array>
      <string>Ttha.gm</string>
      <string>Na.gm</string>
      <string>NaViramaRa.gm</string>
      <string>NaHa.gm</string>
    </array>
    <key>public.kern1.U</key>
    <array>
      <string>U</string>
      <string>Ugrave</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
    </array>
    <key>public.kern1.Ura.gm</key>
    <array>
      <string>VowelU.gm</string>
      <string>VowelUu.gm</string>
      <string>VowelOo.gm</string>
      <string>Ta.gm</string>
      <string>Rra.gm</string>
      <string>Ura.gm</string>
    </array>
    <key>public.kern1.V</key>
    <array>
      <string>V</string>
    </array>
    <key>public.kern1.Va.gm</key>
    <array>
      <string>Nya.gm</string>
      <string>Va.gm</string>
    </array>
    <key>public.kern1.VowelA.gm</key>
    <array>
      <string>MatraIi.gm</string>
      <string>MatraIiAddak.gm</string>
      <string>MatraIiAddakBindi.gm</string>
      <string>MatraIiBindi.gm</string>
      <string>VowelA.gm</string>
      <string>VowelIi.gm</string>
      <string>VowelAi.gm</string>
      <string>VowelAu.gm</string>
      <string>Kha.gm</string>
      <string>Ga.gm</string>
      <string>Gha.gm</string>
      <string>Ja.gm</string>
      <string>Tha.gm</string>
      <string>Dha.gm</string>
      <string>Pa.gm</string>
      <string>Ba.gm</string>
      <string>Ma.gm</string>
      <string>Ya.gm</string>
      <string>Sha.gm</string>
      <string>Sa.gm</string>
      <string>Khha.gm</string>
      <string>Ghha.gm</string>
      <string>Za.gm</string>
      <string>AddhaMa.gm</string>
      <string>AddhaTha.gm</string>
      <string>AddhaYa.gm</string>
      <string>KhaVirama.gm</string>
      <string>GaVirama.gm</string>
      <string>GhaVirama.gm</string>
      <string>ThaVirama.gm</string>
      <string>DhaVirama.gm</string>
      <string>PaVirama.gm</string>
      <string>KhhaVirama.gm</string>
    </array>
    <key>public.kern1.W</key>
    <array>
      <string>W</string>
    </array>
    <key>public.kern1.X</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern1.Y</key>
    <array>
      <string>Y</string>
      <string>yen</string>
      <string>Yacute</string>
    </array>
    <key>public.kern1.Z</key>
    <array>
      <string>Z</string>
    </array>
    <key>public.kern1.a</key>
    <array>
      <string>a</string>
      <string>agrave</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>atilde</string>
      <string>adieresis</string>
      <string>aring</string>
    </array>
    <key>public.kern1.b</key>
    <array>
      <string>b</string>
      <string>p</string>
      <string>thorn</string>
    </array>
    <key>public.kern1.bar</key>
    <array>
      <string>bar</string>
      <string>brokenbar</string>
    </array>
    <key>public.kern1.c</key>
    <array>
      <string>c</string>
      <string>cent</string>
      <string>ccedilla</string>
    </array>
    <key>public.kern1.d</key>
    <array>
      <string>d</string>
    </array>
    <key>public.kern1.e</key>
    <array>
      <string>e</string>
      <string>oe</string>
      <string>ae</string>
      <string>egrave</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
    </array>
    <key>public.kern1.eightsuperior</key>
    <array>
      <string>eight.subs</string>
      <string>eight.dnom</string>
      <string>eightinferior</string>
      <string>eight.numr</string>
      <string>eightsuperior</string>
    </array>
    <key>public.kern1.f</key>
    <array>
      <string>f</string>
      <string>f_f</string>
    </array>
    <key>public.kern1.fivesuperior</key>
    <array>
      <string>five.subs</string>
      <string>five.dnom</string>
      <string>fiveinferior</string>
      <string>five.numr</string>
      <string>fivesuperior</string>
    </array>
    <key>public.kern1.foursuperior</key>
    <array>
      <string>four.subs</string>
      <string>four.dnom</string>
      <string>fourinferior</string>
      <string>four.numr</string>
      <string>foursuperior</string>
    </array>
    <key>public.kern1.g</key>
    <array>
      <string>g</string>
    </array>
    <key>public.kern1.guilsinglleft</key>
    <array>
      <string>guilsinglleft</string>
      <string>guillemetleft</string>
    </array>
    <key>public.kern1.guilsinglright</key>
    <array>
      <string>guilsinglright</string>
      <string>guillemetright</string>
    </array>
    <key>public.kern1.hyphen</key>
    <array>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>minus</string>
      <string>softhyphen</string>
    </array>
    <key>public.kern1.i</key>
    <array>
      <string>i</string>
      <string>igrave</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>fi</string>
      <string>f_f_i</string>
    </array>
    <key>public.kern1.j</key>
    <array>
      <string>j</string>
    </array>
    <key>public.kern1.k</key>
    <array>
      <string>k</string>
    </array>
    <key>public.kern1.l</key>
    <array>
      <string>l</string>
      <string>fl</string>
      <string>f_f_l</string>
    </array>
    <key>public.kern1.n</key>
    <array>
      <string>h</string>
      <string>m</string>
      <string>n</string>
      <string>ntilde</string>
    </array>
    <key>public.kern1.ninesuperior</key>
    <array>
      <string>nine.subs</string>
      <string>nine.dnom</string>
      <string>nineinferior</string>
      <string>nine.numr</string>
      <string>ninesuperior</string>
    </array>
    <key>public.kern1.o</key>
    <array>
      <string>o</string>
      <string>eth</string>
      <string>ograve</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>otilde</string>
      <string>odieresis</string>
      <string>oslash</string>
    </array>
    <key>public.kern1.onesuperior</key>
    <array>
      <string>onesuperior</string>
      <string>one.subs</string>
      <string>one.dnom</string>
      <string>oneinferior</string>
      <string>one.numr</string>
    </array>
    <key>public.kern1.parenleft</key>
    <array>
      <string>parenleft</string>
      <string>bracketleft</string>
      <string>braceleft</string>
    </array>
    <key>public.kern1.parenright</key>
    <array>
      <string>parenright</string>
      <string>bracketright</string>
      <string>braceright</string>
    </array>
    <key>public.kern1.period</key>
    <array>
      <string>period</string>
      <string>ellipsis</string>
    </array>
    <key>public.kern1.plus</key>
    <array>
      <string>plus</string>
      <string>divide</string>
    </array>
    <key>public.kern1.q</key>
    <array>
      <string>q</string>
    </array>
    <key>public.kern1.question</key>
    <array>
      <string>question</string>
      <string>question_alt</string>
    </array>
    <key>public.kern1.quoteleft</key>
    <array>
      <string>quoteleft</string>
      <string>quotedblleft</string>
    </array>
    <key>public.kern1.quoteright</key>
    <array>
      <string>quoteright</string>
      <string>quotedblright</string>
    </array>
    <key>public.kern1.quotesingle</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern1.r</key>
    <array>
      <string>r</string>
    </array>
    <key>public.kern1.s</key>
    <array>
      <string>s</string>
    </array>
    <key>public.kern1.sevensuperior</key>
    <array>
      <string>seven.subs</string>
      <string>seven.dnom</string>
      <string>seveninferior</string>
      <string>seven.numr</string>
      <string>sevensuperior</string>
    </array>
    <key>public.kern1.sixsuperior</key>
    <array>
      <string>six.subs</string>
      <string>six.dnom</string>
      <string>sixinferior</string>
      <string>six.numr</string>
      <string>sixsuperior</string>
    </array>
    <key>public.kern1.t</key>
    <array>
      <string>t</string>
      <string>r_t</string>
    </array>
    <key>public.kern1.ta-gurmukhi</key>
    <array>
      <string>Rha.gm</string>
    </array>
    <key>public.kern1.threesuperior</key>
    <array>
      <string>threesuperior</string>
      <string>three.subs</string>
      <string>three.dnom</string>
      <string>threeinferior</string>
      <string>three.numr</string>
    </array>
    <key>public.kern1.twosuperior</key>
    <array>
      <string>twosuperior</string>
      <string>two.subs</string>
      <string>two.dnom</string>
      <string>twoinferior</string>
      <string>two.numr</string>
    </array>
    <key>public.kern1.u</key>
    <array>
      <string>u</string>
      <string>ugrave</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>idotless</string>
      <string>micro</string>
    </array>
    <key>public.kern1.v</key>
    <array>
      <string>v</string>
      <string>y</string>
      <string>yacute</string>
      <string>ydieresis</string>
    </array>
    <key>public.kern1.w</key>
    <array>
      <string>w</string>
    </array>
    <key>public.kern1.x</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern1.z</key>
    <array>
      <string>z</string>
    </array>
    <key>public.kern1.zero</key>
    <array>
      <string>zero</string>
      <string>zero.zero</string>
      <string>zero.tf.zero</string>
    </array>
    <key>public.kern1.zerosuperior</key>
    <array>
      <string>zero.subs</string>
      <string>zero.dnom</string>
      <string>zeroinferior</string>
      <string>zero.numr</string>
      <string>zerosuperior</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
      <string>Agrave</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Atilde</string>
      <string>Aring</string>
      <string>Adieresis</string>
    </array>
    <key>public.kern2.AE</key>
    <array>
      <string>AE</string>
    </array>
    <key>public.kern2.Ca.gm</key>
    <array>
      <string>Ca.gm</string>
      <string>Ddha.gm</string>
      <string>Da.gm</string>
    </array>
    <key>public.kern2.Eth</key>
    <array>
      <string>Eth</string>
    </array>
    <key>public.kern2.Ga.gm</key>
    <array>
      <string>Ga.gm</string>
      <string>Pha.gm</string>
      <string>Ghha.gm</string>
      <string>Fa.gm</string>
      <string>GaVirama.gm</string>
      <string>CaVirama.gm</string>
      <string>PhaVirama.gm</string>
      <string>RaVirama.gm</string>
      <string>HaVirama.gm</string>
    </array>
    <key>public.kern2.H</key>
    <array>
      <string>B</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>H</string>
      <string>K</string>
      <string>L</string>
      <string>N</string>
      <string>P</string>
      <string>R</string>
      <string>Egrave</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Ntilde</string>
      <string>Thorn</string>
    </array>
    <key>public.kern2.I</key>
    <array>
      <string>I</string>
      <string>Igrave</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
    </array>
    <key>public.kern2.Iri.gm</key>
    <array>
      <string>VowelIi.gm</string>
      <string>VowelEe.gm</string>
      <string>Iri.gm</string>
    </array>
    <key>public.kern2.J</key>
    <array>
      <string>J</string>
    </array>
    <key>public.kern2.Ja.gm</key>
    <array>
      <string>Ja.gm</string>
      <string>Za.gm</string>
    </array>
    <key>public.kern2.Kha.gm</key>
    <array>
      <string>Kha.gm</string>
      <string>Gha.gm</string>
      <string>Tha.gm</string>
      <string>Dha.gm</string>
      <string>Pa.gm</string>
      <string>Ya.gm</string>
      <string>Khha.gm</string>
      <string>KhaVirama.gm</string>
      <string>GhaVirama.gm</string>
      <string>ThaVirama.gm</string>
      <string>DhaVirama.gm</string>
      <string>PaVirama.gm</string>
      <string>KhhaVirama.gm</string>
    </array>
    <key>public.kern2.La.gm</key>
    <array>
      <string>La.gm</string>
      <string>Lla.gm</string>
      <string>LaHa.gm</string>
    </array>
    <key>public.kern2.M</key>
    <array>
      <string>M</string>
    </array>
    <key>public.kern2.Ma.gm</key>
    <array>
      <string>Ma.gm</string>
      <string>Sha.gm</string>
      <string>Sa.gm</string>
    </array>
    <key>public.kern2.O</key>
    <array>
      <string>C</string>
      <string>G</string>
      <string>O</string>
      <string>Q</string>
      <string>OE</string>
      <string>Ccedilla</string>
      <string>Ograve</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Otilde</string>
      <string>Odieresis</string>
      <string>Oslash</string>
    </array>
    <key>public.kern2.Ra.gm</key>
    <array>
      <string>Ra.gm</string>
      <string>Ha.gm</string>
    </array>
    <key>public.kern2.S</key>
    <array>
      <string>dollar</string>
      <string>S</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>T</string>
    </array>
    <key>public.kern2.Ta.gm</key>
    <array>
      <string>Ta.gm</string>
    </array>
    <key>public.kern2.Ttha.gm</key>
    <array>
      <string>Ttha.gm</string>
      <string>Na.gm</string>
      <string>NaViramaRa.gm</string>
      <string>NaHa.gm</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>U</string>
      <string>Ugrave</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
    </array>
    <key>public.kern2.Ura.gm</key>
    <array>
      <string>VowelU.gm</string>
      <string>VowelUu.gm</string>
      <string>VowelOo.gm</string>
      <string>Ura.gm</string>
    </array>
    <key>public.kern2.V</key>
    <array>
      <string>V</string>
    </array>
    <key>public.kern2.VowelA.gm</key>
    <array>
      <string>VowelA.gm</string>
      <string>VowelAa.gm</string>
      <string>VowelAi.gm</string>
      <string>VowelAu.gm</string>
    </array>
    <key>public.kern2.W</key>
    <array>
      <string>W</string>
    </array>
    <key>public.kern2.X</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern2.Y</key>
    <array>
      <string>Y</string>
      <string>yen</string>
      <string>Yacute</string>
    </array>
    <key>public.kern2.Z</key>
    <array>
      <string>Z</string>
    </array>
    <key>public.kern2.a</key>
    <array>
      <string>a</string>
      <string>agrave</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>atilde</string>
      <string>adieresis</string>
      <string>aring</string>
      <string>ae</string>
    </array>
    <key>public.kern2.bar</key>
    <array>
      <string>bar</string>
      <string>brokenbar</string>
    </array>
    <key>public.kern2.d</key>
    <array>
      <string>d</string>
      <string>q</string>
    </array>
    <key>public.kern2.eightsuperior</key>
    <array>
      <string>eight.subs</string>
      <string>eight.dnom</string>
      <string>eightinferior</string>
      <string>eight.numr</string>
      <string>eightsuperior</string>
    </array>
    <key>public.kern2.f</key>
    <array>
      <string>f</string>
      <string>fi</string>
      <string>fl</string>
      <string>f_f</string>
      <string>f_f_i</string>
      <string>f_f_l</string>
    </array>
    <key>public.kern2.fivesuperior</key>
    <array>
      <string>five.subs</string>
      <string>five.dnom</string>
      <string>fiveinferior</string>
      <string>five.numr</string>
      <string>fivesuperior</string>
    </array>
    <key>public.kern2.foursuperior</key>
    <array>
      <string>four.subs</string>
      <string>four.dnom</string>
      <string>fourinferior</string>
      <string>four.numr</string>
      <string>foursuperior</string>
    </array>
    <key>public.kern2.g</key>
    <array>
      <string>g</string>
    </array>
    <key>public.kern2.guilsinglleft</key>
    <array>
      <string>guilsinglleft</string>
      <string>guillemetleft</string>
    </array>
    <key>public.kern2.guilsinglright</key>
    <array>
      <string>guilsinglright</string>
      <string>guillemetright</string>
    </array>
    <key>public.kern2.h</key>
    <array>
      <string>b</string>
      <string>h</string>
      <string>k</string>
      <string>thorn</string>
    </array>
    <key>public.kern2.hyphen</key>
    <array>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>minus</string>
      <string>softhyphen</string>
    </array>
    <key>public.kern2.i</key>
    <array>
      <string>i</string>
      <string>igrave</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
    </array>
    <key>public.kern2.j</key>
    <array>
      <string>j</string>
    </array>
    <key>public.kern2.l</key>
    <array>
      <string>l</string>
    </array>
    <key>public.kern2.m</key>
    <array>
      <string>m</string>
      <string>n</string>
      <string>p</string>
      <string>r</string>
      <string>ntilde</string>
      <string>r_t</string>
      <string>idotless</string>
    </array>
    <key>public.kern2.ninesuperior</key>
    <array>
      <string>nine.subs</string>
      <string>nine.dnom</string>
      <string>nineinferior</string>
      <string>nine.numr</string>
      <string>ninesuperior</string>
    </array>
    <key>public.kern2.o</key>
    <array>
      <string>c</string>
      <string>e</string>
      <string>o</string>
      <string>oe</string>
      <string>cent</string>
      <string>ccedilla</string>
      <string>egrave</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>eth</string>
      <string>ograve</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>otilde</string>
      <string>odieresis</string>
      <string>oslash</string>
    </array>
    <key>public.kern2.onesuperior</key>
    <array>
      <string>onesuperior</string>
      <string>one.subs</string>
      <string>one.dnom</string>
      <string>oneinferior</string>
      <string>one.numr</string>
    </array>
    <key>public.kern2.p</key>
    <array>
      <string>micro</string>
    </array>
    <key>public.kern2.parenleft</key>
    <array>
      <string>parenleft</string>
      <string>bracketleft</string>
      <string>braceleft</string>
    </array>
    <key>public.kern2.parenright</key>
    <array>
      <string>parenright</string>
      <string>bracketright</string>
      <string>braceright</string>
    </array>
    <key>public.kern2.period</key>
    <array>
      <string>period</string>
      <string>ellipsis</string>
    </array>
    <key>public.kern2.plus</key>
    <array>
      <string>plus</string>
      <string>divide</string>
    </array>
    <key>public.kern2.question</key>
    <array>
      <string>question</string>
      <string>question_alt</string>
    </array>
    <key>public.kern2.quoteleft</key>
    <array>
      <string>quoteleft</string>
      <string>quotedblleft</string>
    </array>
    <key>public.kern2.quoteright</key>
    <array>
      <string>quoteright</string>
      <string>quotedblright</string>
    </array>
    <key>public.kern2.quotesingle</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern2.s</key>
    <array>
      <string>s</string>
    </array>
    <key>public.kern2.sevensuperior</key>
    <array>
      <string>seven.subs</string>
      <string>seven.dnom</string>
      <string>seveninferior</string>
      <string>seven.numr</string>
      <string>sevensuperior</string>
    </array>
    <key>public.kern2.sixsuperior</key>
    <array>
      <string>six.subs</string>
      <string>six.dnom</string>
      <string>sixinferior</string>
      <string>six.numr</string>
      <string>sixsuperior</string>
    </array>
    <key>public.kern2.t</key>
    <array>
      <string>t</string>
    </array>
    <key>public.kern2.threesuperior</key>
    <array>
      <string>threesuperior</string>
      <string>three.subs</string>
      <string>three.dnom</string>
      <string>threeinferior</string>
      <string>three.numr</string>
    </array>
    <key>public.kern2.twosuperior</key>
    <array>
      <string>twosuperior</string>
      <string>two.subs</string>
      <string>two.dnom</string>
      <string>twoinferior</string>
      <string>two.numr</string>
    </array>
    <key>public.kern2.u</key>
    <array>
      <string>u</string>
      <string>ugrave</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
    </array>
    <key>public.kern2.v</key>
    <array>
      <string>v</string>
      <string>y</string>
      <string>yacute</string>
      <string>ydieresis</string>
    </array>
    <key>public.kern2.w</key>
    <array>
      <string>w</string>
    </array>
    <key>public.kern2.x</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern2.z</key>
    <array>
      <string>z</string>
    </array>
    <key>public.kern2.zero</key>
    <array>
      <string>zero</string>
      <string>zero.zero</string>
      <string>zero.tf.zero</string>
    </array>
    <key>public.kern2.zerosuperior</key>
    <array>
      <string>zero.subs</string>
      <string>zero.dnom</string>
      <string>zeroinferior</string>
      <string>zero.numr</string>
      <string>zerosuperior</string>
    </array>
  </dict>
</plist>
