<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>RephChandrabindu.dv</key>
  <string>R_ephC_handrabindu.dv.glif</string>
  <key>matraAiChandrabinduone.dv</key>
  <string>matraA_iC_handrabinduone.dv.glif</string>
  <key>matraAiRephBinduone.dv</key>
  <string>matraA_iR_ephB_induone.dv.glif</string>
  <key>matraAiRephChandrabinduone.dv</key>
  <string>matraA_iR_ephC_handrabinduone.dv.glif</string>
  <key>matraAiRephone.dv</key>
  <string>matraA_iR_ephone.dv.glif</string>
  <key>matraAione.dv</key>
  <string>matraA_ione.dv.glif</string>
  <key>matraIReph.dv</key>
  <string>matraI_R_eph.dv.glif</string>
  <key>matraIRephBindu.dv</key>
  <string>matraI_R_ephB_indu.dv.glif</string>
  <key>matraIRephBindunineteen.dv</key>
  <string>matraI_R_ephB_indunineteen.dv.glif</string>
  <key>matraIRephBinduthirty.dv</key>
  <string>matraI_R_ephB_induthirty.dv.glif</string>
  <key>matraIRephBindutwelve.dv</key>
  <string>matraI_R_ephB_indutwelve.dv.glif</string>
  <key>matraIRephBindutwentyfive.dv</key>
  <string>matraI_R_ephB_indutwentyfive.dv.glif</string>
  <key>matraIRephnineteen.dv</key>
  <string>matraI_R_ephnineteen.dv.glif</string>
</dict>
</plist>
