<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Anusvara.or</key>
    <string>A_nusvara.or.glif</string>
    <key>Avagraha.or</key>
    <string>A_vagraha.or.glif</string>
    <key>Ba.or</key>
    <string>B_a.or.glif</string>
    <key>BaBa.or</key>
    <string>B_aB_a.or.glif</string>
    <key>BaDa.or</key>
    <string>B_aD_a.or.glif</string>
    <key>BaDha.or</key>
    <string>B_aD_ha.or.glif</string>
    <key>BaJa.or</key>
    <string>B_aJ_a.or.glif</string>
    <key>BaLa.or</key>
    <string>B_aL_a.or.glif</string>
    <key>BaLla.or</key>
    <string>B_aL_la.or.glif</string>
    <key>BaRa.or</key>
    <string>B_aR_a.or.glif</string>
    <key>BaSmall.or</key>
    <string>B_aS_mall.or.glif</string>
    <key>BaSmall2.or</key>
    <string>B_aS_mall2.or.glif</string>
    <key>Bha.or</key>
    <string>B_ha.or.glif</string>
    <key>BhaRa.or</key>
    <string>B_haR_a.or.glif</string>
    <key>BhaSmall.or</key>
    <string>B_haS_mall.or.glif</string>
    <key>BhaSmall2.or</key>
    <string>B_haS_mall2.or.glif</string>
    <key>Ca.or</key>
    <string>C_a.or.glif</string>
    <key>CaCa.or</key>
    <string>C_aC_a.or.glif</string>
    <key>CaCha.or</key>
    <string>C_aC_ha.or.glif</string>
    <key>CaRa.or</key>
    <string>C_aR_a.or.glif</string>
    <key>CaSmall.or</key>
    <string>C_aS_mall.or.glif</string>
    <key>Candrabindu.or</key>
    <string>C_andrabindu.or.glif</string>
    <key>Cha.or</key>
    <string>C_ha.or.glif</string>
    <key>ChaRa.or</key>
    <string>C_haR_a.or.glif</string>
    <key>ChaSmall.or</key>
    <string>C_haS_mall.or.glif</string>
    <key>Da.or</key>
    <string>D_a.or.glif</string>
    <key>DaBa.or</key>
    <string>D_aB_a.or.glif</string>
    <key>DaBha.or</key>
    <string>D_aB_ha.or.glif</string>
    <key>DaDa.or</key>
    <string>D_aD_a.or.glif</string>
    <key>DaDha.or</key>
    <string>D_aD_ha.or.glif</string>
    <key>DaDhaBa.or</key>
    <string>D_aD_haB_a.or.glif</string>
    <key>DaGa.or</key>
    <string>D_aG_a.or.glif</string>
    <key>DaGha.or</key>
    <string>D_aG_ha.or.glif</string>
    <key>DaMa.or</key>
    <string>D_aM_a.or.glif</string>
    <key>DaRa.or</key>
    <string>D_aR_a.or.glif</string>
    <key>DaSmall.or</key>
    <string>D_aS_mall.or.glif</string>
    <key>DaSmall2.or</key>
    <string>D_aS_mall2.or.glif</string>
    <key>DaYa.or</key>
    <string>D_aY_a.or.glif</string>
    <key>Danda.or</key>
    <string>D_anda.or.glif</string>
    <key>Dda.or</key>
    <string>D_da.or.glif</string>
    <key>DdaDda.or</key>
    <string>D_daD_da.or.glif</string>
    <key>DdaGa.or</key>
    <string>D_daG_a.or.glif</string>
    <key>DdaRa.or</key>
    <string>D_daR_a.or.glif</string>
    <key>DdaSmall.or</key>
    <string>D_daS_mall.or.glif</string>
    <key>DdaSmall2.or</key>
    <string>D_daS_mall2.or.glif</string>
    <key>Ddha.or</key>
    <string>D_dha.or.glif</string>
    <key>DdhaRa.or</key>
    <string>D_dhaR_a.or.glif</string>
    <key>DdhaSmall.or</key>
    <string>D_dhaS_mall.or.glif</string>
    <key>DdhaSmall2.or</key>
    <string>D_dhaS_mall2.or.glif</string>
    <key>Dha.or</key>
    <string>D_ha.or.glif</string>
    <key>DhaBa.or</key>
    <string>D_haB_a.or.glif</string>
    <key>DhaI.or</key>
    <string>D_haI_.or.glif</string>
    <key>DhaRa.or</key>
    <string>D_haR_a.or.glif</string>
    <key>DhaSmall.or</key>
    <string>D_haS_mall.or.glif</string>
    <key>DhaSmall2.or</key>
    <string>D_haS_mall2.or.glif</string>
    <key>DhaYya.or</key>
    <string>D_haY_ya.or.glif</string>
    <key>DoubleDanda.or</key>
    <string>D_oubleD_anda.or.glif</string>
    <key>Ga.or</key>
    <string>G_a.or.glif</string>
    <key>GaDa.or</key>
    <string>G_aD_a.or.glif</string>
    <key>GaDha.or</key>
    <string>G_aD_ha.or.glif</string>
    <key>GaLa.or</key>
    <string>G_aL_a.or.glif</string>
    <key>GaLla.or</key>
    <string>G_aL_la.or.glif</string>
    <key>GaNa.or</key>
    <string>G_aN_a.or.glif</string>
    <key>GaRa.or</key>
    <string>G_aR_a.or.glif</string>
    <key>GaSmall.or</key>
    <string>G_aS_mall.or.glif</string>
    <key>Gha.or</key>
    <string>G_ha.or.glif</string>
    <key>GhaNa.or</key>
    <string>G_haN_a.or.glif</string>
    <key>GhaRa.or</key>
    <string>G_haR_a.or.glif</string>
    <key>GhaSmall.or</key>
    <string>G_haS_mall.or.glif</string>
    <key>Ha.or</key>
    <string>H_a.or.glif</string>
    <key>HaBa.or</key>
    <string>H_aB_a.or.glif</string>
    <key>HaLa.or</key>
    <string>H_aL_a.or.glif</string>
    <key>HaMa.or</key>
    <string>H_aM_a.or.glif</string>
    <key>HaNa.or</key>
    <string>H_aN_a.or.glif</string>
    <key>HaRa.or</key>
    <string>H_aR_a.or.glif</string>
    <key>HaSmall.or</key>
    <string>H_aS_mall.or.glif</string>
    <key>HaSmall2.or</key>
    <string>H_aS_mall2.or.glif</string>
    <key>Isshar.or</key>
    <string>I_sshar.or.glif</string>
    <key>Ja.or</key>
    <string>J_a.or.glif</string>
    <key>JaBa.or</key>
    <string>J_aB_a.or.glif</string>
    <key>JaJa.or</key>
    <string>J_aJ_a.or.glif</string>
    <key>JaJaBa.or</key>
    <string>J_aJ_aB_a.or.glif</string>
    <key>JaJha.or</key>
    <string>J_aJ_ha.or.glif</string>
    <key>JaNya.or</key>
    <string>J_aN_ya.or.glif</string>
    <key>JaRa.or</key>
    <string>J_aR_a.or.glif</string>
    <key>JaSmall.or</key>
    <string>J_aS_mall.or.glif</string>
    <key>Jha.or</key>
    <string>J_ha.or.glif</string>
    <key>JhaRa.or</key>
    <string>J_haR_a.or.glif</string>
    <key>JhaSmall.or</key>
    <string>J_haS_mall.or.glif</string>
    <key>JhaSmall2.or</key>
    <string>J_haS_mall2.or.glif</string>
    <key>Ka.or</key>
    <string>K_a.or.glif</string>
    <key>KaBa.or</key>
    <string>K_aB_a.or.glif</string>
    <key>KaCa.or</key>
    <string>K_aC_a.or.glif</string>
    <key>KaKa.or</key>
    <string>K_aK_a.or.glif</string>
    <key>KaLa.or</key>
    <string>K_aL_a.or.glif</string>
    <key>KaLla.or</key>
    <string>K_aL_la.or.glif</string>
    <key>KaMa.or</key>
    <string>K_aM_a.or.glif</string>
    <key>KaRa.or</key>
    <string>K_aR_a.or.glif</string>
    <key>KaSa.or</key>
    <string>K_aS_a.or.glif</string>
    <key>KaSmall.or</key>
    <string>K_aS_mall.or.glif</string>
    <key>KaSsa.or</key>
    <string>K_aS_sa.or.glif</string>
    <key>KaSsaMa.or</key>
    <string>K_aS_saM_a.or.glif</string>
    <key>KaSsaNna.or</key>
    <string>K_aS_saN_na.or.glif</string>
    <key>KaSsaRa.or</key>
    <string>K_aS_saR_a.or.glif</string>
    <key>KaSsaSmall.or</key>
    <string>K_aS_saS_mall.or.glif</string>
    <key>KaTa.or</key>
    <string>K_aT_a.or.glif</string>
    <key>KaTaRa.or</key>
    <string>K_aT_aR_a.or.glif</string>
    <key>KaTta.or</key>
    <string>K_aT_ta.or.glif</string>
    <key>KaTtaRa.or</key>
    <string>K_aT_taR_a.or.glif</string>
    <key>Kha.or</key>
    <string>K_ha.or.glif</string>
    <key>KhaI.or</key>
    <string>K_haI_.or.glif</string>
    <key>KhaLla.or</key>
    <string>K_haL_la.or.glif</string>
    <key>KhaRa.or</key>
    <string>K_haR_a.or.glif</string>
    <key>KhaSmall.or</key>
    <string>K_haS_mall.or.glif</string>
    <key>La.or</key>
    <string>L_a.or.glif</string>
    <key>LaDda.or</key>
    <string>L_aD_da.or.glif</string>
    <key>LaGa.or</key>
    <string>L_aG_a.or.glif</string>
    <key>LaKa.or</key>
    <string>L_aK_a.or.glif</string>
    <key>LaLa.or</key>
    <string>L_aL_a.or.glif</string>
    <key>LaMa.or</key>
    <string>L_aM_a.or.glif</string>
    <key>LaRa.or</key>
    <string>L_aR_a.or.glif</string>
    <key>LaSmall.or</key>
    <string>L_aS_mall.or.glif</string>
    <key>LengthmarkAi.or</key>
    <string>L_engthmarkA_i.or.glif</string>
    <key>LengthmarkAiCandrabindu.or</key>
    <string>L_engthmarkA_iC_andrabindu.or.glif</string>
    <key>LengthmarkAiCandrabindu_Pha.or</key>
    <string>L_engthmarkA_iC_andrabindu_P_ha.or.glif</string>
    <key>LengthmarkAiReph.or</key>
    <string>L_engthmarkA_iR_eph.or.glif</string>
    <key>LengthmarkAiRephCandrabindu.or</key>
    <string>L_engthmarkA_iR_ephC_andrabindu.or.glif</string>
    <key>LengthmarkAiRephCandrabindu_Pha.or</key>
    <string>L_engthmarkA_iR_ephC_andrabindu_P_ha.or.glif</string>
    <key>LengthmarkAiReph_Pha.or</key>
    <string>L_engthmarkA_iR_eph_P_ha.or.glif</string>
    <key>LengthmarkAi_Pha.or</key>
    <string>L_engthmarkA_i_P_ha.or.glif</string>
    <key>LengthmarkAu.or</key>
    <string>L_engthmarkA_u.or.glif</string>
    <key>LengthmarkAuCandrabindu.or</key>
    <string>L_engthmarkA_uC_andrabindu.or.glif</string>
    <key>LengthmarkAuReph.or</key>
    <string>L_engthmarkA_uR_eph.or.glif</string>
    <key>LengthmarkAuRephCandrabindu.or</key>
    <string>L_engthmarkA_uR_ephC_andrabindu.or.glif</string>
    <key>Lla.or</key>
    <string>L_la.or.glif</string>
    <key>LlaBha.or</key>
    <string>L_laB_ha.or.glif</string>
    <key>LlaKa.or</key>
    <string>L_laK_a.or.glif</string>
    <key>LlaLla.or</key>
    <string>L_laL_la.or.glif</string>
    <key>LlaPa.or</key>
    <string>L_laP_a.or.glif</string>
    <key>LlaPha.or</key>
    <string>L_laP_ha.or.glif</string>
    <key>LlaRa.or</key>
    <string>L_laR_a.or.glif</string>
    <key>LlaSmall.or</key>
    <string>L_laS_mall.or.glif</string>
    <key>Ma.or</key>
    <string>M_a.or.glif</string>
    <key>MaBa.or</key>
    <string>M_aB_a.or.glif</string>
    <key>MaBha.or</key>
    <string>M_aB_ha.or.glif</string>
    <key>MaBhaRa.or</key>
    <string>M_aB_haR_a.or.glif</string>
    <key>MaLla.or</key>
    <string>M_aL_la.or.glif</string>
    <key>MaMa.or</key>
    <string>M_aM_a.or.glif</string>
    <key>MaNa.or</key>
    <string>M_aN_a.or.glif</string>
    <key>MaPa.or</key>
    <string>M_aP_a.or.glif</string>
    <key>MaPaRa.or</key>
    <string>M_aP_aR_a.or.glif</string>
    <key>MaPha.or</key>
    <string>M_aP_ha.or.glif</string>
    <key>MaRa.or</key>
    <string>M_aR_a.or.glif</string>
    <key>MaSmall.or</key>
    <string>M_aS_mall.or.glif</string>
    <key>MaSmall2.or</key>
    <string>M_aS_mall2.or.glif</string>
    <key>MatraAa.or</key>
    <string>M_atraA_a.or.glif</string>
    <key>MatraAi.or</key>
    <string>M_atraA_i.or.glif</string>
    <key>MatraAu.or</key>
    <string>M_atraA_u.or.glif</string>
    <key>MatraE.or</key>
    <string>M_atraE_.or.glif</string>
    <key>MatraI.or</key>
    <string>M_atraI_.or.glif</string>
    <key>MatraICandrabindu.or</key>
    <string>M_atraI_C_andrabindu.or.glif</string>
    <key>MatraIReph.or</key>
    <string>M_atraI_R_eph.or.glif</string>
    <key>MatraIRephCandrabindu.or</key>
    <string>M_atraI_R_ephC_andrabindu.or.glif</string>
    <key>MatraIi.or</key>
    <string>M_atraI_i.or.glif</string>
    <key>MatraO.or</key>
    <string>M_atraO_.or.glif</string>
    <key>MatraU.or</key>
    <string>M_atraU_.or.glif</string>
    <key>MatraU_alt.or</key>
    <string>M_atraU__alt.or.glif</string>
    <key>MatraU_alt1.or</key>
    <string>M_atraU__alt1.or.glif</string>
    <key>MatraU_alt2.or</key>
    <string>M_atraU__alt2.or.glif</string>
    <key>MatraU_alt3.or</key>
    <string>M_atraU__alt3.or.glif</string>
    <key>MatraU_alt4.or</key>
    <string>M_atraU__alt4.or.glif</string>
    <key>MatraU_alt5.or</key>
    <string>M_atraU__alt5.or.glif</string>
    <key>MatraU_alt6.or</key>
    <string>M_atraU__alt6.or.glif</string>
    <key>MatraUu.or</key>
    <string>M_atraU_u.or.glif</string>
    <key>MatraUu_alt.or</key>
    <string>M_atraU_u_alt.or.glif</string>
    <key>MatraUu_alt1.or</key>
    <string>M_atraU_u_alt1.or.glif</string>
    <key>MatraUu_alt2.or</key>
    <string>M_atraU_u_alt2.or.glif</string>
    <key>MatraUu_alt3.or</key>
    <string>M_atraU_u_alt3.or.glif</string>
    <key>MatraUu_alt4.or</key>
    <string>M_atraU_u_alt4.or.glif</string>
    <key>MatraUu_alt5.or</key>
    <string>M_atraU_u_alt5.or.glif</string>
    <key>MatraUu_alt6.or</key>
    <string>M_atraU_u_alt6.or.glif</string>
    <key>MatraVocalicL.or</key>
    <string>M_atraV_ocalicL_.or.glif</string>
    <key>MatraVocalicR.or</key>
    <string>M_atraV_ocalicR_.or.glif</string>
    <key>MatraVocalicR_alt.or</key>
    <string>M_atraV_ocalicR__alt.or.glif</string>
    <key>MatraVocalicR_alt1.or</key>
    <string>M_atraV_ocalicR__alt1.or.glif</string>
    <key>MatraVocalicR_alt2.or</key>
    <string>M_atraV_ocalicR__alt2.or.glif</string>
    <key>MatraVocalicR_alt3.or</key>
    <string>M_atraV_ocalicR__alt3.or.glif</string>
    <key>MatraVocalicR_alt4.or</key>
    <string>M_atraV_ocalicR__alt4.or.glif</string>
    <key>MatraVocalicR_alt5.or</key>
    <string>M_atraV_ocalicR__alt5.or.glif</string>
    <key>MatraVocalicR_alt6.or</key>
    <string>M_atraV_ocalicR__alt6.or.glif</string>
    <key>MatraVocalicRr.or</key>
    <string>M_atraV_ocalicR_r.or.glif</string>
    <key>Na.or</key>
    <string>N_a.or.glif</string>
    <key>NaBa.or</key>
    <string>N_aB_a.or.glif</string>
    <key>NaDa.or</key>
    <string>N_aD_a.or.glif</string>
    <key>NaDaBa.or</key>
    <string>N_aD_aB_a.or.glif</string>
    <key>NaDaRa.or</key>
    <string>N_aD_aR_a.or.glif</string>
    <key>NaDha.or</key>
    <string>N_aD_ha.or.glif</string>
    <key>NaDhaBa.or</key>
    <string>N_aD_haB_a.or.glif</string>
    <key>NaDhaRa.or</key>
    <string>N_aD_haR_a.or.glif</string>
    <key>NaMa.or</key>
    <string>N_aM_a.or.glif</string>
    <key>NaNa.or</key>
    <string>N_aN_a.or.glif</string>
    <key>NaRa.or</key>
    <string>N_aR_a.or.glif</string>
    <key>NaSa.or</key>
    <string>N_aS_a.or.glif</string>
    <key>NaSmall.or</key>
    <string>N_aS_mall.or.glif</string>
    <key>NaTa.or</key>
    <string>N_aT_a.or.glif</string>
    <key>NaTaBa.or</key>
    <string>N_aT_aB_a.or.glif</string>
    <key>NaTaRa.or</key>
    <string>N_aT_aR_a.or.glif</string>
    <key>NaTha.or</key>
    <string>N_aT_ha.or.glif</string>
    <key>Nga.or</key>
    <string>N_ga.or.glif</string>
    <key>NgaGa.or</key>
    <string>N_gaG_a.or.glif</string>
    <key>NgaGha.or</key>
    <string>N_gaG_ha.or.glif</string>
    <key>NgaKa.or</key>
    <string>N_gaK_a.or.glif</string>
    <key>NgaKaSsa.or</key>
    <string>N_gaK_aS_sa.or.glif</string>
    <key>NgaKaTa.or</key>
    <string>N_gaK_aT_a.or.glif</string>
    <key>NgaKha.or</key>
    <string>N_gaK_ha.or.glif</string>
    <key>NgaRa.or</key>
    <string>N_gaR_a.or.glif</string>
    <key>NgaSmall.or</key>
    <string>N_gaS_mall.or.glif</string>
    <key>Nna.or</key>
    <string>N_na.or.glif</string>
    <key>NnaDda.or</key>
    <string>N_naD_da.or.glif</string>
    <key>NnaDdaRa.or</key>
    <string>N_naD_daR_a.or.glif</string>
    <key>NnaDdha.or</key>
    <string>N_naD_dha.or.glif</string>
    <key>NnaNna.or</key>
    <string>N_naN_na.or.glif</string>
    <key>NnaRa.or</key>
    <string>N_naR_a.or.glif</string>
    <key>NnaSmall.or</key>
    <string>N_naS_mall.or.glif</string>
    <key>NnaSmall2.or</key>
    <string>N_naS_mall2.or.glif</string>
    <key>NnaTta.or</key>
    <string>N_naT_ta.or.glif</string>
    <key>NnaTtha.or</key>
    <string>N_naT_tha.or.glif</string>
    <key>Nukta.or</key>
    <string>N_ukta.or.glif</string>
    <key>Nya.or</key>
    <string>N_ya.or.glif</string>
    <key>NyaCa.or</key>
    <string>N_yaC_a.or.glif</string>
    <key>NyaCha.or</key>
    <string>N_yaC_ha.or.glif</string>
    <key>NyaJa.or</key>
    <string>N_yaJ_a.or.glif</string>
    <key>NyaJha.or</key>
    <string>N_yaJ_ha.or.glif</string>
    <key>NyaRa.or</key>
    <string>N_yaR_a.or.glif</string>
    <key>Pa.or</key>
    <string>P_a.or.glif</string>
    <key>PaLa.or</key>
    <string>P_aL_a.or.glif</string>
    <key>PaLla.or</key>
    <string>P_aL_la.or.glif</string>
    <key>PaNa.or</key>
    <string>P_aN_a.or.glif</string>
    <key>PaPa.or</key>
    <string>P_aP_a.or.glif</string>
    <key>PaRa.or</key>
    <string>P_aR_a.or.glif</string>
    <key>PaSa.or</key>
    <string>P_aS_a.or.glif</string>
    <key>PaSmall.or</key>
    <string>P_aS_mall.or.glif</string>
    <key>PaSmall2.or</key>
    <string>P_aS_mall2.or.glif</string>
    <key>PaTa.or</key>
    <string>P_aT_a.or.glif</string>
    <key>PaTta.or</key>
    <string>P_aT_ta.or.glif</string>
    <key>Pha.or</key>
    <string>P_ha.or.glif</string>
    <key>PhaLa.or</key>
    <string>P_haL_a.or.glif</string>
    <key>PhaRa.or</key>
    <string>P_haR_a.or.glif</string>
    <key>PhaSmall.or</key>
    <string>P_haS_mall.or.glif</string>
    <key>PhaSmall2.or</key>
    <string>P_haS_mall2.or.glif</string>
    <key>PhaTta.or</key>
    <string>P_haT_ta.or.glif</string>
    <key>Ra.or</key>
    <string>R_a.or.glif</string>
    <key>Reph.or</key>
    <string>R_eph.or.glif</string>
    <key>RephCandrabindu.or</key>
    <string>R_ephC_andrabindu.or.glif</string>
    <key>Rha.or</key>
    <string>R_ha.or.glif</string>
    <key>RhaRa.or</key>
    <string>R_haR_a.or.glif</string>
    <key>Rra.or</key>
    <string>R_ra.or.glif</string>
    <key>RraRa.or</key>
    <string>R_raR_a.or.glif</string>
    <key>Sa.or</key>
    <string>S_a.or.glif</string>
    <key>SaBa.or</key>
    <string>S_aB_a.or.glif</string>
    <key>SaKa.or</key>
    <string>S_aK_a.or.glif</string>
    <key>SaKaRa.or</key>
    <string>S_aK_aR_a.or.glif</string>
    <key>SaKha.or</key>
    <string>S_aK_ha.or.glif</string>
    <key>SaLa.or</key>
    <string>S_aL_a.or.glif</string>
    <key>SaLla.or</key>
    <string>S_aL_la.or.glif</string>
    <key>SaMa.or</key>
    <string>S_aM_a.or.glif</string>
    <key>SaNa.or</key>
    <string>S_aN_a.or.glif</string>
    <key>SaPa.or</key>
    <string>S_aP_a.or.glif</string>
    <key>SaPha.or</key>
    <string>S_aP_ha.or.glif</string>
    <key>SaRa.or</key>
    <string>S_aR_a.or.glif</string>
    <key>SaSmall.or</key>
    <string>S_aS_mall.or.glif</string>
    <key>SaSmall2.or</key>
    <string>S_aS_mall2.or.glif</string>
    <key>SaTa.or</key>
    <string>S_aT_a.or.glif</string>
    <key>SaTaRa.or</key>
    <string>S_aT_aR_a.or.glif</string>
    <key>SaTha.or</key>
    <string>S_aT_ha.or.glif</string>
    <key>SaTta.or</key>
    <string>S_aT_ta.or.glif</string>
    <key>SaTtaRa.or</key>
    <string>S_aT_taR_a.or.glif</string>
    <key>Sha.or</key>
    <string>S_ha.or.glif</string>
    <key>ShaBa.or</key>
    <string>S_haB_a.or.glif</string>
    <key>ShaCa.or</key>
    <string>S_haC_a.or.glif</string>
    <key>ShaCha.or</key>
    <string>S_haC_ha.or.glif</string>
    <key>ShaLa.or</key>
    <string>S_haL_a.or.glif</string>
    <key>ShaLla.or</key>
    <string>S_haL_la.or.glif</string>
    <key>ShaMa.or</key>
    <string>S_haM_a.or.glif</string>
    <key>ShaNa.or</key>
    <string>S_haN_a.or.glif</string>
    <key>ShaRa.or</key>
    <string>S_haR_a.or.glif</string>
    <key>ShaSmall.or</key>
    <string>S_haS_mall.or.glif</string>
    <key>ShaSmall2.or</key>
    <string>S_haS_mall2.or.glif</string>
    <key>ShaTta.or</key>
    <string>S_haT_ta.or.glif</string>
    <key>ShaTtaRa.or</key>
    <string>S_haT_taR_a.or.glif</string>
    <key>Ssa.or</key>
    <string>S_sa.or.glif</string>
    <key>SsaKa.or</key>
    <string>S_saK_a.or.glif</string>
    <key>SsaKaRa.or</key>
    <string>S_saK_aR_a.or.glif</string>
    <key>SsaNna.or</key>
    <string>S_saN_na.or.glif</string>
    <key>SsaPa.or</key>
    <string>S_saP_a.or.glif</string>
    <key>SsaPaRa.or</key>
    <string>S_saP_aR_a.or.glif</string>
    <key>SsaPha.or</key>
    <string>S_saP_ha.or.glif</string>
    <key>SsaRa.or</key>
    <string>S_saR_a.or.glif</string>
    <key>SsaSmall.or</key>
    <string>S_saS_mall.or.glif</string>
    <key>SsaSmall2.or</key>
    <string>S_saS_mall2.or.glif</string>
    <key>SsaTta.or</key>
    <string>S_saT_ta.or.glif</string>
    <key>SsaTtaRa.or</key>
    <string>S_saT_taR_a.or.glif</string>
    <key>SsaTtha.or</key>
    <string>S_saT_tha.or.glif</string>
    <key>Ta.or</key>
    <string>T_a.or.glif</string>
    <key>TaBa.or</key>
    <string>T_aB_a.or.glif</string>
    <key>TaKa.or</key>
    <string>T_aK_a.or.glif</string>
    <key>TaKaSsa.or</key>
    <string>T_aK_aS_sa.or.glif</string>
    <key>TaMa.or</key>
    <string>T_aM_a.or.glif</string>
    <key>TaNa.or</key>
    <string>T_aN_a.or.glif</string>
    <key>TaPa.or</key>
    <string>T_aP_a.or.glif</string>
    <key>TaRa.or</key>
    <string>T_aR_a.or.glif</string>
    <key>TaSa.or</key>
    <string>T_aS_a.or.glif</string>
    <key>TaSaNa.or</key>
    <string>T_aS_aN_a.or.glif</string>
    <key>TaSmall.or</key>
    <string>T_aS_mall.or.glif</string>
    <key>TaSmall2.or</key>
    <string>T_aS_mall2.or.glif</string>
    <key>TaTa.or</key>
    <string>T_aT_a.or.glif</string>
    <key>TaTaBa.or</key>
    <string>T_aT_aB_a.or.glif</string>
    <key>TaTaRa.or</key>
    <string>T_aT_aR_a.or.glif</string>
    <key>TaTha.or</key>
    <string>T_aT_ha.or.glif</string>
    <key>Tha.or</key>
    <string>T_ha.or.glif</string>
    <key>ThaBa.or</key>
    <string>T_haB_a.or.glif</string>
    <key>ThaI.or</key>
    <string>T_haI_.or.glif</string>
    <key>ThaRa.or</key>
    <string>T_haR_a.or.glif</string>
    <key>ThaSmall.or</key>
    <string>T_haS_mall.or.glif</string>
    <key>ThaSmall2.or</key>
    <string>T_haS_mall2.or.glif</string>
    <key>Tta.or</key>
    <string>T_ta.or.glif</string>
    <key>TtaRa.or</key>
    <string>T_taR_a.or.glif</string>
    <key>TtaSmall.or</key>
    <string>T_taS_mall.or.glif</string>
    <key>TtaTta.or</key>
    <string>T_taT_ta.or.glif</string>
    <key>Ttha.or</key>
    <string>T_tha.or.glif</string>
    <key>TthaRa.or</key>
    <string>T_thaR_a.or.glif</string>
    <key>TthaSmall.or</key>
    <string>T_thaS_mall.or.glif</string>
    <key>Va.or</key>
    <string>V_a.or.glif</string>
    <key>VaRa.or</key>
    <string>V_aR_a.or.glif</string>
    <key>Virama.or</key>
    <string>V_irama.or.glif</string>
    <key>Visarga.or</key>
    <string>V_isarga.or.glif</string>
    <key>VocalicLl.or</key>
    <string>V_ocalicL_l.or.glif</string>
    <key>VocalicRr.or</key>
    <string>V_ocalicR_r.or.glif</string>
    <key>VowelA.or</key>
    <string>V_owelA_.or.glif</string>
    <key>VowelAi.or</key>
    <string>V_owelA_i.or.glif</string>
    <key>VowelAu.or</key>
    <string>V_owelA_u.or.glif</string>
    <key>VowelE.or</key>
    <string>V_owelE_.or.glif</string>
    <key>VowelI.or</key>
    <string>V_owelI_.or.glif</string>
    <key>VowelIi.or</key>
    <string>V_owelI_i.or.glif</string>
    <key>VowelO.or</key>
    <string>V_owelO_.or.glif</string>
    <key>VowelU.or</key>
    <string>V_owelU_.or.glif</string>
    <key>VowelUu.or</key>
    <string>V_owelU_u.or.glif</string>
    <key>VowelVocalicL.or</key>
    <string>V_owelV_ocalicL_.or.glif</string>
    <key>VowelVocalicR.or</key>
    <string>V_owelV_ocalicR_.or.glif</string>
    <key>Wa.or</key>
    <string>W_a.or.glif</string>
    <key>Ya.or</key>
    <string>Y_a.or.glif</string>
    <key>YaRa.or</key>
    <string>Y_aR_a.or.glif</string>
    <key>YaSmall.or</key>
    <string>Y_aS_mall.or.glif</string>
    <key>YaSmall2.or</key>
    <string>Y_aS_mall2.or.glif</string>
    <key>Yya.or</key>
    <string>Y_ya.or.glif</string>
    <key>YyaSmall.or</key>
    <string>Y_yaS_mall.or.glif</string>
    <key>eight.or</key>
    <string>eight.or.glif</string>
    <key>five.or</key>
    <string>five.or.glif</string>
    <key>four.or</key>
    <string>four.or.glif</string>
    <key>nine.or</key>
    <string>nine.or.glif</string>
    <key>one.or</key>
    <string>one.or.glif</string>
    <key>onehalf.or</key>
    <string>onehalf.or.glif</string>
    <key>onequarter.or</key>
    <string>onequarter.or.glif</string>
    <key>onesixteenth.or</key>
    <string>onesixteenth.or.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>seven.or</key>
    <string>seven.or.glif</string>
    <key>six.or</key>
    <string>six.or.glif</string>
    <key>three.or</key>
    <string>three.or.glif</string>
    <key>threequarter.or</key>
    <string>threequarter.or.glif</string>
    <key>two.or</key>
    <string>two.or.glif</string>
    <key>zero.or</key>
    <string>zero.or.glif</string>
  </dict>
</plist>
