<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>NULL</string>
    <string>uni000D</string>
    <string>space</string>
    <string>combininganusvaraabovesign.mlm</string>
    <string>Chandrabindu.mlm</string>
    <string>Anuswara.mlm</string>
    <string>Visarga.mlm</string>
    <string>uni0D04</string>
    <string>vowelA.mlm</string>
    <string>vowelAa.mlm</string>
    <string>vowelI.mlm</string>
    <string>vowelIi.mlm</string>
    <string>vowelU.mlm</string>
    <string>vowelUu.mlm</string>
    <string>vowelRu.mlm</string>
    <string>vowelLru.mlm</string>
    <string>vowelshortE.mlm</string>
    <string>vowelE.mlm</string>
    <string>vowelAi.mlm</string>
    <string>vowelshortO.mlm</string>
    <string>vowelO.mlm</string>
    <string>vowelAu.mlm</string>
    <string>Ka.mlm</string>
    <string>Kha.mlm</string>
    <string>Ga.mlm</string>
    <string>Gha.mlm</string>
    <string>Nga.mlm</string>
    <string>Ca.mlm</string>
    <string>Cha.mlm</string>
    <string>Ja.mlm</string>
    <string>Jha.mlm</string>
    <string>Nya.mlm</string>
    <string>Tta.mlm</string>
    <string>Ttha.mlm</string>
    <string>Dda.mlm</string>
    <string>Ddha.mlm</string>
    <string>Nna.mlm</string>
    <string>Ta.mlm</string>
    <string>Da.mlm</string>
    <string>Dha.mlm</string>
    <string>Na.mlm</string>
    <string>Nnna.mlm</string>
    <string>Pa.mlm</string>
    <string>Pha.mlm</string>
    <string>Ba.mlm</string>
    <string>Bha.mlm</string>
    <string>Ma.mlm</string>
    <string>Ya.mlm</string>
    <string>Ra.mlm</string>
    <string>Rra.mlm</string>
    <string>La.mlm</string>
    <string>Lla.mlm</string>
    <string>Tha.mlm</string>
    <string>Zha.mlm</string>
    <string>Va.mlm</string>
    <string>Sha.mlm</string>
    <string>Ssa.mlm</string>
    <string>Sa.mlm</string>
    <string>Ha.mlm</string>
    <string>Ttta.mlm</string>
    <string>Praslesham.mlm</string>
    <string>matraA.mlm</string>
    <string>matraI.mlm</string>
    <string>matraIi.mlm</string>
    <string>matraU.mlm</string>
    <string>matraUu.mlm</string>
    <string>matraRu.mlm</string>
    <string>matraRru.mlm</string>
    <string>matrashortE.mlm</string>
    <string>matraE.mlm</string>
    <string>verticalbarviramasign.mlm</string>
    <string>circularviramasign.mlm</string>
    <string>Virama.mlm</string>
    <string>dotreph.mlm</string>
    <string>uni0D62</string>
    <string>uni0D63</string>
    <string>matraAi.mlm</string>
    <string>matrashortO.mlm</string>
    <string>matraO.mlm</string>
    <string>matraAu.mlm</string>
    <string>parasign.mlm</string>
    <string>chilluM.mlm</string>
    <string>chilluY.mlm</string>
    <string>chilluZh.mlm</string>
    <string>lengthAu.mlm</string>
    <string>oneonehundredandsixtieth.mlm</string>
    <string>onefortieth.mlm</string>
    <string>threeeightieths.mlm</string>
    <string>onetwentieth.mlm</string>
    <string>onetenth.mlm</string>
    <string>threetwentieths.mlm</string>
    <string>onefifth.mlm</string>
    <string>archaicIi.mlm</string>
    <string>vowelRuu.mlm</string>
    <string>vowelLruu.mlm</string>
    <string>zero.mlm</string>
    <string>one.mlm</string>
    <string>two.mlm</string>
    <string>three.mlm</string>
    <string>four.mlm</string>
    <string>five.mlm</string>
    <string>six.mlm</string>
    <string>seven.mlm</string>
    <string>eight.mlm</string>
    <string>nine.mlm</string>
    <string>ten.mlm</string>
    <string>onehundred.mlm</string>
    <string>onethousand.mlm</string>
    <string>onequarter.mlm</string>
    <string>onehalf.mlm</string>
    <string>threequarters.mlm</string>
    <string>oneeighth.mlm</string>
    <string>onesixteenth.mlm</string>
    <string>threesixteenths.mlm</string>
    <string>date.mlm</string>
    <string>chilluNn.mlm</string>
    <string>chilluN.mlm</string>
    <string>chilluRr.mlm</string>
    <string>chilluL.mlm</string>
    <string>chilluLl.mlm</string>
    <string>chilluK.mlm</string>
    <string>KaSsa.mlm</string>
    <string>KaKa.mlm</string>
    <string>KaTa.mlm</string>
    <string>NgaKa.mlm</string>
    <string>NgaNga.mlm</string>
    <string>GaDa.mlm</string>
    <string>GaMa.mlm</string>
    <string>GaDaDha.mlm</string>
    <string>GaNa.mlm</string>
    <string>JaJa.mlm</string>
    <string>JaNya.mlm</string>
    <string>NyaJa.mlm</string>
    <string>NyaNya.mlm</string>
    <string>NyaCa.mlm</string>
    <string>NyaCha.mlm</string>
    <string>NnaMa.mlm</string>
    <string>NnaDda.mlm</string>
    <string>NnaDdha.mlm</string>
    <string>NnaTta.mlm</string>
    <string>TaTa.mlm</string>
    <string>TaSa.mlm</string>
    <string>TaTha.mlm</string>
    <string>TaMa.mlm</string>
    <string>TaBha.mlm</string>
    <string>TaNa.mlm</string>
    <string>DaDha.mlm</string>
    <string>NaNa.mlm</string>
    <string>NaDa.mlm</string>
    <string>NaTa.mlm</string>
    <string>NaDha.mlm</string>
    <string>NaMa.mlm</string>
    <string>NaTha.mlm</string>
    <string>MaMa.mlm</string>
    <string>MaPa.mlm</string>
    <string>ShaCa.mlm</string>
    <string>ShaCha.mlm</string>
    <string>SaTha.mlm</string>
    <string>HaNa.mlm</string>
    <string>HaMa.mlm</string>
    <string>LlaLla.mlm</string>
    <string>KaTta.mlm</string>
    <string>KaLa.mlm</string>
    <string>GaGa.mlm</string>
    <string>GaLa.mlm</string>
    <string>CaCa.mlm</string>
    <string>CaCha.mlm</string>
    <string>TtaTta.mlm</string>
    <string>DdaDda.mlm</string>
    <string>NnaNna.mlm</string>
    <string>DaDa.mlm</string>
    <string>PaPa.mlm</string>
    <string>PaLa.mlm</string>
    <string>BaDa.mlm</string>
    <string>BaDha.mlm</string>
    <string>BaBa.mlm</string>
    <string>BaLa.mlm</string>
    <string>PhaLa.mlm</string>
    <string>MaLa.mlm</string>
    <string>YaYa.mlm</string>
    <string>RraRra.mlm</string>
    <string>LaLa.mlm</string>
    <string>VaVa.mlm</string>
    <string>SsaTta.mlm</string>
    <string>ShaLa.mlm</string>
    <string>ShaSha.mlm</string>
    <string>SaRraRra.mlm</string>
    <string>SaLa.mlm</string>
    <string>SaSa.mlm</string>
    <string>NaRra.mlm</string>
    <string>NaRraVirama.mlm</string>
    <string>matraI1.mlm</string>
    <string>matraI.mlm.2</string>
    <string>matraIi.mlm.1</string>
    <string>ViramaYa.mlm</string>
    <string>ViramaYa1.mlm</string>
    <string>ViramaYa2.mlm</string>
    <string>ViramaRa.mlm</string>
    <string>ViramaRa1.mlm</string>
    <string>ViramaVa.mlm</string>
    <string>ViramaVa1.mlm</string>
    <string>ViramaVa2.mlm</string>
    <string>matraU1.mlm</string>
    <string>matraUu1.mlm</string>
    <string>matraRu1.mlm</string>
    <string>matraRu2.mlm</string>
    <string>matraE1_Alt.mlm</string>
    <string>matraE2_Alt.mlm</string>
    <string>Pa_Alt.mlm</string>
    <string>PaPa_Alt.mlm</string>
    <string>matraI_Alt.mlm</string>
    <string>matraA_Alt.mlm</string>
    <string>vowelO_Alt.mlm</string>
    <string>Tta_Alt.mlm</string>
    <string>TtaTta_Alt.mlm</string>
    <string>KaTta_Alt.mlm</string>
    <string>SsaTta_Alt.mlm</string>
    <string>vowelI_Alt.mlm</string>
    <string>vowelU_Alt.mlm</string>
    <string>vowelIi_Alt.mlm</string>
    <string>vowelUu_Alt.mlm</string>
    <string>Lla_Alt.mlm</string>
    <string>LlaLla_Alt.mlm</string>
    <string>Ja_Alt.mlm</string>
    <string>JaJa_Alt.mlm</string>
    <string>JaNya_Alt.mlm</string>
    <string>NyaJa_Alt.mlm</string>
    <string>matraUu_Alt.mlm</string>
    <string>matraUu1_Alt.mlm</string>
    <string>matraU2.mlm</string>
    <string>matraUu2.mlm</string>
    <string>matraUu2_Alt.mlm</string>
    <string>exclam</string>
    <string>quotedbl</string>
    <string>numbersign</string>
    <string>percent</string>
    <string>ampersand</string>
    <string>quotesingle</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>asterisk</string>
    <string>plus</string>
    <string>comma</string>
    <string>hyphen</string>
    <string>period</string>
    <string>slash</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>less</string>
    <string>equal</string>
    <string>greater</string>
    <string>question</string>
    <string>at</string>
    <string>bracketleft</string>
    <string>backslash</string>
    <string>bracketright</string>
    <string>asciicircum</string>
    <string>underscore</string>
    <string>braceleft</string>
    <string>bar</string>
    <string>braceright</string>
    <string>asciitilde</string>
    <string>ellipsis</string>
    <string>endash</string>
    <string>emdash</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>divide</string>
    <string>minus</string>
    <string>multiply</string>
    <string>dollar</string>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>grave</string>
    <string>a</string>
    <string>b</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>u</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>quotesinglbase</string>
    <string>quotedblbase</string>
    <string>circumflex</string>
    <string>guilsinglleft</string>
    <string>OE</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>bullet</string>
    <string>tilde</string>
    <string>guilsinglright</string>
    <string>oe</string>
    <string>exclamdown</string>
    <string>cent</string>
    <string>sterling</string>
    <string>currency</string>
    <string>yen</string>
    <string>brokenbar</string>
    <string>section</string>
    <string>dieresis</string>
    <string>copyright</string>
    <string>ordfeminine</string>
    <string>registered</string>
    <string>degree</string>
    <string>plusminus</string>
    <string>acute</string>
    <string>paragraph</string>
    <string>cedilla</string>
    <string>ordmasculine</string>
    <string>questiondown</string>
    <string>Agrave</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Atilde</string>
    <string>Aring</string>
    <string>Adieresis</string>
    <string>AE</string>
    <string>Ccedilla</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Igrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Eth</string>
    <string>Ntilde</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Otilde</string>
    <string>Odieresis</string>
    <string>Oslash</string>
    <string>Ugrave</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Yacute</string>
    <string>Thorn</string>
    <string>germandbls</string>
    <string>agrave</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>atilde</string>
    <string>adieresis</string>
    <string>aring</string>
    <string>ae</string>
    <string>ccedilla</string>
    <string>egrave</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>igrave</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>eth</string>
    <string>ntilde</string>
    <string>ograve</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>otilde</string>
    <string>odieresis</string>
    <string>oslash</string>
    <string>ugrave</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>yacute</string>
    <string>thorn</string>
    <string>ydieresis</string>
    <string>logicalnot</string>
    <string>macron</string>
    <string>ring</string>
    <string>periodcentered</string>
    <string>fi</string>
    <string>fl</string>
    <string>fraction</string>
    <string>onesuperior</string>
    <string>twosuperior</string>
    <string>threesuperior</string>
    <string>onequarter</string>
    <string>onehalf</string>
    <string>threequarters</string>
    <string>r_t</string>
    <string>Germandbls</string>
    <string>idotless</string>
    <string>f_f</string>
    <string>f_f_i</string>
    <string>f_f_l</string>
    <string>zero.zero</string>
    <string>zero.tf</string>
    <string>one.tf</string>
    <string>two.tf</string>
    <string>three.tf</string>
    <string>four.tf</string>
    <string>five.tf</string>
    <string>six.tf</string>
    <string>seven.tf</string>
    <string>eight.tf</string>
    <string>nine.tf</string>
    <string>zero.tf.zero</string>
    <string>zeroinferior</string>
    <string>oneinferior</string>
    <string>twoinferior</string>
    <string>threeinferior</string>
    <string>fourinferior</string>
    <string>fiveinferior</string>
    <string>sixinferior</string>
    <string>seveninferior</string>
    <string>eightinferior</string>
    <string>nineinferior</string>
    <string>zero.subs</string>
    <string>one.subs</string>
    <string>two.subs</string>
    <string>three.subs</string>
    <string>four.subs</string>
    <string>five.subs</string>
    <string>six.subs</string>
    <string>seven.subs</string>
    <string>eight.subs</string>
    <string>nine.subs</string>
    <string>zero.dnom</string>
    <string>one.dnom</string>
    <string>two.dnom</string>
    <string>three.dnom</string>
    <string>four.dnom</string>
    <string>five.dnom</string>
    <string>six.dnom</string>
    <string>seven.dnom</string>
    <string>eight.dnom</string>
    <string>nine.dnom</string>
    <string>zero.numr</string>
    <string>one.numr</string>
    <string>two.numr</string>
    <string>three.numr</string>
    <string>four.numr</string>
    <string>five.numr</string>
    <string>six.numr</string>
    <string>seven.numr</string>
    <string>eight.numr</string>
    <string>nine.numr</string>
    <string>zerosuperior</string>
    <string>foursuperior</string>
    <string>fivesuperior</string>
    <string>sixsuperior</string>
    <string>sevensuperior</string>
    <string>eightsuperior</string>
    <string>ninesuperior</string>
    <string>softhyphen</string>
    <string>guillemetleft</string>
    <string>guillemetright</string>
    <string>question_alt</string>
    <string>figurespace</string>
    <string>hairspace</string>
    <string>punctuationspace</string>
    <string>nbspace</string>
    <string>thinspace</string>
    <string>zerowidthspace</string>
    <string>euro</string>
    <string>rupeeIndian</string>
    <string>bulletoperator</string>
    <string>divisionslash</string>
    <string>micro</string>
    <string>dieresiscomb</string>
    <string>dotaccentcomb</string>
    <string>gravecomb</string>
    <string>acutecomb</string>
    <string>circumflexcomb</string>
    <string>ringcomb</string>
    <string>tildecomb</string>
    <string>macroncomb</string>
    <string>cedillacomb</string>
    <string>dieresiscomb.case</string>
    <string>gravecomb.case</string>
    <string>acutecomb.case</string>
    <string>circumflexcomb.case</string>
    <string>ringcomb.case</string>
    <string>tildecomb.case</string>
    <string>macroncomb.case</string>
    <string>cedillacomb.case</string>
    <string>dieresiscomb.narrow</string>
    <string>gravecomb.narrow</string>
    <string>acutecomb.narrow</string>
    <string>circumflexcomb.narrow</string>
    <string>tildecomb.narrow</string>
    <string>macroncomb.narrow</string>
    <string>jbottom</string>
    <string>uni25CC</string>
    <string>ZWNJ</string>
    <string>ZWJ</string>
    <string>Ek</string>
  </array>
</dict>
</plist>
