<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Aacute</key>
    <string>A_acute.glif</string>
    <key>Aaytam.tm</key>
    <string>A_aytam.tm.glif</string>
    <key>Acircumflex</key>
    <string>A_circumflex.glif</string>
    <key>Adieresis</key>
    <string>A_dieresis.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Anusvara.tm</key>
    <string>A_nusvara.tm.glif</string>
    <key>Aring</key>
    <string>A_ring.glif</string>
    <key>AsAboveSign.tm</key>
    <string>A_sA_boveS_ign.tm.glif</string>
    <key>AsAboveSign_Simple.tm</key>
    <string>A_sA_boveS_ign_S_imple.tm.glif</string>
    <key>Atilde</key>
    <string>A_tilde.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>Ca.tm</key>
    <string>C_a.tm.glif</string>
    <key>CaMatraI.tm</key>
    <string>C_aM_atraI_.tm.glif</string>
    <key>CaMatraI_Fly.tm</key>
    <string>C_aM_atraI__F_ly.tm.glif</string>
    <key>CaMatraIi.tm</key>
    <string>C_aM_atraI_i.tm.glif</string>
    <key>CaMatraIi_SimpleIi.tm</key>
    <string>C_aM_atraI_i_S_impleI_i.tm.glif</string>
    <key>CaMatraU.tm</key>
    <string>C_aM_atraU_.tm.glif</string>
    <key>CaMatraUu.tm</key>
    <string>C_aM_atraU_u.tm.glif</string>
    <key>CaMatraUu_Simple.tm</key>
    <string>C_aM_atraU_u_S_imple.tm.glif</string>
    <key>Ca_dummy.tm</key>
    <string>C_a_dummy.tm.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>CreditSign.tm</key>
    <string>C_reditS_ign.tm.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>DaySign.tm</key>
    <string>D_ayS_ign.tm.glif</string>
    <key>DebitSign.tm</key>
    <string>D_ebitS_ign.tm.glif</string>
    <key>DebitSign_Simple.tm</key>
    <string>D_ebitS_ign_S_imple.tm.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>Ecircumflex</key>
    <string>E_circumflex.glif</string>
    <key>Edieresis</key>
    <string>E_dieresis.glif</string>
    <key>Egrave</key>
    <string>E_grave.glif</string>
    <key>Eight.tm</key>
    <string>E_ight.tm.glif</string>
    <key>Ek</key>
    <string>E_k.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>Five.tm</key>
    <string>F_ive.tm.glif</string>
    <key>Four.tm</key>
    <string>F_our.tm.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>Ha.tm</key>
    <string>H_a.tm.glif</string>
    <key>HaMatraI.tm</key>
    <string>H_aM_atraI_.tm.glif</string>
    <key>HaMatraI_Fly.tm</key>
    <string>H_aM_atraI__F_ly.tm.glif</string>
    <key>HaMatraI_Simple.tm</key>
    <string>H_aM_atraI__S_imple.tm.glif</string>
    <key>HaMatraI_Simple_Fly.tm</key>
    <string>H_aM_atraI__S_imple_F_ly.tm.glif</string>
    <key>HaMatraIi.tm</key>
    <string>H_aM_atraI_i.tm.glif</string>
    <key>HaMatraIi_Simple.tm</key>
    <string>H_aM_atraI_i_S_imple.tm.glif</string>
    <key>HaMatraIi_Simple_SimpleIi.tm</key>
    <string>H_aM_atraI_i_S_imple_S_impleI_i.tm.glif</string>
    <key>HaMatraU.tm</key>
    <string>H_aM_atraU_.tm.glif</string>
    <key>HaMatraU_Simple.tm</key>
    <string>H_aM_atraU__S_imple.tm.glif</string>
    <key>HaMatraUu.tm</key>
    <string>H_aM_atraU_u.tm.glif</string>
    <key>HaMatraUu_Simple_SimpleUu.tm</key>
    <string>H_aM_atraU_u_S_imple_S_impleU_u.tm.glif</string>
    <key>Ha_Simple.tm</key>
    <string>H_a_S_imple.tm.glif</string>
    <key>Hundred.tm</key>
    <string>H_undred.tm.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>Iacute</key>
    <string>I_acute.glif</string>
    <key>Icircumflex</key>
    <string>I_circumflex.glif</string>
    <key>Idieresis</key>
    <string>I_dieresis.glif</string>
    <key>Igrave</key>
    <string>I_grave.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>Ja.tm</key>
    <string>J_a.tm.glif</string>
    <key>JaMatraI.tm</key>
    <string>J_aM_atraI_.tm.glif</string>
    <key>JaMatraI_Fly.tm</key>
    <string>J_aM_atraI__F_ly.tm.glif</string>
    <key>JaMatraI_Fused.tm</key>
    <string>J_aM_atraI__F_used.tm.glif</string>
    <key>JaMatraI_Fused_Fly.tm</key>
    <string>J_aM_atraI__F_used_F_ly.tm.glif</string>
    <key>JaMatraIi.tm</key>
    <string>J_aM_atraI_i.tm.glif</string>
    <key>JaMatraIi_Fused.tm</key>
    <string>J_aM_atraI_i_F_used.tm.glif</string>
    <key>JaMatraIi_Fused_SimpleIi.tm</key>
    <string>J_aM_atraI_i_F_used_S_impleI_i.tm.glif</string>
    <key>JaMatraIi_SimpleIi.tm</key>
    <string>J_aM_atraI_i_S_impleI_i.tm.glif</string>
    <key>JaMatraU.tm</key>
    <string>J_aM_atraU_.tm.glif</string>
    <key>JaMatraU_Fused.tm</key>
    <string>J_aM_atraU__F_used.tm.glif</string>
    <key>JaMatraUu.tm</key>
    <string>J_aM_atraU_u.tm.glif</string>
    <key>JaMatraUu_Fused.tm</key>
    <string>J_aM_atraU_u_F_used.tm.glif</string>
    <key>JaMatraUu_Fused_SimpleUu.tm</key>
    <string>J_aM_atraU_u_F_used_S_impleU_u.tm.glif</string>
    <key>JaMatraUu_SimpleUu.tm</key>
    <string>J_aM_atraU_u_S_impleU_u.tm.glif</string>
    <key>Ja_Fused.tm</key>
    <string>J_a_F_used.tm.glif</string>
    <key>Ja_dummy.tm</key>
    <string>J_a_dummy.tm.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>Ka.tm</key>
    <string>K_a.tm.glif</string>
    <key>KaBeak_Nonexporting</key>
    <string>K_aB_eak_N_onexporting.glif</string>
    <key>KaComponent_Nonexporting</key>
    <string>K_aC_omponent_N_onexporting.glif</string>
    <key>KaMatraI.tm</key>
    <string>K_aM_atraI_.tm.glif</string>
    <key>KaMatraI_Fly.tm</key>
    <string>K_aM_atraI__F_ly.tm.glif</string>
    <key>KaMatraIi.tm</key>
    <string>K_aM_atraI_i.tm.glif</string>
    <key>KaMatraIi_SimpleIi.tm</key>
    <string>K_aM_atraI_i_S_impleI_i.tm.glif</string>
    <key>KaMatraU.tm</key>
    <string>K_aM_atraU_.tm.glif</string>
    <key>KaMatraU_Simple.tm</key>
    <string>K_aM_atraU__S_imple.tm.glif</string>
    <key>KaMatraUu.tm</key>
    <string>K_aM_atraU_u.tm.glif</string>
    <key>Ka_dummy.tm</key>
    <string>K_a_dummy.tm.glif</string>
    <key>Kssa.tm</key>
    <string>K_ssa.tm.glif</string>
    <key>KssaMatraI.tm</key>
    <string>K_ssaM_atraI_.tm.glif</string>
    <key>KssaMatraI_Fly.tm</key>
    <string>K_ssaM_atraI__F_ly.tm.glif</string>
    <key>KssaMatraI_Simple.tm</key>
    <string>K_ssaM_atraI__S_imple.tm.glif</string>
    <key>KssaMatraI_Simple_Fly.tm</key>
    <string>K_ssaM_atraI__S_imple_F_ly.tm.glif</string>
    <key>KssaMatraIi.tm</key>
    <string>K_ssaM_atraI_i.tm.glif</string>
    <key>KssaMatraIi_Simple_SimpleIi.tm</key>
    <string>K_ssaM_atraI_i_S_imple_S_impleI_i.tm.glif</string>
    <key>KssaMatraU.tm</key>
    <string>K_ssaM_atraU_.tm.glif</string>
    <key>KssaMatraU_Simple.tm</key>
    <string>K_ssaM_atraU__S_imple.tm.glif</string>
    <key>KssaMatraUu.tm</key>
    <string>K_ssaM_atraU_u.tm.glif</string>
    <key>KssaMatraUu_Simple_SimpleUu.tm</key>
    <string>K_ssaM_atraU_u_S_imple_S_impleU_u.tm.glif</string>
    <key>Kssa_Simple.tm</key>
    <string>K_ssa_S_imple.tm.glif</string>
    <key>Kssa_dummy.tm</key>
    <string>K_ssa_dummy.tm.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>La.tm</key>
    <string>L_a.tm.glif</string>
    <key>LaMatraAi.tm</key>
    <string>L_aM_atraA_i.tm.glif</string>
    <key>LaMatraI.tm</key>
    <string>L_aM_atraI_.tm.glif</string>
    <key>LaMatraI_Fly.tm</key>
    <string>L_aM_atraI__F_ly.tm.glif</string>
    <key>LaMatraIi.tm</key>
    <string>L_aM_atraI_i.tm.glif</string>
    <key>LaMatraIi_SimpleIi.tm</key>
    <string>L_aM_atraI_i_S_impleI_i.tm.glif</string>
    <key>LaMatraU.tm</key>
    <string>L_aM_atraU_.tm.glif</string>
    <key>LaMatraU_Simple.tm</key>
    <string>L_aM_atraU__S_imple.tm.glif</string>
    <key>LaMatraUu.tm</key>
    <string>L_aM_atraU_u.tm.glif</string>
    <key>LaMatraUu_Simple.tm</key>
    <string>L_aM_atraU_u_S_imple.tm.glif</string>
    <key>La_dummy.tm</key>
    <string>L_a_dummy.tm.glif</string>
    <key>Lla.tm</key>
    <string>L_la.tm.glif</string>
    <key>LlaMatraAi.tm</key>
    <string>L_laM_atraA_i.tm.glif</string>
    <key>LlaMatraI.tm</key>
    <string>L_laM_atraI_.tm.glif</string>
    <key>LlaMatraI_Fly.tm</key>
    <string>L_laM_atraI__F_ly.tm.glif</string>
    <key>LlaMatraIi.tm</key>
    <string>L_laM_atraI_i.tm.glif</string>
    <key>LlaMatraIi_SimpleIi.tm</key>
    <string>L_laM_atraI_i_S_impleI_i.tm.glif</string>
    <key>LlaMatraU.tm</key>
    <string>L_laM_atraU_.tm.glif</string>
    <key>LlaMatraU_Simple.tm</key>
    <string>L_laM_atraU__S_imple.tm.glif</string>
    <key>LlaMatraUu.tm</key>
    <string>L_laM_atraU_u.tm.glif</string>
    <key>Lla_dummy.tm</key>
    <string>L_la_dummy.tm.glif</string>
    <key>Llla.tm</key>
    <string>L_lla.tm.glif</string>
    <key>LllaMatraI.tm</key>
    <string>L_llaM_atraI_.tm.glif</string>
    <key>LllaMatraI_Fly.tm</key>
    <string>L_llaM_atraI__F_ly.tm.glif</string>
    <key>LllaMatraI_Simple.tm</key>
    <string>L_llaM_atraI__S_imple.tm.glif</string>
    <key>LllaMatraI_Simple_Fly.tm</key>
    <string>L_llaM_atraI__S_imple_F_ly.tm.glif</string>
    <key>LllaMatraIi.tm</key>
    <string>L_llaM_atraI_i.tm.glif</string>
    <key>LllaMatraIi_Simple.tm</key>
    <string>L_llaM_atraI_i_S_imple.tm.glif</string>
    <key>LllaMatraIi_Simple_SimpleIi.tm</key>
    <string>L_llaM_atraI_i_S_imple_S_impleI_i.tm.glif</string>
    <key>LllaMatraU.tm</key>
    <string>L_llaM_atraU_.tm.glif</string>
    <key>LllaMatraU_Simple.tm</key>
    <string>L_llaM_atraU__S_imple.tm.glif</string>
    <key>LllaMatraUu.tm</key>
    <string>L_llaM_atraU_u.tm.glif</string>
    <key>Llla_Simple.tm</key>
    <string>L_lla_S_imple.tm.glif</string>
    <key>Llla_dummy.tm</key>
    <string>L_lla_dummy.tm.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>Ma.tm</key>
    <string>M_a.tm.glif</string>
    <key>MaMatraI.tm</key>
    <string>M_aM_atraI_.tm.glif</string>
    <key>MaMatraI_Fly.tm</key>
    <string>M_aM_atraI__F_ly.tm.glif</string>
    <key>MaMatraIi.tm</key>
    <string>M_aM_atraI_i.tm.glif</string>
    <key>MaMatraIi_SimpleIi.tm</key>
    <string>M_aM_atraI_i_S_impleI_i.tm.glif</string>
    <key>MaMatraU.tm</key>
    <string>M_aM_atraU_.tm.glif</string>
    <key>MaMatraU_Simple.tm</key>
    <string>M_aM_atraU__S_imple.tm.glif</string>
    <key>MaMatraUu.tm</key>
    <string>M_aM_atraU_u.tm.glif</string>
    <key>Ma_dummy.tm</key>
    <string>M_a_dummy.tm.glif</string>
    <key>MatraAa.tm</key>
    <string>M_atraA_a.tm.glif</string>
    <key>MatraAa_dummy.tm</key>
    <string>M_atraA_a_dummy.tm.glif</string>
    <key>MatraAi.tm</key>
    <string>M_atraA_i.tm.glif</string>
    <key>MatraAiComponent_Nonexporting</key>
    <string>M_atraA_iC_omponent_N_onexporting.glif</string>
    <key>MatraAu.tm</key>
    <string>M_atraA_u.tm.glif</string>
    <key>MatraAuSpare.tm</key>
    <string>M_atraA_uS_pare.tm.glif</string>
    <key>MatraAu_Simple.tm</key>
    <string>M_atraA_u_S_imple.tm.glif</string>
    <key>MatraE.tm</key>
    <string>M_atraE_.tm.glif</string>
    <key>MatraE_Simple.tm</key>
    <string>M_atraE__S_imple.tm.glif</string>
    <key>MatraEe.tm</key>
    <string>M_atraE_e.tm.glif</string>
    <key>MatraEe_Fused.tm</key>
    <string>M_atraE_e_F_used.tm.glif</string>
    <key>MatraEe_Unfused.tm</key>
    <string>M_atraE_e_U_nfused.tm.glif</string>
    <key>MatraIDflt.tm</key>
    <string>M_atraI_D_flt.tm.glif</string>
    <key>MatraIDflt_Fly.tm</key>
    <string>M_atraI_D_flt_F_ly.tm.glif</string>
    <key>MatraIDflt_dummy.tm</key>
    <string>M_atraI_D_flt_dummy.tm.glif</string>
    <key>MatraIiDflt.tm</key>
    <string>M_atraI_iD_flt.tm.glif</string>
    <key>MatraIiDflt_SimpleIi.tm</key>
    <string>M_atraI_iD_flt_S_impleI_i.tm.glif</string>
    <key>MatraO.tm</key>
    <string>M_atraO_.tm.glif</string>
    <key>MatraO_Simple.tm</key>
    <string>M_atraO__S_imple.tm.glif</string>
    <key>MatraOo.tm</key>
    <string>M_atraO_o.tm.glif</string>
    <key>MatraOo_Fused.tm</key>
    <string>M_atraO_o_F_used.tm.glif</string>
    <key>MatraOo_Unfused.tm</key>
    <string>M_atraO_o_U_nfused.tm.glif</string>
    <key>MatraUDflt.tm</key>
    <string>M_atraU_D_flt.tm.glif</string>
    <key>MatraUDflt_dummy.tm</key>
    <string>M_atraU_D_flt_dummy.tm.glif</string>
    <key>MatraUuDflt.tm</key>
    <string>M_atraU_uD_flt.tm.glif</string>
    <key>MatraUuDflt_Simple.tm</key>
    <string>M_atraU_uD_flt_S_imple.tm.glif</string>
    <key>MonthSign.tm</key>
    <string>M_onthS_ign.tm.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>Na.tm</key>
    <string>N_a.tm.glif</string>
    <key>NaMatraI.tm</key>
    <string>N_aM_atraI_.tm.glif</string>
    <key>NaMatraI_Fly.tm</key>
    <string>N_aM_atraI__F_ly.tm.glif</string>
    <key>NaMatraI_Simple.tm</key>
    <string>N_aM_atraI__S_imple.tm.glif</string>
    <key>NaMatraI_Simple_Fly.tm</key>
    <string>N_aM_atraI__S_imple_F_ly.tm.glif</string>
    <key>NaMatraIi.tm</key>
    <string>N_aM_atraI_i.tm.glif</string>
    <key>NaMatraIi_Simple.tm</key>
    <string>N_aM_atraI_i_S_imple.tm.glif</string>
    <key>NaMatraIi_Simple_SimpleIi.tm</key>
    <string>N_aM_atraI_i_S_imple_S_impleI_i.tm.glif</string>
    <key>NaMatraU.tm</key>
    <string>N_aM_atraU_.tm.glif</string>
    <key>NaMatraU_Simple.tm</key>
    <string>N_aM_atraU__S_imple.tm.glif</string>
    <key>NaMatraUu.tm</key>
    <string>N_aM_atraU_u.tm.glif</string>
    <key>NaMatraUu_Simple.tm</key>
    <string>N_aM_atraU_u_S_imple.tm.glif</string>
    <key>Na_Simple.tm</key>
    <string>N_a_S_imple.tm.glif</string>
    <key>Nga.tm</key>
    <string>N_ga.tm.glif</string>
    <key>NgaMatraI.tm</key>
    <string>N_gaM_atraI_.tm.glif</string>
    <key>NgaMatraI_Fly.tm</key>
    <string>N_gaM_atraI__F_ly.tm.glif</string>
    <key>NgaMatraI_SimpleFly.tm</key>
    <string>N_gaM_atraI__S_impleF_ly.tm.glif</string>
    <key>NgaMatraI_SimpleI.tm</key>
    <string>N_gaM_atraI__S_impleI_.tm.glif</string>
    <key>NgaMatraIi.tm</key>
    <string>N_gaM_atraI_i.tm.glif</string>
    <key>NgaMatraIi_SimpleIi.tm</key>
    <string>N_gaM_atraI_i_S_impleI_i.tm.glif</string>
    <key>NgaMatraU.tm</key>
    <string>N_gaM_atraU_.tm.glif</string>
    <key>NgaMatraUu.tm</key>
    <string>N_gaM_atraU_u.tm.glif</string>
    <key>NgaMatraUu_SimpleUu.tm</key>
    <string>N_gaM_atraU_u_S_impleU_u.tm.glif</string>
    <key>Nga_dummy.tm</key>
    <string>N_ga_dummy.tm.glif</string>
    <key>Nine.tm</key>
    <string>N_ine.tm.glif</string>
    <key>Nna.tm</key>
    <string>N_na.tm.glif</string>
    <key>NnaMatraAa.tm</key>
    <string>N_naM_atraA_a.tm.glif</string>
    <key>NnaMatraAa_Simple.tm</key>
    <string>N_naM_atraA_a_S_imple.tm.glif</string>
    <key>NnaMatraAi.tm</key>
    <string>N_naM_atraA_i.tm.glif</string>
    <key>NnaMatraI.tm</key>
    <string>N_naM_atraI_.tm.glif</string>
    <key>NnaMatraI_Fly.tm</key>
    <string>N_naM_atraI__F_ly.tm.glif</string>
    <key>NnaMatraIi.tm</key>
    <string>N_naM_atraI_i.tm.glif</string>
    <key>NnaMatraIi_SimpleIi.tm</key>
    <string>N_naM_atraI_i_S_impleI_i.tm.glif</string>
    <key>NnaMatraU.tm</key>
    <string>N_naM_atraU_.tm.glif</string>
    <key>NnaMatraU_Simple.tm</key>
    <string>N_naM_atraU__S_imple.tm.glif</string>
    <key>NnaMatraUu.tm</key>
    <string>N_naM_atraU_u.tm.glif</string>
    <key>NnaMatraUu_Simple.tm</key>
    <string>N_naM_atraU_u_S_imple.tm.glif</string>
    <key>Nna_dummy.tm</key>
    <string>N_na_dummy.tm.glif</string>
    <key>Nnna.tm</key>
    <string>N_nna.tm.glif</string>
    <key>NnnaMatraAa.tm</key>
    <string>N_nnaM_atraA_a.tm.glif</string>
    <key>NnnaMatraAa_Simple.tm</key>
    <string>N_nnaM_atraA_a_S_imple.tm.glif</string>
    <key>NnnaMatraAi.tm</key>
    <string>N_nnaM_atraA_i.tm.glif</string>
    <key>NnnaMatraI.tm</key>
    <string>N_nnaM_atraI_.tm.glif</string>
    <key>NnnaMatraI_Fly.tm</key>
    <string>N_nnaM_atraI__F_ly.tm.glif</string>
    <key>NnnaMatraIi.tm</key>
    <string>N_nnaM_atraI_i.tm.glif</string>
    <key>NnnaMatraIi_SimpleIi.tm</key>
    <string>N_nnaM_atraI_i_S_impleI_i.tm.glif</string>
    <key>NnnaMatraU.tm</key>
    <string>N_nnaM_atraU_.tm.glif</string>
    <key>NnnaMatraU_Simple.tm</key>
    <string>N_nnaM_atraU__S_imple.tm.glif</string>
    <key>NnnaMatraUu.tm</key>
    <string>N_nnaM_atraU_u.tm.glif</string>
    <key>NnnaMatraUu_Simple.tm</key>
    <string>N_nnaM_atraU_u_S_imple.tm.glif</string>
    <key>Nnna_dummy.tm</key>
    <string>N_nna_dummy.tm.glif</string>
    <key>NoTail_NonExporting</key>
    <string>N_oT_ail_N_onE_xporting.glif</string>
    <key>Ntilde</key>
    <string>N_tilde.glif</string>
    <key>NumberSign.tm</key>
    <string>N_umberS_ign.tm.glif</string>
    <key>NumberSign_Simple.tm</key>
    <string>N_umberS_ign_S_imple.tm.glif</string>
    <key>Nya.tm</key>
    <string>N_ya.tm.glif</string>
    <key>NyaMatraI.tm</key>
    <string>N_yaM_atraI_.tm.glif</string>
    <key>NyaMatraI_Fly.tm</key>
    <string>N_yaM_atraI__F_ly.tm.glif</string>
    <key>NyaMatraI_Simple.tm</key>
    <string>N_yaM_atraI__S_imple.tm.glif</string>
    <key>NyaMatraI_Simple_Fly.tm</key>
    <string>N_yaM_atraI__S_imple_F_ly.tm.glif</string>
    <key>NyaMatraIi.tm</key>
    <string>N_yaM_atraI_i.tm.glif</string>
    <key>NyaMatraIi_SimpleIi.tm</key>
    <string>N_yaM_atraI_i_S_impleI_i.tm.glif</string>
    <key>NyaMatraU.tm</key>
    <string>N_yaM_atraU_.tm.glif</string>
    <key>NyaMatraU_Simple.tm</key>
    <string>N_yaM_atraU__S_imple.tm.glif</string>
    <key>NyaMatraUu.tm</key>
    <string>N_yaM_atraU_u.tm.glif</string>
    <key>NyaMatraUu_Simple.tm</key>
    <string>N_yaM_atraU_u_S_imple.tm.glif</string>
    <key>Nya_Simple.tm</key>
    <string>N_ya_S_imple.tm.glif</string>
    <key>Nya_dummy.tm</key>
    <string>N_ya_dummy.tm.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Oacute</key>
    <string>O_acute.glif</string>
    <key>Ocircumflex</key>
    <string>O_circumflex.glif</string>
    <key>Odieresis</key>
    <string>O_dieresis.glif</string>
    <key>Ograve</key>
    <string>O_grave.glif</string>
    <key>Om.tm</key>
    <string>O_m.tm.glif</string>
    <key>One.tm</key>
    <string>O_ne.tm.glif</string>
    <key>One.tm.BRACKET.700</key>
    <string>O_ne.tm.B_R_A_C_K_E_T_.700.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Otilde</key>
    <string>O_tilde.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Pa.tm</key>
    <string>P_a.tm.glif</string>
    <key>PaMatraI.tm</key>
    <string>P_aM_atraI_.tm.glif</string>
    <key>PaMatraI_Fly.tm</key>
    <string>P_aM_atraI__F_ly.tm.glif</string>
    <key>PaMatraI_SimpleFly.tm</key>
    <string>P_aM_atraI__S_impleF_ly.tm.glif</string>
    <key>PaMatraI_SimpleI.tm</key>
    <string>P_aM_atraI__S_impleI_.tm.glif</string>
    <key>PaMatraIi.tm</key>
    <string>P_aM_atraI_i.tm.glif</string>
    <key>PaMatraIi_SimpleIi.tm</key>
    <string>P_aM_atraI_i_S_impleI_i.tm.glif</string>
    <key>PaMatraU.tm</key>
    <string>P_aM_atraU_.tm.glif</string>
    <key>PaMatraUu.tm</key>
    <string>P_aM_atraU_u.tm.glif</string>
    <key>PaMatraUu_SimpleUu.tm</key>
    <string>P_aM_atraU_u_S_impleU_u.tm.glif</string>
    <key>Pa_dummy.tm</key>
    <string>P_a_dummy.tm.glif</string>
    <key>PulliDflt.tm</key>
    <string>P_ulliD_flt.tm.glif</string>
    <key>PulliDflt_Half.tm</key>
    <string>P_ulliD_flt_H_alf.tm.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>Ra.tm</key>
    <string>R_a.tm.glif</string>
    <key>RaBeak_Nonexporting</key>
    <string>R_aB_eak_N_onexporting.glif</string>
    <key>RaMatraI.tm</key>
    <string>R_aM_atraI_.tm.glif</string>
    <key>RaMatraI_Fly.tm</key>
    <string>R_aM_atraI__F_ly.tm.glif</string>
    <key>RaMatraIi.tm</key>
    <string>R_aM_atraI_i.tm.glif</string>
    <key>RaMatraIi_SimpleIi.tm</key>
    <string>R_aM_atraI_i_S_impleI_i.tm.glif</string>
    <key>RaMatraU.tm</key>
    <string>R_aM_atraU_.tm.glif</string>
    <key>RaMatraU_Simple.tm</key>
    <string>R_aM_atraU__S_imple.tm.glif</string>
    <key>RaMatraUu.tm</key>
    <string>R_aM_atraU_u.tm.glif</string>
    <key>RaPulli.tm</key>
    <string>R_aP_ulli.tm.glif</string>
    <key>RaPulli_Alt.tm</key>
    <string>R_aP_ulli_A_lt.tm.glif</string>
    <key>RaPulli_Alt_Half.tm</key>
    <string>R_aP_ulli_A_lt_H_alf.tm.glif</string>
    <key>RaPulli_Half.tm</key>
    <string>R_aP_ulli_H_alf.tm.glif</string>
    <key>Ra_Alt.tm</key>
    <string>R_a_A_lt.tm.glif</string>
    <key>Ra_dummy.tm</key>
    <string>R_a_dummy.tm.glif</string>
    <key>Rra.tm</key>
    <string>R_ra.tm.glif</string>
    <key>RraMatraAa.tm</key>
    <string>R_raM_atraA_a.tm.glif</string>
    <key>RraMatraAa_Simple.tm</key>
    <string>R_raM_atraA_a_S_imple.tm.glif</string>
    <key>RraMatraI.tm</key>
    <string>R_raM_atraI_.tm.glif</string>
    <key>RraMatraI_Fly.tm</key>
    <string>R_raM_atraI__F_ly.tm.glif</string>
    <key>RraMatraI_Simple.tm</key>
    <string>R_raM_atraI__S_imple.tm.glif</string>
    <key>RraMatraI_Simple_Fly.tm</key>
    <string>R_raM_atraI__S_imple_F_ly.tm.glif</string>
    <key>RraMatraIi.tm</key>
    <string>R_raM_atraI_i.tm.glif</string>
    <key>RraMatraIi_Simple.tm</key>
    <string>R_raM_atraI_i_S_imple.tm.glif</string>
    <key>RraMatraIi_Simple_SimpleIi.tm</key>
    <string>R_raM_atraI_i_S_imple_S_impleI_i.tm.glif</string>
    <key>RraMatraU.tm</key>
    <string>R_raM_atraU_.tm.glif</string>
    <key>RraMatraU_Simple.tm</key>
    <string>R_raM_atraU__S_imple.tm.glif</string>
    <key>RraMatraUu.tm</key>
    <string>R_raM_atraU_u.tm.glif</string>
    <key>RraMatraUu_Simple.tm</key>
    <string>R_raM_atraU_u_S_imple.tm.glif</string>
    <key>Rra_Simple.tm</key>
    <string>R_ra_S_imple.tm.glif</string>
    <key>RupeeSign.tm</key>
    <string>R_upeeS_ign.tm.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>Sa.tm</key>
    <string>S_a.tm.glif</string>
    <key>SaMatraI.tm</key>
    <string>S_aM_atraI_.tm.glif</string>
    <key>SaMatraI_Fly.tm</key>
    <string>S_aM_atraI__F_ly.tm.glif</string>
    <key>SaMatraIi.tm</key>
    <string>S_aM_atraI_i.tm.glif</string>
    <key>SaMatraIi_SimpleIi.tm</key>
    <string>S_aM_atraI_i_S_impleI_i.tm.glif</string>
    <key>SaMatraU.tm</key>
    <string>S_aM_atraU_.tm.glif</string>
    <key>SaMatraUu.tm</key>
    <string>S_aM_atraU_u.tm.glif</string>
    <key>SaMatraUu_SimpleUu.tm</key>
    <string>S_aM_atraU_u_S_impleU_u.tm.glif</string>
    <key>Sa_dummy.tm</key>
    <string>S_a_dummy.tm.glif</string>
    <key>Seven.tm</key>
    <string>S_even.tm.glif</string>
    <key>Sha.tm</key>
    <string>S_ha.tm.glif</string>
    <key>ShaMatraI.tm</key>
    <string>S_haM_atraI_.tm.glif</string>
    <key>ShaMatraI_Fly.tm</key>
    <string>S_haM_atraI__F_ly.tm.glif</string>
    <key>ShaMatraIi.tm</key>
    <string>S_haM_atraI_i.tm.glif</string>
    <key>ShaMatraIi_SimpleIi.tm</key>
    <string>S_haM_atraI_i_S_impleI_i.tm.glif</string>
    <key>ShaMatraU.tm</key>
    <string>S_haM_atraU_.tm.glif</string>
    <key>ShaMatraUu.tm</key>
    <string>S_haM_atraU_u.tm.glif</string>
    <key>ShaMatraUu_SimpleUu.tm</key>
    <string>S_haM_atraU_u_S_impleU_u.tm.glif</string>
    <key>Sha_dummy.tm</key>
    <string>S_ha_dummy.tm.glif</string>
    <key>Shree.tm</key>
    <string>S_hree.tm.glif</string>
    <key>Shree_SimpleIi.tm</key>
    <string>S_hree_S_impleI_i.tm.glif</string>
    <key>Six.tm</key>
    <string>S_ix.tm.glif</string>
    <key>Ssa.tm</key>
    <string>S_sa.tm.glif</string>
    <key>SsaMatraI.tm</key>
    <string>S_saM_atraI_.tm.glif</string>
    <key>SsaMatraI_Fly.tm</key>
    <string>S_saM_atraI__F_ly.tm.glif</string>
    <key>SsaMatraI_Simple.tm</key>
    <string>S_saM_atraI__S_imple.tm.glif</string>
    <key>SsaMatraI_Simple_Fly.tm</key>
    <string>S_saM_atraI__S_imple_F_ly.tm.glif</string>
    <key>SsaMatraIi.tm</key>
    <string>S_saM_atraI_i.tm.glif</string>
    <key>SsaMatraIi_Simple_SimpleIi.tm</key>
    <string>S_saM_atraI_i_S_imple_S_impleI_i.tm.glif</string>
    <key>SsaMatraU.tm</key>
    <string>S_saM_atraU_.tm.glif</string>
    <key>SsaMatraU_Simple.tm</key>
    <string>S_saM_atraU__S_imple.tm.glif</string>
    <key>SsaMatraUu.tm</key>
    <string>S_saM_atraU_u.tm.glif</string>
    <key>SsaMatraUu_Simple_SimpleUu.tm</key>
    <string>S_saM_atraU_u_S_imple_S_impleU_u.tm.glif</string>
    <key>Ssa_Above_NonExporting</key>
    <string>S_sa_A_bove_N_onE_xporting.glif</string>
    <key>Ssa_Below_NonExporting</key>
    <string>S_sa_B_elow_N_onE_xporting.glif</string>
    <key>Ssa_Below_Simple_NonExporting</key>
    <string>S_sa_B_elow_S_imple_N_onE_xporting.glif</string>
    <key>Ssa_Simple.tm</key>
    <string>S_sa_S_imple.tm.glif</string>
    <key>Ssa_dummy.tm</key>
    <string>S_sa_dummy.tm.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>Ta.tm</key>
    <string>T_a.tm.glif</string>
    <key>TaMatraI.tm</key>
    <string>T_aM_atraI_.tm.glif</string>
    <key>TaMatraI_Fly.tm</key>
    <string>T_aM_atraI__F_ly.tm.glif</string>
    <key>TaMatraI_Simple.tm</key>
    <string>T_aM_atraI__S_imple.tm.glif</string>
    <key>TaMatraI_Simple_Fly.tm</key>
    <string>T_aM_atraI__S_imple_F_ly.tm.glif</string>
    <key>TaMatraIi.tm</key>
    <string>T_aM_atraI_i.tm.glif</string>
    <key>TaMatraIi_Simple.tm</key>
    <string>T_aM_atraI_i_S_imple.tm.glif</string>
    <key>TaMatraIi_Simple_SimpleIi.tm</key>
    <string>T_aM_atraI_i_S_imple_S_impleI_i.tm.glif</string>
    <key>TaMatraU.tm</key>
    <string>T_aM_atraU_.tm.glif</string>
    <key>TaMatraU_Simple.tm</key>
    <string>T_aM_atraU__S_imple.tm.glif</string>
    <key>TaMatraUu.tm</key>
    <string>T_aM_atraU_u.tm.glif</string>
    <key>TaMatraUu_Simple.tm</key>
    <string>T_aM_atraU_u_S_imple.tm.glif</string>
    <key>Ta_Simple.tm</key>
    <string>T_a_S_imple.tm.glif</string>
    <key>Tail_NonExporting</key>
    <string>T_ail_N_onE_xporting.glif</string>
    <key>Ten.tm</key>
    <string>T_en.tm.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>Thousand.tm</key>
    <string>T_housand.tm.glif</string>
    <key>Thousand_Simple.tm</key>
    <string>T_housand_S_imple.tm.glif</string>
    <key>Three.tm</key>
    <string>T_hree.tm.glif</string>
    <key>Tta.tm</key>
    <string>T_ta.tm.glif</string>
    <key>TtaMatraI.tm</key>
    <string>T_taM_atraI_.tm.glif</string>
    <key>TtaMatraI_Fly.tm</key>
    <string>T_taM_atraI__F_ly.tm.glif</string>
    <key>TtaMatraI_Simple.tm</key>
    <string>T_taM_atraI__S_imple.tm.glif</string>
    <key>TtaMatraIi.tm</key>
    <string>T_taM_atraI_i.tm.glif</string>
    <key>TtaMatraIi_SimpleIi.tm</key>
    <string>T_taM_atraI_i_S_impleI_i.tm.glif</string>
    <key>TtaMatraU.tm</key>
    <string>T_taM_atraU_.tm.glif</string>
    <key>TtaMatraUu.tm</key>
    <string>T_taM_atraU_u.tm.glif</string>
    <key>TtaPulli.tm</key>
    <string>T_taP_ulli.tm.glif</string>
    <key>TtaPulli_Half.tm</key>
    <string>T_taP_ulli_H_alf.tm.glif</string>
    <key>Tta_dummy.tm</key>
    <string>T_ta_dummy.tm.glif</string>
    <key>Two.tm</key>
    <string>T_wo.tm.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>Uacute</key>
    <string>U_acute.glif</string>
    <key>Ucircumflex</key>
    <string>U_circumflex.glif</string>
    <key>Udieresis</key>
    <string>U_dieresis.glif</string>
    <key>Ugrave</key>
    <string>U_grave.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>Va.tm</key>
    <string>V_a.tm.glif</string>
    <key>VaMatraI.tm</key>
    <string>V_aM_atraI_.tm.glif</string>
    <key>VaMatraI_Fly.tm</key>
    <string>V_aM_atraI__F_ly.tm.glif</string>
    <key>VaMatraI_SimpleFly.tm</key>
    <string>V_aM_atraI__S_impleF_ly.tm.glif</string>
    <key>VaMatraI_SimpleI.tm</key>
    <string>V_aM_atraI__S_impleI_.tm.glif</string>
    <key>VaMatraIi.tm</key>
    <string>V_aM_atraI_i.tm.glif</string>
    <key>VaMatraIi_SimpleIi.tm</key>
    <string>V_aM_atraI_i_S_impleI_i.tm.glif</string>
    <key>VaMatraU.tm</key>
    <string>V_aM_atraU_.tm.glif</string>
    <key>VaMatraUu.tm</key>
    <string>V_aM_atraU_u.tm.glif</string>
    <key>VaMatraUu_SimpleUu.tm</key>
    <string>V_aM_atraU_u_S_impleU_u.tm.glif</string>
    <key>Va_NonExporting</key>
    <string>V_a_N_onE_xporting.glif</string>
    <key>Va_dummy.tm</key>
    <string>V_a_dummy.tm.glif</string>
    <key>VowelA.tm</key>
    <string>V_owelA_.tm.glif</string>
    <key>VowelAa.tm</key>
    <string>V_owelA_a.tm.glif</string>
    <key>VowelAi.tm</key>
    <string>V_owelA_i.tm.glif</string>
    <key>VowelAi_Fused.tm</key>
    <string>V_owelA_i_F_used.tm.glif</string>
    <key>VowelAu.tm</key>
    <string>V_owelA_u.tm.glif</string>
    <key>VowelE.tm</key>
    <string>V_owelE_.tm.glif</string>
    <key>VowelE_NonExporting</key>
    <string>V_owelE__N_onE_xporting.glif</string>
    <key>VowelEe.tm</key>
    <string>V_owelE_e.tm.glif</string>
    <key>VowelI.tm</key>
    <string>V_owelI_.tm.glif</string>
    <key>VowelIi.tm</key>
    <string>V_owelI_i.tm.glif</string>
    <key>VowelIi_Half.tm</key>
    <string>V_owelI_i_H_alf.tm.glif</string>
    <key>VowelO.tm</key>
    <string>V_owelO_.tm.glif</string>
    <key>VowelOo.tm</key>
    <string>V_owelO_o.tm.glif</string>
    <key>VowelOo_Fused.tm</key>
    <string>V_owelO_o_F_used.tm.glif</string>
    <key>VowelU.tm</key>
    <string>V_owelU_.tm.glif</string>
    <key>VowelU_Fused.tm</key>
    <string>V_owelU__F_used.tm.glif</string>
    <key>VowelUu.tm</key>
    <string>V_owelU_u.tm.glif</string>
    <key>VowelUu_Fused.tm</key>
    <string>V_owelU_u_F_used.tm.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Ya.tm</key>
    <string>Y_a.tm.glif</string>
    <key>YaMatraI.tm</key>
    <string>Y_aM_atraI_.tm.glif</string>
    <key>YaMatraI_Fly.tm</key>
    <string>Y_aM_atraI__F_ly.tm.glif</string>
    <key>YaMatraI_SimpleFly.tm</key>
    <string>Y_aM_atraI__S_impleF_ly.tm.glif</string>
    <key>YaMatraI_SimpleI.tm</key>
    <string>Y_aM_atraI__S_impleI_.tm.glif</string>
    <key>YaMatraIi.tm</key>
    <string>Y_aM_atraI_i.tm.glif</string>
    <key>YaMatraIi_SimpleIi.tm</key>
    <string>Y_aM_atraI_i_S_impleI_i.tm.glif</string>
    <key>YaMatraU.tm</key>
    <string>Y_aM_atraU_.tm.glif</string>
    <key>YaMatraUu.tm</key>
    <string>Y_aM_atraU_u.tm.glif</string>
    <key>YaMatraUu_SimpleUu.tm</key>
    <string>Y_aM_atraU_u_S_impleU_u.tm.glif</string>
    <key>Ya_dummy.tm</key>
    <string>Y_a_dummy.tm.glif</string>
    <key>Yacute</key>
    <string>Y_acute.glif</string>
    <key>YearSign.tm</key>
    <string>Y_earS_ign.tm.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>ZWJ</key>
    <string>Z_W_J_.glif</string>
    <key>ZWNJ</key>
    <string>Z_W_N_J_.glif</string>
    <key>Zero.tm</key>
    <string>Z_ero.tm.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>aacute</key>
    <string>aacute.glif</string>
    <key>acircumflex</key>
    <string>acircumflex.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>acutecomb.case</key>
    <string>acutecomb.case.glif</string>
    <key>acutecomb.narrow</key>
    <string>acutecomb.narrow.glif</string>
    <key>adieresis</key>
    <string>adieresis.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>agrave</key>
    <string>agrave.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>aring</key>
    <string>aring.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>atilde</key>
    <string>atilde.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>bulletoperator</key>
    <string>bulletoperator.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>ccedilla</key>
    <string>ccedilla.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>cedillacomb</key>
    <string>cedillacomb.glif</string>
    <key>cedillacomb.case</key>
    <string>cedillacomb.case.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>circumflexcomb</key>
    <string>circumflexcomb.glif</string>
    <key>circumflexcomb.case</key>
    <string>circumflexcomb.case.glif</string>
    <key>circumflexcomb.narrow</key>
    <string>circumflexcomb.narrow.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>dieresiscomb</key>
    <string>dieresiscomb.glif</string>
    <key>dieresiscomb.case</key>
    <string>dieresiscomb.case.glif</string>
    <key>dieresiscomb.narrow</key>
    <string>dieresiscomb.narrow.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>divisionslash</key>
    <string>divisionslash.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dotaccentcomb</key>
    <string>dotaccentcomb.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eacute</key>
    <string>eacute.glif</string>
    <key>ecircumflex</key>
    <string>ecircumflex.glif</string>
    <key>edieresis</key>
    <string>edieresis.glif</string>
    <key>egrave</key>
    <string>egrave.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.dnom</key>
    <string>eight.dnom.glif</string>
    <key>eight.numr</key>
    <string>eight.numr.glif</string>
    <key>eight.subs</key>
    <string>eight.subs.glif</string>
    <key>eight.tf</key>
    <string>eight.tf.glif</string>
    <key>eightinferior</key>
    <string>eightinferior.glif</string>
    <key>eightsuperior</key>
    <string>eightsuperior.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>euro</key>
    <string>euro.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>f_f_i</key>
    <string>f_f_i.glif</string>
    <key>f_f_l</key>
    <string>f_f_l.glif</string>
    <key>fi</key>
    <string>fi.glif</string>
    <key>figurespace</key>
    <string>figurespace.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.dnom</key>
    <string>five.dnom.glif</string>
    <key>five.numr</key>
    <string>five.numr.glif</string>
    <key>five.subs</key>
    <string>five.subs.glif</string>
    <key>five.tf</key>
    <string>five.tf.glif</string>
    <key>fiveinferior</key>
    <string>fiveinferior.glif</string>
    <key>fivesuperior</key>
    <string>fivesuperior.glif</string>
    <key>fl</key>
    <string>fl.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.dnom</key>
    <string>four.dnom.glif</string>
    <key>four.numr</key>
    <string>four.numr.glif</string>
    <key>four.subs</key>
    <string>four.subs.glif</string>
    <key>four.tf</key>
    <string>four.tf.glif</string>
    <key>fourinferior</key>
    <string>fourinferior.glif</string>
    <key>foursuperior</key>
    <string>foursuperior.glif</string>
    <key>fraction</key>
    <string>fraction.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>gravecomb.case</key>
    <string>gravecomb.case.glif</string>
    <key>gravecomb.narrow</key>
    <string>gravecomb.narrow.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>guillemetleft</key>
    <string>guillemetleft.glif</string>
    <key>guillemetright</key>
    <string>guillemetright.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hairspace</key>
    <string>hairspace.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>iacute</key>
    <string>iacute.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif</string>
    <key>idieresis</key>
    <string>idieresis.glif</string>
    <key>idotless</key>
    <string>idotless.glif</string>
    <key>igrave</key>
    <string>igrave.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>jbottom</key>
    <string>jbottom.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>macroncomb</key>
    <string>macroncomb.glif</string>
    <key>macroncomb.case</key>
    <string>macroncomb.case.glif</string>
    <key>macroncomb.narrow</key>
    <string>macroncomb.narrow.glif</string>
    <key>micro</key>
    <string>micro.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.dnom</key>
    <string>nine.dnom.glif</string>
    <key>nine.numr</key>
    <string>nine.numr.glif</string>
    <key>nine.subs</key>
    <string>nine.subs.glif</string>
    <key>nine.tf</key>
    <string>nine.tf.glif</string>
    <key>nineinferior</key>
    <string>nineinferior.glif</string>
    <key>ninesuperior</key>
    <string>ninesuperior.glif</string>
    <key>ntilde</key>
    <string>ntilde.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>oacute</key>
    <string>oacute.glif</string>
    <key>ocircumflex</key>
    <string>ocircumflex.glif</string>
    <key>odieresis</key>
    <string>odieresis.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>ograve</key>
    <string>ograve.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one.dnom</key>
    <string>one.dnom.glif</string>
    <key>one.numr</key>
    <string>one.numr.glif</string>
    <key>one.subs</key>
    <string>one.subs.glif</string>
    <key>one.tf</key>
    <string>one.tf.glif</string>
    <key>onehalf</key>
    <string>onehalf.glif</string>
    <key>oneinferior</key>
    <string>oneinferior.glif</string>
    <key>onequarter</key>
    <string>onequarter.glif</string>
    <key>onesuperior</key>
    <string>onesuperior.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>otilde</key>
    <string>otilde.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>punctuationspace</key>
    <string>punctuationspace.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>question_alt</key>
    <string>question_alt.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>r_t</key>
    <string>r_t.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>ringcomb</key>
    <string>ringcomb.glif</string>
    <key>ringcomb.case</key>
    <string>ringcomb.case.glif</string>
    <key>rupeeIndian</key>
    <string>rupeeI_ndian.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven.dnom</key>
    <string>seven.dnom.glif</string>
    <key>seven.numr</key>
    <string>seven.numr.glif</string>
    <key>seven.subs</key>
    <string>seven.subs.glif</string>
    <key>seven.tf</key>
    <string>seven.tf.glif</string>
    <key>seveninferior</key>
    <string>seveninferior.glif</string>
    <key>sevensuperior</key>
    <string>sevensuperior.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.dnom</key>
    <string>six.dnom.glif</string>
    <key>six.numr</key>
    <string>six.numr.glif</string>
    <key>six.subs</key>
    <string>six.subs.glif</string>
    <key>six.tf</key>
    <string>six.tf.glif</string>
    <key>sixinferior</key>
    <string>sixinferior.glif</string>
    <key>sixsuperior</key>
    <string>sixsuperior.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>softhyphen</key>
    <string>softhyphen.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>thinspace</key>
    <string>thinspace.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.dnom</key>
    <string>three.dnom.glif</string>
    <key>three.numr</key>
    <string>three.numr.glif</string>
    <key>three.subs</key>
    <string>three.subs.glif</string>
    <key>three.tf</key>
    <string>three.tf.glif</string>
    <key>threeinferior</key>
    <string>threeinferior.glif</string>
    <key>threequarters</key>
    <string>threequarters.glif</string>
    <key>threesuperior</key>
    <string>threesuperior.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>tildecomb.case</key>
    <string>tildecomb.case.glif</string>
    <key>tildecomb.narrow</key>
    <string>tildecomb.narrow.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.dnom</key>
    <string>two.dnom.glif</string>
    <key>two.numr</key>
    <string>two.numr.glif</string>
    <key>two.subs</key>
    <string>two.subs.glif</string>
    <key>two.tf</key>
    <string>two.tf.glif</string>
    <key>twoinferior</key>
    <string>twoinferior.glif</string>
    <key>twosuperior</key>
    <string>twosuperior.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>uacute</key>
    <string>uacute.glif</string>
    <key>ucircumflex</key>
    <string>ucircumflex.glif</string>
    <key>udieresis</key>
    <string>udieresis.glif</string>
    <key>ugrave</key>
    <string>ugrave.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>yacute</key>
    <string>yacute.glif</string>
    <key>ydieresis</key>
    <string>ydieresis.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.dnom</key>
    <string>zero.dnom.glif</string>
    <key>zero.numr</key>
    <string>zero.numr.glif</string>
    <key>zero.subs</key>
    <string>zero.subs.glif</string>
    <key>zero.tf</key>
    <string>zero.tf.glif</string>
    <key>zero.tf.zero</key>
    <string>zero.tf.zero.glif</string>
    <key>zero.zero</key>
    <string>zero.zero.glif</string>
    <key>zeroinferior</key>
    <string>zeroinferior.glif</string>
    <key>zerosuperior</key>
    <string>zerosuperior.glif</string>
    <key>zerowidthspace</key>
    <string>zerowidthspace.glif</string>
  </dict>
</plist>
