<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
      <string>Agrave</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Atilde</string>
      <string>Aring</string>
      <string>Adieresis</string>
    </array>
    <key>public.kern1.B</key>
    <array>
      <string>B</string>
    </array>
    <key>public.kern1.C</key>
    <array>
      <string>C</string>
      <string>Ccedilla</string>
    </array>
    <key>public.kern1.Ca.tm</key>
    <array>
      <string>VowelIi.tm</string>
      <string>Ca.tm</string>
      <string>CaMatraIi.tm</string>
      <string>CaMatraU.tm</string>
      <string>VowelIi_Half.tm</string>
      <string>CaMatraI_Fly.tm</string>
      <string>CaMatraIi_SimpleIi.tm</string>
      <string>Six.tm</string>
      <string>RupeeSign.tm</string>
      <string>Ca_dummy.tm</string>
    </array>
    <key>public.kern1.D</key>
    <array>
      <string>D</string>
      <string>Eth</string>
    </array>
    <key>public.kern1.E</key>
    <array>
      <string>E</string>
      <string>OE</string>
      <string>AE</string>
      <string>Egrave</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
    </array>
    <key>public.kern1.F</key>
    <array>
      <string>F</string>
    </array>
    <key>public.kern1.G</key>
    <array>
      <string>G</string>
    </array>
    <key>public.kern1.H</key>
    <array>
      <string>H</string>
      <string>N</string>
      <string>paragraph</string>
      <string>Ntilde</string>
    </array>
    <key>public.kern1.I</key>
    <array>
      <string>I</string>
      <string>Igrave</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
    </array>
    <key>public.kern1.J</key>
    <array>
      <string>J</string>
    </array>
    <key>public.kern1.Ja.tm</key>
    <array>
      <string>VowelAi_Fused.tm</string>
      <string>Ja_dummy.tm</string>
      <string>JaMatraIi_Fused.tm</string>
      <string>JaMatraI_Fused_Fly.tm</string>
      <string>JaMatraIi_Fused_SimpleIi.tm</string>
      <string>VowelAi.tm</string>
      <string>Ja.tm</string>
      <string>JaMatraI_Fly.tm</string>
      <string>JaMatraIi.tm</string>
      <string>JaMatraIi_SimpleIi.tm</string>
      <string>Ja_Fused.tm</string>
    </array>
    <key>public.kern1.K</key>
    <array>
      <string>K</string>
    </array>
    <key>public.kern1.Ka.tm</key>
    <array>
      <string>VowelAa.tm</string>
      <string>VowelI.tm</string>
      <string>Ka.tm</string>
      <string>Nya.tm</string>
      <string>Ta.tm</string>
      <string>Na.tm</string>
      <string>KaMatraIi.tm</string>
      <string>NyaMatraIi.tm</string>
      <string>TaMatraIi.tm</string>
      <string>NaMatraIi.tm</string>
      <string>KaMatraU.tm</string>
      <string>RaMatraU.tm</string>
      <string>LlaMatraU.tm</string>
      <string>RaMatraUu.tm</string>
      <string>LlaMatraUu.tm</string>
      <string>KaMatraI_Fly.tm</string>
      <string>NyaMatraI_Fly.tm</string>
      <string>TaMatraI_Fly.tm</string>
      <string>NaMatraI_Fly.tm</string>
      <string>KaMatraIi_SimpleIi.tm</string>
      <string>NyaMatraIi_SimpleIi.tm</string>
      <string>TaMatraIi_Simple_SimpleIi.tm</string>
      <string>NaMatraIi_Simple_SimpleIi.tm</string>
      <string>Nya_Simple.tm</string>
      <string>NyaMatraI_Simple_Fly.tm</string>
      <string>KaMatraU_Simple.tm</string>
      <string>RaMatraU_Simple.tm</string>
      <string>LlaMatraU_Simple.tm</string>
      <string>Ta_Simple.tm</string>
      <string>TaMatraI_Simple_Fly.tm</string>
      <string>TaMatraIi_Simple.tm</string>
      <string>Na_Simple.tm</string>
      <string>NaMatraI_Simple_Fly.tm</string>
      <string>NaMatraIi_Simple.tm</string>
      <string>One.tm</string>
      <string>Five.tm</string>
      <string>Nine.tm</string>
      <string>Shree.tm</string>
      <string>Shree_SimpleIi.tm</string>
      <string>NumberSign.tm</string>
      <string>NumberSign_Simple.tm</string>
      <string>Aaytam.tm</string>
      <string>Ka_dummy.tm</string>
      <string>Nya_dummy.tm</string>
      <string>One.tm.BRACKET.700</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>L</string>
    </array>
    <key>public.kern1.La.tm</key>
    <array>
      <string>Ha_Simple.tm</string>
    </array>
    <key>public.kern1.M</key>
    <array>
      <string>M</string>
    </array>
    <key>public.kern1.Ma.tm</key>
    <array>
      <string>Ma.tm</string>
      <string>La.tm</string>
      <string>Llla.tm</string>
      <string>Sa.tm</string>
      <string>MaMatraU.tm</string>
      <string>LllaMatraU.tm</string>
      <string>MaMatraUu.tm</string>
      <string>LllaMatraUu.tm</string>
      <string>LaMatraI_Fly.tm</string>
      <string>SaMatraI_Fly.tm</string>
      <string>LaMatraAi.tm</string>
      <string>LaMatraIi_SimpleIi.tm</string>
      <string>SaMatraIi_SimpleIi.tm</string>
      <string>MaMatraU_Simple.tm</string>
      <string>Llla_Simple.tm</string>
      <string>LllaMatraU_Simple.tm</string>
      <string>Zero.tm</string>
      <string>Ten.tm</string>
      <string>MonthSign.tm</string>
      <string>YearSign.tm</string>
      <string>MatraAi.tm</string>
      <string>La_dummy.tm</string>
      <string>Llla_dummy.tm</string>
      <string>Ma_dummy.tm</string>
      <string>Sa_dummy.tm</string>
    </array>
    <key>public.kern1.MaMatraI_Fly.tm</key>
    <array>
      <string>MaMatraI_Fly.tm</string>
      <string>LllaMatraI_Fly.tm</string>
      <string>LllaMatraI_Simple_Fly.tm</string>
    </array>
    <key>public.kern1.MaMatraIi.tm</key>
    <array>
      <string>MaMatraIi.tm</string>
      <string>LllaMatraIi.tm</string>
      <string>LllaMatraIi_Simple.tm</string>
    </array>
    <key>public.kern1.MaMatraIi_Simple.tm</key>
    <array>
      <string>MaMatraIi_SimpleIi.tm</string>
      <string>LllaMatraIi_Simple_SimpleIi.tm</string>
    </array>
    <key>public.kern1.MatraEe.tm</key>
    <array>
      <string>MatraEe_Fused.tm</string>
      <string>MatraEe_Unfused.tm</string>
      <string>MatraEe.tm</string>
    </array>
    <key>public.kern1.MatraUDflt.tm</key>
    <array>
      <string>JaMatraU_Fused.tm</string>
      <string>ShaMatraU.tm</string>
      <string>SsaMatraU.tm</string>
      <string>SaMatraU.tm</string>
      <string>HaMatraU.tm</string>
      <string>KssaMatraU.tm</string>
      <string>SsaMatraU_Simple.tm</string>
      <string>KssaMatraU_Simple.tm</string>
      <string>HaMatraU_Simple.tm</string>
      <string>JaMatraU.tm</string>
      <string>MatraUDflt.tm</string>
      <string>MatraUDflt_dummy.tm</string>
    </array>
    <key>public.kern1.MatraUuDflt.tm</key>
    <array>
      <string>JaMatraUu_Fused.tm</string>
      <string>ShaMatraUu.tm</string>
      <string>SsaMatraUu.tm</string>
      <string>SaMatraUu.tm</string>
      <string>HaMatraUu.tm</string>
      <string>KssaMatraUu.tm</string>
      <string>JaMatraUu_Fused_SimpleUu.tm</string>
      <string>SaMatraUu_SimpleUu.tm</string>
      <string>ShaMatraUu_SimpleUu.tm</string>
      <string>SsaMatraUu_Simple_SimpleUu.tm</string>
      <string>KssaMatraUu_Simple_SimpleUu.tm</string>
      <string>HaMatraUu_Simple_SimpleUu.tm</string>
      <string>JaMatraUu.tm</string>
      <string>JaMatraUu_SimpleUu.tm</string>
      <string>MatraUuDflt.tm</string>
      <string>MatraUuDflt_Simple.tm</string>
    </array>
    <key>public.kern1.O</key>
    <array>
      <string>O</string>
      <string>Ograve</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Otilde</string>
      <string>Odieresis</string>
      <string>Oslash</string>
    </array>
    <key>public.kern1.P</key>
    <array>
      <string>P</string>
    </array>
    <key>public.kern1.Pa.tm</key>
    <array>
      <string>VowelA.tm</string>
      <string>Nga.tm</string>
      <string>Pa.tm</string>
      <string>Ya.tm</string>
      <string>Va.tm</string>
      <string>Sha.tm</string>
      <string>KaMatraI.tm</string>
      <string>NgaMatraI.tm</string>
      <string>CaMatraI.tm</string>
      <string>JaMatraI_Fused.tm</string>
      <string>NyaMatraI.tm</string>
      <string>NnaMatraI.tm</string>
      <string>TaMatraI.tm</string>
      <string>NaMatraI.tm</string>
      <string>NnnaMatraI.tm</string>
      <string>PaMatraI.tm</string>
      <string>MaMatraI.tm</string>
      <string>YaMatraI.tm</string>
      <string>RaMatraI.tm</string>
      <string>RraMatraI.tm</string>
      <string>LaMatraI.tm</string>
      <string>LlaMatraI.tm</string>
      <string>LllaMatraI.tm</string>
      <string>VaMatraI.tm</string>
      <string>ShaMatraI.tm</string>
      <string>SsaMatraI.tm</string>
      <string>SaMatraI.tm</string>
      <string>HaMatraI.tm</string>
      <string>KssaMatraI.tm</string>
      <string>ShaMatraIi.tm</string>
      <string>NgaMatraU.tm</string>
      <string>NyaMatraU.tm</string>
      <string>NnaMatraU.tm</string>
      <string>TaMatraU.tm</string>
      <string>NaMatraU.tm</string>
      <string>NnnaMatraU.tm</string>
      <string>PaMatraU.tm</string>
      <string>YaMatraU.tm</string>
      <string>RraMatraU.tm</string>
      <string>LaMatraU.tm</string>
      <string>VaMatraU.tm</string>
      <string>ShaMatraI_Fly.tm</string>
      <string>NgaMatraI_SimpleI.tm</string>
      <string>PaMatraI_SimpleI.tm</string>
      <string>YaMatraI_SimpleI.tm</string>
      <string>VaMatraI_SimpleI.tm</string>
      <string>ShaMatraIi_SimpleIi.tm</string>
      <string>NyaMatraI_Simple.tm</string>
      <string>SsaMatraI_Simple.tm</string>
      <string>KssaMatraI_Simple.tm</string>
      <string>TaMatraI_Simple.tm</string>
      <string>TaMatraU_Simple.tm</string>
      <string>NaMatraI_Simple.tm</string>
      <string>NaMatraU_Simple.tm</string>
      <string>LllaMatraI_Simple.tm</string>
      <string>RraMatraI_Simple.tm</string>
      <string>RraMatraU_Simple.tm</string>
      <string>HaMatraI_Simple.tm</string>
      <string>NyaMatraU_Simple.tm</string>
      <string>NnaMatraU_Simple.tm</string>
      <string>NnnaMatraU_Simple.tm</string>
      <string>LaMatraU_Simple.tm</string>
      <string>JaMatraI.tm</string>
      <string>Eight.tm</string>
      <string>DebitSign.tm</string>
      <string>DebitSign_Simple.tm</string>
      <string>MatraIDflt.tm</string>
      <string>MatraE.tm</string>
      <string>MatraIDflt_Fly.tm</string>
      <string>MatraE_Simple.tm</string>
      <string>Nga_dummy.tm</string>
      <string>Pa_dummy.tm</string>
      <string>Sha_dummy.tm</string>
      <string>Va_dummy.tm</string>
      <string>Ya_dummy.tm</string>
      <string>MatraIDflt_dummy.tm</string>
    </array>
    <key>public.kern1.PaMatraI_Fly.tm</key>
    <array>
      <string>NgaMatraI_Fly.tm</string>
      <string>PaMatraI_Fly.tm</string>
      <string>YaMatraI_Fly.tm</string>
      <string>VaMatraI_Fly.tm</string>
    </array>
    <key>public.kern1.PaMatraI_Simple_Fly.tm</key>
    <array>
      <string>NgaMatraI_SimpleFly.tm</string>
      <string>PaMatraI_SimpleFly.tm</string>
      <string>YaMatraI_SimpleFly.tm</string>
      <string>VaMatraI_SimpleFly.tm</string>
    </array>
    <key>public.kern1.PaMatraIi.tm</key>
    <array>
      <string>NgaMatraIi.tm</string>
      <string>PaMatraIi.tm</string>
      <string>YaMatraIi.tm</string>
      <string>VaMatraIi.tm</string>
    </array>
    <key>public.kern1.PaMatraIi_Simple.tm</key>
    <array>
      <string>NgaMatraIi_SimpleIi.tm</string>
      <string>PaMatraIi_SimpleIi.tm</string>
      <string>YaMatraIi_SimpleIi.tm</string>
      <string>VaMatraIi_SimpleIi.tm</string>
    </array>
    <key>public.kern1.PaMatraUu.tm</key>
    <array>
      <string>NgaMatraUu.tm</string>
      <string>PaMatraUu.tm</string>
      <string>YaMatraUu.tm</string>
      <string>VaMatraUu.tm</string>
      <string>NgaMatraUu_SimpleUu.tm</string>
      <string>PaMatraUu_SimpleUu.tm</string>
      <string>YaMatraUu_SimpleUu.tm</string>
      <string>VaMatraUu_SimpleUu.tm</string>
    </array>
    <key>public.kern1.Q</key>
    <array>
      <string>Q</string>
    </array>
    <key>public.kern1.R</key>
    <array>
      <string>R</string>
    </array>
    <key>public.kern1.Ra.tm</key>
    <array>
      <string>VowelE.tm</string>
      <string>VowelEe.tm</string>
      <string>VowelAu.tm</string>
      <string>Nna.tm</string>
      <string>Nnna.tm</string>
      <string>Ra.tm</string>
      <string>Lla.tm</string>
      <string>RaPulli_Alt.tm</string>
      <string>NyaMatraUu.tm</string>
      <string>NnaMatraUu.tm</string>
      <string>TaMatraUu.tm</string>
      <string>NaMatraUu.tm</string>
      <string>NnnaMatraUu.tm</string>
      <string>RraMatraUu.tm</string>
      <string>LaMatraUu.tm</string>
      <string>RaPulli_Alt_Half.tm</string>
      <string>NnaMatraAi.tm</string>
      <string>NnnaMatraAi.tm</string>
      <string>LlaMatraAi.tm</string>
      <string>TaMatraUu_Simple.tm</string>
      <string>NaMatraUu_Simple.tm</string>
      <string>RraMatraUu_Simple.tm</string>
      <string>NyaMatraUu_Simple.tm</string>
      <string>NnaMatraUu_Simple.tm</string>
      <string>NnnaMatraUu_Simple.tm</string>
      <string>LaMatraUu_Simple.tm</string>
      <string>Seven.tm</string>
      <string>Hundred.tm</string>
      <string>MatraAa.tm</string>
      <string>MatraO.tm</string>
      <string>MatraOo_Fused.tm</string>
      <string>MatraAu.tm</string>
      <string>MatraAuSpare.tm</string>
      <string>MatraO_Simple.tm</string>
      <string>MatraOo_Unfused.tm</string>
      <string>MatraAu_Simple.tm</string>
      <string>MatraOo.tm</string>
      <string>Lla_dummy.tm</string>
      <string>Nna_dummy.tm</string>
      <string>Nnna_dummy.tm</string>
      <string>Ra_dummy.tm</string>
      <string>MatraAa_dummy.tm</string>
      <string>RaPulli.tm</string>
      <string>RaPulli_Half.tm</string>
      <string>Ra_Alt.tm</string>
    </array>
    <key>public.kern1.RaMatraI_Fly.tm</key>
    <array>
      <string>NnaMatraI_Fly.tm</string>
      <string>NnnaMatraI_Fly.tm</string>
      <string>RaMatraI_Fly.tm</string>
      <string>LlaMatraI_Fly.tm</string>
    </array>
    <key>public.kern1.RaMatraIi.tm</key>
    <array>
      <string>NnaMatraIi.tm</string>
      <string>NnnaMatraIi.tm</string>
      <string>RaMatraIi.tm</string>
      <string>LlaMatraIi.tm</string>
    </array>
    <key>public.kern1.RaMatraIi_Simple.tm</key>
    <array>
      <string>NnaMatraIi_SimpleIi.tm</string>
      <string>NnnaMatraIi_SimpleIi.tm</string>
      <string>RaMatraIi_SimpleIi.tm</string>
      <string>LlaMatraIi_SimpleIi.tm</string>
    </array>
    <key>public.kern1.Rra.tm</key>
    <array>
      <string>Rra.tm</string>
      <string>Ha.tm</string>
      <string>NnaMatraAa.tm</string>
      <string>NnnaMatraAa.tm</string>
      <string>RraMatraAa.tm</string>
      <string>NnaMatraAa_Simple.tm</string>
      <string>NnnaMatraAa_Simple.tm</string>
      <string>RraMatraAa_Simple.tm</string>
      <string>Rra_Simple.tm</string>
    </array>
    <key>public.kern1.RraMatraI_Fly.tm</key>
    <array>
      <string>RraMatraI_Fly.tm</string>
      <string>HaMatraI_Fly.tm</string>
      <string>RraMatraI_Simple_Fly.tm</string>
      <string>HaMatraI_Simple_Fly.tm</string>
    </array>
    <key>public.kern1.RraMatraIi.tm</key>
    <array>
      <string>RraMatraIi.tm</string>
      <string>HaMatraIi.tm</string>
      <string>RraMatraIi_Simple.tm</string>
    </array>
    <key>public.kern1.RraMatraIi.tm.tm</key>
    <array>
      <string>HaMatraIi_Simple.tm</string>
    </array>
    <key>public.kern1.RraMatraIi_Simple.tm</key>
    <array>
      <string>RraMatraIi_Simple_SimpleIi.tm</string>
      <string>HaMatraIi_Simple_SimpleIi.tm</string>
    </array>
    <key>public.kern1.S</key>
    <array>
      <string>dollar</string>
      <string>S</string>
    </array>
    <key>public.kern1.Ssa.tm</key>
    <array>
      <string>Ssa.tm</string>
      <string>Kssa.tm</string>
      <string>TtaMatraI.tm</string>
      <string>Ssa_Simple.tm</string>
      <string>SsaMatraI_Simple_Fly.tm</string>
      <string>Kssa_Simple.tm</string>
      <string>KssaMatraI_Simple_Fly.tm</string>
      <string>TtaMatraI_Simple.tm</string>
      <string>AsAboveSign.tm</string>
      <string>AsAboveSign_Simple.tm</string>
      <string>Kssa_dummy.tm</string>
      <string>Ssa_dummy.tm</string>
    </array>
    <key>public.kern1.SsaMatraI_Fly.tm</key>
    <array>
      <string>SsaMatraI_Fly.tm</string>
      <string>KssaMatraI_Fly.tm</string>
    </array>
    <key>public.kern1.SsaMatraIi.tm</key>
    <array>
      <string>SsaMatraIi.tm</string>
      <string>KssaMatraIi.tm</string>
    </array>
    <key>public.kern1.SsaMatraIi_Simple.tm</key>
    <array>
      <string>SsaMatraIi_Simple_SimpleIi.tm</string>
      <string>KssaMatraIi_Simple_SimpleIi.tm</string>
    </array>
    <key>public.kern1.T</key>
    <array>
      <string>T</string>
    </array>
    <key>public.kern1.Tta.tm</key>
    <array>
      <string>VowelU_Fused.tm</string>
      <string>Tta.tm</string>
      <string>TtaPulli.tm</string>
      <string>TtaMatraIi.tm</string>
      <string>KaMatraUu.tm</string>
      <string>TtaPulli_Half.tm</string>
      <string>TtaMatraI_Fly.tm</string>
      <string>TtaMatraIi_SimpleIi.tm</string>
      <string>VowelU.tm</string>
      <string>Two.tm</string>
      <string>Three.tm</string>
      <string>DaySign.tm</string>
      <string>CreditSign.tm</string>
      <string>Tta_dummy.tm</string>
    </array>
    <key>public.kern1.U</key>
    <array>
      <string>U</string>
      <string>Ugrave</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
    </array>
    <key>public.kern1.V</key>
    <array>
      <string>V</string>
    </array>
    <key>public.kern1.VowelAa.tm</key>
    <array>
      <string>CaMatraUu.tm</string>
      <string>CaMatraUu_Simple.tm</string>
      <string>Thousand.tm</string>
      <string>Thousand_Simple.tm</string>
    </array>
    <key>public.kern1.VowelO.tm</key>
    <array>
      <string>VowelO.tm</string>
      <string>VowelOo_Fused.tm</string>
      <string>VowelOo.tm</string>
      <string>Om.tm</string>
    </array>
    <key>public.kern1.VowelUu.tm</key>
    <array>
      <string>VowelUu_Fused.tm</string>
      <string>VowelUu.tm</string>
    </array>
    <key>public.kern1.W</key>
    <array>
      <string>W</string>
    </array>
    <key>public.kern1.X</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern1.Y</key>
    <array>
      <string>Y</string>
      <string>yen</string>
      <string>Yacute</string>
    </array>
    <key>public.kern1.Z</key>
    <array>
      <string>Z</string>
    </array>
    <key>public.kern1.a</key>
    <array>
      <string>a</string>
      <string>agrave</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>atilde</string>
      <string>adieresis</string>
      <string>aring</string>
    </array>
    <key>public.kern1.b</key>
    <array>
      <string>b</string>
      <string>p</string>
      <string>thorn</string>
    </array>
    <key>public.kern1.bar</key>
    <array>
      <string>bar</string>
      <string>brokenbar</string>
    </array>
    <key>public.kern1.c</key>
    <array>
      <string>c</string>
      <string>cent</string>
      <string>ccedilla</string>
    </array>
    <key>public.kern1.d</key>
    <array>
      <string>d</string>
    </array>
    <key>public.kern1.e</key>
    <array>
      <string>e</string>
      <string>oe</string>
      <string>ae</string>
      <string>egrave</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
    </array>
    <key>public.kern1.eightsuperior</key>
    <array>
      <string>eight.subs</string>
      <string>eight.dnom</string>
      <string>eightinferior</string>
      <string>eight.numr</string>
      <string>eightsuperior</string>
    </array>
    <key>public.kern1.f</key>
    <array>
      <string>f</string>
      <string>f_f</string>
    </array>
    <key>public.kern1.fivesuperior</key>
    <array>
      <string>five.subs</string>
      <string>five.dnom</string>
      <string>fiveinferior</string>
      <string>five.numr</string>
      <string>fivesuperior</string>
    </array>
    <key>public.kern1.foursuperior</key>
    <array>
      <string>four.subs</string>
      <string>four.dnom</string>
      <string>fourinferior</string>
      <string>four.numr</string>
      <string>foursuperior</string>
    </array>
    <key>public.kern1.g</key>
    <array>
      <string>g</string>
    </array>
    <key>public.kern1.guilsinglleft</key>
    <array>
      <string>guilsinglleft</string>
      <string>guillemetleft</string>
    </array>
    <key>public.kern1.guilsinglright</key>
    <array>
      <string>guilsinglright</string>
      <string>guillemetright</string>
    </array>
    <key>public.kern1.hyphen</key>
    <array>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>minus</string>
      <string>softhyphen</string>
    </array>
    <key>public.kern1.i</key>
    <array>
      <string>i</string>
      <string>igrave</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>fi</string>
      <string>f_f_i</string>
    </array>
    <key>public.kern1.j</key>
    <array>
      <string>j</string>
    </array>
    <key>public.kern1.k</key>
    <array>
      <string>k</string>
    </array>
    <key>public.kern1.l</key>
    <array>
      <string>l</string>
      <string>fl</string>
      <string>f_f_l</string>
    </array>
    <key>public.kern1.n</key>
    <array>
      <string>h</string>
      <string>m</string>
      <string>n</string>
      <string>ntilde</string>
    </array>
    <key>public.kern1.ninesuperior</key>
    <array>
      <string>nine.subs</string>
      <string>nine.dnom</string>
      <string>nineinferior</string>
      <string>nine.numr</string>
      <string>ninesuperior</string>
    </array>
    <key>public.kern1.o</key>
    <array>
      <string>o</string>
      <string>eth</string>
      <string>ograve</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>otilde</string>
      <string>odieresis</string>
      <string>oslash</string>
    </array>
    <key>public.kern1.onesuperior</key>
    <array>
      <string>onesuperior</string>
      <string>one.subs</string>
      <string>one.dnom</string>
      <string>oneinferior</string>
      <string>one.numr</string>
    </array>
    <key>public.kern1.parenleft</key>
    <array>
      <string>parenleft</string>
      <string>bracketleft</string>
      <string>braceleft</string>
    </array>
    <key>public.kern1.parenright</key>
    <array>
      <string>parenright</string>
      <string>bracketright</string>
      <string>braceright</string>
    </array>
    <key>public.kern1.period</key>
    <array>
      <string>period</string>
      <string>ellipsis</string>
    </array>
    <key>public.kern1.plus</key>
    <array>
      <string>plus</string>
      <string>divide</string>
    </array>
    <key>public.kern1.q</key>
    <array>
      <string>q</string>
    </array>
    <key>public.kern1.question</key>
    <array>
      <string>question</string>
      <string>question_alt</string>
    </array>
    <key>public.kern1.quoteleft</key>
    <array>
      <string>quoteleft</string>
      <string>quotedblleft</string>
    </array>
    <key>public.kern1.quoteright</key>
    <array>
      <string>quoteright</string>
      <string>quotedblright</string>
    </array>
    <key>public.kern1.quotesingle</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern1.r</key>
    <array>
      <string>r</string>
    </array>
    <key>public.kern1.s</key>
    <array>
      <string>s</string>
    </array>
    <key>public.kern1.sevensuperior</key>
    <array>
      <string>seven.subs</string>
      <string>seven.dnom</string>
      <string>seveninferior</string>
      <string>seven.numr</string>
      <string>sevensuperior</string>
    </array>
    <key>public.kern1.sixsuperior</key>
    <array>
      <string>six.subs</string>
      <string>six.dnom</string>
      <string>sixinferior</string>
      <string>six.numr</string>
      <string>sixsuperior</string>
    </array>
    <key>public.kern1.t</key>
    <array>
      <string>t</string>
      <string>r_t</string>
    </array>
    <key>public.kern1.threesuperior</key>
    <array>
      <string>threesuperior</string>
      <string>three.subs</string>
      <string>three.dnom</string>
      <string>threeinferior</string>
      <string>three.numr</string>
    </array>
    <key>public.kern1.twosuperior</key>
    <array>
      <string>twosuperior</string>
      <string>two.subs</string>
      <string>two.dnom</string>
      <string>twoinferior</string>
      <string>two.numr</string>
    </array>
    <key>public.kern1.u</key>
    <array>
      <string>u</string>
      <string>ugrave</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>idotless</string>
      <string>micro</string>
    </array>
    <key>public.kern1.v</key>
    <array>
      <string>v</string>
      <string>y</string>
      <string>yacute</string>
      <string>ydieresis</string>
    </array>
    <key>public.kern1.w</key>
    <array>
      <string>w</string>
    </array>
    <key>public.kern1.x</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern1.z</key>
    <array>
      <string>z</string>
    </array>
    <key>public.kern1.zero</key>
    <array>
      <string>zero</string>
      <string>zero.zero</string>
      <string>zero.tf.zero</string>
    </array>
    <key>public.kern1.zerosuperior</key>
    <array>
      <string>zero.subs</string>
      <string>zero.dnom</string>
      <string>zeroinferior</string>
      <string>zero.numr</string>
      <string>zerosuperior</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
      <string>Agrave</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Atilde</string>
      <string>Aring</string>
      <string>Adieresis</string>
    </array>
    <key>public.kern2.AE</key>
    <array>
      <string>AE</string>
    </array>
    <key>public.kern2.Eth</key>
    <array>
      <string>Eth</string>
    </array>
    <key>public.kern2.H</key>
    <array>
      <string>B</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>H</string>
      <string>K</string>
      <string>L</string>
      <string>N</string>
      <string>P</string>
      <string>R</string>
      <string>Egrave</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Ntilde</string>
      <string>Thorn</string>
    </array>
    <key>public.kern2.I</key>
    <array>
      <string>I</string>
      <string>Igrave</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
    </array>
    <key>public.kern2.J</key>
    <array>
      <string>J</string>
    </array>
    <key>public.kern2.Ja.tm</key>
    <array>
      <string>VowelAi_Fused.tm</string>
      <string>Ja_dummy.tm</string>
      <string>JaMatraI_Fused.tm</string>
      <string>JaMatraIi_Fused.tm</string>
      <string>JaMatraU_Fused.tm</string>
      <string>JaMatraUu_Fused.tm</string>
      <string>JaMatraI_Fused_Fly.tm</string>
      <string>JaMatraIi_Fused_SimpleIi.tm</string>
      <string>JaMatraUu_Fused_SimpleUu.tm</string>
      <string>VowelAi.tm</string>
      <string>Ja.tm</string>
      <string>JaMatraI.tm</string>
      <string>JaMatraI_Fly.tm</string>
      <string>JaMatraIi.tm</string>
      <string>JaMatraIi_SimpleIi.tm</string>
      <string>JaMatraU.tm</string>
      <string>JaMatraUu.tm</string>
      <string>JaMatraUu_SimpleUu.tm</string>
      <string>Ja_Fused.tm</string>
    </array>
    <key>public.kern2.Ka.tm</key>
    <array>
      <string>VowelI.tm</string>
      <string>Ka.tm</string>
      <string>Ca.tm</string>
      <string>Ta.tm</string>
      <string>Kssa.tm</string>
      <string>KaMatraI.tm</string>
      <string>CaMatraI.tm</string>
      <string>TaMatraI.tm</string>
      <string>KssaMatraI.tm</string>
      <string>KaMatraIi.tm</string>
      <string>CaMatraIi.tm</string>
      <string>TaMatraIi.tm</string>
      <string>KssaMatraIi.tm</string>
      <string>CaMatraU.tm</string>
      <string>TaMatraU.tm</string>
      <string>KssaMatraU.tm</string>
      <string>KaMatraUu.tm</string>
      <string>TaMatraUu.tm</string>
      <string>KssaMatraUu.tm</string>
      <string>KaMatraI_Fly.tm</string>
      <string>CaMatraI_Fly.tm</string>
      <string>TaMatraI_Fly.tm</string>
      <string>KssaMatraI_Fly.tm</string>
      <string>KaMatraIi_SimpleIi.tm</string>
      <string>CaMatraIi_SimpleIi.tm</string>
      <string>TaMatraIi_Simple_SimpleIi.tm</string>
      <string>KssaMatraIi_Simple_SimpleIi.tm</string>
      <string>Kssa_Simple.tm</string>
      <string>KssaMatraI_Simple.tm</string>
      <string>KssaMatraI_Simple_Fly.tm</string>
      <string>KssaMatraU_Simple.tm</string>
      <string>KssaMatraUu_Simple_SimpleUu.tm</string>
      <string>Ta_Simple.tm</string>
      <string>TaMatraI_Simple.tm</string>
      <string>TaMatraI_Simple_Fly.tm</string>
      <string>TaMatraIi_Simple.tm</string>
      <string>TaMatraU_Simple.tm</string>
      <string>TaMatraUu_Simple.tm</string>
      <string>One.tm</string>
      <string>Four.tm</string>
      <string>Six.tm</string>
      <string>Nine.tm</string>
      <string>Thousand.tm</string>
      <string>Thousand_Simple.tm</string>
      <string>Aaytam.tm</string>
      <string>Ca_dummy.tm</string>
      <string>Ka_dummy.tm</string>
      <string>Kssa_dummy.tm</string>
      <string>One.tm.BRACKET.700</string>
    </array>
    <key>public.kern2.M</key>
    <array>
      <string>M</string>
    </array>
    <key>public.kern2.MatraE.tm</key>
    <array>
      <string>AsAboveSign.tm</string>
      <string>MatraE.tm</string>
      <string>MatraO.tm</string>
      <string>MatraAu.tm</string>
      <string>MatraOo.tm</string>
    </array>
    <key>public.kern2.MatraE_Condensed.tm</key>
    <array>
      <string>AsAboveSign_Simple.tm</string>
      <string>MatraOo_Fused.tm</string>
      <string>MatraE_Simple.tm</string>
      <string>MatraO_Simple.tm</string>
      <string>MatraAu_Simple.tm</string>
    </array>
    <key>public.kern2.MatraEe.tm</key>
    <array>
      <string>MatraEe_Unfused.tm</string>
      <string>MatraOo_Unfused.tm</string>
      <string>MatraEe.tm</string>
    </array>
    <key>public.kern2.MatraEe_Condensed.tm</key>
    <array>
      <string>MatraEe_Fused.tm</string>
    </array>
    <key>public.kern2.Nya.tm</key>
    <array>
      <string>Nya.tm</string>
      <string>NyaMatraI.tm</string>
      <string>NyaMatraIi.tm</string>
      <string>KaMatraU.tm</string>
      <string>MaMatraU.tm</string>
      <string>RaMatraU.tm</string>
      <string>LlaMatraU.tm</string>
      <string>LllaMatraU.tm</string>
      <string>CaMatraUu.tm</string>
      <string>MaMatraUu.tm</string>
      <string>RaMatraUu.tm</string>
      <string>LlaMatraUu.tm</string>
      <string>LllaMatraUu.tm</string>
      <string>NyaMatraI_Fly.tm</string>
      <string>NnaMatraAa.tm</string>
      <string>NnnaMatraAa.tm</string>
      <string>RraMatraAa.tm</string>
      <string>NyaMatraIi_SimpleIi.tm</string>
      <string>NyaMatraI_Simple.tm</string>
      <string>NyaMatraI_Simple_Fly.tm</string>
      <string>Shree.tm</string>
      <string>Nya_dummy.tm</string>
    </array>
    <key>public.kern2.O</key>
    <array>
      <string>C</string>
      <string>G</string>
      <string>O</string>
      <string>Q</string>
      <string>OE</string>
      <string>Ccedilla</string>
      <string>Ograve</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Otilde</string>
      <string>Odieresis</string>
      <string>Oslash</string>
    </array>
    <key>public.kern2.Pa.tm</key>
    <array>
      <string>VowelIi.tm</string>
      <string>Nga.tm</string>
      <string>Tta.tm</string>
      <string>Na.tm</string>
      <string>Pa.tm</string>
      <string>Ma.tm</string>
      <string>Ra.tm</string>
      <string>Llla.tm</string>
      <string>TtaPulli.tm</string>
      <string>RaPulli_Alt.tm</string>
      <string>NgaMatraI.tm</string>
      <string>TtaMatraI.tm</string>
      <string>NaMatraI.tm</string>
      <string>PaMatraI.tm</string>
      <string>MaMatraI.tm</string>
      <string>RaMatraI.tm</string>
      <string>LllaMatraI.tm</string>
      <string>NgaMatraIi.tm</string>
      <string>TtaMatraIi.tm</string>
      <string>NaMatraIi.tm</string>
      <string>PaMatraIi.tm</string>
      <string>MaMatraIi.tm</string>
      <string>RaMatraIi.tm</string>
      <string>LllaMatraIi.tm</string>
      <string>NgaMatraU.tm</string>
      <string>NaMatraU.tm</string>
      <string>PaMatraU.tm</string>
      <string>NgaMatraUu.tm</string>
      <string>NaMatraUu.tm</string>
      <string>PaMatraUu.tm</string>
      <string>TtaPulli_Half.tm</string>
      <string>VowelIi_Half.tm</string>
      <string>RaPulli_Alt_Half.tm</string>
      <string>NgaMatraI_Fly.tm</string>
      <string>TtaMatraI_Fly.tm</string>
      <string>NaMatraI_Fly.tm</string>
      <string>PaMatraI_Fly.tm</string>
      <string>MaMatraI_Fly.tm</string>
      <string>RaMatraI_Fly.tm</string>
      <string>LllaMatraI_Fly.tm</string>
      <string>NgaMatraI_SimpleI.tm</string>
      <string>PaMatraI_SimpleI.tm</string>
      <string>TtaMatraIi_SimpleIi.tm</string>
      <string>NaMatraIi_Simple_SimpleIi.tm</string>
      <string>MaMatraIi_SimpleIi.tm</string>
      <string>RaMatraIi_SimpleIi.tm</string>
      <string>LllaMatraIi_Simple_SimpleIi.tm</string>
      <string>NgaMatraIi_SimpleIi.tm</string>
      <string>PaMatraIi_SimpleIi.tm</string>
      <string>NgaMatraI_SimpleFly.tm</string>
      <string>PaMatraI_SimpleFly.tm</string>
      <string>YaMatraI_SimpleFly.tm</string>
      <string>NgaMatraUu_SimpleUu.tm</string>
      <string>PaMatraUu_SimpleUu.tm</string>
      <string>TtaMatraI_Simple.tm</string>
      <string>Na_Simple.tm</string>
      <string>NaMatraI_Simple.tm</string>
      <string>NaMatraI_Simple_Fly.tm</string>
      <string>NaMatraIi_Simple.tm</string>
      <string>NaMatraU_Simple.tm</string>
      <string>NaMatraUu_Simple.tm</string>
      <string>Llla_Simple.tm</string>
      <string>LllaMatraI_Simple.tm</string>
      <string>LllaMatraI_Simple_Fly.tm</string>
      <string>LllaMatraIi_Simple.tm</string>
      <string>Three.tm</string>
      <string>MonthSign.tm</string>
      <string>DebitSign.tm</string>
      <string>NumberSign.tm</string>
      <string>DebitSign_Simple.tm</string>
      <string>NumberSign_Simple.tm</string>
      <string>MatraAa.tm</string>
      <string>Llla_dummy.tm</string>
      <string>Ma_dummy.tm</string>
      <string>Nga_dummy.tm</string>
      <string>Pa_dummy.tm</string>
      <string>Ra_dummy.tm</string>
      <string>Tta_dummy.tm</string>
      <string>MatraAa_dummy.tm</string>
      <string>RaPulli.tm</string>
      <string>RaPulli_Half.tm</string>
      <string>Ra_Alt.tm</string>
    </array>
    <key>public.kern2.Rra.tm</key>
    <array>
      <string>Rra.tm</string>
      <string>RraMatraI.tm</string>
      <string>RraMatraIi.tm</string>
      <string>RraMatraU.tm</string>
      <string>RraMatraUu.tm</string>
      <string>RraMatraI_Fly.tm</string>
      <string>Hundred.tm</string>
    </array>
    <key>public.kern2.Rra_Simple.tm</key>
    <array>
      <string>RraMatraIi_Simple_SimpleIi.tm</string>
      <string>Rra_Simple.tm</string>
      <string>RraMatraI_Simple.tm</string>
      <string>RraMatraI_Simple_Fly.tm</string>
      <string>RraMatraIi_Simple.tm</string>
      <string>RraMatraU_Simple.tm</string>
      <string>RraMatraUu_Simple.tm</string>
    </array>
    <key>public.kern2.S</key>
    <array>
      <string>dollar</string>
      <string>S</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>T</string>
    </array>
    <key>public.kern2.TraditionalAi.tm</key>
    <array>
      <string>NnaMatraAi.tm</string>
      <string>NnnaMatraAi.tm</string>
      <string>LaMatraAi.tm</string>
      <string>LlaMatraAi.tm</string>
    </array>
    <key>public.kern2.TtaMatraU.tm</key>
    <array>
      <string>TtaMatraU.tm</string>
      <string>Five.tm</string>
      <string>RupeeSign.tm</string>
      <string>YearSign.tm</string>
    </array>
    <key>public.kern2.TtaMatraUu.tm</key>
    <array>
      <string>TtaMatraUu.tm</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>U</string>
      <string>Ugrave</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
    </array>
    <key>public.kern2.V</key>
    <array>
      <string>V</string>
    </array>
    <key>public.kern2.Va.tm</key>
    <array>
      <string>VowelE.tm</string>
      <string>VowelEe.tm</string>
      <string>Nna.tm</string>
      <string>Nnna.tm</string>
      <string>La.tm</string>
      <string>Lla.tm</string>
      <string>Va.tm</string>
      <string>Ssa.tm</string>
      <string>Sa.tm</string>
      <string>Ha.tm</string>
      <string>NnaMatraI.tm</string>
      <string>NnnaMatraI.tm</string>
      <string>LaMatraI.tm</string>
      <string>LlaMatraI.tm</string>
      <string>VaMatraI.tm</string>
      <string>SsaMatraI.tm</string>
      <string>SaMatraI.tm</string>
      <string>HaMatraI.tm</string>
      <string>NnaMatraIi.tm</string>
      <string>NnnaMatraIi.tm</string>
      <string>LaMatraIi.tm</string>
      <string>LlaMatraIi.tm</string>
      <string>VaMatraIi.tm</string>
      <string>SsaMatraIi.tm</string>
      <string>SaMatraIi.tm</string>
      <string>HaMatraIi.tm</string>
      <string>NyaMatraU.tm</string>
      <string>NnaMatraU.tm</string>
      <string>NnnaMatraU.tm</string>
      <string>LaMatraU.tm</string>
      <string>VaMatraU.tm</string>
      <string>SsaMatraU.tm</string>
      <string>SaMatraU.tm</string>
      <string>HaMatraU.tm</string>
      <string>NyaMatraUu.tm</string>
      <string>NnaMatraUu.tm</string>
      <string>NnnaMatraUu.tm</string>
      <string>LaMatraUu.tm</string>
      <string>VaMatraUu.tm</string>
      <string>SsaMatraUu.tm</string>
      <string>SaMatraUu.tm</string>
      <string>HaMatraUu.tm</string>
      <string>NnaMatraI_Fly.tm</string>
      <string>NnnaMatraI_Fly.tm</string>
      <string>LaMatraI_Fly.tm</string>
      <string>LlaMatraI_Fly.tm</string>
      <string>VaMatraI_Fly.tm</string>
      <string>SsaMatraI_Fly.tm</string>
      <string>SaMatraI_Fly.tm</string>
      <string>HaMatraI_Fly.tm</string>
      <string>VaMatraI_SimpleI.tm</string>
      <string>NnaMatraIi_SimpleIi.tm</string>
      <string>NnnaMatraIi_SimpleIi.tm</string>
      <string>LaMatraIi_SimpleIi.tm</string>
      <string>LlaMatraIi_SimpleIi.tm</string>
      <string>SsaMatraIi_Simple_SimpleIi.tm</string>
      <string>SaMatraIi_SimpleIi.tm</string>
      <string>HaMatraIi_Simple_SimpleIi.tm</string>
      <string>VaMatraIi_SimpleIi.tm</string>
      <string>VaMatraI_SimpleFly.tm</string>
      <string>VaMatraUu_SimpleUu.tm</string>
      <string>SaMatraUu_SimpleUu.tm</string>
      <string>Ssa_Simple.tm</string>
      <string>SsaMatraI_Simple.tm</string>
      <string>SsaMatraI_Simple_Fly.tm</string>
      <string>SsaMatraU_Simple.tm</string>
      <string>SsaMatraUu_Simple_SimpleUu.tm</string>
      <string>Ha_Simple.tm</string>
      <string>HaMatraI_Simple.tm</string>
      <string>HaMatraI_Simple_Fly.tm</string>
      <string>HaMatraIi_Simple.tm</string>
      <string>HaMatraU_Simple.tm</string>
      <string>HaMatraUu_Simple_SimpleUu.tm</string>
      <string>NyaMatraU_Simple.tm</string>
      <string>NyaMatraUu_Simple.tm</string>
      <string>NnaMatraU_Simple.tm</string>
      <string>NnaMatraUu_Simple.tm</string>
      <string>NnnaMatraU_Simple.tm</string>
      <string>NnnaMatraUu_Simple.tm</string>
      <string>LaMatraU_Simple.tm</string>
      <string>LaMatraUu_Simple.tm</string>
      <string>Zero.tm</string>
      <string>Seven.tm</string>
      <string>DaySign.tm</string>
      <string>CreditSign.tm</string>
      <string>MatraAi.tm</string>
      <string>MatraAuSpare.tm</string>
      <string>La_dummy.tm</string>
      <string>Lla_dummy.tm</string>
      <string>Nna_dummy.tm</string>
      <string>Nnna_dummy.tm</string>
      <string>Sa_dummy.tm</string>
      <string>Ssa_dummy.tm</string>
      <string>Va_dummy.tm</string>
    </array>
    <key>public.kern2.VowelA.tm</key>
    <array>
      <string>VowelA.tm</string>
      <string>VowelAa.tm</string>
      <string>Eight.tm</string>
    </array>
    <key>public.kern2.VowelO.tm</key>
    <array>
      <string>VowelO.tm</string>
      <string>VowelOo_Fused.tm</string>
      <string>VowelAu.tm</string>
      <string>VowelOo.tm</string>
      <string>Om.tm</string>
    </array>
    <key>public.kern2.VowelU.tm</key>
    <array>
      <string>VowelU_Fused.tm</string>
      <string>VowelUu_Fused.tm</string>
      <string>VowelU.tm</string>
      <string>VowelUu.tm</string>
      <string>Two.tm</string>
    </array>
    <key>public.kern2.W</key>
    <array>
      <string>W</string>
    </array>
    <key>public.kern2.X</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern2.Y</key>
    <array>
      <string>Y</string>
      <string>yen</string>
      <string>Yacute</string>
    </array>
    <key>public.kern2.Ya.tm</key>
    <array>
      <string>Ya.tm</string>
      <string>Sha.tm</string>
      <string>YaMatraI.tm</string>
      <string>ShaMatraI.tm</string>
      <string>YaMatraIi.tm</string>
      <string>ShaMatraIi.tm</string>
      <string>YaMatraU.tm</string>
      <string>ShaMatraU.tm</string>
      <string>YaMatraUu.tm</string>
      <string>ShaMatraUu.tm</string>
      <string>YaMatraI_Fly.tm</string>
      <string>ShaMatraI_Fly.tm</string>
      <string>YaMatraI_SimpleI.tm</string>
      <string>ShaMatraIi_SimpleIi.tm</string>
      <string>YaMatraIi_SimpleIi.tm</string>
      <string>YaMatraUu_SimpleUu.tm</string>
      <string>ShaMatraUu_SimpleUu.tm</string>
      <string>Ten.tm</string>
      <string>Sha_dummy.tm</string>
      <string>Ya_dummy.tm</string>
    </array>
    <key>public.kern2.Z</key>
    <array>
      <string>Z</string>
    </array>
    <key>public.kern2.a</key>
    <array>
      <string>a</string>
      <string>agrave</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>atilde</string>
      <string>adieresis</string>
      <string>aring</string>
      <string>ae</string>
    </array>
    <key>public.kern2.bar</key>
    <array>
      <string>bar</string>
      <string>brokenbar</string>
    </array>
    <key>public.kern2.d</key>
    <array>
      <string>d</string>
      <string>q</string>
    </array>
    <key>public.kern2.eightsuperior</key>
    <array>
      <string>eight.subs</string>
      <string>eight.dnom</string>
      <string>eightinferior</string>
      <string>eight.numr</string>
      <string>eightsuperior</string>
    </array>
    <key>public.kern2.f</key>
    <array>
      <string>f</string>
      <string>fi</string>
      <string>fl</string>
      <string>f_f</string>
      <string>f_f_i</string>
      <string>f_f_l</string>
    </array>
    <key>public.kern2.fivesuperior</key>
    <array>
      <string>five.subs</string>
      <string>five.dnom</string>
      <string>fiveinferior</string>
      <string>five.numr</string>
      <string>fivesuperior</string>
    </array>
    <key>public.kern2.foursuperior</key>
    <array>
      <string>four.subs</string>
      <string>four.dnom</string>
      <string>fourinferior</string>
      <string>four.numr</string>
      <string>foursuperior</string>
    </array>
    <key>public.kern2.g</key>
    <array>
      <string>g</string>
    </array>
    <key>public.kern2.guilsinglleft</key>
    <array>
      <string>guilsinglleft</string>
      <string>guillemetleft</string>
    </array>
    <key>public.kern2.guilsinglright</key>
    <array>
      <string>guilsinglright</string>
      <string>guillemetright</string>
    </array>
    <key>public.kern2.h</key>
    <array>
      <string>b</string>
      <string>h</string>
      <string>k</string>
      <string>thorn</string>
    </array>
    <key>public.kern2.hyphen</key>
    <array>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>minus</string>
      <string>softhyphen</string>
    </array>
    <key>public.kern2.i</key>
    <array>
      <string>i</string>
      <string>igrave</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
    </array>
    <key>public.kern2.j</key>
    <array>
      <string>j</string>
    </array>
    <key>public.kern2.l</key>
    <array>
      <string>l</string>
    </array>
    <key>public.kern2.m</key>
    <array>
      <string>m</string>
      <string>n</string>
      <string>p</string>
      <string>r</string>
      <string>ntilde</string>
      <string>r_t</string>
      <string>idotless</string>
    </array>
    <key>public.kern2.ninesuperior</key>
    <array>
      <string>nine.subs</string>
      <string>nine.dnom</string>
      <string>nineinferior</string>
      <string>nine.numr</string>
      <string>ninesuperior</string>
    </array>
    <key>public.kern2.o</key>
    <array>
      <string>c</string>
      <string>e</string>
      <string>o</string>
      <string>oe</string>
      <string>cent</string>
      <string>ccedilla</string>
      <string>egrave</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>eth</string>
      <string>ograve</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>otilde</string>
      <string>odieresis</string>
      <string>oslash</string>
    </array>
    <key>public.kern2.onesuperior</key>
    <array>
      <string>onesuperior</string>
      <string>one.subs</string>
      <string>one.dnom</string>
      <string>oneinferior</string>
      <string>one.numr</string>
    </array>
    <key>public.kern2.p</key>
    <array>
      <string>micro</string>
    </array>
    <key>public.kern2.parenleft</key>
    <array>
      <string>parenleft</string>
      <string>bracketleft</string>
      <string>braceleft</string>
    </array>
    <key>public.kern2.parenright</key>
    <array>
      <string>parenright</string>
      <string>bracketright</string>
      <string>braceright</string>
    </array>
    <key>public.kern2.period</key>
    <array>
      <string>period</string>
      <string>ellipsis</string>
    </array>
    <key>public.kern2.plus</key>
    <array>
      <string>plus</string>
      <string>divide</string>
    </array>
    <key>public.kern2.question</key>
    <array>
      <string>question</string>
      <string>question_alt</string>
    </array>
    <key>public.kern2.quoteleft</key>
    <array>
      <string>quoteleft</string>
      <string>quotedblleft</string>
    </array>
    <key>public.kern2.quoteright</key>
    <array>
      <string>quoteright</string>
      <string>quotedblright</string>
    </array>
    <key>public.kern2.quotesingle</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern2.s</key>
    <array>
      <string>s</string>
    </array>
    <key>public.kern2.sevensuperior</key>
    <array>
      <string>seven.subs</string>
      <string>seven.dnom</string>
      <string>seveninferior</string>
      <string>seven.numr</string>
      <string>sevensuperior</string>
    </array>
    <key>public.kern2.sixsuperior</key>
    <array>
      <string>six.subs</string>
      <string>six.dnom</string>
      <string>sixinferior</string>
      <string>six.numr</string>
      <string>sixsuperior</string>
    </array>
    <key>public.kern2.t</key>
    <array>
      <string>t</string>
    </array>
    <key>public.kern2.threesuperior</key>
    <array>
      <string>threesuperior</string>
      <string>three.subs</string>
      <string>three.dnom</string>
      <string>threeinferior</string>
      <string>three.numr</string>
    </array>
    <key>public.kern2.twosuperior</key>
    <array>
      <string>twosuperior</string>
      <string>two.subs</string>
      <string>two.dnom</string>
      <string>twoinferior</string>
      <string>two.numr</string>
    </array>
    <key>public.kern2.u</key>
    <array>
      <string>u</string>
      <string>ugrave</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
    </array>
    <key>public.kern2.v</key>
    <array>
      <string>v</string>
      <string>y</string>
      <string>yacute</string>
      <string>ydieresis</string>
    </array>
    <key>public.kern2.w</key>
    <array>
      <string>w</string>
    </array>
    <key>public.kern2.x</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern2.z</key>
    <array>
      <string>z</string>
    </array>
    <key>public.kern2.zero</key>
    <array>
      <string>zero</string>
      <string>zero.zero</string>
      <string>zero.tf.zero</string>
    </array>
    <key>public.kern2.zerosuperior</key>
    <array>
      <string>zero.subs</string>
      <string>zero.dnom</string>
      <string>zeroinferior</string>
      <string>zero.numr</string>
      <string>zerosuperior</string>
    </array>
  </dict>
</plist>
