<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Aacute</key>
    <string>A_acute.glif</string>
    <key>Acircumflex</key>
    <string>A_circumflex.glif</string>
    <key>Addak.gm</key>
    <string>A_ddak.gm.glif</string>
    <key>Addak.gm.alt</key>
    <string>A_ddak.gm.alt.glif</string>
    <key>AddakBindi.gm</key>
    <string>A_ddakB_indi.gm.glif</string>
    <key>AddakBindi.gm.alt</key>
    <string>A_ddakB_indi.gm.alt.glif</string>
    <key>AddakBindiDist.gm</key>
    <string>A_ddakB_indiD_ist.gm.glif</string>
    <key>AddakDist.gm</key>
    <string>A_ddakD_ist.gm.glif</string>
    <key>AddhaMa.gm</key>
    <string>A_ddhaM_a.gm.glif</string>
    <key>AddhaTha.gm</key>
    <string>A_ddhaT_ha.gm.glif</string>
    <key>AddhaYa.gm</key>
    <string>A_ddhaY_a.gm.glif</string>
    <key>Adieresis</key>
    <string>A_dieresis.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Aring</key>
    <string>A_ring.glif</string>
    <key>Atilde</key>
    <string>A_tilde.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>Ba.gm</key>
    <string>B_a.gm.glif</string>
    <key>BaVirama.gm</key>
    <string>B_aV_irama.gm.glif</string>
    <key>Bha.gm</key>
    <string>B_ha.gm.glif</string>
    <key>BhaVirama.gm</key>
    <string>B_haV_irama.gm.glif</string>
    <key>Bindi.gm</key>
    <string>B_indi.gm.glif</string>
    <key>Bindi.gm.alt</key>
    <string>B_indi.gm.alt.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>Ca.gm</key>
    <string>C_a.gm.glif</string>
    <key>CaVirama.gm</key>
    <string>C_aV_irama.gm.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>Cha.gm</key>
    <string>C_ha.gm.glif</string>
    <key>ChaVirama.gm</key>
    <string>C_haV_irama.gm.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>Da.gm</key>
    <string>D_a.gm.glif</string>
    <key>DaVirama.gm</key>
    <string>D_aV_irama.gm.glif</string>
    <key>Danda.gm</key>
    <string>D_anda.gm.glif</string>
    <key>Dda.gm</key>
    <string>D_da.gm.glif</string>
    <key>DdaVirama.gm</key>
    <string>D_daV_irama.gm.glif</string>
    <key>Ddha.gm</key>
    <string>D_dha.gm.glif</string>
    <key>DdhaVirama.gm</key>
    <string>D_dhaV_irama.gm.glif</string>
    <key>Dha.gm</key>
    <string>D_ha.gm.glif</string>
    <key>DhaVirama.gm</key>
    <string>D_haV_irama.gm.glif</string>
    <key>Doubledanda.gm</key>
    <string>D_oubledanda.gm.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>Ecircumflex</key>
    <string>E_circumflex.glif</string>
    <key>Edieresis</key>
    <string>E_dieresis.glif</string>
    <key>Egrave</key>
    <string>E_grave.glif</string>
    <key>Ek</key>
    <string>E_k.glif</string>
    <key>EkOnkar.gm</key>
    <string>E_kO_nkar.gm.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>Fa.gm</key>
    <string>F_a.gm.glif</string>
    <key>FaVirama.gm</key>
    <string>F_aV_irama.gm.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Ga.gm</key>
    <string>G_a.gm.glif</string>
    <key>GaVirama.gm</key>
    <string>G_aV_irama.gm.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>Gha.gm</key>
    <string>G_ha.gm.glif</string>
    <key>GhaVirama.gm</key>
    <string>G_haV_irama.gm.glif</string>
    <key>Ghha.gm</key>
    <string>G_hha.gm.glif</string>
    <key>GhhaVirama.gm</key>
    <string>G_hhaV_irama.gm.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>Ha.gm</key>
    <string>H_a.gm.glif</string>
    <key>HaVirama.gm</key>
    <string>H_aV_irama.gm.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>Iacute</key>
    <string>I_acute.glif</string>
    <key>Icircumflex</key>
    <string>I_circumflex.glif</string>
    <key>Idieresis</key>
    <string>I_dieresis.glif</string>
    <key>Igrave</key>
    <string>I_grave.glif</string>
    <key>Iri.gm</key>
    <string>I_ri.gm.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>Ja.gm</key>
    <string>J_a.gm.glif</string>
    <key>JaVirama.gm</key>
    <string>J_aV_irama.gm.glif</string>
    <key>Jha.gm</key>
    <string>J_ha.gm.glif</string>
    <key>JhaVirama.gm</key>
    <string>J_haV_irama.gm.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>Ka.gm</key>
    <string>K_a.gm.glif</string>
    <key>KaVirama.gm</key>
    <string>K_aV_irama.gm.glif</string>
    <key>KaViramaRa.gm</key>
    <string>K_aV_iramaR_a.gm.glif</string>
    <key>Kha.gm</key>
    <string>K_ha.gm.glif</string>
    <key>KhaVirama.gm</key>
    <string>K_haV_irama.gm.glif</string>
    <key>Khanda.gm</key>
    <string>K_handa.gm.glif</string>
    <key>Khha.gm</key>
    <string>K_hha.gm.glif</string>
    <key>KhhaVirama.gm</key>
    <string>K_hhaV_irama.gm.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>La.gm</key>
    <string>L_a.gm.glif</string>
    <key>LaHa.gm</key>
    <string>L_aH_a.gm.glif</string>
    <key>LaVirama.gm</key>
    <string>L_aV_irama.gm.glif</string>
    <key>Lla.gm</key>
    <string>L_la.gm.glif</string>
    <key>LlaVirama.gm</key>
    <string>L_laV_irama.gm.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>Ma.gm</key>
    <string>M_a.gm.glif</string>
    <key>MaVirama.gm</key>
    <string>M_aV_irama.gm.glif</string>
    <key>MatraAa.gm</key>
    <string>M_atraA_a.gm.glif</string>
    <key>MatraAi.gm</key>
    <string>M_atraA_i.gm.glif</string>
    <key>MatraAi.gm.alt</key>
    <string>M_atraA_i.gm.alt.glif</string>
    <key>MatraAiAddak.gm</key>
    <string>M_atraA_iA_ddak.gm.glif</string>
    <key>MatraAiAddak.gm.alt</key>
    <string>M_atraA_iA_ddak.gm.alt.glif</string>
    <key>MatraAiAddakBindi.gm</key>
    <string>M_atraA_iA_ddakB_indi.gm.glif</string>
    <key>MatraAiAddakBindi.gm.alt</key>
    <string>M_atraA_iA_ddakB_indi.gm.alt.glif</string>
    <key>MatraAiBindi.gm</key>
    <string>M_atraA_iB_indi.gm.glif</string>
    <key>MatraAiBindi.gm.alt</key>
    <string>M_atraA_iB_indi.gm.alt.glif</string>
    <key>MatraAu.gm</key>
    <string>M_atraA_u.gm.glif</string>
    <key>MatraAu.gm.alt</key>
    <string>M_atraA_u.gm.alt.glif</string>
    <key>MatraAuAddak.gm</key>
    <string>M_atraA_uA_ddak.gm.glif</string>
    <key>MatraAuAddak.gm.alt</key>
    <string>M_atraA_uA_ddak.gm.alt.glif</string>
    <key>MatraAuAddakBindi.gm</key>
    <string>M_atraA_uA_ddakB_indi.gm.glif</string>
    <key>MatraAuAddakBindi.gm.alt</key>
    <string>M_atraA_uA_ddakB_indi.gm.alt.glif</string>
    <key>MatraAuBindi.gm</key>
    <string>M_atraA_uB_indi.gm.glif</string>
    <key>MatraAuBindi.gm.alt</key>
    <string>M_atraA_uB_indi.gm.alt.glif</string>
    <key>MatraEe.gm</key>
    <string>M_atraE_e.gm.glif</string>
    <key>MatraEe.gm.alt</key>
    <string>M_atraE_e.gm.alt.glif</string>
    <key>MatraEeAddak.gm</key>
    <string>M_atraE_eA_ddak.gm.glif</string>
    <key>MatraEeAddak.gm.alt</key>
    <string>M_atraE_eA_ddak.gm.alt.glif</string>
    <key>MatraEeAddakBindi.gm</key>
    <string>M_atraE_eA_ddakB_indi.gm.glif</string>
    <key>MatraEeAddakBindi.gm.alt</key>
    <string>M_atraE_eA_ddakB_indi.gm.alt.glif</string>
    <key>MatraEeBindi.gm</key>
    <string>M_atraE_eB_indi.gm.glif</string>
    <key>MatraEeBindi.gm.alt</key>
    <string>M_atraE_eB_indi.gm.alt.glif</string>
    <key>MatraEeTa.gm</key>
    <string>M_atraE_eT_a.gm.glif</string>
    <key>MatraI.gm</key>
    <string>M_atraI_.gm.glif</string>
    <key>MatraIi.gm</key>
    <string>M_atraI_i.gm.glif</string>
    <key>MatraIiAddak.gm</key>
    <string>M_atraI_iA_ddak.gm.glif</string>
    <key>MatraIiAddakBindi.gm</key>
    <string>M_atraI_iA_ddakB_indi.gm.glif</string>
    <key>MatraIiBindi.gm</key>
    <string>M_atraI_iB_indi.gm.glif</string>
    <key>MatraOo.gm</key>
    <string>M_atraO_o.gm.glif</string>
    <key>MatraOo.gm.alt</key>
    <string>M_atraO_o.gm.alt.glif</string>
    <key>MatraOoAddak.gm</key>
    <string>M_atraO_oA_ddak.gm.glif</string>
    <key>MatraOoAddak.gm.alt</key>
    <string>M_atraO_oA_ddak.gm.alt.glif</string>
    <key>MatraOoAddakBindi.gm</key>
    <string>M_atraO_oA_ddakB_indi.gm.glif</string>
    <key>MatraOoAddakBindi.gm.alt</key>
    <string>M_atraO_oA_ddakB_indi.gm.alt.glif</string>
    <key>MatraOoBindi.gm</key>
    <string>M_atraO_oB_indi.gm.glif</string>
    <key>MatraOoBindi.gm.alt</key>
    <string>M_atraO_oB_indi.gm.alt.glif</string>
    <key>MatraU.gm</key>
    <string>M_atraU_.gm.glif</string>
    <key>MatraU.gm.alt</key>
    <string>M_atraU_.gm.alt.glif</string>
    <key>MatraUu.gm</key>
    <string>M_atraU_u.gm.glif</string>
    <key>MatraUu.gm.alt</key>
    <string>M_atraU_u.gm.alt.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>Na.gm</key>
    <string>N_a.gm.glif</string>
    <key>NaHa.gm</key>
    <string>N_aH_a.gm.glif</string>
    <key>NaVirama.gm</key>
    <string>N_aV_irama.gm.glif</string>
    <key>NaViramaRa.gm</key>
    <string>N_aV_iramaR_a.gm.glif</string>
    <key>Nga.gm</key>
    <string>N_ga.gm.glif</string>
    <key>NgaVirama.gm</key>
    <string>N_gaV_irama.gm.glif</string>
    <key>Nna.gm</key>
    <string>N_na.gm.glif</string>
    <key>NnaVirama.gm</key>
    <string>N_naV_irama.gm.glif</string>
    <key>Ntilde</key>
    <string>N_tilde.glif</string>
    <key>Nukta.gm</key>
    <string>N_ukta.gm.glif</string>
    <key>Nukta.gm.001</key>
    <string>N_ukta.gm.001.glif</string>
    <key>Nya.gm</key>
    <string>N_ya.gm.glif</string>
    <key>NyaVirama.gm</key>
    <string>N_yaV_irama.gm.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Oacute</key>
    <string>O_acute.glif</string>
    <key>Ocircumflex</key>
    <string>O_circumflex.glif</string>
    <key>Odieresis</key>
    <string>O_dieresis.glif</string>
    <key>Ograve</key>
    <string>O_grave.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Otilde</key>
    <string>O_tilde.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Pa.gm</key>
    <string>P_a.gm.glif</string>
    <key>PaVirama.gm</key>
    <string>P_aV_irama.gm.glif</string>
    <key>PairinHa.gm</key>
    <string>P_airinH_a.gm.glif</string>
    <key>PairinHaMatraU.gm</key>
    <string>P_airinH_aM_atraU_.gm.glif</string>
    <key>PairinHaMatraUu.gm</key>
    <string>P_airinH_aM_atraU_u.gm.glif</string>
    <key>PairinHaVirama.gm</key>
    <string>P_airinH_aV_irama.gm.glif</string>
    <key>PairinRa.gm</key>
    <string>P_airinR_a.gm.glif</string>
    <key>PairinRaMatraU.gm</key>
    <string>P_airinR_aM_atraU_.gm.glif</string>
    <key>PairinRaMatraUu.gm</key>
    <string>P_airinR_aM_atraU_u.gm.glif</string>
    <key>PairinRaVirama.gm</key>
    <string>P_airinR_aV_irama.gm.glif</string>
    <key>PairinVa.gm</key>
    <string>P_airinV_a.gm.glif</string>
    <key>PairinVaMatraU.gm</key>
    <string>P_airinV_aM_atraU_.gm.glif</string>
    <key>PairinVaMatraUu.gm</key>
    <string>P_airinV_aM_atraU_u.gm.glif</string>
    <key>PairinVaVirama.gm</key>
    <string>P_airinV_aV_irama.gm.glif</string>
    <key>Pha.gm</key>
    <string>P_ha.gm.glif</string>
    <key>PhaVirama.gm</key>
    <string>P_haV_irama.gm.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>Ra.gm</key>
    <string>R_a.gm.glif</string>
    <key>RaVirama.gm</key>
    <string>R_aV_irama.gm.glif</string>
    <key>Rha.gm</key>
    <string>R_ha.gm.glif</string>
    <key>Rra.gm</key>
    <string>R_ra.gm.glif</string>
    <key>RraVirama.gm</key>
    <string>R_raV_irama.gm.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>Sa.gm</key>
    <string>S_a.gm.glif</string>
    <key>SaVirama.gm</key>
    <string>S_aV_irama.gm.glif</string>
    <key>Sha.gm</key>
    <string>S_ha.gm.glif</string>
    <key>ShaVirama.gm</key>
    <string>S_haV_irama.gm.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>Ta.gm</key>
    <string>T_a.gm.glif</string>
    <key>TaVirama.gm</key>
    <string>T_aV_irama.gm.glif</string>
    <key>Tha.gm</key>
    <string>T_ha.gm.glif</string>
    <key>ThaVirama.gm</key>
    <string>T_haV_irama.gm.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>Tippi.gm</key>
    <string>T_ippi.gm.glif</string>
    <key>TippiDist.gm</key>
    <string>T_ippiD_ist.gm.glif</string>
    <key>Tta.gm</key>
    <string>T_ta.gm.glif</string>
    <key>TtaVirama.gm</key>
    <string>T_taV_irama.gm.glif</string>
    <key>Ttha.gm</key>
    <string>T_tha.gm.glif</string>
    <key>TthaVirama.gm</key>
    <string>T_thaV_irama.gm.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>Uacute</key>
    <string>U_acute.glif</string>
    <key>Ucircumflex</key>
    <string>U_circumflex.glif</string>
    <key>Udaat.gm</key>
    <string>U_daat.gm.glif</string>
    <key>UdaatMatraU.gm</key>
    <string>U_daatM_atraU_.gm.glif</string>
    <key>UdaatMatraUu.gm</key>
    <string>U_daatM_atraU_u.gm.glif</string>
    <key>UdaatVirama.gm</key>
    <string>U_daatV_irama.gm.glif</string>
    <key>Udieresis</key>
    <string>U_dieresis.glif</string>
    <key>Ugrave</key>
    <string>U_grave.glif</string>
    <key>Ura.gm</key>
    <string>U_ra.gm.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>Va.gm</key>
    <string>V_a.gm.glif</string>
    <key>VaVirama.gm</key>
    <string>V_aV_irama.gm.glif</string>
    <key>Virama.gm</key>
    <string>V_irama.gm.glif</string>
    <key>Virama.gm.alt</key>
    <string>V_irama.gm.alt.glif</string>
    <key>Visarga.gm</key>
    <string>V_isarga.gm.glif</string>
    <key>VowelA.gm</key>
    <string>V_owelA_.gm.glif</string>
    <key>VowelAa.gm</key>
    <string>V_owelA_a.gm.glif</string>
    <key>VowelAi.gm</key>
    <string>V_owelA_i.gm.glif</string>
    <key>VowelAu.gm</key>
    <string>V_owelA_u.gm.glif</string>
    <key>VowelEe.gm</key>
    <string>V_owelE_e.gm.glif</string>
    <key>VowelI.gm</key>
    <string>V_owelI_.gm.glif</string>
    <key>VowelIi.gm</key>
    <string>V_owelI_i.gm.glif</string>
    <key>VowelOo.gm</key>
    <string>V_owelO_o.gm.glif</string>
    <key>VowelU.gm</key>
    <string>V_owelU_.gm.glif</string>
    <key>VowelUu.gm</key>
    <string>V_owelU_u.gm.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Ya.gm</key>
    <string>Y_a.gm.glif</string>
    <key>YaVirama.gm</key>
    <string>Y_aV_irama.gm.glif</string>
    <key>Yacute</key>
    <string>Y_acute.glif</string>
    <key>Yakash.gm</key>
    <string>Y_akash.gm.glif</string>
    <key>YakashMatraU.gm</key>
    <string>Y_akashM_atraU_.gm.glif</string>
    <key>YakashMatraUu.gm</key>
    <string>Y_akashM_atraU_u.gm.glif</string>
    <key>YakashVirama.gm</key>
    <string>Y_akashV_irama.gm.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>ZWJ</key>
    <string>Z_W_J_.glif</string>
    <key>ZWNJ</key>
    <string>Z_W_N_J_.glif</string>
    <key>Za.gm</key>
    <string>Z_a.gm.glif</string>
    <key>ZaVirama.gm</key>
    <string>Z_aV_irama.gm.glif</string>
    <key>_EEmatra</key>
    <string>_E_E_matra.glif</string>
    <key>_Ematra</key>
    <string>_E_matra.glif</string>
    <key>_cap.shiro_left</key>
    <string>_cap.shiro_left.glif</string>
    <key>_cap.shiro_right</key>
    <string>_cap.shiro_right.glif</string>
    <key>_danda</key>
    <string>_danda.glif</string>
    <key>_danda001</key>
    <string>_danda001.glif</string>
    <key>_part.shiro</key>
    <string>_part.shiro.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>aacute</key>
    <string>aacute.glif</string>
    <key>acircumflex</key>
    <string>acircumflex.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>acutecomb.case</key>
    <string>acutecomb.case.glif</string>
    <key>acutecomb.narrow</key>
    <string>acutecomb.narrow.glif</string>
    <key>adieresis</key>
    <string>adieresis.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>agrave</key>
    <string>agrave.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>aring</key>
    <string>aring.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>atilde</key>
    <string>atilde.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>bulletoperator</key>
    <string>bulletoperator.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>ccedilla</key>
    <string>ccedilla.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>cedillacomb</key>
    <string>cedillacomb.glif</string>
    <key>cedillacomb.case</key>
    <string>cedillacomb.case.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>circumflexcomb</key>
    <string>circumflexcomb.glif</string>
    <key>circumflexcomb.case</key>
    <string>circumflexcomb.case.glif</string>
    <key>circumflexcomb.narrow</key>
    <string>circumflexcomb.narrow.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>dieresiscomb</key>
    <string>dieresiscomb.glif</string>
    <key>dieresiscomb.case</key>
    <string>dieresiscomb.case.glif</string>
    <key>dieresiscomb.narrow</key>
    <string>dieresiscomb.narrow.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>divisionslash</key>
    <string>divisionslash.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dotaccentcomb</key>
    <string>dotaccentcomb.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eacute</key>
    <string>eacute.glif</string>
    <key>ecircumflex</key>
    <string>ecircumflex.glif</string>
    <key>edieresis</key>
    <string>edieresis.glif</string>
    <key>egrave</key>
    <string>egrave.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.dnom</key>
    <string>eight.dnom.glif</string>
    <key>eight.gm</key>
    <string>eight.gm.glif</string>
    <key>eight.numr</key>
    <string>eight.numr.glif</string>
    <key>eight.subs</key>
    <string>eight.subs.glif</string>
    <key>eight.tf</key>
    <string>eight.tf.glif</string>
    <key>eightinferior</key>
    <string>eightinferior.glif</string>
    <key>eightsuperior</key>
    <string>eightsuperior.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>euro</key>
    <string>euro.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>f_f_i</key>
    <string>f_f_i.glif</string>
    <key>f_f_l</key>
    <string>f_f_l.glif</string>
    <key>fi</key>
    <string>fi.glif</string>
    <key>figurespace</key>
    <string>figurespace.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.dnom</key>
    <string>five.dnom.glif</string>
    <key>five.gm</key>
    <string>five.gm.glif</string>
    <key>five.numr</key>
    <string>five.numr.glif</string>
    <key>five.subs</key>
    <string>five.subs.glif</string>
    <key>five.tf</key>
    <string>five.tf.glif</string>
    <key>fiveinferior</key>
    <string>fiveinferior.glif</string>
    <key>fivesuperior</key>
    <string>fivesuperior.glif</string>
    <key>fl</key>
    <string>fl.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.dnom</key>
    <string>four.dnom.glif</string>
    <key>four.gm</key>
    <string>four.gm.glif</string>
    <key>four.numr</key>
    <string>four.numr.glif</string>
    <key>four.subs</key>
    <string>four.subs.glif</string>
    <key>four.tf</key>
    <string>four.tf.glif</string>
    <key>fourinferior</key>
    <string>fourinferior.glif</string>
    <key>foursuperior</key>
    <string>foursuperior.glif</string>
    <key>fraction</key>
    <string>fraction.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>gravecomb.case</key>
    <string>gravecomb.case.glif</string>
    <key>gravecomb.narrow</key>
    <string>gravecomb.narrow.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>guillemetleft</key>
    <string>guillemetleft.glif</string>
    <key>guillemetright</key>
    <string>guillemetright.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hairspace</key>
    <string>hairspace.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>iacute</key>
    <string>iacute.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif</string>
    <key>idieresis</key>
    <string>idieresis.glif</string>
    <key>idotless</key>
    <string>idotless.glif</string>
    <key>igrave</key>
    <string>igrave.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>jbottom</key>
    <string>jbottom.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>macroncomb</key>
    <string>macroncomb.glif</string>
    <key>macroncomb.case</key>
    <string>macroncomb.case.glif</string>
    <key>macroncomb.narrow</key>
    <string>macroncomb.narrow.glif</string>
    <key>micro</key>
    <string>micro.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.dnom</key>
    <string>nine.dnom.glif</string>
    <key>nine.gm</key>
    <string>nine.gm.glif</string>
    <key>nine.numr</key>
    <string>nine.numr.glif</string>
    <key>nine.subs</key>
    <string>nine.subs.glif</string>
    <key>nine.tf</key>
    <string>nine.tf.glif</string>
    <key>nineinferior</key>
    <string>nineinferior.glif</string>
    <key>ninesuperior</key>
    <string>ninesuperior.glif</string>
    <key>ntilde</key>
    <string>ntilde.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>oacute</key>
    <string>oacute.glif</string>
    <key>ocircumflex</key>
    <string>ocircumflex.glif</string>
    <key>odieresis</key>
    <string>odieresis.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>ograve</key>
    <string>ograve.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one.dnom</key>
    <string>one.dnom.glif</string>
    <key>one.gm</key>
    <string>one.gm.glif</string>
    <key>one.numr</key>
    <string>one.numr.glif</string>
    <key>one.subs</key>
    <string>one.subs.glif</string>
    <key>one.tf</key>
    <string>one.tf.glif</string>
    <key>onehalf</key>
    <string>onehalf.glif</string>
    <key>oneinferior</key>
    <string>oneinferior.glif</string>
    <key>onequarter</key>
    <string>onequarter.glif</string>
    <key>onesuperior</key>
    <string>onesuperior.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>otilde</key>
    <string>otilde.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>punctuationspace</key>
    <string>punctuationspace.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>question_alt</key>
    <string>question_alt.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>r_t</key>
    <string>r_t.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>ringcomb</key>
    <string>ringcomb.glif</string>
    <key>ringcomb.case</key>
    <string>ringcomb.case.glif</string>
    <key>rupeeIndian</key>
    <string>rupeeI_ndian.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven.dnom</key>
    <string>seven.dnom.glif</string>
    <key>seven.gm</key>
    <string>seven.gm.glif</string>
    <key>seven.numr</key>
    <string>seven.numr.glif</string>
    <key>seven.subs</key>
    <string>seven.subs.glif</string>
    <key>seven.tf</key>
    <string>seven.tf.glif</string>
    <key>seveninferior</key>
    <string>seveninferior.glif</string>
    <key>sevensuperior</key>
    <string>sevensuperior.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.dnom</key>
    <string>six.dnom.glif</string>
    <key>six.gm</key>
    <string>six.gm.glif</string>
    <key>six.numr</key>
    <string>six.numr.glif</string>
    <key>six.subs</key>
    <string>six.subs.glif</string>
    <key>six.tf</key>
    <string>six.tf.glif</string>
    <key>sixinferior</key>
    <string>sixinferior.glif</string>
    <key>sixsuperior</key>
    <string>sixsuperior.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>softhyphen</key>
    <string>softhyphen.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>thinspace</key>
    <string>thinspace.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.dnom</key>
    <string>three.dnom.glif</string>
    <key>three.gm</key>
    <string>three.gm.glif</string>
    <key>three.numr</key>
    <string>three.numr.glif</string>
    <key>three.subs</key>
    <string>three.subs.glif</string>
    <key>three.tf</key>
    <string>three.tf.glif</string>
    <key>threeinferior</key>
    <string>threeinferior.glif</string>
    <key>threequarters</key>
    <string>threequarters.glif</string>
    <key>threesuperior</key>
    <string>threesuperior.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>tildecomb.case</key>
    <string>tildecomb.case.glif</string>
    <key>tildecomb.narrow</key>
    <string>tildecomb.narrow.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.dnom</key>
    <string>two.dnom.glif</string>
    <key>two.gm</key>
    <string>two.gm.glif</string>
    <key>two.numr</key>
    <string>two.numr.glif</string>
    <key>two.subs</key>
    <string>two.subs.glif</string>
    <key>two.tf</key>
    <string>two.tf.glif</string>
    <key>twoinferior</key>
    <string>twoinferior.glif</string>
    <key>twosuperior</key>
    <string>twosuperior.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>uacute</key>
    <string>uacute.glif</string>
    <key>ucircumflex</key>
    <string>ucircumflex.glif</string>
    <key>udieresis</key>
    <string>udieresis.glif</string>
    <key>ugrave</key>
    <string>ugrave.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>yacute</key>
    <string>yacute.glif</string>
    <key>ydieresis</key>
    <string>ydieresis.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.dnom</key>
    <string>zero.dnom.glif</string>
    <key>zero.gm</key>
    <string>zero.gm.glif</string>
    <key>zero.numr</key>
    <string>zero.numr.glif</string>
    <key>zero.subs</key>
    <string>zero.subs.glif</string>
    <key>zero.tf</key>
    <string>zero.tf.glif</string>
    <key>zero.tf.zero</key>
    <string>zero.tf.zero.glif</string>
    <key>zero.zero</key>
    <string>zero.zero.glif</string>
    <key>zeroinferior</key>
    <string>zeroinferior.glif</string>
    <key>zerosuperior</key>
    <string>zerosuperior.glif</string>
    <key>zerowidthspace</key>
    <string>zerowidthspace.glif</string>
  </dict>
</plist>
