<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>LongerConnector</string>
      <string>glyphs.L_ongerC_onnector</string>
    </array>
    <array>
      <string>Higher</string>
      <string>glyphs.H_igher</string>
    </array>
    <array>
      <string>Higher.background</string>
      <string>glyphs.H_igher.background</string>
    </array>
    <array>
      <string>LongerTail</string>
      <string>glyphs.L_ongerT_ail</string>
    </array>
    <array>
      <string>LongerTail.background</string>
      <string>glyphs.L_ongerT_ail.background</string>
    </array>
    <array>
      <string>Taller</string>
      <string>glyphs.T_aller</string>
    </array>
    <array>
      <string>Taller.background</string>
      <string>glyphs.T_aller.background</string>
    </array>
    <array>
      <string>LongerConnector.background</string>
      <string>glyphs.L_ongerC_onnector.background</string>
    </array>
    <array>
      <string>Lower</string>
      <string>glyphs.L_ower</string>
    </array>
    <array>
      <string>Lower.background</string>
      <string>glyphs.L_ower.background</string>
    </array>
    <array>
      <string>LowerConnecter</string>
      <string>glyphs.L_owerC_onnecter</string>
    </array>
    <array>
      <string>LowerConnecter.background</string>
      <string>glyphs.L_owerC_onnecter.background</string>
    </array>
    <array>
      <string>Longer</string>
      <string>glyphs.L_onger</string>
    </array>
    <array>
      <string>Longer.background</string>
      <string>glyphs.L_onger.background</string>
    </array>
    <array>
      <string>Narrower</string>
      <string>glyphs.N_arrower</string>
    </array>
    <array>
      <string>wide</string>
      <string>glyphs.wide</string>
    </array>
    <array>
      <string>wide.background</string>
      <string>glyphs.wide.background</string>
    </array>
    <array>
      <string>ShorterDanda</string>
      <string>glyphs.S_horterD_anda</string>
    </array>
    <array>
      <string>LongerConnector2</string>
      <string>glyphs.L_ongerC_onnector2</string>
    </array>
    <array>
      <string>LongerConnector2.background</string>
      <string>glyphs.L_ongerC_onnector2.background</string>
    </array>
    <array>
      <string>HeightShort</string>
      <string>glyphs.H_eightS_hort</string>
    </array>
    <array>
      <string>HeightShort.background</string>
      <string>glyphs.H_eightS_hort.background</string>
    </array>
    <array>
      <string>HeightTall</string>
      <string>glyphs.H_eightT_all</string>
    </array>
    <array>
      <string>HeightTall.background</string>
      <string>glyphs.H_eightT_all.background</string>
    </array>
    <array>
      <string>Short</string>
      <string>glyphs.S_hort</string>
    </array>
    <array>
      <string>short</string>
      <string>glyphs.short</string>
    </array>
    <array>
      <string>short.background</string>
      <string>glyphs.short.background</string>
    </array>
    <array>
      <string>Shorter1</string>
      <string>glyphs.S_horter1</string>
    </array>
    <array>
      <string>Shorter1.background</string>
      <string>glyphs.S_horter1.background</string>
    </array>
    <array>
      <string>Shorter2</string>
      <string>glyphs.S_horter2</string>
    </array>
    <array>
      <string>Shorter2.background</string>
      <string>glyphs.S_horter2.background</string>
    </array>
  </array>
</plist>
