<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>GSCornerRadius</key>
    <integer>15</integer>
    <key>com.github.googlei18n.ufo2ft.filters</key>
    <array>
      <dict>
        <key>name</key>
        <string>eraseOpenCorners</string>
        <key>namespace</key>
        <string>glyphsLib.filters</string>
        <key>pre</key>
        <true/>
      </dict>
    </array>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1352</string>
    <key>com.schriftgestaltung.customName</key>
    <string>Expanded Extra</string>
    <key>com.schriftgestaltung.customParameter.GSFont.Enforce Compatibility Check</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFont.Use Extension Kerning</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.Use Line Breaks</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFont.Variable Font Origin</key>
    <string>1BB65DEB-6628-4D84-9A18-2310E1571206</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string>Bold_Extended</string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>800</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>125</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>8</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Bold</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>800</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>125</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>NULL</string>
      <string>CR</string>
      <string>space</string>
      <string>exclam</string>
      <string>quotedbl</string>
      <string>numbersign</string>
      <string>percent</string>
      <string>ampersand</string>
      <string>quotesingle</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>asterisk</string>
      <string>plus</string>
      <string>comma</string>
      <string>hyphen</string>
      <string>period</string>
      <string>slash</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>less</string>
      <string>equal</string>
      <string>greater</string>
      <string>question</string>
      <string>at</string>
      <string>bracketleft</string>
      <string>backslash</string>
      <string>bracketright</string>
      <string>asciicircum</string>
      <string>underscore</string>
      <string>braceleft</string>
      <string>bar</string>
      <string>braceright</string>
      <string>asciitilde</string>
      <string>ellipsis</string>
      <string>endash</string>
      <string>emdash</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>divide</string>
      <string>minus</string>
      <string>multiply</string>
      <string>dollar</string>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>grave</string>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
      <string>circumflex</string>
      <string>guilsinglleft</string>
      <string>OE</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>bullet</string>
      <string>tilde</string>
      <string>guilsinglright</string>
      <string>oe</string>
      <string>exclamdown</string>
      <string>cent</string>
      <string>sterling</string>
      <string>currency</string>
      <string>yen</string>
      <string>brokenbar</string>
      <string>section</string>
      <string>dieresis</string>
      <string>copyright</string>
      <string>ordfeminine</string>
      <string>registered</string>
      <string>degree</string>
      <string>plusminus</string>
      <string>acute</string>
      <string>paragraph</string>
      <string>cedilla</string>
      <string>ordmasculine</string>
      <string>questiondown</string>
      <string>Agrave</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Atilde</string>
      <string>Aring</string>
      <string>Adieresis</string>
      <string>AE</string>
      <string>Ccedilla</string>
      <string>Egrave</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Igrave</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Eth</string>
      <string>Ntilde</string>
      <string>Ograve</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Otilde</string>
      <string>Odieresis</string>
      <string>Oslash</string>
      <string>Ugrave</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Yacute</string>
      <string>Thorn</string>
      <string>germandbls</string>
      <string>agrave</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>atilde</string>
      <string>adieresis</string>
      <string>aring</string>
      <string>ae</string>
      <string>ccedilla</string>
      <string>egrave</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>igrave</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>eth</string>
      <string>ntilde</string>
      <string>ograve</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>otilde</string>
      <string>odieresis</string>
      <string>oslash</string>
      <string>ugrave</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>yacute</string>
      <string>thorn</string>
      <string>ydieresis</string>
      <string>logicalnot</string>
      <string>macron</string>
      <string>ring</string>
      <string>periodcentered</string>
      <string>fi</string>
      <string>fl</string>
      <string>fraction</string>
      <string>onesuperior</string>
      <string>twosuperior</string>
      <string>threesuperior</string>
      <string>onequarter</string>
      <string>onehalf</string>
      <string>threequarters</string>
      <string>r_t</string>
      <string>Germandbls</string>
      <string>idotless</string>
      <string>f_f</string>
      <string>f_f_i</string>
      <string>f_f_l</string>
      <string>zero.zero</string>
      <string>zero.tf</string>
      <string>one.tf</string>
      <string>two.tf</string>
      <string>three.tf</string>
      <string>four.tf</string>
      <string>five.tf</string>
      <string>six.tf</string>
      <string>seven.tf</string>
      <string>eight.tf</string>
      <string>nine.tf</string>
      <string>zero.tf.zero</string>
      <string>zero.subs</string>
      <string>one.subs</string>
      <string>two.subs</string>
      <string>three.subs</string>
      <string>four.subs</string>
      <string>five.subs</string>
      <string>six.subs</string>
      <string>seven.subs</string>
      <string>eight.subs</string>
      <string>nine.subs</string>
      <string>zero.dnom</string>
      <string>one.dnom</string>
      <string>two.dnom</string>
      <string>three.dnom</string>
      <string>four.dnom</string>
      <string>five.dnom</string>
      <string>six.dnom</string>
      <string>seven.dnom</string>
      <string>eight.dnom</string>
      <string>nine.dnom</string>
      <string>zeroinferior</string>
      <string>oneinferior</string>
      <string>twoinferior</string>
      <string>threeinferior</string>
      <string>fourinferior</string>
      <string>fiveinferior</string>
      <string>sixinferior</string>
      <string>seveninferior</string>
      <string>eightinferior</string>
      <string>nineinferior</string>
      <string>zero.numr</string>
      <string>one.numr</string>
      <string>two.numr</string>
      <string>three.numr</string>
      <string>four.numr</string>
      <string>five.numr</string>
      <string>six.numr</string>
      <string>seven.numr</string>
      <string>eight.numr</string>
      <string>nine.numr</string>
      <string>zerosuperior</string>
      <string>foursuperior</string>
      <string>fivesuperior</string>
      <string>sixsuperior</string>
      <string>sevensuperior</string>
      <string>eightsuperior</string>
      <string>ninesuperior</string>
      <string>figurespace</string>
      <string>hairspace</string>
      <string>punctuationspace</string>
      <string>nbspace</string>
      <string>thinspace</string>
      <string>zerowidthspace</string>
      <string>question_alt</string>
      <string>softhyphen</string>
      <string>guillemetleft</string>
      <string>guillemetright</string>
      <string>euro</string>
      <string>rupeeIndian</string>
      <string>bulletoperator</string>
      <string>divisionslash</string>
      <string>micro</string>
      <string>dieresiscomb</string>
      <string>dotaccentcomb</string>
      <string>gravecomb</string>
      <string>acutecomb</string>
      <string>circumflexcomb</string>
      <string>ringcomb</string>
      <string>tildecomb</string>
      <string>macroncomb</string>
      <string>cedillacomb</string>
      <string>dieresiscomb.case</string>
      <string>gravecomb.case</string>
      <string>acutecomb.case</string>
      <string>circumflexcomb.case</string>
      <string>ringcomb.case</string>
      <string>tildecomb.case</string>
      <string>macroncomb.case</string>
      <string>cedillacomb.case</string>
      <string>dieresiscomb.narrow</string>
      <string>gravecomb.narrow</string>
      <string>acutecomb.narrow</string>
      <string>circumflexcomb.narrow</string>
      <string>tildecomb.narrow</string>
      <string>macroncomb.narrow</string>
      <string>MatraAa.gm</string>
      <string>MatraI.gm</string>
      <string>MatraIi.gm</string>
      <string>MatraIiAddak.gm</string>
      <string>MatraIiAddakBindi.gm</string>
      <string>MatraIiBindi.gm</string>
      <string>Danda.gm</string>
      <string>Doubledanda.gm</string>
      <string>VowelA.gm</string>
      <string>VowelAa.gm</string>
      <string>VowelI.gm</string>
      <string>VowelIi.gm</string>
      <string>VowelU.gm</string>
      <string>VowelUu.gm</string>
      <string>VowelEe.gm</string>
      <string>VowelAi.gm</string>
      <string>VowelOo.gm</string>
      <string>VowelAu.gm</string>
      <string>Ka.gm</string>
      <string>Kha.gm</string>
      <string>Ga.gm</string>
      <string>Gha.gm</string>
      <string>Nga.gm</string>
      <string>Ca.gm</string>
      <string>Cha.gm</string>
      <string>Ja.gm</string>
      <string>Jha.gm</string>
      <string>Nya.gm</string>
      <string>Tta.gm</string>
      <string>Ttha.gm</string>
      <string>Dda.gm</string>
      <string>Ddha.gm</string>
      <string>Nna.gm</string>
      <string>Ta.gm</string>
      <string>Tha.gm</string>
      <string>Da.gm</string>
      <string>Dha.gm</string>
      <string>Na.gm</string>
      <string>Pa.gm</string>
      <string>Pha.gm</string>
      <string>Ba.gm</string>
      <string>Bha.gm</string>
      <string>Ma.gm</string>
      <string>Ya.gm</string>
      <string>Ra.gm</string>
      <string>La.gm</string>
      <string>Lla.gm</string>
      <string>Va.gm</string>
      <string>Sha.gm</string>
      <string>Sa.gm</string>
      <string>Ha.gm</string>
      <string>Khha.gm</string>
      <string>Ghha.gm</string>
      <string>Za.gm</string>
      <string>Rra.gm</string>
      <string>Fa.gm</string>
      <string>Iri.gm</string>
      <string>Ura.gm</string>
      <string>EkOnkar.gm</string>
      <string>Visarga.gm</string>
      <string>AddhaMa.gm</string>
      <string>AddhaTha.gm</string>
      <string>AddhaYa.gm</string>
      <string>Rha.gm</string>
      <string>KaVirama.gm</string>
      <string>KaViramaRa.gm</string>
      <string>NaViramaRa.gm</string>
      <string>KhaVirama.gm</string>
      <string>GaVirama.gm</string>
      <string>GhaVirama.gm</string>
      <string>NgaVirama.gm</string>
      <string>CaVirama.gm</string>
      <string>ChaVirama.gm</string>
      <string>JaVirama.gm</string>
      <string>JhaVirama.gm</string>
      <string>NyaVirama.gm</string>
      <string>TtaVirama.gm</string>
      <string>TthaVirama.gm</string>
      <string>DdaVirama.gm</string>
      <string>DdhaVirama.gm</string>
      <string>NnaVirama.gm</string>
      <string>TaVirama.gm</string>
      <string>ThaVirama.gm</string>
      <string>DaVirama.gm</string>
      <string>DhaVirama.gm</string>
      <string>NaVirama.gm</string>
      <string>PaVirama.gm</string>
      <string>PhaVirama.gm</string>
      <string>BaVirama.gm</string>
      <string>BhaVirama.gm</string>
      <string>MaVirama.gm</string>
      <string>YaVirama.gm</string>
      <string>RaVirama.gm</string>
      <string>LaVirama.gm</string>
      <string>LlaVirama.gm</string>
      <string>VaVirama.gm</string>
      <string>ShaVirama.gm</string>
      <string>SaVirama.gm</string>
      <string>HaVirama.gm</string>
      <string>KhhaVirama.gm</string>
      <string>GhhaVirama.gm</string>
      <string>ZaVirama.gm</string>
      <string>RraVirama.gm</string>
      <string>FaVirama.gm</string>
      <string>LaHa.gm</string>
      <string>NaHa.gm</string>
      <string>zero.gm</string>
      <string>one.gm</string>
      <string>two.gm</string>
      <string>three.gm</string>
      <string>four.gm</string>
      <string>five.gm</string>
      <string>six.gm</string>
      <string>seven.gm</string>
      <string>eight.gm</string>
      <string>nine.gm</string>
      <string>Khanda.gm</string>
      <string>AddakBindi.gm</string>
      <string>Bindi.gm</string>
      <string>Nukta.gm</string>
      <string>MatraU.gm</string>
      <string>MatraUu.gm</string>
      <string>MatraEe.gm</string>
      <string>MatraAi.gm</string>
      <string>MatraOo.gm</string>
      <string>MatraAu.gm</string>
      <string>Virama.gm</string>
      <string>Virama.gm.alt</string>
      <string>Udaat.gm</string>
      <string>Tippi.gm</string>
      <string>Addak.gm</string>
      <string>Yakash.gm</string>
      <string>AddakBindi.gm.alt</string>
      <string>Addak.gm.alt</string>
      <string>Bindi.gm.alt</string>
      <string>MatraAi.gm.alt</string>
      <string>MatraAiAddak.gm</string>
      <string>MatraAiAddak.gm.alt</string>
      <string>MatraAiAddakBindi.gm</string>
      <string>MatraAiAddakBindi.gm.alt</string>
      <string>MatraAiBindi.gm</string>
      <string>MatraAiBindi.gm.alt</string>
      <string>MatraAu.gm.alt</string>
      <string>MatraAuAddak.gm</string>
      <string>MatraAuAddak.gm.alt</string>
      <string>MatraAuAddakBindi.gm</string>
      <string>MatraAuAddakBindi.gm.alt</string>
      <string>MatraAuBindi.gm</string>
      <string>MatraAuBindi.gm.alt</string>
      <string>MatraEe.gm.alt</string>
      <string>MatraEeAddak.gm</string>
      <string>MatraEeAddak.gm.alt</string>
      <string>MatraEeAddakBindi.gm</string>
      <string>MatraEeAddakBindi.gm.alt</string>
      <string>MatraEeBindi.gm</string>
      <string>MatraEeBindi.gm.alt</string>
      <string>MatraOo.gm.alt</string>
      <string>MatraOoAddak.gm</string>
      <string>MatraOoAddak.gm.alt</string>
      <string>MatraOoAddakBindi.gm</string>
      <string>MatraOoAddakBindi.gm.alt</string>
      <string>MatraOoBindi.gm</string>
      <string>MatraOoBindi.gm.alt</string>
      <string>MatraU.gm.alt</string>
      <string>MatraUu.gm.alt</string>
      <string>AddakBindiDist.gm</string>
      <string>AddakDist.gm</string>
      <string>TippiDist.gm</string>
      <string>PairinHa.gm</string>
      <string>PairinHaMatraU.gm</string>
      <string>PairinHaMatraUu.gm</string>
      <string>PairinHaVirama.gm</string>
      <string>PairinRa.gm</string>
      <string>PairinRaMatraU.gm</string>
      <string>PairinRaMatraUu.gm</string>
      <string>PairinRaVirama.gm</string>
      <string>UdaatMatraU.gm</string>
      <string>UdaatMatraUu.gm</string>
      <string>UdaatVirama.gm</string>
      <string>YakashMatraU.gm</string>
      <string>YakashMatraUu.gm</string>
      <string>YakashVirama.gm</string>
      <string>PairinVa.gm</string>
      <string>PairinVaMatraU.gm</string>
      <string>PairinVaMatraUu.gm</string>
      <string>PairinVaVirama.gm</string>
      <string>MatraEeTa.gm</string>
      <string>Nukta.gm.001</string>
      <string>ZWJ</string>
      <string>ZWNJ</string>
      <string>uni25CC</string>
      <string>Ek</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>Germandbls</key>
      <string>uni1E9E</string>
      <key>bulletoperator</key>
      <string>uni2219</string>
      <key>cedillacomb</key>
      <string>uni0327</string>
      <key>cedillacomb.case</key>
      <string>uni0327.case</string>
      <key>circumflexcomb</key>
      <string>uni0302</string>
      <key>circumflexcomb.case</key>
      <string>uni0302.case</string>
      <key>circumflexcomb.narrow</key>
      <string>uni0302.narrow</string>
      <key>dieresiscomb</key>
      <string>uni0308</string>
      <key>dieresiscomb.case</key>
      <string>uni0308.case</string>
      <key>dieresiscomb.narrow</key>
      <string>uni0308.narrow</string>
      <key>divisionslash</key>
      <string>uni2215</string>
      <key>dotaccentcomb</key>
      <string>uni0307</string>
      <key>eightinferior</key>
      <string>uni2088</string>
      <key>eightsuperior</key>
      <string>uni2078</string>
      <key>euro</key>
      <string>Euro</string>
      <key>figurespace</key>
      <string>uni2007</string>
      <key>fiveinferior</key>
      <string>uni2085</string>
      <key>fivesuperior</key>
      <string>uni2075</string>
      <key>fourinferior</key>
      <string>uni2084</string>
      <key>foursuperior</key>
      <string>uni2074</string>
      <key>guillemetleft</key>
      <string>guillemotleft</string>
      <key>guillemetright</key>
      <string>guillemotright</string>
      <key>hairspace</key>
      <string>uni200A</string>
      <key>idotless</key>
      <string>dotlessi</string>
      <key>macroncomb</key>
      <string>uni0304</string>
      <key>macroncomb.case</key>
      <string>uni0304.case</string>
      <key>macroncomb.narrow</key>
      <string>uni0304.narrow</string>
      <key>micro</key>
      <string>uni00B5</string>
      <key>nbspace</key>
      <string>uni00A0</string>
      <key>nineinferior</key>
      <string>uni2089</string>
      <key>ninesuperior</key>
      <string>uni2079</string>
      <key>oneinferior</key>
      <string>uni2081</string>
      <key>onesuperior</key>
      <string>uni00B9</string>
      <key>punctuationspace</key>
      <string>uni2008</string>
      <key>ringcomb</key>
      <string>uni030A</string>
      <key>ringcomb.case</key>
      <string>uni030A.case</string>
      <key>rupeeIndian</key>
      <string>uni20B9</string>
      <key>seveninferior</key>
      <string>uni2087</string>
      <key>sevensuperior</key>
      <string>uni2077</string>
      <key>sixinferior</key>
      <string>uni2086</string>
      <key>sixsuperior</key>
      <string>uni2076</string>
      <key>softhyphen</key>
      <string>uni00AD</string>
      <key>thinspace</key>
      <string>uni2009</string>
      <key>threeinferior</key>
      <string>uni2083</string>
      <key>threesuperior</key>
      <string>uni00B3</string>
      <key>twoinferior</key>
      <string>uni2082</string>
      <key>twosuperior</key>
      <string>uni00B2</string>
      <key>zeroinferior</key>
      <string>uni2080</string>
      <key>zerosuperior</key>
      <string>uni2070</string>
      <key>zerowidthspace</key>
      <string>uni200B</string>
    </dict>
    <key>public.skipExportGlyphs</key>
    <array>
      <string>_EEmatra</string>
      <string>_Ematra</string>
      <string>_cap.shiro_left</string>
      <string>_cap.shiro_right</string>
      <string>_danda</string>
      <string>_danda001</string>
      <string>_part.shiro</string>
      <string>jbottom</string>
    </array>
  </dict>
</plist>
