<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>GSOffsetHorizontal</key>
  <integer>2</integer>
  <key>GSOffsetProportional</key>
  <integer>1</integer>
  <key>GSOffsetVertical</key>
  <integer>-85</integer>
  <key>com.schriftgestaltung.fontMaster.Master Icon Glyph Name</key>
  <string>v</string>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>NULL</string>
    <string>uni000D</string>
    <string>space</string>
    <string>swastisri</string>
    <string>Candrabindu</string>
    <string>Candrabindu_Spacing.ka</string>
    <string>vowelA.kn</string>
    <string>vowelA.kn.alt1</string>
    <string>vowelAa.kn</string>
    <string>vowelAa.kn.alt1</string>
    <string>vowelI.kn</string>
    <string>vowelII.kn</string>
    <string>vowelU.kn</string>
    <string>vowelUu.kn</string>
    <string>vowelRu.kn</string>
    <string>vowelRuu.kn</string>
    <string>vowelLru.kn</string>
    <string>vowelLruu.kn</string>
    <string>vowelE.kn</string>
    <string>vowelEe.kn</string>
    <string>vowelAi.kn</string>
    <string>vowelO.kn</string>
    <string>vowelOo.kn</string>
    <string>vowelAu.kn</string>
    <string>Anuswara.kn</string>
    <string>Visarga.kn</string>
    <string>Ka.kn</string>
    <string>Kha.kn</string>
    <string>Ga.kn</string>
    <string>Gha.kn</string>
    <string>Nga.kn</string>
    <string>Ca.kn</string>
    <string>Cha.kn</string>
    <string>Ja.kn</string>
    <string>Jha.kn</string>
    <string>Nya.kn</string>
    <string>Tta.kn</string>
    <string>Ttha.kn</string>
    <string>Dda.kn</string>
    <string>Ddha.kn</string>
    <string>Nna.kn</string>
    <string>Ta.kn</string>
    <string>Tha.kn</string>
    <string>Da.kn</string>
    <string>Dha.kn</string>
    <string>Na.kn</string>
    <string>Pa.kn</string>
    <string>Pha.kn</string>
    <string>Ba.kn</string>
    <string>Bha.kn</string>
    <string>Ma.kn</string>
    <string>Ya.kn</string>
    <string>Ra.kn</string>
    <string>La.kn</string>
    <string>Va.kn</string>
    <string>Sha.kn</string>
    <string>Ssa.kn</string>
    <string>Sa.kn</string>
    <string>Ha.kn</string>
    <string>Lla.kn</string>
    <string>KaSsa.kn</string>
    <string>JaNya.kn</string>
    <string>RraObsolete.kn</string>
    <string>Nukta1.kn</string>
    <string>LllaObsolete.kn</string>
    <string>Jihvamuliya.kn</string>
    <string>Upadhmaniya.kn</string>
    <string>Shunya.kn</string>
    <string>Ondu.kn</string>
    <string>Eradu.kn</string>
    <string>Muru.kn</string>
    <string>Nalku.kn</string>
    <string>Aidu.kn</string>
    <string>Aaru.kn</string>
    <string>Yelu.kn</string>
    <string>Entu.kn</string>
    <string>Ombattu.kn</string>
    <string>Reph.kn</string>
    <string>Avagraha</string>
    <string>Halant.kn</string>
    <string>matraAa.kn</string>
    <string>matraI.kn</string>
    <string>matraIi.kn</string>
    <string>matraU.kn</string>
    <string>matraUu.kn</string>
    <string>matraRu.kn</string>
    <string>matraRu2.kn</string>
    <string>matraRuu.kn</string>
    <string>matraRuu2.kn</string>
    <string>matraLru.kn</string>
    <string>matraLruu.kn</string>
    <string>matraE.kn</string>
    <string>Lengthmark.kn</string>
    <string>matraEe.kn</string>
    <string>matraAi.kn</string>
    <string>matraO.kn</string>
    <string>matraOo.kn</string>
    <string>matraAu.kn</string>
    <string>matraAiLengthmark.kn</string>
    <string>matraAiLengthmark2.kn</string>
    <string>KaHalant.kn</string>
    <string>KhaHalant.kn</string>
    <string>GaHalant.kn</string>
    <string>GhaHalant.kn</string>
    <string>NgaHalant.kn</string>
    <string>CaHalant.kn</string>
    <string>ChaHalant.kn</string>
    <string>JaHalant.kn</string>
    <string>JhaHalant.kn</string>
    <string>NyaHalant.kn</string>
    <string>TtaHalant.kn</string>
    <string>TthaHalant.kn</string>
    <string>DdaHalant.kn</string>
    <string>DdhaHalant.kn</string>
    <string>NnaHalant.kn</string>
    <string>TaHalant.kn</string>
    <string>ThaHalant.kn</string>
    <string>DaHalant.kn</string>
    <string>DhaHalant.kn</string>
    <string>NaHalant.kn</string>
    <string>PaHalant.kn</string>
    <string>PhaHalant.kn</string>
    <string>BaHalant.kn</string>
    <string>BhaHalant.kn</string>
    <string>MaHalant.kn</string>
    <string>YaHalant.kn</string>
    <string>RaHalant.kn</string>
    <string>LaHalant.kn</string>
    <string>VaHalant.kn</string>
    <string>ShaHalant.kn</string>
    <string>SsaHalant.kn</string>
    <string>SaHalant.kn</string>
    <string>HaHalant.kn</string>
    <string>LlaHalant.kn</string>
    <string>KaSsaHalant.kn</string>
    <string>JaNyaHalant.kn</string>
    <string>RraObsoleteHalant.kn</string>
    <string>LllaObsoleteHalant.kn</string>
    <string>KamatraAa.kn</string>
    <string>KhamatraAa.kn</string>
    <string>GamatraAa.kn</string>
    <string>GhamatraAa.kn</string>
    <string>NgamatraAa.kn</string>
    <string>CamatraAa.kn</string>
    <string>ChamatraAa.kn</string>
    <string>JamatraAa.kn</string>
    <string>JhamatraAa.kn</string>
    <string>NyamatraAa.kn</string>
    <string>TtamatraAa.kn</string>
    <string>TthamatraAa.kn</string>
    <string>DdamatraAa.kn</string>
    <string>DdhamatraAa.kn</string>
    <string>NnamatraAa.kn</string>
    <string>TamatraAa.kn</string>
    <string>ThamatraAa.kn</string>
    <string>DamatraAa.kn</string>
    <string>DhamatraAa.kn</string>
    <string>NamatraAa.kn</string>
    <string>PamatraAa.kn</string>
    <string>PhamatraAa.kn</string>
    <string>BamatraAa.kn</string>
    <string>BhamatraAa.kn</string>
    <string>MamatraAa.kn</string>
    <string>YamatraAa.kn</string>
    <string>RamatraAa.kn</string>
    <string>LamatraAa.kn</string>
    <string>VamatraAa.kn</string>
    <string>ShamatraAa.kn</string>
    <string>SsamatraAa.kn</string>
    <string>SamatraAa.kn</string>
    <string>HamatraAa.kn</string>
    <string>LlamatraAa.kn</string>
    <string>KaSsamatraAa.kn</string>
    <string>JaNyamatraAa.kn</string>
    <string>RraObsoletematraAa.kn</string>
    <string>LllaObsoletematraAa.kn</string>
    <string>KamatraI.kn</string>
    <string>KhamatraI.kn</string>
    <string>GamatraI.kn</string>
    <string>GhamatraI.kn</string>
    <string>NgamatraI.kn</string>
    <string>CamatraI.kn</string>
    <string>ChamatraI.kn</string>
    <string>JamatraI.kn</string>
    <string>JhamatraI.kn</string>
    <string>NyamatraI.kn</string>
    <string>TtamatraI.kn</string>
    <string>TthamatraI.kn</string>
    <string>DdamatraI.kn</string>
    <string>DdhamatraI.kn</string>
    <string>NnamatraI.kn</string>
    <string>TamatraI.kn</string>
    <string>ThamatraI.kn</string>
    <string>DamatraI.kn</string>
    <string>DhamatraI.kn</string>
    <string>NamatraI.kn</string>
    <string>PamatraI.kn</string>
    <string>PhamatraI.kn</string>
    <string>BamatraI.kn</string>
    <string>BhamatraI.kn</string>
    <string>MamatraI.kn</string>
    <string>YamatraI.kn</string>
    <string>RamatraI.kn</string>
    <string>LamatraI.kn</string>
    <string>VamatraI.kn</string>
    <string>ShamatraI.kn</string>
    <string>SsamatraI.kn</string>
    <string>SamatraI.kn</string>
    <string>HamatraI.kn</string>
    <string>LlamatraI.kn</string>
    <string>KaSsamatraI.kn</string>
    <string>JaNyamatraI.kn</string>
    <string>RraObsoletematraI.kn</string>
    <string>LllaObsoletematraI.kn</string>
    <string>KamatraU.kn</string>
    <string>KhamatraU.kn</string>
    <string>GamatraU.kn</string>
    <string>GhamatraU.kn</string>
    <string>NgamatraU.kn</string>
    <string>CamatraU.kn</string>
    <string>ChamatraU.kn</string>
    <string>JamatraU.kn</string>
    <string>JhamatraU.kn</string>
    <string>NyamatraU.kn</string>
    <string>TtamatraU.kn</string>
    <string>TthamatraU.kn</string>
    <string>DdamatraU.kn</string>
    <string>DdhamatraU.kn</string>
    <string>NnamatraU.kn</string>
    <string>TamatraU.kn</string>
    <string>ThamatraU.kn</string>
    <string>DamatraU.kn</string>
    <string>DhamatraU.kn</string>
    <string>NamatraU.kn</string>
    <string>PamatraU.kn</string>
    <string>PhamatraU.kn</string>
    <string>BamatraU.kn</string>
    <string>BhamatraU.kn</string>
    <string>MamatraU.kn</string>
    <string>YamatraU.kn</string>
    <string>RamatraU.kn</string>
    <string>LamatraU.kn</string>
    <string>VamatraU.kn</string>
    <string>ShamatraU.kn</string>
    <string>SsamatraU.kn</string>
    <string>SamatraU.kn</string>
    <string>HamatraU.kn</string>
    <string>LlamatraU.kn</string>
    <string>KaSsamatraU.kn</string>
    <string>JaNyamatraU.kn</string>
    <string>RraObsoletematraU.kn</string>
    <string>LllaObsoletematraU.kn</string>
    <string>KamatraUu.kn</string>
    <string>KhamatraUu.kn</string>
    <string>GamatraUu.kn</string>
    <string>GhamatraUu.kn</string>
    <string>NgamatraUu.kn</string>
    <string>CamatraUu.kn</string>
    <string>ChamatraUu.kn</string>
    <string>JamatraUu.kn</string>
    <string>JhamatraUu.kn</string>
    <string>NyamatraUu.kn</string>
    <string>TtamatraUu.kn</string>
    <string>TthamatraUu.kn</string>
    <string>DdamatraUu.kn</string>
    <string>DdhamatraUu.kn</string>
    <string>NnamatraUu.kn</string>
    <string>TamatraUu.kn</string>
    <string>ThamatraUu.kn</string>
    <string>DamatraUu.kn</string>
    <string>DhamatraUu.kn</string>
    <string>NamatraUu.kn</string>
    <string>PamatraUu.kn</string>
    <string>PhamatraUu.kn</string>
    <string>BamatraUu.kn</string>
    <string>BhamatraUu.kn</string>
    <string>MamatraUu.kn</string>
    <string>YamatraUu.kn</string>
    <string>RamatraUu.kn</string>
    <string>LamatraUu.kn</string>
    <string>VamatraUu.kn</string>
    <string>ShamatraUu.kn</string>
    <string>SsamatraUu.kn</string>
    <string>SamatraUu.kn</string>
    <string>HamatraUu.kn</string>
    <string>LlamatraUu.kn</string>
    <string>KaSsamatraUu.kn</string>
    <string>JaNyamatraUu.kn</string>
    <string>RraObsoletematraUu.kn</string>
    <string>LllaObsoletematraUu.kn</string>
    <string>KamatraE.kn</string>
    <string>KhamatraE.kn</string>
    <string>GamatraE.kn</string>
    <string>GhamatraE.kn</string>
    <string>NgamatraE.kn</string>
    <string>CamatraE.kn</string>
    <string>ChamatraE.kn</string>
    <string>JamatraE.kn</string>
    <string>JhamatraE.kn</string>
    <string>NyamatraE.kn</string>
    <string>TtamatraE.kn</string>
    <string>TthamatraE.kn</string>
    <string>DdamatraE.kn</string>
    <string>DdhamatraE.kn</string>
    <string>NnamatraE.kn</string>
    <string>TamatraE.kn</string>
    <string>ThamatraE.kn</string>
    <string>DamatraE.kn</string>
    <string>DhamatraE.kn</string>
    <string>NamatraE.kn</string>
    <string>PamatraE.kn</string>
    <string>PhamatraE.kn</string>
    <string>BamatraE.kn</string>
    <string>BhamatraE.kn</string>
    <string>MamatraE.kn</string>
    <string>YamatraE.kn</string>
    <string>RamatraE.kn</string>
    <string>LamatraE.kn</string>
    <string>VamatraE.kn</string>
    <string>ShamatraE.kn</string>
    <string>SsamatraE.kn</string>
    <string>SamatraE.kn</string>
    <string>HamatraE.kn</string>
    <string>LlamatraE.kn</string>
    <string>KaSsamatraE.kn</string>
    <string>JaNyamatraE.kn</string>
    <string>RraObsoletematraE.kn</string>
    <string>LllaObsoletematraE.kn</string>
    <string>KamatraO.kn</string>
    <string>KhamatraO.kn</string>
    <string>GamatraO.kn</string>
    <string>GhamatraO.kn</string>
    <string>NgamatraO.kn</string>
    <string>CamatraO.kn</string>
    <string>ChamatraO.kn</string>
    <string>JamatraO.kn</string>
    <string>JhamatraO.kn</string>
    <string>NyamatraO.kn</string>
    <string>TtamatraO.kn</string>
    <string>TthamatraO.kn</string>
    <string>DdamatraO.kn</string>
    <string>DdhamatraO.kn</string>
    <string>NnamatraO.kn</string>
    <string>TamatraO.kn</string>
    <string>ThamatraO.kn</string>
    <string>DamatraO.kn</string>
    <string>DhamatraO.kn</string>
    <string>NamatraO.kn</string>
    <string>PamatraO.kn</string>
    <string>PhamatraO.kn</string>
    <string>BamatraO.kn</string>
    <string>BhamatraO.kn</string>
    <string>MamatraO.kn</string>
    <string>YamatraO.kn</string>
    <string>RamatraO.kn</string>
    <string>LamatraO.kn</string>
    <string>VamatraO.kn</string>
    <string>ShamatraO.kn</string>
    <string>SsamatraO.kn</string>
    <string>SamatraO.kn</string>
    <string>HamatraO.kn</string>
    <string>LlamatraO.kn</string>
    <string>KaSsamatraO.kn</string>
    <string>JaNyamatraO.kn</string>
    <string>RraObsoletematraO.kn</string>
    <string>LllaObsoletematraO.kn</string>
    <string>KamatraAu.kn</string>
    <string>KhamatraAu.kn</string>
    <string>GamatraAu.kn</string>
    <string>GhamatraAu.kn</string>
    <string>NgamatraAu.kn</string>
    <string>CamatraAu.kn</string>
    <string>ChamatraAu.kn</string>
    <string>JamatraAu.kn</string>
    <string>JhamatraAu.kn</string>
    <string>NyamatraAu.kn</string>
    <string>TtamatraAu.kn</string>
    <string>TthamatraAu.kn</string>
    <string>DdamatraAu.kn</string>
    <string>DdhamatraAu.kn</string>
    <string>NnamatraAu.kn</string>
    <string>TamatraAu.kn</string>
    <string>ThamatraAu.kn</string>
    <string>DamatraAu.kn</string>
    <string>DhamatraAu.kn</string>
    <string>NamatraAu.kn</string>
    <string>PamatraAu.kn</string>
    <string>PhamatraAu.kn</string>
    <string>BamatraAu.kn</string>
    <string>BhamatraAu.kn</string>
    <string>MamatraAu.kn</string>
    <string>YamatraAu.kn</string>
    <string>RamatraAu.kn</string>
    <string>LamatraAu.kn</string>
    <string>VamatraAu.kn</string>
    <string>ShamatraAu.kn</string>
    <string>SsamatraAu.kn</string>
    <string>SamatraAu.kn</string>
    <string>HamatraAu.kn</string>
    <string>LlamatraAu.kn</string>
    <string>KaSsamatraAu.kn</string>
    <string>JaNyamatraAu.kn</string>
    <string>RraObsoletematraAu.kn</string>
    <string>LllaObsoletematraAu.kn</string>
    <string>Kasmall1.kn</string>
    <string>Khasmall1.kn</string>
    <string>Gasmall1.kn</string>
    <string>Ghasmall1.kn</string>
    <string>Ngasmall1.kn</string>
    <string>Casmall1.kn</string>
    <string>Chasmall1.kn</string>
    <string>Jasmall1.kn</string>
    <string>Jhasmall1.kn</string>
    <string>Nyasmall1.kn</string>
    <string>Ttasmall1.kn</string>
    <string>Tthasmall1.kn</string>
    <string>Ddasmall1.kn</string>
    <string>Ddhasmall1.kn</string>
    <string>Nnasmall1.kn</string>
    <string>Tasmall1.kn</string>
    <string>Thasmall1.kn</string>
    <string>Dasmall1.kn</string>
    <string>Dhasmall1.kn</string>
    <string>Nasmall1.kn</string>
    <string>Pasmall1.kn</string>
    <string>Phasmall1.kn</string>
    <string>Basmall1.kn</string>
    <string>Bhasmall1.kn</string>
    <string>Masmall1.kn</string>
    <string>Yasmall1.kn</string>
    <string>Rasmall1.kn</string>
    <string>Rasmall1.kn.alt1</string>
    <string>Lasmall1.kn</string>
    <string>Lasmall1.kn.1</string>
    <string>Vasmall1.kn</string>
    <string>Shasmall1.kn</string>
    <string>Ssasmall1.kn</string>
    <string>Sasmall1.kn</string>
    <string>Hasmall1.kn</string>
    <string>Llasmall1.kn</string>
    <string>KaSsasmall.kn</string>
    <string>RraObsoletesmall1.kn</string>
    <string>LllaObsoletesmall1.kn</string>
    <string>Kasmall2.kn</string>
    <string>Khasmall2.kn</string>
    <string>Gasmall2.kn</string>
    <string>Ghasmall2.kn</string>
    <string>Ngasmall2.kn</string>
    <string>Casmall2.kn</string>
    <string>Chasmall2.kn</string>
    <string>Jasmall2.kn</string>
    <string>Jhasmall2.kn</string>
    <string>Nyasmall2.kn</string>
    <string>Ttasmall2.kn</string>
    <string>Tthasmall2.kn</string>
    <string>Ddasmall2.kn</string>
    <string>Ddhasmall2.kn</string>
    <string>Nnasmall2.kn</string>
    <string>Tasmall2.kn</string>
    <string>Thasmall2.kn</string>
    <string>Dasmall2.kn</string>
    <string>Dhasmall2.kn</string>
    <string>Nasmall2.kn</string>
    <string>Pasmall2.kn</string>
    <string>Phasmall2.kn</string>
    <string>Basmall2.kn</string>
    <string>Bhasmall2.kn</string>
    <string>Masmall2.kn</string>
    <string>Yasmall2.kn</string>
    <string>Rasmall2.kn</string>
    <string>Rasmall2.kn.alt1</string>
    <string>Rasmall3.kn</string>
    <string>Rasmall4.kn</string>
    <string>Rasmall5.kn</string>
    <string>Lasmall2.kn</string>
    <string>Vasmall2.kn</string>
    <string>Shasmall2.kn</string>
    <string>Ssasmall2.kn</string>
    <string>Sasmall2.kn</string>
    <string>Hasmall2.kn</string>
    <string>Llasmall2.kn</string>
    <string>RraObsoletesmall2.kn</string>
    <string>LllaObsoletesmall2.kn</string>
    <string>Nukta2.kn</string>
    <string>RaYasmall.kn</string>
    <string>RaYasmall.kn.alt1</string>
    <string>KaRasmall.kn</string>
    <string>GaRasmall.kn</string>
    <string>TtaRasmall.kn</string>
    <string>DdaRasmall.kn</string>
    <string>DdhaRasmall.kn</string>
    <string>TaRasmall.kn</string>
    <string>DaRasmall.kn</string>
    <string>PaRasmall.kn</string>
    <string>PhaRasmall.kn</string>
    <string>BaRasmall.kn</string>
    <string>BhaRasmall.kn</string>
    <string>MaYasmall.kn</string>
    <string>TaYasmall.kn</string>
    <string>KaSsaRasmall.kn</string>
    <string>JaNuktasmall1.kn</string>
    <string>PhaNuktasmall1.kn</string>
    <string>PhaNuktamatraU.kn</string>
    <string>PhaNuktamatraUu.kn</string>
    <string>PhaNuktamatraO.kn</string>
    <string>PaUpadhmaniya.kn</string>
    <string>PhaUpadhmaniya.kn</string>
    <string>Ssa.kn.1</string>
    <string>SsamatraI.kn.1</string>
    <string>SsamatraE.kn.1</string>
    <string>matraI.kn.1</string>
    <string>KhamatraI.kn.1</string>
    <string>ChamatraI.kn.1</string>
    <string>BamatraI.kn.1</string>
    <string>BhamatraI.kn.1</string>
    <string>YamatraI.kn.1</string>
    <string>LamatraI.kn.1</string>
    <string>Danda.dv</string>
    <string>Doubledanda.dv</string>
    <string>exclam</string>
    <string>quotedbl</string>
    <string>numbersign</string>
    <string>percent</string>
    <string>ampersand</string>
    <string>quotesingle</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>asterisk</string>
    <string>plus</string>
    <string>comma</string>
    <string>hyphen</string>
    <string>period</string>
    <string>slash</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>less</string>
    <string>equal</string>
    <string>greater</string>
    <string>question</string>
    <string>at</string>
    <string>bracketleft</string>
    <string>backslash</string>
    <string>bracketright</string>
    <string>asciicircum</string>
    <string>underscore</string>
    <string>braceleft</string>
    <string>bar</string>
    <string>braceright</string>
    <string>asciitilde</string>
    <string>ellipsis</string>
    <string>endash</string>
    <string>emdash</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>divide</string>
    <string>minus</string>
    <string>multiply</string>
    <string>dollar</string>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>grave</string>
    <string>a</string>
    <string>b</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>u</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>quotesinglbase</string>
    <string>quotedblbase</string>
    <string>circumflex</string>
    <string>guilsinglleft</string>
    <string>OE</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>bullet</string>
    <string>tilde</string>
    <string>guilsinglright</string>
    <string>oe</string>
    <string>exclamdown</string>
    <string>cent</string>
    <string>sterling</string>
    <string>currency</string>
    <string>yen</string>
    <string>brokenbar</string>
    <string>section</string>
    <string>dieresis</string>
    <string>copyright</string>
    <string>ordfeminine</string>
    <string>registered</string>
    <string>degree</string>
    <string>plusminus</string>
    <string>acute</string>
    <string>paragraph</string>
    <string>cedilla</string>
    <string>ordmasculine</string>
    <string>questiondown</string>
    <string>Agrave</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Atilde</string>
    <string>Aring</string>
    <string>Adieresis</string>
    <string>AE</string>
    <string>Ccedilla</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Igrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Eth</string>
    <string>Ntilde</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Otilde</string>
    <string>Odieresis</string>
    <string>Oslash</string>
    <string>Ugrave</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Yacute</string>
    <string>Thorn</string>
    <string>germandbls</string>
    <string>agrave</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>atilde</string>
    <string>adieresis</string>
    <string>aring</string>
    <string>ae</string>
    <string>ccedilla</string>
    <string>egrave</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>igrave</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>eth</string>
    <string>ntilde</string>
    <string>ograve</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>otilde</string>
    <string>odieresis</string>
    <string>oslash</string>
    <string>ugrave</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>yacute</string>
    <string>thorn</string>
    <string>ydieresis</string>
    <string>logicalnot</string>
    <string>macron</string>
    <string>ring</string>
    <string>periodcentered</string>
    <string>fi</string>
    <string>fl</string>
    <string>fraction</string>
    <string>onesuperior</string>
    <string>twosuperior</string>
    <string>threesuperior</string>
    <string>onequarter</string>
    <string>onehalf</string>
    <string>threequarters</string>
    <string>r_t</string>
    <string>Germandbls</string>
    <string>idotless</string>
    <string>f_f</string>
    <string>f_f_i</string>
    <string>f_f_l</string>
    <string>zero.zero</string>
    <string>zero.tf</string>
    <string>one.tf</string>
    <string>two.tf</string>
    <string>three.tf</string>
    <string>four.tf</string>
    <string>five.tf</string>
    <string>six.tf</string>
    <string>seven.tf</string>
    <string>eight.tf</string>
    <string>nine.tf</string>
    <string>zero.tf.zero</string>
    <string>zeroinferior</string>
    <string>oneinferior</string>
    <string>twoinferior</string>
    <string>threeinferior</string>
    <string>fourinferior</string>
    <string>fiveinferior</string>
    <string>sixinferior</string>
    <string>seveninferior</string>
    <string>eightinferior</string>
    <string>nineinferior</string>
    <string>zero.subs</string>
    <string>one.subs</string>
    <string>two.subs</string>
    <string>three.subs</string>
    <string>four.subs</string>
    <string>five.subs</string>
    <string>six.subs</string>
    <string>seven.subs</string>
    <string>eight.subs</string>
    <string>nine.subs</string>
    <string>zero.dnom</string>
    <string>one.dnom</string>
    <string>two.dnom</string>
    <string>three.dnom</string>
    <string>four.dnom</string>
    <string>five.dnom</string>
    <string>six.dnom</string>
    <string>seven.dnom</string>
    <string>eight.dnom</string>
    <string>nine.dnom</string>
    <string>zero.numr</string>
    <string>one.numr</string>
    <string>two.numr</string>
    <string>three.numr</string>
    <string>four.numr</string>
    <string>five.numr</string>
    <string>six.numr</string>
    <string>seven.numr</string>
    <string>eight.numr</string>
    <string>nine.numr</string>
    <string>zerosuperior</string>
    <string>foursuperior</string>
    <string>fivesuperior</string>
    <string>sixsuperior</string>
    <string>sevensuperior</string>
    <string>eightsuperior</string>
    <string>ninesuperior</string>
    <string>softhyphen</string>
    <string>guillemetleft</string>
    <string>guillemetright</string>
    <string>question_alt</string>
    <string>figurespace</string>
    <string>hairspace</string>
    <string>punctuationspace</string>
    <string>nbspace</string>
    <string>thinspace</string>
    <string>zerowidthspace</string>
    <string>euro</string>
    <string>rupeeIndian</string>
    <string>bulletoperator</string>
    <string>divisionslash</string>
    <string>micro</string>
    <string>dieresiscomb</string>
    <string>dotaccentcomb</string>
    <string>gravecomb</string>
    <string>acutecomb</string>
    <string>circumflexcomb</string>
    <string>ringcomb</string>
    <string>tildecomb</string>
    <string>macroncomb</string>
    <string>cedillacomb</string>
    <string>dieresiscomb.case</string>
    <string>gravecomb.case</string>
    <string>acutecomb.case</string>
    <string>circumflexcomb.case</string>
    <string>ringcomb.case</string>
    <string>tildecomb.case</string>
    <string>macroncomb.case</string>
    <string>cedillacomb.case</string>
    <string>dieresiscomb.narrow</string>
    <string>gravecomb.narrow</string>
    <string>acutecomb.narrow</string>
    <string>circumflexcomb.narrow</string>
    <string>tildecomb.narrow</string>
    <string>macroncomb.narrow</string>
    <string>jbottom</string>
    <string>uni25CC</string>
    <string>dummy</string>
    <string>ZWNJ</string>
    <string>ZWJ</string>
    <string>Ek</string>
  </array>
</dict>
</plist>
