<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>3091</string>
    <key>com.schriftgestaltung.customName</key>
    <string>Extra</string>
    <key>com.schriftgestaltung.customParameter.GSFont.Axes</key>
    <array>
      <dict>
        <key>Name</key>
        <string>Weight</string>
        <key>Tag</key>
        <string>wght</string>
      </dict>
      <dict>
        <key>Name</key>
        <string>Width</string>
        <key>Tag</key>
        <string>wdth</string>
      </dict>
    </array>
    <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
    <array>
      <string>/LaHalf.gj/Ja.gj/LaHalf_alt.gj/Ja.gj/space/LaHalf.gj/JaMatraAa.gj/LaHalf_alt.gj/JaMatraAa.gj</string>
      <string>/BaHalf_alt.gj/Ja.gj</string>
    </array>
    <key>com.schriftgestaltung.customParameter.GSFont.Enforce Compatibility Check</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFont.Use Extension Kerning</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.Use Line Breaks</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFont.Variable Font Origin</key>
    <string>BCF30463-EEB5-4FEF-B294-76626E0AFEA9</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>800</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>5</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Bold</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>800</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>NULL</string>
      <string>CR</string>
      <string>space</string>
      <string>exclam</string>
      <string>quotedbl</string>
      <string>numbersign</string>
      <string>percent</string>
      <string>ampersand</string>
      <string>quotesingle</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>asterisk</string>
      <string>plus</string>
      <string>comma</string>
      <string>hyphen</string>
      <string>period</string>
      <string>slash</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>less</string>
      <string>equal</string>
      <string>greater</string>
      <string>question</string>
      <string>at</string>
      <string>bracketleft</string>
      <string>backslash</string>
      <string>bracketright</string>
      <string>asciicircum</string>
      <string>underscore</string>
      <string>braceleft</string>
      <string>bar</string>
      <string>braceright</string>
      <string>asciitilde</string>
      <string>ellipsis</string>
      <string>endash</string>
      <string>emdash</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>divide</string>
      <string>minus</string>
      <string>multiply</string>
      <string>dollar</string>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>grave</string>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
      <string>circumflex</string>
      <string>guilsinglleft</string>
      <string>OE</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>bullet</string>
      <string>tilde</string>
      <string>guilsinglright</string>
      <string>oe</string>
      <string>exclamdown</string>
      <string>cent</string>
      <string>sterling</string>
      <string>currency</string>
      <string>yen</string>
      <string>brokenbar</string>
      <string>section</string>
      <string>dieresis</string>
      <string>copyright</string>
      <string>ordfeminine</string>
      <string>registered</string>
      <string>degree</string>
      <string>plusminus</string>
      <string>acute</string>
      <string>paragraph</string>
      <string>cedilla</string>
      <string>ordmasculine</string>
      <string>questiondown</string>
      <string>Agrave</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Atilde</string>
      <string>Aring</string>
      <string>Adieresis</string>
      <string>AE</string>
      <string>Ccedilla</string>
      <string>Egrave</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Igrave</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Eth</string>
      <string>Ntilde</string>
      <string>Ograve</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Otilde</string>
      <string>Odieresis</string>
      <string>Oslash</string>
      <string>Ugrave</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Yacute</string>
      <string>Thorn</string>
      <string>germandbls</string>
      <string>agrave</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>atilde</string>
      <string>adieresis</string>
      <string>aring</string>
      <string>ae</string>
      <string>ccedilla</string>
      <string>egrave</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>igrave</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>eth</string>
      <string>ntilde</string>
      <string>ograve</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>otilde</string>
      <string>odieresis</string>
      <string>oslash</string>
      <string>ugrave</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>yacute</string>
      <string>thorn</string>
      <string>ydieresis</string>
      <string>logicalnot</string>
      <string>macron</string>
      <string>ring</string>
      <string>periodcentered</string>
      <string>fi</string>
      <string>fl</string>
      <string>fraction</string>
      <string>onesuperior</string>
      <string>twosuperior</string>
      <string>threesuperior</string>
      <string>onequarter</string>
      <string>onehalf</string>
      <string>threequarters</string>
      <string>r_t</string>
      <string>Germandbls</string>
      <string>idotless</string>
      <string>f_f</string>
      <string>f_f_i</string>
      <string>f_f_l</string>
      <string>zero.zero</string>
      <string>zero.tf</string>
      <string>one.tf</string>
      <string>two.tf</string>
      <string>three.tf</string>
      <string>four.tf</string>
      <string>five.tf</string>
      <string>six.tf</string>
      <string>seven.tf</string>
      <string>eight.tf</string>
      <string>nine.tf</string>
      <string>zero.tf.zero</string>
      <string>zero.subs</string>
      <string>one.subs</string>
      <string>two.subs</string>
      <string>three.subs</string>
      <string>four.subs</string>
      <string>five.subs</string>
      <string>six.subs</string>
      <string>seven.subs</string>
      <string>eight.subs</string>
      <string>nine.subs</string>
      <string>zero.dnom</string>
      <string>one.dnom</string>
      <string>two.dnom</string>
      <string>three.dnom</string>
      <string>four.dnom</string>
      <string>five.dnom</string>
      <string>six.dnom</string>
      <string>seven.dnom</string>
      <string>eight.dnom</string>
      <string>nine.dnom</string>
      <string>zeroinferior</string>
      <string>oneinferior</string>
      <string>twoinferior</string>
      <string>threeinferior</string>
      <string>fourinferior</string>
      <string>fiveinferior</string>
      <string>sixinferior</string>
      <string>seveninferior</string>
      <string>eightinferior</string>
      <string>nineinferior</string>
      <string>zero.numr</string>
      <string>one.numr</string>
      <string>two.numr</string>
      <string>three.numr</string>
      <string>four.numr</string>
      <string>five.numr</string>
      <string>six.numr</string>
      <string>seven.numr</string>
      <string>eight.numr</string>
      <string>nine.numr</string>
      <string>zerosuperior</string>
      <string>foursuperior</string>
      <string>fivesuperior</string>
      <string>sixsuperior</string>
      <string>sevensuperior</string>
      <string>eightsuperior</string>
      <string>ninesuperior</string>
      <string>figurespace</string>
      <string>hairspace</string>
      <string>punctuationspace</string>
      <string>nbspace</string>
      <string>thinspace</string>
      <string>zerowidthspace</string>
      <string>question_alt</string>
      <string>softhyphen</string>
      <string>guillemetleft</string>
      <string>guillemetright</string>
      <string>euro</string>
      <string>rupeeIndian</string>
      <string>bulletoperator</string>
      <string>divisionslash</string>
      <string>micro</string>
      <string>dieresiscomb</string>
      <string>dotaccentcomb</string>
      <string>gravecomb</string>
      <string>acutecomb</string>
      <string>circumflexcomb</string>
      <string>ringcomb</string>
      <string>tildecomb</string>
      <string>macroncomb</string>
      <string>cedillacomb</string>
      <string>dieresiscomb.case</string>
      <string>gravecomb.case</string>
      <string>acutecomb.case</string>
      <string>circumflexcomb.case</string>
      <string>ringcomb.case</string>
      <string>tildecomb.case</string>
      <string>macroncomb.case</string>
      <string>cedillacomb.case</string>
      <string>dieresiscomb.narrow</string>
      <string>gravecomb.narrow</string>
      <string>acutecomb.narrow</string>
      <string>circumflexcomb.narrow</string>
      <string>tildecomb.narrow</string>
      <string>macroncomb.narrow</string>
      <string>Chandrabindu.gj</string>
      <string>Bindu.gj</string>
      <string>Visarga.gj</string>
      <string>VowelA.gj</string>
      <string>VowelAa.gj</string>
      <string>VowelI.gj</string>
      <string>VowelIi.gj</string>
      <string>VowelU.gj</string>
      <string>VowelUu.gj</string>
      <string>VowelRu.gj</string>
      <string>VowelLru.gj</string>
      <string>VowelChadraE.gj</string>
      <string>VowelE.gj</string>
      <string>VowelAi.gj</string>
      <string>VowelChandraO.gj</string>
      <string>VowelO.gj</string>
      <string>VowelAu.gj</string>
      <string>Ka.gj</string>
      <string>Kha.gj</string>
      <string>Ga.gj</string>
      <string>Gha.gj</string>
      <string>Nga.gj</string>
      <string>Ca.gj</string>
      <string>Cha.gj</string>
      <string>Ja.gj</string>
      <string>Jha.gj</string>
      <string>Nya.gj</string>
      <string>Tta.gj</string>
      <string>Ttha.gj</string>
      <string>Dda.gj</string>
      <string>Ddha.gj</string>
      <string>Nna.gj</string>
      <string>Ta.gj</string>
      <string>Tha.gj</string>
      <string>Da.gj</string>
      <string>Dha.gj</string>
      <string>Na.gj</string>
      <string>Pa.gj</string>
      <string>Pha.gj</string>
      <string>Ba.gj</string>
      <string>Bha.gj</string>
      <string>Ma.gj</string>
      <string>Ya.gj</string>
      <string>Ra.gj</string>
      <string>La.gj</string>
      <string>Lla.gj</string>
      <string>Va.gj</string>
      <string>Sha.gj</string>
      <string>Ssa.gj</string>
      <string>Sa.gj</string>
      <string>Ha.gj</string>
      <string>Nukta.gj</string>
      <string>Avagraha.gj</string>
      <string>MatraA.gj</string>
      <string>MatraI.gj</string>
      <string>MatraIi.gj</string>
      <string>MatraU.gj</string>
      <string>MatraUu.gj</string>
      <string>MatraRu.gj</string>
      <string>MatraRuu.gj</string>
      <string>MatraChandraE.gj</string>
      <string>MatraE.gj</string>
      <string>MatraAi.gj</string>
      <string>MatraChandraO.gj</string>
      <string>MatraO.gj</string>
      <string>MatraAu.gj</string>
      <string>Halant.gj</string>
      <string>Om.gj</string>
      <string>VowelRuu.gj</string>
      <string>VowelLruu.gj</string>
      <string>MatraLru.gj</string>
      <string>MatraLruu.gj</string>
      <string>Zero.gj</string>
      <string>One.gj</string>
      <string>Two.gj</string>
      <string>Three.gj</string>
      <string>Four.gj</string>
      <string>Five.gj</string>
      <string>Six.gj</string>
      <string>Seven.gj</string>
      <string>Eight.gj</string>
      <string>Nine.gj</string>
      <string>AbbreviationSign.gj</string>
      <string>RupeeSign.gj</string>
      <string>Zha.gj</string>
      <string>KaHalf.gj</string>
      <string>KhaHalf.gj</string>
      <string>KhaHalf_alt.gj</string>
      <string>GaHalf.gj</string>
      <string>GhaHalf.gj</string>
      <string>CaHalf.gj</string>
      <string>JaHalf.gj</string>
      <string>NyaHalf.gj</string>
      <string>NnaHalf.gj</string>
      <string>TaHalf.gj</string>
      <string>ThaHalf.gj</string>
      <string>DhaHalf.gj</string>
      <string>NaHalf.gj</string>
      <string>PaHalf.gj</string>
      <string>PhaHalf.gj</string>
      <string>BaHalf.gj</string>
      <string>BaHalf_alt.gj</string>
      <string>BhaHalf.gj</string>
      <string>MaHalf.gj</string>
      <string>YaHalf.gj</string>
      <string>LaHalf.gj</string>
      <string>LaHalf_alt.gj</string>
      <string>LaHalf_alt2.gj</string>
      <string>VaHalf.gj</string>
      <string>VaHalf_alt.gj</string>
      <string>ShaHalf.gj</string>
      <string>SsaHalf.gj</string>
      <string>SaHalf.gj</string>
      <string>SaHalf_alt.gj</string>
      <string>LlaHalf.gj</string>
      <string>KaSsaHalf.gj</string>
      <string>JaNyaHalf.gj</string>
      <string>KaRa.gj</string>
      <string>KhaRa.gj</string>
      <string>GaRa.gj</string>
      <string>GhaRa.gj</string>
      <string>CaRa.gj</string>
      <string>JhaRa.gj</string>
      <string>NyaRa.gj</string>
      <string>NnaRa.gj</string>
      <string>TaRa.gj</string>
      <string>ThaRa.gj</string>
      <string>DaRa.gj</string>
      <string>DhaRa.gj</string>
      <string>NaRa.gj</string>
      <string>PaRa.gj</string>
      <string>PhaRa.gj</string>
      <string>BaRa.gj</string>
      <string>BhaRa.gj</string>
      <string>MaRa.gj</string>
      <string>YaRa.gj</string>
      <string>LaRa.gj</string>
      <string>LlaRa.gj</string>
      <string>VaRa.gj</string>
      <string>ShaRa.gj</string>
      <string>SsaRa.gj</string>
      <string>SaRa.gj</string>
      <string>HaRa.gj</string>
      <string>KaKa.gj</string>
      <string>KaKha.gj</string>
      <string>KaCa.gj</string>
      <string>KaCha.gj</string>
      <string>KaJha.gj</string>
      <string>KaTta.gj</string>
      <string>KaTtha.gj</string>
      <string>KaDda.gj</string>
      <string>KaNna.gj</string>
      <string>KaTa.gj</string>
      <string>KaTha.gj</string>
      <string>KaDa.gj</string>
      <string>KaNa.gj</string>
      <string>KaPa.gj</string>
      <string>KaPha.gj</string>
      <string>KaMa.gj</string>
      <string>KaYa.gj</string>
      <string>KaLa.gj</string>
      <string>KaVa.gj</string>
      <string>KaSha.gj</string>
      <string>KaSsa.gj</string>
      <string>KaSa.gj</string>
      <string>KhaKha.gj</string>
      <string>KhaJha.gj</string>
      <string>KhaTa.gj</string>
      <string>KhaNa.gj</string>
      <string>KhaMa.gj</string>
      <string>KhaYa.gj</string>
      <string>KhaVa.gj</string>
      <string>KhaSha.gj</string>
      <string>KhaSa.gj</string>
      <string>GaGa.gj</string>
      <string>GaGha.gj</string>
      <string>GaJha.gj</string>
      <string>GaDda.gj</string>
      <string>GaNna.gj</string>
      <string>GaDa.gj</string>
      <string>GaDha.gj</string>
      <string>GaNa.gj</string>
      <string>GaBa.gj</string>
      <string>GaBha.gj</string>
      <string>GaMa.gj</string>
      <string>GaYa.gj</string>
      <string>GaLa.gj</string>
      <string>GaVa.gj</string>
      <string>GaSa.gj</string>
      <string>GhaGha.gj</string>
      <string>GhaNa.gj</string>
      <string>GhaMa.gj</string>
      <string>GhaYa.gj</string>
      <string>GhaVa.gj</string>
      <string>NgaKa.gj</string>
      <string>NgaGa.gj</string>
      <string>NgaMa.gj</string>
      <string>NgaYa.gj</string>
      <string>CaCa.gj</string>
      <string>CaCha.gj</string>
      <string>CaNa.gj</string>
      <string>CaMa.gj</string>
      <string>CaYa.gj</string>
      <string>CaVa.gj</string>
      <string>ChaYa.gj</string>
      <string>ChaVa.gj</string>
      <string>JaJha.gj</string>
      <string>JaNya.gj</string>
      <string>JaTta.gj</string>
      <string>JaDda.gj</string>
      <string>JaTa.gj</string>
      <string>JaNa.gj</string>
      <string>JaBa.gj</string>
      <string>JaMa.gj</string>
      <string>JaYa.gj</string>
      <string>JaVa.gj</string>
      <string>JhaYa.gj</string>
      <string>NyaCa.gj</string>
      <string>NyaCha.gj</string>
      <string>NyaJha.gj</string>
      <string>NyaYa.gj</string>
      <string>NyaSha.gj</string>
      <string>TtaTta.gj</string>
      <string>TtaTtha.gj</string>
      <string>TtaYa.gj</string>
      <string>TtaVa.gj</string>
      <string>TthaTtha.gj</string>
      <string>TthaYa.gj</string>
      <string>DdaGa.gj</string>
      <string>DdaDda.gj</string>
      <string>DdaDdha.gj</string>
      <string>DdaNa.gj</string>
      <string>DdaYa.gj</string>
      <string>DdaVa.gj</string>
      <string>DdhaDdha.gj</string>
      <string>DdhaYa.gj</string>
      <string>NnaTta.gj</string>
      <string>NnaTtha.gj</string>
      <string>NnaDda.gj</string>
      <string>NnaDdha.gj</string>
      <string>NnaNna.gj</string>
      <string>NnaNa.gj</string>
      <string>NnaMa.gj</string>
      <string>NnaYa.gj</string>
      <string>NnaVa.gj</string>
      <string>NnaHa.gj</string>
      <string>TaKa.gj</string>
      <string>TaKha.gj</string>
      <string>TaTa.gj</string>
      <string>TaTha.gj</string>
      <string>TaNa.gj</string>
      <string>TaPa.gj</string>
      <string>TaPha.gj</string>
      <string>TaMa.gj</string>
      <string>TaYa.gj</string>
      <string>TaLa.gj</string>
      <string>TaVa.gj</string>
      <string>TaSa.gj</string>
      <string>ThaTha.gj</string>
      <string>ThaNa.gj</string>
      <string>ThaYa.gj</string>
      <string>ThaVa.gj</string>
      <string>DaGa.gj</string>
      <string>DaGha.gj</string>
      <string>DaDa.gj</string>
      <string>DaDha.gj</string>
      <string>DaNa.gj</string>
      <string>DaBa.gj</string>
      <string>DaBha.gj</string>
      <string>DaMa.gj</string>
      <string>DaYa.gj</string>
      <string>DaVa.gj</string>
      <string>DhaDha.gj</string>
      <string>DhaNa.gj</string>
      <string>DhaMa.gj</string>
      <string>DhaYa.gj</string>
      <string>DhaVa.gj</string>
      <string>NaKa.gj</string>
      <string>NaGa.gj</string>
      <string>NaCa.gj</string>
      <string>NaCha.gj</string>
      <string>NaJha.gj</string>
      <string>NaTta.gj</string>
      <string>NaDda.gj</string>
      <string>NaTa.gj</string>
      <string>NaTha.gj</string>
      <string>NaDa.gj</string>
      <string>NaDha.gj</string>
      <string>NaNa.gj</string>
      <string>NaPa.gj</string>
      <string>NaPha.gj</string>
      <string>NaBha.gj</string>
      <string>NaMa.gj</string>
      <string>NaYa.gj</string>
      <string>NaVa.gj</string>
      <string>NaSha.gj</string>
      <string>NaSa.gj</string>
      <string>NaHa.gj</string>
      <string>PaKa.gj</string>
      <string>PaKha.gj</string>
      <string>PaCa.gj</string>
      <string>PaCha.gj</string>
      <string>PaTta.gj</string>
      <string>PaDda.gj</string>
      <string>PaTa.gj</string>
      <string>PaTha.gj</string>
      <string>PaNa.gj</string>
      <string>PaPa.gj</string>
      <string>PaPha.gj</string>
      <string>PaMa.gj</string>
      <string>PaYa.gj</string>
      <string>PaLa.gj</string>
      <string>PaVa.gj</string>
      <string>PaSha.gj</string>
      <string>PaSa.gj</string>
      <string>PhaTta.gj</string>
      <string>PhaTa.gj</string>
      <string>PhaTha.gj</string>
      <string>PhaPha.gj</string>
      <string>PhaYa.gj</string>
      <string>PhaLa.gj</string>
      <string>PhaSha.gj</string>
      <string>PhaSa.gj</string>
      <string>BaJha.gj</string>
      <string>BaDda.gj</string>
      <string>BaTa.gj</string>
      <string>BaDa.gj</string>
      <string>BaDha.gj</string>
      <string>BaNa.gj</string>
      <string>BaBa.gj</string>
      <string>BaBha.gj</string>
      <string>BaYa.gj</string>
      <string>BaLa.gj</string>
      <string>BaVa.gj</string>
      <string>BaSha.gj</string>
      <string>BaSa.gj</string>
      <string>BaHa.gj</string>
      <string>BhaNa.gj</string>
      <string>BhaBha.gj</string>
      <string>BhaYa.gj</string>
      <string>BhaLa.gj</string>
      <string>BhaVa.gj</string>
      <string>MaKa.gj</string>
      <string>MaNna.gj</string>
      <string>MaTa.gj</string>
      <string>MaDa.gj</string>
      <string>MaNa.gj</string>
      <string>MaPa.gj</string>
      <string>MaPha.gj</string>
      <string>MaBa.gj</string>
      <string>MaBha.gj</string>
      <string>MaMa.gj</string>
      <string>MaYa.gj</string>
      <string>MaLa.gj</string>
      <string>MaVa.gj</string>
      <string>MaSha.gj</string>
      <string>MaSa.gj</string>
      <string>MaHa.gj</string>
      <string>YaJha.gj</string>
      <string>YaYa.gj</string>
      <string>YaVa.gj</string>
      <string>LaKa.gj</string>
      <string>LaKha.gj</string>
      <string>LaGa.gj</string>
      <string>LaCa.gj</string>
      <string>LaTta.gj</string>
      <string>LaTtha.gj</string>
      <string>LaDda.gj</string>
      <string>LaTa.gj</string>
      <string>LaTha.gj</string>
      <string>LaDa.gj</string>
      <string>LaPa.gj</string>
      <string>LaPha.gj</string>
      <string>LaBa.gj</string>
      <string>LaBha.gj</string>
      <string>LaMa.gj</string>
      <string>LaYa.gj</string>
      <string>LaLa.gj</string>
      <string>LaVa.gj</string>
      <string>LaSha.gj</string>
      <string>LaSa.gj</string>
      <string>LaHa.gj</string>
      <string>LlaYa.gj</string>
      <string>VaJha.gj</string>
      <string>VaDda.gj</string>
      <string>VaBha.gj</string>
      <string>VaYa.gj</string>
      <string>VaLa.gj</string>
      <string>VaVa.gj</string>
      <string>VaHa.gj</string>
      <string>ShaKa.gj</string>
      <string>ShaKha.gj</string>
      <string>ShaCa.gj</string>
      <string>ShaCha.gj</string>
      <string>ShaTta.gj</string>
      <string>ShaDda.gj</string>
      <string>ShaTa.gj</string>
      <string>ShaNa.gj</string>
      <string>ShaPa.gj</string>
      <string>ShaPha.gj</string>
      <string>ShaBha.gj</string>
      <string>ShaMa.gj</string>
      <string>ShaYa.gj</string>
      <string>ShaLa.gj</string>
      <string>ShaVa.gj</string>
      <string>ShaSha.gj</string>
      <string>ShaHa.gj</string>
      <string>SsaKa.gj</string>
      <string>SsaKha.gj</string>
      <string>SsaTta.gj</string>
      <string>SsaTtha.gj</string>
      <string>SsaNna.gj</string>
      <string>SsaPa.gj</string>
      <string>SsaPha.gj</string>
      <string>SsaMa.gj</string>
      <string>SsaYa.gj</string>
      <string>SsaVa.gj</string>
      <string>SsaSsa.gj</string>
      <string>SaKa.gj</string>
      <string>SaKha.gj</string>
      <string>SaCa.gj</string>
      <string>SaTta.gj</string>
      <string>SaDda.gj</string>
      <string>SaTa.gj</string>
      <string>SaTha.gj</string>
      <string>SaDa.gj</string>
      <string>SaNa.gj</string>
      <string>SaPa.gj</string>
      <string>SaPha.gj</string>
      <string>SaBa.gj</string>
      <string>SaMa.gj</string>
      <string>SaYa.gj</string>
      <string>SaLa.gj</string>
      <string>SaVa.gj</string>
      <string>SaSa.gj</string>
      <string>HaNna.gj</string>
      <string>HaNa.gj</string>
      <string>HaMa.gj</string>
      <string>HaYa.gj</string>
      <string>HaLa.gj</string>
      <string>HaVa.gj</string>
      <string>KaKaRa.gj</string>
      <string>KaTaYa.gj</string>
      <string>KaTaRa.gj</string>
      <string>KaTaVa.gj</string>
      <string>KaPaRa.gj</string>
      <string>KaLaYa.gj</string>
      <string>KaVaYa.gj</string>
      <string>KaSsaTta.gj</string>
      <string>KaSsaNna.gj</string>
      <string>KaSsaMa.gj</string>
      <string>KaSsaYa.gj</string>
      <string>KaSsaVa.gj</string>
      <string>KaSaTta.gj</string>
      <string>KaSaDda.gj</string>
      <string>KaSaTa.gj</string>
      <string>GaDhaYa.gj</string>
      <string>GaDhaVa.gj</string>
      <string>GaRaYa.gj</string>
      <string>CaChaVa.gj</string>
      <string>ChaRaYa.gj</string>
      <string>JaJaYa.gj</string>
      <string>JaJaVa.gj</string>
      <string>TtaTtaYa.gj</string>
      <string>TtaRaYa.gj</string>
      <string>TthaTthaYa.gj</string>
      <string>DdaDdaYa.gj</string>
      <string>TaKaYa.gj</string>
      <string>TaKaRa.gj</string>
      <string>TaKaLa.gj</string>
      <string>TaKaVa.gj</string>
      <string>TaKaSsa.gj</string>
      <string>TaKhaNa.gj</string>
      <string>TaKhaRa.gj</string>
      <string>TaTaYa.gj</string>
      <string>TaTaVa.gj</string>
      <string>TaNaYa.gj</string>
      <string>TaPaRa.gj</string>
      <string>TaMaYa.gj</string>
      <string>TaPaLa.gj</string>
      <string>TaRaYa.gj</string>
      <string>TaSaNa.gj</string>
      <string>TaSaMa.gj</string>
      <string>TaSaYa.gj</string>
      <string>TaSaVa.gj</string>
      <string>DaDaYa.gj</string>
      <string>DaBhaYa.gj</string>
      <string>DaRaYa.gj</string>
      <string>DaVaYa.gj</string>
      <string>DhaNaYa.gj</string>
      <string>NaKaRa.gj</string>
      <string>NaKaSa.gj</string>
      <string>NaTaYa.gj</string>
      <string>NaTaRa.gj</string>
      <string>NaTaSa.gj</string>
      <string>NaThaYa.gj</string>
      <string>NaThaVa.gj</string>
      <string>NaDaRa.gj</string>
      <string>NaDaVa.gj</string>
      <string>NaDhaYa.gj</string>
      <string>NaDhaRa.gj</string>
      <string>NaDhaVa.gj</string>
      <string>NaNaYa.gj</string>
      <string>NaPaRa.gj</string>
      <string>NaPhaRa.gj</string>
      <string>NaBhaYa.gj</string>
      <string>NaBhaVa.gj</string>
      <string>NaMaYa.gj</string>
      <string>NaSaKa.gj</string>
      <string>NaSaTta.gj</string>
      <string>NaSaTa.gj</string>
      <string>NaSaYa.gj</string>
      <string>PaTaYa.gj</string>
      <string>BaJaYa.gj</string>
      <string>BaDhaVa.gj</string>
      <string>BaLaYa.gj</string>
      <string>BaSaKa.gj</string>
      <string>BaSaTta.gj</string>
      <string>BhaRaYa.gj</string>
      <string>MaPaYa.gj</string>
      <string>MaPaRa.gj</string>
      <string>MaPhaLa.gj</string>
      <string>MaBaYa.gj</string>
      <string>MaBaRa.gj</string>
      <string>LaKaYa.gj</string>
      <string>LaDaRa.gj</string>
      <string>LaPaYa.gj</string>
      <string>LaPhaRa.gj</string>
      <string>LaLaYa.gj</string>
      <string>LaVaDa.gj</string>
      <string>ShaRaYa.gj</string>
      <string>SsaKaRa.gj</string>
      <string>SsaTtaYa.gj</string>
      <string>SsaTthaYa.gj</string>
      <string>SsaNnaYa.gj</string>
      <string>SsaPaRa.gj</string>
      <string>SsaMaYa.gj</string>
      <string>SaKaRa.gj</string>
      <string>SaKaVa.gj</string>
      <string>SaTaYa.gj</string>
      <string>SaTaRa.gj</string>
      <string>SaThaYa.gj</string>
      <string>SaPaRa.gj</string>
      <string>HaMaYa.gj</string>
      <string>KaSaPaLa.gj</string>
      <string>KaSaPaRa.gj</string>
      <string>NaTaRaYa.gj</string>
      <string>NaPhaLaYa.gj</string>
      <string>NaSaKaRa.gj</string>
      <string>NaSaMaYa.gj</string>
      <string>GaRaHalf.gj</string>
      <string>TaRaHalf.gj</string>
      <string>BhaRaHalf.gj</string>
      <string>ShaRaHalf.gj</string>
      <string>HaMaHalf.gj</string>
      <string>RaMatraU.gj</string>
      <string>RaMatraUu.gj</string>
      <string>KaSsaMatraU.gj</string>
      <string>JaNyaMatraU.gj</string>
      <string>DaMatraRu.gj</string>
      <string>HaRu.gj</string>
      <string>JaMatraAa.gj</string>
      <string>JaMatraIi.gj</string>
      <string>JaMatraChandraO.gj</string>
      <string>JaMatraO.gj</string>
      <string>JaMatraAu.gj</string>
      <string>JaMatraOBindu.gj</string>
      <string>JaMatraAuBindu.gj</string>
      <string>JaMatraOReph.gj</string>
      <string>JaMatraAuReph.gj</string>
      <string>JaMatraORephBindu.gj</string>
      <string>JaMatraAuRephBindu.gj</string>
      <string>JaMatraORephChandrabindu.gj</string>
      <string>JaMatraAuRephChandrabindu.gj</string>
      <string>MatraABindu.gj</string>
      <string>MatraAChandrabindu.gj</string>
      <string>MatraAReph.gj</string>
      <string>MatraARephBindu.gj</string>
      <string>MatraARephChandrabindu.gj</string>
      <string>Reph.gj</string>
      <string>RephBindu.gj</string>
      <string>RephChandrabindu.gj</string>
      <string>MatraIi1.gj</string>
      <string>MatraIi2.gj</string>
      <string>MatraIi3.gj</string>
      <string>MatraIiBindu.gj</string>
      <string>MatraIiBindu1.gj</string>
      <string>MatraIiBindu2.gj</string>
      <string>MatraIiBindu3.gj</string>
      <string>MatraIiChandrabindu.gj</string>
      <string>MatraIiChandrabindu1.gj</string>
      <string>MatraIiChandrabindu2.gj</string>
      <string>MatraIiChandrabindu3.gj</string>
      <string>MatraIiReph.gj</string>
      <string>MatraIiReph1.gj</string>
      <string>MatraIiReph2.gj</string>
      <string>MatraIiReph3.gj</string>
      <string>MatraIiRephBindu.gj</string>
      <string>MatraIiRephBindu1.gj</string>
      <string>MatraIiRephBindu2.gj</string>
      <string>MatraIiRephBindu3.gj</string>
      <string>MatraIiRephChandrabindu.gj</string>
      <string>MatraIiRephChandrabindu1.gj</string>
      <string>MatraIiRephChandrabindu2.gj</string>
      <string>MatraIiRephChandrabindu3.gj</string>
      <string>MatraE_alt.gj</string>
      <string>MatraAi_alt.gj</string>
      <string>MatraChandraE_alt.gj</string>
      <string>MatraEBindu.gj</string>
      <string>MatraEBindu_alt.gj</string>
      <string>MatraAiBindu.gj</string>
      <string>MatraAiBindu_alt.gj</string>
      <string>MatraOBindu.gj</string>
      <string>MatraAuBindu.gj</string>
      <string>MatraEChandrabindu.gj</string>
      <string>MatraEChandrabindu_alt.gj</string>
      <string>MatraAiChandrabindu.gj</string>
      <string>MatraAiChandrabindu_alt.gj</string>
      <string>MatraOChandrabindu.gj</string>
      <string>MatraAuChandrabindu.gj</string>
      <string>MatraEReph.gj</string>
      <string>MatraEReph_alt.gj</string>
      <string>MatraAiReph.gj</string>
      <string>MatraAiReph_alt.gj</string>
      <string>MatraOReph.gj</string>
      <string>MatraAuReph.gj</string>
      <string>MatraERephBindu.gj</string>
      <string>MatraERephBindu_alt.gj</string>
      <string>MatraAiRephBindu.gj</string>
      <string>MatraAiRephBindu_alt.gj</string>
      <string>MatraORephBindu.gj</string>
      <string>MatraAuRephBindu.gj</string>
      <string>MatraERephChandrabindu.gj</string>
      <string>MatraERephChandrabindu_alt.gj</string>
      <string>MatraAiRephChandrabindu.gj</string>
      <string>MatraAiRephChandrabindu_alt.gj</string>
      <string>MatraORephChandrabindu.gj</string>
      <string>MatraAuRephChandrabindu.gj</string>
      <string>Vattu.gj</string>
      <string>VattuHalant.gj</string>
      <string>VattuMatraU.gj</string>
      <string>VattuMatraUu.gj</string>
      <string>MatraU1.gj</string>
      <string>MatraUu1.gj</string>
      <string>MatraRu1.gj</string>
      <string>Vattu1.gj</string>
      <string>VattuHalant1.gj</string>
      <string>VattuMatraU1.gj</string>
      <string>VattuMatraUu1.gj</string>
      <string>Bindu1.gj</string>
      <string>Bindu2.gj</string>
      <string>Chandrabindu1.gj</string>
      <string>Chandrabindu2.gj</string>
      <string>MatraI1.gj</string>
      <string>MatraI2.gj</string>
      <string>MatraI3.gj</string>
      <string>MatraI4.gj</string>
      <string>MatraI5.gj</string>
      <string>MatraI6.gj</string>
      <string>MatraI7.gj</string>
      <string>MatraI8.gj</string>
      <string>MatraI9.gj</string>
      <string>MatraI10.gj</string>
      <string>MatraI11.gj</string>
      <string>MatraI12.gj</string>
      <string>MatraI13.gj</string>
      <string>MatraI14.gj</string>
      <string>MatraI15.gj</string>
      <string>MatraI16.gj</string>
      <string>MatraI17.gj</string>
      <string>MatraI18.gj</string>
      <string>MatraI19.gj</string>
      <string>MatraI20.gj</string>
      <string>MatraI21.gj</string>
      <string>MatraI22.gj</string>
      <string>MatraI23.gj</string>
      <string>MatraI24.gj</string>
      <string>MatraI1Reph.gj</string>
      <string>MatraI2Reph.gj</string>
      <string>MatraI3Reph.gj</string>
      <string>MatraI4Reph.gj</string>
      <string>MatraI5Reph.gj</string>
      <string>MatraI6Reph.gj</string>
      <string>MatraI7Reph.gj</string>
      <string>MatraI8Reph.gj</string>
      <string>MatraI9Reph.gj</string>
      <string>MatraI10Reph.gj</string>
      <string>MatraI11Reph.gj</string>
      <string>MatraI12Reph.gj</string>
      <string>MatraI13Reph.gj</string>
      <string>MatraI14Reph.gj</string>
      <string>MatraI15Reph.gj</string>
      <string>MatraI16Reph.gj</string>
      <string>MatraI17Reph.gj</string>
      <string>MatraI18Reph.gj</string>
      <string>MatraI19Reph.gj</string>
      <string>MatraI20Reph.gj</string>
      <string>MatraI21Reph.gj</string>
      <string>MatraI22Reph.gj</string>
      <string>MatraI23Reph.gj</string>
      <string>MatraI24Reph.gj</string>
      <string>MatraIDefaultReph.gj</string>
      <string>MatraI1RephBindu.gj</string>
      <string>MatraI2RephBindu.gj</string>
      <string>MatraI3RephBindu.gj</string>
      <string>MatraI4RephBindu.gj</string>
      <string>MatraI5RephBindu.gj</string>
      <string>MatraI6RephBindu.gj</string>
      <string>MatraI7RephBindu.gj</string>
      <string>MatraI8RephBindu.gj</string>
      <string>MatraI9RephBindu.gj</string>
      <string>MatraI10RephBindu.gj</string>
      <string>MatraI11RephBindu.gj</string>
      <string>MatraI12RephBindu.gj</string>
      <string>MatraI13RephBindu.gj</string>
      <string>MatraI14RephBindu.gj</string>
      <string>MatraI15RephBindu.gj</string>
      <string>MatraI16RephBindu.gj</string>
      <string>MatraI17RephBindu.gj</string>
      <string>MatraI18RephBindu.gj</string>
      <string>MatraI19RephBindu.gj</string>
      <string>MatraI20RephBindu.gj</string>
      <string>MatraI21RephBindu.gj</string>
      <string>MatraI22RephBindu.gj</string>
      <string>MatraI23RephBindu.gj</string>
      <string>MatraI24RephBindu.gj</string>
      <string>MatraIDefaultRephBindu.gj</string>
      <string>MatraI1Bindu.gj</string>
      <string>MatraI2Bindu.gj</string>
      <string>MatraI3Bindu.gj</string>
      <string>MatraI4Bindu.gj</string>
      <string>MatraI5Bindu.gj</string>
      <string>MatraI6Bindu.gj</string>
      <string>MatraI7Bindu.gj</string>
      <string>MatraI8Bindu.gj</string>
      <string>MatraI9Bindu.gj</string>
      <string>MatraI10Bindu.gj</string>
      <string>MatraI11Bindu.gj</string>
      <string>MatraI12Bindu.gj</string>
      <string>MatraI13Bindu.gj</string>
      <string>MatraI14Bindu.gj</string>
      <string>MatraI15Bindu.gj</string>
      <string>MatraI16Bindu.gj</string>
      <string>MatraI17Bindu.gj</string>
      <string>MatraI18Bindu.gj</string>
      <string>MatraI19Bindu.gj</string>
      <string>MatraI20Bindu.gj</string>
      <string>MatraI21Bindu.gj</string>
      <string>MatraI22Bindu.gj</string>
      <string>MatraI23Bindu.gj</string>
      <string>MatraI24Bindu.gj</string>
      <string>MatraIDefaultBindu.gj</string>
      <string>Danda.gj</string>
      <string>Doubledanda.gj</string>
      <string>dummy1</string>
      <string>ZWJ</string>
      <string>ZWNJ</string>
      <string>uni25CC</string>
      <string>Ek</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>Germandbls</key>
      <string>uni1E9E</string>
      <key>bulletoperator</key>
      <string>uni2219</string>
      <key>cedillacomb</key>
      <string>uni0327</string>
      <key>cedillacomb.case</key>
      <string>uni0327.case</string>
      <key>circumflexcomb</key>
      <string>uni0302</string>
      <key>circumflexcomb.case</key>
      <string>uni0302.case</string>
      <key>circumflexcomb.narrow</key>
      <string>uni0302.narrow</string>
      <key>dieresiscomb</key>
      <string>uni0308</string>
      <key>dieresiscomb.case</key>
      <string>uni0308.case</string>
      <key>dieresiscomb.narrow</key>
      <string>uni0308.narrow</string>
      <key>divisionslash</key>
      <string>uni2215</string>
      <key>dotaccentcomb</key>
      <string>uni0307</string>
      <key>eightinferior</key>
      <string>uni2088</string>
      <key>eightsuperior</key>
      <string>uni2078</string>
      <key>euro</key>
      <string>Euro</string>
      <key>figurespace</key>
      <string>uni2007</string>
      <key>fiveinferior</key>
      <string>uni2085</string>
      <key>fivesuperior</key>
      <string>uni2075</string>
      <key>fourinferior</key>
      <string>uni2084</string>
      <key>foursuperior</key>
      <string>uni2074</string>
      <key>guillemetleft</key>
      <string>guillemotleft</string>
      <key>guillemetright</key>
      <string>guillemotright</string>
      <key>hairspace</key>
      <string>uni200A</string>
      <key>idotless</key>
      <string>dotlessi</string>
      <key>macroncomb</key>
      <string>uni0304</string>
      <key>macroncomb.case</key>
      <string>uni0304.case</string>
      <key>macroncomb.narrow</key>
      <string>uni0304.narrow</string>
      <key>micro</key>
      <string>uni00B5</string>
      <key>nbspace</key>
      <string>uni00A0</string>
      <key>nineinferior</key>
      <string>uni2089</string>
      <key>ninesuperior</key>
      <string>uni2079</string>
      <key>oneinferior</key>
      <string>uni2081</string>
      <key>onesuperior</key>
      <string>uni00B9</string>
      <key>punctuationspace</key>
      <string>uni2008</string>
      <key>ringcomb</key>
      <string>uni030A</string>
      <key>ringcomb.case</key>
      <string>uni030A.case</string>
      <key>rupeeIndian</key>
      <string>uni20B9</string>
      <key>seveninferior</key>
      <string>uni2087</string>
      <key>sevensuperior</key>
      <string>uni2077</string>
      <key>sixinferior</key>
      <string>uni2086</string>
      <key>sixsuperior</key>
      <string>uni2076</string>
      <key>softhyphen</key>
      <string>uni00AD</string>
      <key>thinspace</key>
      <string>uni2009</string>
      <key>threeinferior</key>
      <string>uni2083</string>
      <key>threesuperior</key>
      <string>uni00B3</string>
      <key>twoinferior</key>
      <string>uni2082</string>
      <key>twosuperior</key>
      <string>uni00B2</string>
      <key>zeroinferior</key>
      <string>uni2080</string>
      <key>zerosuperior</key>
      <string>uni2070</string>
      <key>zerowidthspace</key>
      <string>uni200B</string>
    </dict>
    <key>public.skipExportGlyphs</key>
    <array>
      <string>_BaComponent.gj</string>
      <string>_BhaComponent.gj</string>
      <string>_CaComponent.gj</string>
      <string>_CaPart1</string>
      <string>_ChaComponent.gj</string>
      <string>_DaComponent.gj</string>
      <string>_DdaComponent.gj</string>
      <string>_DdhaBelow</string>
      <string>_DdhaComponent.gj</string>
      <string>_DhaComponent.gj</string>
      <string>_GaBelow</string>
      <string>_GaComponent.gj</string>
      <string>_GaSmall</string>
      <string>_GhaComponent.gj</string>
      <string>_HaComponent.gj</string>
      <string>_HaMaHalf</string>
      <string>_HaPart1</string>
      <string>_JaComponent.gj</string>
      <string>_JaNyaPart</string>
      <string>_JaPart</string>
      <string>_JhaComponent.gj</string>
      <string>_JhaPart1</string>
      <string>_JhaPart2</string>
      <string>_Ka.bottom</string>
      <string>_KaComponant.gj</string>
      <string>_KaPart1</string>
      <string>_KaPart2</string>
      <string>_KaPha.top</string>
      <string>_KaPhaConnector</string>
      <string>_KaSsaComponant</string>
      <string>_KhaComponent.gj</string>
      <string>_KhaStart</string>
      <string>_LaComponent.gj</string>
      <string>_Lapart1</string>
      <string>_MaComponent.gj</string>
      <string>_NaComponent.gj</string>
      <string>_NaSmall</string>
      <string>_NgaSmall</string>
      <string>_NnaComponent.gj</string>
      <string>_NnaPart1</string>
      <string>_PaComponent.gj</string>
      <string>_Pabottom2</string>
      <string>_PhaComponent.gj</string>
      <string>_PhaPart1</string>
      <string>_PhaPart2</string>
      <string>_PhaTail</string>
      <string>_RakarKa</string>
      <string>_SaComponent.gj</string>
      <string>_SaPart1</string>
      <string>_Sha.half</string>
      <string>_ShaComponent.gj</string>
      <string>_ShaRaHalf</string>
      <string>_SsaComponent.gj</string>
      <string>_TaComponent.gj</string>
      <string>_TaHalfalt</string>
      <string>_TaRaHalf.gj</string>
      <string>_ThaComponent.gj</string>
      <string>_TtaComponent.gj</string>
      <string>_TtaSmall</string>
      <string>_TthaBelow</string>
      <string>_TthaComponent.gj</string>
      <string>_VaBelow</string>
      <string>_VaComponent.gj</string>
      <string>_VaPart.gj</string>
      <string>_VowelIcomponent.gj</string>
      <string>_VowelUcomponent.gj</string>
      <string>_YaComponent.gj</string>
      <string>_cafront_Rakar</string>
      <string>_danda</string>
      <string>_dhafront_Rakar</string>
      <string>_ghafront_Rakar</string>
      <string>_pabottom_Rakar</string>
      <string>_part.Ba</string>
      <string>_part.Bha</string>
      <string>_part.DaConjuncts</string>
      <string>_part.DdaSmall</string>
      <string>_part.Kaconnector.left</string>
      <string>_part.Kaconnector2</string>
      <string>_part.Kaconnector3</string>
      <string>_part.KhaLower</string>
      <string>_part.Khaconnector</string>
      <string>_part.LaConnector2</string>
      <string>_part.Laconnector</string>
      <string>_part.MaHalf</string>
      <string>_part.NaHalf</string>
      <string>_part.Nakar</string>
      <string>_part.Nakar2</string>
      <string>_part.PaBottom</string>
      <string>_part.Rakar1</string>
      <string>_part.Rakar2</string>
      <string>_part.Saconnector</string>
      <string>_part.Sha1</string>
      <string>_part.Ta</string>
      <string>_part.TaTa</string>
      <string>_part.Ya1.comp</string>
      <string>_part.Ya2.comp</string>
      <string>_part.YaHalf</string>
      <string>_part_Kaconnector1</string>
      <string>_reph_forbindu</string>
      <string>_thaFront_Rakar</string>
      <string>_vowelRu</string>
      <string>jbottom</string>
      <string>jbottom.001</string>
    </array>
  </dict>
</plist>
