<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1975</integer>
    <key>capHeight</key>
    <integer>1278</integer>
    <key>copyright</key>
    <string>Copyright 2021 The Anek Project Authors (https://github.com/EkType/Anek)</string>
    <key>descender</key>
    <integer>-1064</integer>
    <key>familyName</key>
    <string>Anek Gujarati</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>DandaHeight [locked]</string>
        <key>x</key>
        <integer>-100</integer>
        <key>y</key>
        <integer>1192</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>TopOvershoot</string>
        <key>x</key>
        <integer>-100</integer>
        <key>y</key>
        <integer>1218</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>BottomOvershoot</string>
        <key>x</key>
        <integer>-100</integer>
        <key>y</key>
        <integer>-22</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>BaseLine [locked]</string>
        <key>x</key>
        <integer>-100</integer>
        <key>y</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>MatraBaseline [locked]</string>
        <key>x</key>
        <integer>-100</integer>
        <key>y</key>
        <integer>1266</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>709</integer>
        <key>y</key>
        <integer>94</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>x</key>
        <integer>2277</integer>
        <key>y</key>
        <integer>533</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>BottomMatraEnd [locked]</string>
        <key>x</key>
        <integer>-100</integer>
        <key>y</key>
        <integer>-676</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>MatraBaseline [locked]</string>
        <key>x</key>
        <integer>-100</integer>
        <key>y</key>
        <integer>-75</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>66</integer>
        <key>y</key>
        <integer>583</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>81</integer>
        <key>y</key>
        <integer>-493</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>575</integer>
        <key>y</key>
        <integer>2115</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>Reph</string>
        <key>x</key>
        <integer>-100</integer>
        <key>y</key>
        <integer>1825</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>IkarMatra</string>
        <key>x</key>
        <integer>-100</integer>
        <key>y</key>
        <integer>1792</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>544</integer>
        <key>y</key>
        <integer>560</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>-363</integer>
        <key>y</key>
        <integer>-466</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>MatraAi</string>
        <key>x</key>
        <integer>-100</integer>
        <key>y</key>
        <integer>1975</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>MatraE</string>
        <key>x</key>
        <integer>-100</integer>
        <key>y</key>
        <integer>1807</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>BinduBaseline</string>
        <key>x</key>
        <integer>-100</integer>
        <key>y</key>
        <integer>1454</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>SmallerVerticalConjunct</string>
        <key>x</key>
        <integer>-100</integer>
        <key>y</key>
        <integer>255</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>TallestVerticalConjunct</string>
        <key>x</key>
        <integer>-100</integer>
        <key>y</key>
        <integer>163</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>MediumVerticalConjunct</string>
        <key>x</key>
        <integer>-100</integer>
        <key>y</key>
        <integer>209</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>882</integer>
        <key>y</key>
        <integer>-1064</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2021/11/17 10:04:13</string>
    <key>openTypeHheaAscender</key>
    <integer>1975</integer>
    <key>openTypeHheaDescender</key>
    <integer>-1064</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Mrunmayee Ghaisas (Gujarati), Yesha Goshar (Latin)</string>
    <key>openTypeNameDesignerURL</key>
    <string>www.ektype.in</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>https://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Ek Type</string>
    <key>openTypeNameManufacturerURL</key>
    <string>www.ektype.in</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1975</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-1064</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>2</integer>
      <integer>3</integer>
      <integer>18</integer>
      <integer>29</integer>
    </array>
    <key>openTypeOS2VendorID</key>
    <string>EKTF</string>
    <key>openTypeOS2WinAscent</key>
    <integer>2217</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>1344</integer>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>161</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>196</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleMapFamilyName</key>
    <string>Anek Gujarati Medium</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Medium</string>
    <key>unitsPerEm</key>
    <integer>2000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>2</integer>
    <key>xHeight</key>
    <integer>978</integer>
  </dict>
</plist>
