<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>2077</integer>
    <key>capHeight</key>
    <integer>1278</integer>
    <key>copyright</key>
    <string>Copyright 2021 The Anek Project Authors (https://github.com/EkType/Anek)</string>
    <key>descender</key>
    <integer>-1174</integer>
    <key>familyName</key>
    <string>Anek Gujarati</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>BaseLine [locked]</string>
        <key>x</key>
        <integer>-100</integer>
        <key>y</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>BottomOvershoot [locked]</string>
        <key>x</key>
        <integer>-100</integer>
        <key>y</key>
        <integer>-26</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>TopOvershoot [locked]</string>
        <key>x</key>
        <integer>-100</integer>
        <key>y</key>
        <integer>1204</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>DandaHeight [locked]</string>
        <key>x</key>
        <integer>-100</integer>
        <key>y</key>
        <integer>1172</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>MatraAi</string>
        <key>x</key>
        <integer>-100</integer>
        <key>y</key>
        <integer>2077</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>MatraBaseline [locked]</string>
        <key>x</key>
        <integer>-100</integer>
        <key>y</key>
        <integer>1259</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>1406</integer>
        <key>y</key>
        <integer>-62</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>909</integer>
        <key>y</key>
        <integer>-502</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>748</integer>
        <key>y</key>
        <integer>995</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>1122</integer>
        <key>y</key>
        <integer>-522</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>IkarMatra</string>
        <key>x</key>
        <integer>-100</integer>
        <key>y</key>
        <integer>1830</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>Reph</string>
        <key>x</key>
        <integer>-100</integer>
        <key>y</key>
        <integer>1870</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>BottomMatraEnd [locked]</string>
        <key>x</key>
        <integer>-100</integer>
        <key>y</key>
        <integer>-716</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>MatraBaseline [locked]</string>
        <key>x</key>
        <integer>-100</integer>
        <key>y</key>
        <integer>-87</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>MatraE</string>
        <key>x</key>
        <integer>-100</integer>
        <key>y</key>
        <integer>1858</integer>
      </dict>
      <dict>
        <key>angle</key>
        <real>358.9654</real>
        <key>x</key>
        <integer>5080</integer>
        <key>y</key>
        <integer>-1853</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>SmallerVerticalConjunct</string>
        <key>x</key>
        <integer>-100</integer>
        <key>y</key>
        <integer>235</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>MediumVerticalConjunct</string>
        <key>x</key>
        <integer>-70</integer>
        <key>y</key>
        <integer>194</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>TallestVerticalConjunct</string>
        <key>x</key>
        <integer>-100</integer>
        <key>y</key>
        <integer>145</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>578</integer>
        <key>y</key>
        <integer>34</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>1062</integer>
        <key>y</key>
        <integer>-1150</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2021/11/17 10:04:13</string>
    <key>openTypeHheaAscender</key>
    <integer>2077</integer>
    <key>openTypeHheaDescender</key>
    <integer>-1174</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Mrunmayee Ghaisas (Gujarati), Yesha Goshar (Latin)</string>
    <key>openTypeNameDesignerURL</key>
    <string>www.ektype.in</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>https://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Ek Type</string>
    <key>openTypeNameManufacturerURL</key>
    <string>www.ektype.in</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>2077</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-1174</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>2</integer>
      <integer>3</integer>
      <integer>18</integer>
      <integer>29</integer>
    </array>
    <key>openTypeOS2VendorID</key>
    <string>EKTF</string>
    <key>openTypeOS2WinAscent</key>
    <integer>2301</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>1395</integer>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>174</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>216</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleMapFamilyName</key>
    <string>Anek Gujarati Expanded Medium</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Expanded Medium</string>
    <key>unitsPerEm</key>
    <integer>2000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>2</integer>
    <key>xHeight</key>
    <integer>958</integer>
  </dict>
</plist>
