<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Terminals.te</key>
    <string>T_erminals.te.glif</string>
    <key>chukka</key>
    <string>chukka.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>kombu_1</key>
    <string>kombu_1.glif</string>
    <key>kombu_2</key>
    <string>kombu_2.glif</string>
    <key>matraUVar1.te</key>
    <string>matraU_V_ar1.te.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>smallform_kombu</key>
    <string>smallform_kombu.glif</string>
  </dict>
</plist>
