<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>_part.Kaconnector.left</key>
    <string>_part.K_aconnector.left.glif</string>
    <key>_part.Kaconnector3</key>
    <string>_part.K_aconnector3.glif</string>
    <key>_part.Nakar2</key>
    <string>_part.N_akar2.glif</string>
    <key>_part.Rakar2</key>
    <string>_part.R_akar2.glif</string>
  </dict>
</plist>
