<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>_part.Bha</key>
    <string>_part.B_ha.glif</string>
    <key>_part.MaHalf</key>
    <string>_part.M_aH_alf.glif</string>
    <key>_part.NaHalf</key>
    <string>_part.N_aH_alf.glif</string>
    <key>_part.Nakar</key>
    <string>_part.N_akar.glif</string>
    <key>_part.Sha1</key>
    <string>_part.S_ha1.glif</string>
  </dict>
</plist>
