<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>RephChandrabindu.dv</key>
  <string>R_ephC_handrabindu.dv.glif</string>
  <key>matraIiRephChandrabindu.dv</key>
  <string>matraI_iR_ephC_handrabindu.dv.glif</string>
</dict>
</plist>
